.radio-cstm {
    float: left;
    margin-right: 10px !important;
    padding-left: 21px !important;
}
label {
    text-align: left;
    width: 100%;
  }
  
  .form-controls {
    margin-top: 10px;
  }
  .column {
    margin-left: 10px;
  }
  
  .column-seperator {
    margin-left: 20px;
  }
  
  .checkbox-custom-label {
    margin-left: 15px;
    margin-top: 10px;
  }
  
  button {
    border-radius: 5px;
  }
  
  .ng-valid[required], .ng-valid.required {
      /*border-color:#42A948 !important;*/ /* green */
  }
  
  .ng-invalid:not(form) {
      border-color: #a94442 !important; /* red */
  }
  
  :host ::ng-deep .ui-autocomplete {
    padding: 0px !important;
  }
  :host ::ng-deep .ui-autocomplete > input {
    // border-radius: 5px !important;
    // padding: 12px 15px !important;
    padding: 0px 15px 0px 2px !important;
  }
  .inline-label-form-group-sm-label label {
    width: 100px;
  }
  .inline-label-form-group-sm-label select {
    width: calc(70% - 100px);
  }
  :host ::ng-deep .card-body {
    padding-left: 10px !important;
  }
  
  :host {
    ::ng-deep {
      div.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-disabled {
        background-color: #c9c9c9 !important;
        border-color: rgb(173, 173, 173);
        opacity: 100 !important;
        color: rgb(51, 51, 51) !important;
        border: 1px solid #adadad !important;
      }
    }
  }
  