label {
    text-align: left;
    width: auto;
    margin-right: 0;
    font-weight: 400;
  }
  
  .span-header-red {
    color: red;
    font-weight: bold;
  }
  .search-clear-button{
    margin-top: 0.8% !important;
  }
  .text-left{
    text-align: left !important;
  }
  .acquired-width{
    width: 145px !important;
  }
  .acquired-div-margin{
    margin-top: 5px !important;
  }
.table-checkbox{
  margin: 0px auto !important;
   display: block !important;
}

  input[type='text'],
  input[type='number'],
  input[type='email'],
  select,
  textarea {
    // height: 24px !important;
    border-radius: 5px !important;
  }
  
  .po-head {
    font-weight: 700;
    font-size: 16px !important;
    color: #295d92 !important;
  }
  
  .fa-plus-circle.fa-lg {
      color: green !important;
  }
  .view-header {
    padding-top: 2px!important;
    margin: 0;
}
.snumber-block2 {
  margin: 10px 0px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.table-custom tr td{
  text-align: center;
}
.snumber-block2 label input {
    margin-top: 6px;
    margin-right: 10px;
}
.purchaseTable thead tr th {
  font-size: 12px;
  padding: 4px;
  text-align: center;
}
.bg1 {
  background: #ff8080 !important;
}
.bg2 {
  background: #83b028 !important;
}
.bg3 {
  background: #1a7171 !important;
}
#itemMasterView .po-head {
  margin-left: 0 !important;
}
.adv-search-icons i {
  color: #000;
  margin-top: 25px;
}
.adv-row label {
  width: 100%;
}
.adv-search-btn {
  margin: 0 !important;
  padding: 4px 10px !important;
}
@media (min-width: 768px) {
  .col-md-1-cstm {
    max-width: 6% !important;
  }
}
.item-master-status{
  margin-left: 50px;
}
.item-master-search{
  margin-top: 26px;
}
  
  // @media (min-width: 768px) {
  //     .col-md-3 {
  //         max-width: 22%;
  //         margin-right: 15px;
  //     }
  // }