
.search-box {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
}

.search-box .mat-form-field {
    padding: 0 2em;
}
// #footer {
    
//     font-size: 11px !important;
//     font-weight:12px !important;
// }


.new-label {
    color: cadetblue;
}
.text-item {
    width: 100%;
    border-radius: 5px !important;
    margin-left: 0px;
}
.x_panel {
    border: none;
}