.grey-card {
  background-color: #e7e7e7;
}
.wo-multiple-pn-details {
  background: #fff;
  padding: 8px;
  border: 5px solid #e7e7e7;
}

.nav-pills-cstm {
  margin-top: 10px;
  font-size: 11px;
  padding: 0px 7px;
}
.nav-pills-cstm li {
  float: left;
}
.nav-pills-cstm li a {
  background-color: #4298ffb0;
  color: white;
  margin-right: 2px;
  margin-bottom: 10px;
  margin-left: 1px;
  margin-top: 10px;
  border-radius: 4px;
}
.cls_ad{
  position: relative;
  top: -9px;
}
.nav-pills-cstm li a:hover {
  background-color: #337ab7 !important;
}
.nav-pills-cstm li a {
  font-size: 11px !important; //13px
}
li.nav-item {
  margin-right: 1px;
  border-radius: 4px;
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: black;
  background-color: #ddd;
}
.nav-pills > li > a.active,
.nav-pills > li > a.active:focus,
.nav-pills > li > a.active:hover {
  color: #fff;
  background-color: #337ab7 !important;
}
.dropdown-menu.show > a {
  background-color: white !important;
  color: black !important;
}
.hidedata {
  display: none;
}
.hidedataOthers {
  display: none;
}
.hidedataMain{
  display: none;
}
.footer-padding{
  padding:10px !important;
}
.footer-button-padding{
  padding: 6px 12px !important;
}
.width-100{
  width:100% !important
}
.dropdown-submenu {
  position: relative;
}
.btn-back-wo{
  margin: -12px 10px 10px !important;
}
.expand-left{
  margin-left:20px !important;
}
.margin-top-2{
  margin-top: 2px !important;
}
.mpn-grid{
  background-color: white !important;margin-top: 3px!important;
}
.stage-align{
  text-align: left !important;
   width: 41px !important;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

label {
  text-align: left;
  width: auto;
  margin-right: 0;
  font-weight: normal;
}
input[type='text'],
input[type='number'],
select,
textarea {
  height: 24px !important;
  border-radius: 5px !important;
}
.ui-widget {
  padding: 0px !important;
}
.nav-pills li a {
  padding: 6px 7px !important;
}
.set_pad{
  padding: 2%;
}
@media (min-width: 768px) {
  .pull-rig{
    margin-left: 5%;
  }
  .max_alf{
    max-width: 100% !important;
  }
  .main_ar .col-md-6 {
    max-width: 50% !important;
    margin-right: 0px !important;
  }
  .col-md-6 .col-md-6 {
    max-width: 44%;
    margin-right: 15px;
  }
  .col-md-3 {
    max-width: 25%;
    margin-right: 0px;
  }
  .col-md-6-cstm{
    max-width: 45%;
    margin-right: 20px;
    padding-right: 0;
  }
}
// #accordion h4 a.collapsed {
//   font-size: 12px !important;
// }
// #accordion h4 a {
//   font-size: 12px !important;
// }

.isDisabled {
  pointer-events: none;
}

// .ng-touched.ng-invalid {
//   border-color: #ff586b;
// }

// work flow css start
.ui-chkbox-box {
  margin-right: 10px;
  background-color: red !important;
}
.c-wf-bcrumb {
  background-color: transparent;
}
.c-wf-bcrumb li {
  font-family: 'Roboto';
  font-size: medium;
  font-weight: 900;
  color: #295d92;
}
.c-wf-bcrumb .breadcrumb-item.active {
  color: #6c757d !important;
}
.wf-popup-form label {
  width: 100px;
  text-align: right;
  margin-top: 1px;
}
.wfl-table-popup-cstm {
  margin-top: 4px;
}
.wfl-table-popup-cstm tr th {
  padding: 8px 4px !important;
}
.wfl-table-popup-cstm tr td {
  padding: 5px;
}
.po-head-wfl {
  font-weight: bold;
  font-size: 13px !important;
  color: #295d92 !important;
  margin-bottom: 0;
}
.back_filsd{
  background: #e6e6e6 !important;
}
.no-quote{
  font-size: 15px;
  text-align: center;
  margin-bottom: 16px;
}
.text-area-cstm{
height: 25px !important;
}
.form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1;
  pointer-events: none;
}
.add-wo-grid th {
  text-align: center;
}
.add-wo-grid{
  margin-bottom: 4px   !important;
  margin-top: 0px  !important;
}
.lign_flex{
  
  display: inline-flex;

}
.overflow{
  overflow: scroll !important;
}
.addMPN_details{
  margin-bottom: 12px;
    margin-top: 4px;
    margin-right: 14px;
}
.radio_adjust{
  position: relative;
  top: 2px;
  margin-left: 6px;
}
.view_icon_adjust{
  color: #41bf41;
  margin-left: 4px;
}
.footer_adjust{
  padding-bottom: 17px;
  width: 100%;
  margin-bottom: 0px;
  padding-right: 0px;
  // margin-top: 8px;
}
// end
.align-row > label {
  float:  left !important;
}
.adjust_he{
  height: 176px !important;;
}
.memo_cehck1 {
  width: 100% !important;
}
.managemnt_Wdt{
  width: 100px !important;
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.qty_width{
  width: 60px !important;
}
.text_center{
  text-align: center;
}
.mn-t7{
  margin-top: 7px;
}

.width-70{
  width:70px !important;
}
.label_adjf{
  margin-right: 4px;margin-top: 6px;
}
.div_bsck{
  background: #ffffff; margin-top: 0px;
}
.style_h4{
  cursor: pointer;
  margin: 0px;
}
.hr_mrt{
  margin-top: 4px;
}
.wid_cal{
  width: 99.2% !important;
  margin: 0px 5px;
  padding: 0 0 4px;
}
.mrgn_bt4{
  margin-bottom: 9px;
  margin-top: 0px   !important;
}
.w200{ 
    width: 220px !important; 
} 
.mult_pn{
  font-weight: 600;
  font-size: 12px;
  padding: 8px;
  padding-left: 12px;
  letter-spacing: 0.3px;
}
.w80{
  width :80px   !important
}
.mr_3{
  margin-bottom: 3px !important;
}
.align_flx{
  width: 99.4% !important;
  margin: 0 0 0 4px;
}
.adjust_mar{
  margin-right: 1px !important;
  margin-bottom: 4px !important;
  margin-left: 1px !important;
  margin-top: 2px !important;
}
.mr10{
  margin-top: 4px;
} 
.width100{
  min-width: 100px i !important;
}