<div class="main-padding" role="main">
    <div>
        <div class="x_content">
            <!-- <div *ngIf="isViewMode==false"> -->
            <div class="col-md-12 shadow-box-cstm" *ngIf="isViewMode==false">
                <div class="col-md-4">
                    <p class="fs12">
                        <label class="control-label labels-font-header wauto">Legal Entity Name: </label>
                        <span class="span-header-red text-capital"> {{legalEntityName }} </span>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="fs12">
                        <label class="control-label labels-font-header wauto">Legal Entity Code: </label>
                        <span class="span-header-red text-capital">{{legalEntityCode }} </span>
                    </p>
                </div>
            </div>
            <!-- </div> -->
            <div class="card new-card">
                <div>
                    <div class="card-header header">
                        <div class="row">
                            <div class="col">
                                <h4 class="header-name"> Billing Information</h4>
                            </div>
                            <div *ngIf="isAdd">
                                <a href="#" *ngIf="!isViewMode" data-toggle="modal" data-target="#addBillingInfo">
                                    <button type="button" class="btn-sm header-button" matTooltipPosition="above"
                                        matTooltip="Add Billing Information" (click)="addBillingIfo()">
                                        Add Billing Information
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>

                <p-table #dt class="rpo-table-cstm rro-table-cstm tab-table-cstm" [value]="billingInfoList"
                    [metaKeySelection]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadDatas($event)"
                    [totalRecords]="totalRecords" [paginator]="true" [pageLinks]="3"
                    [rowsPerPageOptions]="[10,20,50,100]" [columns]="selectedColumns" selectionMode="multiple"
                    [resizableColumns]="true" (onPage)="pageIndexChange($event)" [reorderableColumns]="true">
                    <ng-template pTemplate="caption">

                        <div class="row">
                            <div class="col">
                                <p-multiSelect *ngIf="isViewMode==false" [options]="billingInfoTableHeaders"
                                    [(ngModel)]="selectedColumns" [ngModelOptions]="{standalone: true}"
                                    optionLabel="header" selectedItemsLabel="{0} columns selected"
                                    class="multiselect-field" defaultLabel="Choose Columns"></p-multiSelect>
                            </div>
                            <div class="col">
                                <div class="global-search-field inner-addon right-addon inline-block">
                                    <i class="fa fa-search"></i>
                                    <input type="text" pInputText size="50" (input)="globalSearch($event.target.value)"
                                        class="form-control" placeholder="Filter">
                                </div>
                                <!-- (input)="dt.filterGlobal($event.target.value, 'contains')" -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" *ngIf="isViewMode==false" class="btn btn-primary  exports-button"
                                    matTooltip="Download  Data" matTooltipPosition="above" pButton icon="fa-download"
                                    iconPos="left" label="Export All Data" (click)="openTag(export)"></button>
                                <button *ngIf="isViewMode==false" type="button " class="btn btn-primary  exports-button"
                                    matTooltip="Download Selected Data" matTooltipPosition="above" pButton
                                    icon="fa-download" iconPos="left" label="Export Selection Only"
                                    (click)="dt.exportCSV({selectionOnly:true})"></button>

                                <ng-template #export let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Are You Sure Want to Download?</h4>
                                        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <strong>
                                            You are attempting to export {{totalRecords}} of records
                                        </strong>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            (click)="exportCSV(dt)">Confirm</button>
                                        <button type="button" class="btn btn-danger"
                                            (click)="dismissModel()">Cancel</button>
                                    </div>
                                </ng-template>
                                <div class="excel-upload  excel-upload-cstm" *ngIf="isViewMode==false">

                                    <button type="button" class="btn btn-primary exports-button"
                                        matTooltip="Download Sample File" matTooltipPosition="above"
                                        (click)="sampleExcelDownload()">
                                        Sample File Download
                                    </button>


                                    <input type="file" name="upload[]" id="upload" (change)="customExcelUpload($event)"
                                        class="uploaddoc upload-file" accept=".xlsx, .xls, .csv">
                                    <label for="upload">
                                        <span matTooltip="Upload Data (Excel)" matTooltipPosition="above">
                                            <i class="fa fa-upload"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="">
                                    <div class="col"
                                        style="width: auto; float: right; padding-top: 3px;padding-right: 0px;">
                                        <div class="form-group">
                                            <!-- <label class="radiobtn-label new-radio-btn-label">Status:</label> -->
                                            <div class="pull-left radio-buttons-align">
                                                <label class="radio-cstm wauto">

                                                    <input type="radio" name="EmpStatus37hf" class="form-control"
                                                        value="Active" (click)=" geListByStatusForBillingList('Active')"
                                                        [(ngModel)]="currentStatusEmp">
                                                    <span class="checkmark"></span>Active
                                                </label>
                                            </div>
                                            <div class="pull-left radio-buttons-align">
                                                <label class="radio-cstm wauto">
                                                    <input type="radio" name="EmpStatus37hf" class="form-control"
                                                        value="InActive"
                                                        (click)=" geListByStatusForBillingList('InActive')"
                                                        [(ngModel)]="currentStatusEmp">
                                                    <span class="checkmark"></span>In-active
                                                </label>
                                            </div>
                                            <div class="pull-left radio-buttons-align">
                                                <label class="radio-cstm wauto">
                                                    <input type="radio" name="EmpStatus37hf" class="form-control"
                                                        value="ALL" (click)=" geListByStatusForBillingList('ALL')"
                                                        [(ngModel)]="currentStatusEmp">
                                                    <span class="checkmark"></span>All
                                                </label>
                                            </div>
                                            <div class=" pull-left checkbox-cstm" style="margin-right: 15px;">
                                                <label style="width: auto !important;margin-top: 3px;">
                                                    <input type="checkbox" [(ngModel)]="currentDeletedstatusBilling"
                                                        name="cparent" id="cparent"
                                                        (click)="getDeleteListByStatusBilling($event.target.checked)" />
                                                    <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                    Show Deleted List
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="table-column-width">Flag</th>
                            <th class="table-column-width" *ngFor="let col of columns" pResizableColumn
                                pReorderableColumn [pSortableColumn]="col.field" [hidden]="col.field == 'isPrimary'">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th class="table-actions-column">Actions</th>
                        </tr>
                        <tr>
                            <th class="table-column-width"></th>
                            <th class="table-column-width" *ngFor="let col of columns" [ngSwitch]="col.field"
                                [hidden]="col.field == 'isPrimary'">
                                <input class="table-header-input-width"
                                    *ngIf="col.field != 'createdDate' && col.field != 'updatedDate'" pInputText
                                    type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">

                                <input type="date" class="table-header-input-width" class="hidePlaceHolder"
                                    *ngIf="col.field == 'createdDate'" name="createdDate"
                                    (change)="dateFilterForTable($event.target.value, col.field)" />
                                <input type="date" class="table-header-input-width" class="hidePlaceHolder"
                                    *ngIf="col.field == 'updatedDate'" name="updatedDate"
                                    (change)="dateFilterForTable($event.target.value,col.field)" />
                            </th>
                            <th class="table-actions-column"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowDblClick]="rowData"
                            (dblclick)="toggledbldisplay(rowData)">
                            <td class="table-column-width">
                                <span class="flag">
                                    <i *ngIf="rowData.isPrimary == true"
                                        [ngStyle]="{'color': rowData.isPrimary == true ? 'green' : 'none'}"
                                        class="fa fa-flag" matTooltipPosition="above" matTooltip="Primary"
                                        aria-hidden="true"></i>
                                </span>
                            </td>

                            <td class="table-column-width" *ngFor="let col of columns" class="ui-resizable-column"
                                pReorderableRowHandle [hidden]="col.field == 'isPrimary'">
                                {{col.field == 'createdDate'?  (rowData[col.field] | date: 'MM/dd/yyyy h:mm a'):rowData[col.field] && col.field == 'updatedDate'?  (rowData[col.field] | date: 'MM/dd/yyyy h:mm a'):rowData[col.field]}}
                            </td>

                            <td class="action-icons-cstm table-column-width">
                                <div *ngIf="currentDeletedstatusBilling==false">
                                    <p-inputSwitch  *ngIf="isEdit" [(ngModel)]="rowData['isActive']" name="isActive{{ rowIndex }}"
                                        matTooltip="{{rowData['isActive'] ? 'Active': 'In Active'}}"
                                        matTooltipPosition="above"
                                        (onChange)="updateActiveorInActiveForBilling(rowData)"
                                        [disabled]="rowData.isPrimary || isViewMode==true"></p-inputSwitch>
                                    <span data-toggle="modal" data-target="#view">
                                        <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip"
                                            (click)="openBillingView(rowData)" matTooltipPosition="above"
                                            matTooltip="View"><i class="fa fa-eye"></i></a>
                                    </span>
                                    <span  data-toggle="modal" data-target="#addBillingInfo" *ngIf="isViewMode==false">
                                        <a *ngIf="isEdit" class="btn nobg" (click)="openEdit(rowData)" matTooltip="Edit"
                                            matTooltipPosition="above"><i class="fa fa-pencil"></i></a>
                                    </span>

                                    <span *ngIf="isViewMode==false">
                                        <a *ngIf="isDelete" class="btn nobg" (click)="deleteBillingInfo(deleteContent,rowData)"
                                            matTooltip="Delete" matTooltipPosition="above"><i
                                                class="fa fa-trash"></i></a>
                                    </span>
                                    <span>
                                        <a class="btn nobg"
                                            (click)="getlegalEntityBillingHistory(contentAuditHist,rowData)"
                                            matTooltip="History" matTooltipPosition="above"><i
                                                class="fa fa-history"></i></a>
                                    </span>
                                </div>
                                <div *ngIf="currentDeletedstatusBilling==true">
                                    <p-inputSwitch *ngIf="isEdit" [(ngModel)]="rowData['isActive']" [disabled]="true"
                                        name="isActive{{ rowIndex }}"
                                        matTooltip="{{rowData['isActive'] ? 'Active': 'In Active'}}"
                                        matTooltipPosition="above" (onChange)="changeStatus(rowData)"></p-inputSwitch>
                                    <span data-toggle="modal" data-target="#view">
                                        <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip"
                                            (click)="openBillingView(rowData)" matTooltipPosition="above"
                                            matTooltip="View"><i class="fa fa-eye"></i></a>
                                    </span>
                                    <span *ngIf="isViewMode==false"><a *ngIf="isEdit" class="btn nobg"
                                            (click)="restore(restoreId,rowData);" matTooltip="Restore Record"
                                            matTooltipPosition="above"><i class="fa fa-undo" aria-hidden="true"></i></a>
                                    </span>
                                    <span>
                                        <a class="btn nobg"
                                            (click)="getlegalEntityBillingHistory(contentAuditHist,rowData)"
                                            matTooltip="History" matTooltipPosition="above"><i
                                                class="fa fa-history"></i></a>
                                    </span>
                                </div>
                            </td>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns *ngIf="billingInfoList.length == 0">
                        <tr>
                            <td colspan="13" class="no-records-cstm no-records-msg">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary" id="footer">
                        <label id="footer" class="footer">Total:</label>
                        <input class="footer-input-width" [(ngModel)]="dt._totalRecords" [disabled]="true" pInputText
                            type="text" />
                        &nbsp;&nbsp;
                        <label id="footer" class="footer1">Pages Count:</label>

                        <input class="footer-input-width" [ngModel]="getPageCount(dt._totalRecords, pageSize)"
                            [disabled]="true" pInputText type="text" />
                    </ng-template>
                </p-table>
                <div class="m-t-10" *ngIf="isViewMode == false">
                    <button type="button" class="btn btn-primary pull-right" (click)="nextClick()">Next</button>
                    <button type="button" class="btn btn-primary pull-right submit-btn"
                        (click)="backClick()">Previous</button>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="modal fade success-msg" id="success-popup" role="dialog" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-sm popup-timeout">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4> <i class="fa fa-check"></i>&nbsp; You Added Successfully !</h4>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #contentHist let-c="close" let-d="dismiss" class="wauto">
            <div class="modal-header">
                <h4 class="modal-title">History of Action</h4>
                <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="table-responsive pas-table-cstm poro-table-cstm parts-list-table-align">
                    <div class="tableFixHead">
                        <table class="table table-bordered header-table-width">
                            <thead>
                                <tr>
                                    <th>Site Name</th>
                                    <th>Address 1</th>
                                    <th>Address 2</th>

                                    <th>City</th>
                                    <th>State/Prov</th>
                                    <th>Postal Code</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Name</td>
                                <td>Address1</td>
                                <td>Address2</td>

                                <td>City</td>
                                <td>State</td>
                                <td>Postal Code</td>
                                <td>Country</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Close</button>
            </div>
        </ng-template>

    </div>
</div>




<div class="modal fade" id="addBillingInfo" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    (click)="closeMyModel('#addBillingInfo')">&times;</button>
                <div class="col-md-12 shadow-box-cstm">
                    <div class="col-md-6">
                        <p class="fs12">
                            <label class="control-label labels-font-header wauto">Legal Entity Name: </label>
                            <span class="span-header-red text-capital"> {{legalEntityName }} </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fs12">
                            <label class="control-label labels-font-header wauto">Legal Entity Code: </label>
                            <span class="span-header-red text-capital"> {{legalEntityCode }} </span>
                        </p>
                    </div>
                </div>
                <h4 class="modal-title">{{isEditMode ? 'Edit' : 'Add' }} Billing Info </h4>
            </div>
            <form #addBillingForm="ngForm" class="form-horizontal" #ccForm="ngForm">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> Primary </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="checkbox" name="isPrimary" [disabled]="editisPrimary==true"
                                    [(ngModel)]="billingInfo.isPrimary" (ngModelChange)="enableSave()" />                                
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label>Site Name <span class="clr-red"></span></label>
                            </div>
                            <div class="col-sm-5">                                
                                <p-autoComplete class="autocomp-customer-cstm" [(ngModel)]="billingInfo.siteName"
                                    name="siteName" field="label" [suggestions]="sitesNamesList"
                                    (completeMethod)="filterSiteNames($event)" [size]="30" [minLength]="1"
                                    [dropdown]="true" [inputStyle]="{'width': '100%'}" (onSelect)="onSiteNameSelected()"
                                    (onKeyUp)=checkfirstNameExist($event.target.value) 
                                    (ngModelChange)="enableSave()">
                                </p-autoComplete>
                                <div *ngIf="showExistMsg" class="clr-red">Already Exists</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                              <label>Attention </label>
                            </div>
                            <div class="col-sm-5">
                              <input class="form-control" type="text" name="attention" (ngModelChange)="enableSave()"
                                [(ngModel)]="billingInfo.attention" value="" autocomplete="new-password" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> Address 1 <span class="clr-red">*</span></label>
                            </div>
                            <div class="col-sm-5">
                                <input autocomplete="off" class="form-control" id="csaddress1234" type="text"
                                    name="address1234" [(ngModel)]="billingInfo.address1" (ngModelChange)="enableSave()"
                                    required />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> Address 2</label>
                            </div>
                            <div class="col-sm-5">
                                <input autocomplete="off" class="form-control" id="csaddress23" type="text"
                                    name="address2" [(ngModel)]="billingInfo.address2" (ngModelChange)="enableSave()" />
                            </div>
                        </div>
                        <div class="col-sm-12" style="display:none">
                            <div class="col-sm-4">
                                <label> Address 3</label>
                            </div>
                            <div class="col-sm-5">
                                <input autocomplete="off" class="form-control" id="csaddress3" type="text"
                                    name="address3" [(ngModel)]="billingInfo.address3" (ngModelChange)="enableSave()" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> City <span class="clr-red">*</span></label>
                            </div>
                            <div class="col-sm-5">
                                <input autocomplete="off" class="form-control" id="cscity1" type="text" name="city"
                                    [(ngModel)]="billingInfo.city" (ngModelChange)="enableSave()" required />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> State / Prov <span class="clr-red">*</span></label>
                            </div>
                            <div class="col-sm-5">
                                <input autocomplete="off" class="form-control" id="csstate1" type="text"
                                    name="stateOrProvince" [(ngModel)]="billingInfo.stateOrProvince"
                                    (ngModelChange)="enableSave()" required />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> Postal Code <span class="clr-red">*</span></label>
                            </div>
                            <div class="col-sm-5">
                                <!-- (keypress)="checkvalid($event)" -->
                                <input autocomplete="off" class="form-control" id="cspostal1" type="text"
                                    name="postalCode" [(ngModel)]="billingInfo.postalCode"
                                    (ngModelChange)="enableSave()" required />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label> Country <span class="clr-red">*</span></label>
                            </div>
                            <div class="col-sm-5">
                                <!-- (click)="restDropDown()"  -->
                                <div class="inner-addon right-addon inline-block">
                                    <p-dropdown (input)="onFilterCountry($event.target.value)" [showClear]="true"
                                        class="p-dropdown-100 form-control border_nne" (ngModelChange)="enableSave()"
                                        [options]="countrycollection" filter="true" field="label" required
                                        [(ngModel)]="billingInfo.countryId" name="bankcountry"
                                        [resetFilterOnHide]="true" placeholder="Select"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right"
                        [disabled]="!addBillingForm.valid || disableSave || showExistMsg"
                        (click)="saveBillingInformation()"
                        data-dismiss="modal">{{isEditMode ? 'Update' : 'Save'}}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="closeMyModel('#addBillingInfo')">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="view" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Details of Legal Entity Billing Information</h4>
                <button type="button" class="close" (click)="dismissModelView()">&times;</button>


                <div class="col-md-12 shadow-box-cstm">
                    <div class="col-md-6">
                        <p class="fs12">
                            <label class="control-label labels-font-header wauto">Legal Entity Name: </label>
                            <span class="span-header-red text-capital"> {{legalEntityName }} </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fs12">
                            <label class="control-label labels-font-header wauto">Legal Entity Code: </label>
                            <span class="span-header-red text-capital"> {{legalEntityCode }} </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="preloader" *ngIf="isSpinnerVisibleView">
                <div class="loading">
                    <div class="lds-roller">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData">
                <div class="col-sm-12">
                    <p><span class="label"><b>Primary: </b></span><span class="value">
                            <!-- {{viewData.isPrimary === true ? 'Yes' : 'No'}} -->
                            <input type="checkbox" disabled [checked]="viewData.isPrimary === true" />
                        </span></p>
                    <p><span class="label"><b>Is Active: </b></span><span class="value">
                            <!-- {{viewData.isActive === true ? 'Yes' : 'No'}} -->
                            <input type="checkbox" disabled [checked]="viewData.isActive === true" />
                        </span></p>
                    <p><span class="label"><b>Site Name <span class="clr-red"></span>: </b></span><span
                            class="value">{{viewData.siteName}}</span></p>
                     <p><span class="label"><b>Attention <span class="clr-red"></span>: </b></span><span
                                class="value">{{viewData.attention}}</span></p>
                    <p><span class="label"><b> Address 1 <span class="clr-red">*</span>: </b></span><span
                            class="value">{{viewData.address1}}</span></p>
                    <p><span class="label"><b> Address 2: </b></span><span class="value">{{viewData.address2}}</span>
                    </p>
                    <p style="display:none"><span class="label"><b> Address 3: </b></span><span
                            class="value">{{viewData.address3}}</span></p>
                    <p><span class="label"><b> City <span class="clr-red">*</span>: </b></span><span
                            class="value">{{viewData.city}}</span></p>
                    <p><span class="label"><b> State / Prov <span class="clr-red">*</span>: </b></span><span
                            class="value">{{viewData.state}}</span></p>
                    <p><span class="label"><b> Postal Code <span class="clr-red">*</span> :</b></span><span
                            class="value">{{viewData.postalCode}}</span></p>
                    <p><span class="label"><b> Country <span class="clr-red">*</span>: </b></span><span
                            class="value">{{viewData.country}}</span></p>

                    <p><span class="label"><b>Created Date: </b></span><span
                            class="value">{{viewData.createdDate | date: 'MM/dd/yyyy h:mm a '}}</span></p>
                    <p><span class="label"><b>Created By: </b></span><span class="value">{{viewData.createdBy}}</span>
                    </p>
                    <p><span class="label"><b>Updated Date: </b></span><span
                            class="value">{{viewData.updatedDate | date: 'MM/dd/yyyy h:mm a '}}</span></p>
                    <p><span class="label"><b>Updated By: </b></span><span class="value">{{viewData.updatedBy}}</span>
                    </p>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="dismissModelView()">Close</button>
            </div>
        </div>
    </div>
</div>
<ng-template #deleteContent let-c="close" let-d="dismiss" data-backdrop="static">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- <br>
        <div class="col-md-12 shadow-box-cstm">
            <div class="col-md-6">
                <p class="fs12">
                    <label class="control-label labels-font-header" style="width: auto;">Legal Entity  Name: </label>
                    <span class="span-header-red" style="text-transform: capitalize"> {{ legalEntityName }} </span>
                </p>
            </div>
            <div class="col-md-6">
                <p class="fs12">
                    <label class="control-label labels-font-header" style="width: auto;">Legal Entity  Code: </label>
                    <span class="span-header-red" style="text-transform: capitalize"> {{ legalEntityCode }} </span>
                </p>
            </div>
        </div><br> -->
    </div>
    <div class="modal-body">
        <strong>
            Site Name:
            <span class="new-label">{{selectedRowForDelete.siteName}}</span>
        </strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteItemAndCloseModel()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>
<ng-template #contentAuditHist let-c="close" let-d="dismiss" class="wauto" data-backdrop="static">
    <div class="modal-header">

        <h4 class="modal-title">History of Billing Information</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>

        <!-- <div class="col-md-12 shadow-box-cstm">
            <div class="col-md-6">
                <p class="fs12">
                    <label class="control-label labels-font-header" style="width: auto;">Legal Entity Name: </label>
                    <span class="span-header-red" style="text-transform: capitalize"> {{legalEntityName }} </span>
                </p>
            </div>
            <div class="col-md-6">
                <p class="fs12">
                    <label class="control-label labels-font-header" style="width: auto;">Legal Entity Code: </label>
                    <span class="span-header-red" style="text-transform: capitalize"> {{legalEntityCode }} </span>
                </p>
            </div>
        </div> -->

    </div>
    <div class="modal-body">
        <div class="table-responsive pas-table-cstm poro-table-cstm parts-list-table-align">
            <div class="tableFixHead">
                <table class="table table-bordered header-table-width">
                    <thead>
                        <tr>
                            <th>Site Name <span class="clr-red"></span></th>
                            <th>Attention</th>
                            <th>Address1 <span class="clr-red">*</span></th>
                            <th>Address2</th>
                            <th>City <span class="clr-red">*</span></th>
                            <th>State <span class="clr-red">*</span></th>
                            <th>Postal Code <span class="clr-red">*</span></th>
                            <th>Country <span class="clr-red">*</span></th>
                            <th>Is Active</th>
                            <th>Primary</th>
                            <th>Created Date</th>
                            <th>Created By</th>
                            <th>Updated Date</th>
                            <th>Updated By</th>
                            <th>Is Deleted</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let audit of billingauditHisory; let i = index;">
                        <td
                            [ngStyle]="{'color':  getColorCodeForHistory(i, 'siteName', audit.siteName)  ? 'black' : 'red'  }">
                            {{audit.siteName}}</td>
                        <td
                            [ngStyle]="{'color':  getColorCodeForHistory(i, 'attention', audit.attention)  ? 'black' : 'red'  }">
                            {{audit.attention}}</td>
                        <td
                            [ngStyle]="{'color':  getColorCodeForHistory(i, 'address1', audit.address1)  ? 'black' : 'red'  }">
                            {{audit.address1}}</td>
                        <td
                            [ngStyle]="{'color':  getColorCodeForHistory(i, 'address2', audit.address2)  ? 'black' : 'red'  }">
                            {{audit.address2}}</td>
                        <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'city', audit.city)  ? 'black' : 'red'  }">
                            {{audit.city}}</td>
                        <td
                            [ngStyle]="{'color':  getColorCodeForHistory(i, 'stateOrProvince', audit.stateOrProvince)  ? 'black' : 'red'  }">
                            {{audit.stateOrProvince}}</td>
                        <td
                            [ngStyle]="{'color':  getColorCodeForHistory(i, 'postalCode', audit.postalCode)  ? 'black' : 'red'  }">
                            {{audit.postalCode}}</td>
                        <td
                            [ngStyle]="{'color':  getColorCodeForHistory(i, 'country', audit.country)  ? 'black' : 'red'  }">
                            {{audit.country}}</td>
                        <!-- <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'isPrimary', audit.isPrimary)  ? 'black' : 'red'  }">{{audit.isPrimary}}</td> -->
                        <!-- <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'isActive', audit.isActive)  ? 'black' : 'red'  }">{{audit.isActive}}</td> -->

                        <td class="text-center">
                            <input type="checkbox" disabled [checked]="audit.isActive == true" />
                        </td>

                        <td class="text-center">
                            <input type="checkbox" disabled [checked]="audit.isPrimary == true" />
                        </td>
                        <td>{{audit.createdDate | date: 'MM/dd/yyyy h:mm a '}}</td>
                        <td>{{audit.createdBy}}</td>
                        <td>{{audit.updatedDate | date: 'MM/dd/yyyy h:mm a '}}</td>
                        <td>{{audit.updatedBy}}</td>
                        <td class="text-center">
                            <span class="value">
                                <label class="wauto">
                                    <input type="checkbox" name="isDeleted" [checked]="audit.isDeleted == true"
                                        disabled>
                                </label>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="dismissModel()">Close</button>
    </div>
</ng-template>
<div id="deleteoopsBilling" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Alert !</h4>
            </div>
            <div class="modal-body">
                <p>
                    Primary Record Cannot be Deleted
                    <!--<img class="delete-emoji" src="../../../../assets/images/oopsimage.png" />-->
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<ng-template #restoreId let-c="close" let-d="dismiss" data-backdrop="static">

    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Restore?</h4>

        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <br>
        <div class="col-md-12 shadow-box-cstm">
            <div class="col-md-6">
                <p class="fs12">
                    <label class="control-label labels-font-header wauto">Legal Entity Name: </label>
                    <span class="span-header-red text-capital"> {{ legalEntityName }} </span>
                </p>
            </div>
            <div class="col-md-6">
                <p class="fs12">
                    <label class="control-label labels-font-header wauto">Legal Entity Code: </label>
                    <span class="span-header-red text-capital"> {{ legalEntityCode }} </span>
                </p>
            </div>
        </div><br>
    </div>
    <div class="modal-body">
        <strong>
            Site Name:
            <span class="new-label">{{restorerecord.siteName}}</span>
        </strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="restoreRecord()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>