<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <!-- <div class="card">
                    <div class="card-body">
                       
                        <div class="inline-block display-flex">
                           
                            <h3 class="po-head lead">{{header}}</h3>
                            &nbsp;&nbsp;
                            <a class="plusicon-cstm new-margin"
                             matTooltipPosition="above" matTooltip="Add {{rowName}}" 
                             tooltipPosition="right" data-target="#editItem"
                              data-toggle="modal" (click)="addNewItem()">
                                <i class="fa fa-plus-circle fa-lg"></i>
                            </a>
                        </div> -->
                        <div class="card new-card">
                            <div class="card-header bg-primary new-card-header">
                              <div class="row">
                                <div class="col">
                                  <h4 class="new-card-heading">{{header}}</h4>
                                </div>
                                <div>
                                  <button
                                    type="button"
                                    class="btn-sm new-btn-primary"
                                    data-target="#editItem"
                              data-toggle="modal" (click)="addNewItem()"
                                  >
                                  Add {{rowName}}
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="card-body new-card-body">
                       
                       
                
                        <!--Step x: Add/update table taking grid data (itemList) and selected columns -->
                        <!--(onLazyLoad)="changePage($event)"-->
                        <p-table #dt
                                 class="rpo-table-cstm rro-table-cstm"
                                 [value]="itemList"
                                 [first]="pageIndex"
                                 [rows]="pageSize"
                                 [paginator]="true"
                                 [pageLinks]="3"
                                 [rowsPerPageOptions]="[10,20,50,100]"
                                 [columns]="selectedColumns"
                                 selectionMode="multiple"
                                 [metaKeySelection]="true"
                                 [resizableColumns]="true"
                                 [reorderableColumns]="true"
                                 [scrollable]="true"
                                 [totalRecords]="totalRecords"
                                 scrollHeight="450px">
                            <!--caption-->
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col">
                                    <!--column names dropdown taking selectedColumns-->
                                    <!--Step x: Update the dropdown with options-->
                                    <!--(onChange)="reorderValues($event)"-->
                                    <!--to-do:add (change)=>-->
                                    <p-multiSelect [maxSelectedLabels]="2"
                                                   [options]="columnHeaders"
                                                   optionLabel="header"
                                                   [(ngModel)]="selectedColumns"
                                                   [style]="{minWidth: '200px'}" style="float:left"
                                                   selectedItemsLabel="{0} columns selected"
                                                   defaultLabel="Choose Columns">
                                    </p-multiSelect>

                                </div>
                                <div class="col">
                                  
                                      <div
                                        style="width: 370px; float: right; padding-top: 3px;"
                                      >
                                        <div class="form-group">
                                          <!-- <label class="radiobtn-label new-radio-btn-label">Status:</label> -->
                                          <div
                                            class="pull-left"
                                            style="margin-top: 4px; margin-right: 15px;"
                                          >
                                                    <label class="radio-cstm wauto">
                                                        <input type="radio" name="EmpStatus" class="form-control" value="Active" (click)="getListByStatus('Active')" [(ngModel)]="currentstatus">
                                                        <span class="checkmark"></span>Active
                                                    </label>
                                                </div>
                                                <div class="pull-left" style="margin-top: 4px; margin-right: 15px;">
                                                    <label class="radio-cstm wauto">
                                                        <input type="radio" name="EmpStatus" class="form-control" value="InActive" (click)="getListByStatus('InActive')" [(ngModel)]="currentstatus">
                                                        <span class="checkmark"></span>In-Active
                                                    </label>
                                                </div>
                                                <div class="pull-left" style="margin-top: 4px; margin-right: 15px;">
                                                    <label class="radio-cstm wauto">
                                                        <input type="radio" name="EmpStatus" class="form-control" value="ALL" 
                                                        (click)="getListByStatus('ALL')" [(ngModel)]="currentstatus">
                                                        <span class="checkmark"></span>All
                                                    </label>
                                                </div>
                                                    <div class="checkbox-cstm" style="margin-left: 0;">
                                                      <label style="width: auto !important;margin-top: 3px;">
                                                        <!--  -->
                                                        <input type="checkbox" [(ngModel)]="currentDeletedstatus" name="cparent" id="cparent" 
                                                         (click)="getDeleteListByStatus($event.target.checked)"
                                                          />
                                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                      Show  Deleted List 
                                                      </label>
                                                    </div>
                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <button type="button" class="btn btn-primary new-table-button"  style="padding: 5px 12px !important;" matTooltipPosition="above" matTooltip="Download Selected" 
                                            pButton icon="fa-download" iconPos="left" label="Export All Data" (click)="dt.exportCSV()"></button>
                                    <button type="button" class="btn btn-primary new-table-button"  style="padding: 5px 12px !important;" matTooltipPosition="above" matTooltip="Download All Data" 
                                            pButton icon="fa-download" iconPos="left" label="Export Selection Only" (click)="dt.exportCSV({selectionOnly:true})"></button>
                                    <!--
                                    <div class="excel-upload  excel-upload-cstm">
                                        <input type="file" id="file" class="uploaddoc upload-file" data-multiple-caption="{count} files selected"
                                               accept=".xlsx, .xls, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                               (change)="bulkUpload($event)">
                                        <label for="upload">
                                            <span matTooltip="Upload Data (Excel)">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </label>
                                        &nbsp; &nbsp;
                                        <button class="btn btn-primary" (click)="sampleExcelDownload()">Sample File Download</button>
                                    </div>
                                    -->
                                    <div class="excel-upload  excel-upload-cstm">
                                        <input type="file" name="upload[]" id="upload" (change)="bulkUpload($event)" class="uploaddoc upload-file"
                                               accept=".xlsx, .xls, .csv">
                                        <label for="upload">
                                            <span matTooltip="Upload Data (Excel)">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </label>
                                        &nbsp; &nbsp;
                                        <button class="btn btn-primary"  style="padding: 5px 12px !important;" (click)="sampleExcelDownload()" matTooltipPosition="above" matTooltip="Download Sample File"  >Sample File Download</button>
                                    </div>
                                </div>
                                </div>

                            </ng-template>
                            <!--header with search-->

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width:120px" *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                    <th style="width:200px;position: sticky" *ngIf="selectedColumns.length> 0">Actions</th>
                                </tr>
                                <!--to-do: put search by partial string-->
                                <tr>
                                    <th style="width:120px" *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field,'contains')">
                                    </th>
                                    <th style="width:200px;position: sticky"></th>
                                </tr>
                            </ng-template>

                            <!--body-->
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                                <tr [pSelectableRow]="rowData" pReorderableRowHandle (dblclick)="viewItemDetailsClick(viewClick, rowData)">
                                    <td style="width:120px" *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                                        {{rowData[col.field]}}
                                    </td>
                                    <td class="action-icons-cstm" style="width:200px" *ngIf="selectedColumns.length> 0">
                                       
                                        <div *ngIf="currentDeletedstatus==false">
                                        <p-inputSwitch [(ngModel)]="rowData['isActive']"
                                                       name="isActive{{rowIndex}}" (onChange)="toggleActiveStatus(rowData)"
                                                       [matTooltip]="rowData['isActive'] ? 'Active' : 'Inactive' " matTooltipPosition="above">
                                        </p-inputSwitch>
                                        <span data-toggle="modal" data-target="#view">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" 
                                            (click)="viewItemDetails(rowData)" data-target="#view" data-toggle="modal" matTooltip="View" matTooltipPosition="above">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                        <!--Step x: update the on-click event-->
                                       
                                        <span data-target="#editItem" data-toggle="modal">
                                            <a class="btn nobg" 
                                            (click)="showItemEdit(rowData)" 
                                            matTooltip="Edit" 
                                            matTooltipPosition="above"><i class="fa fa-pencil">                          
                                            </i></a> </span>
                                       
                                       
                                        <!-- <button class="btn-edit" mat-icon-button (click)="showItemEdit(rowData)" 
                                        matTooltip="Edit" matTooltipPosition="above" data-target="#editItem" data-toggle="modal">
                                            <mat-icon>edit</mat-icon>
                                        </button> -->

                                       
                                        <span data-target="#delete" data-toggle="modal"><a class="btn nobg" 
                                            (click)="confirmItemDelete(rowData)"
                                            matTooltip="Delete"  matTooltipPosition="above">
                                            <i class="fa fa-trash"></i></a> </span>
                                       
                                       
                                       
                                        <!-- <button class="btn-delete" mat-icon-button matTooltip="Delete" 
                                        matTooltipPosition="above" (click)="confirmItemDelete(rowData)" 
                                        data-target="#delete" data-toggle="modal">
                                            <mat-icon color="warn">delete</mat-icon>
                                        </button> -->


                                        <span data-target="#itemHistory" data-toggle="modal"><a class="btn nobg" 
                                            (click)="showHistory(rowData)"
                                             matTooltip="History"  matTooltipPosition="above">
                                             <i class="fa fa-history"></i></a></span>

                                        <!-- <button class="btn-history" mat-icon-button matTooltip="History"
                                         matTooltipPosition="above" (click)="showHistory(rowData)"
                                          data-target="#itemHistory" data-toggle="modal">
                                            <mat-icon color="green">history</mat-icon>
                                        </button> -->
                                    </div>

                                    <div *ngIf="currentDeletedstatus==true">
                                        <p-inputSwitch [(ngModel)]="rowData['isActive']" [disabled]="true" name="isActive{{ rowIndex }}"   matTooltip="{{rowData['isActive'] ? 'Active': 'In Active'}}"
                                        matTooltipPosition="above" (onChange)="changeStatus(rowData)"></p-inputSwitch> 
                                       <span data-toggle="modal" data-target="#view"><a class="btn nobg"
                                         (click)="viewItemDetails(rowData)" matTooltip="View"  matTooltipPosition="above"><i class="fa fa-eye"></i></a> </span>
                                      <span ><a class="btn nobg" (click)="restore(restoreId,rowData);" matTooltip="Restore Record"  matTooltipPosition="above"><i class="fa fa-undo" aria-hidden="true"></i></a> </span>
                                        <!-- <span data-toggle="modal" data-target="#contentAuditHist"><a class="btn nobg" (click)="getAuditHistoryById(contentAuditHist,rowData)" matTooltip="History"  matTooltipPosition="above"><i class="fa fa-history"></i></a></span> -->
                                     
                                    </div> 
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #auditContent let-c="close" let-d="dismiss">
                                <div *ngIf="AuditDetails != undefined && AuditDetails.length > 0">
                                    <app-audit [Data]="AuditDetails" [Modal]="modal"></app-audit>
                                </div>
                            </ng-template>
                            
                            <ng-template pTemplate="emptymessage" let-columns
                                 *ngIf="itemList && itemList.length == 0 || itemList && itemList.length ==null">
                   <tr>
                                    <td [attr.colspan]="5" style="color: red; font-weight: bold; text-align: center">
                                        No records found
                                    </td>
                                   
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="summary" id="footer">
                                <div style="text-align: right;">
                                    <label id="footer" class="footer1">Total:</label>
                                    <input style="width: 5%;" [(ngModel)]="dt._totalRecords" [disabled]="true" pInputText type="text" /> &nbsp;&nbsp;
                                    <label id="footer" class="footer1">Pages Count:</label>
                                    <input style="width: 5%;" [ngModel]="getPageCount(dt._totalRecords, pageSize)" [disabled]="true" pInputText type="text" />
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Alert" [(visible)]="display" [modal]="true" [dismissableMask]="true" maximizedLeft="140px" maximizedTop="140px"
              [width]="350" [minWidth]="200" [responsive]="true"
              [minY]="1050" [baseZIndex]="1100000" *ngIf="(currentModeOfOperation === 9)">
        <h5 [ngStyle]="{'color':'red'}">
            Please Enter (*) Mandatory Fields
        </h5>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="dismissModal()" label="Close"></button>
        </p-footer>
    </p-dialog>

    <!--to-do:use same modal to view, add, update, and delete-->
    <!--Step x: Modal for view only-->
    <div #view *ngIf="itemDetails" class="modal fade" id="view" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Asset Type Details</h4>
                </div>
                <div class="modal-body viewform">
                    <div class="col-sm-12">
                        <p>
                            <span class="label">
                                <b>Id: </b>
                            </span>
                            <span class="value">{{itemDetails.assetTypeId}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Name: </b>
                            </span>
                            <span class="value">{{itemDetails.assetTypeName}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Memo: </b>
                            </span>
                            <span class="value">{{itemDetails.assetTypeMemo}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Active: </b>
                            </span>
                            <span class="value">{{itemDetails.isActive ? 'True' : 'False'}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Created By: </b>
                            </span>
                            <span class="value">{{itemDetails.createdBy}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Created Date: </b>
                            </span>
                            <span class="value">{{itemDetails.createdDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Last Updated By: </b>
                            </span>
                            <span class="value">{{itemDetails.updatedBy}}</span>
                        </p>
                        <p>
                            <span class="label">
                                <b>Last Updated Date: </b>
                            </span>
                            <span class="value">{{itemDetails.updatedDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>

    <ng-template #restoreId let-c="close" let-d="dismiss" data-backdrop="static">
    
        <div class="modal-header">
            <h4 class="modal-title">Are You Sure Want to Restore?</h4>
      
            <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                <span aria-hidden="true">&times;</span>
            </button>
           
        </div>
        <div class="modal-body">
            <strong>
                Asset Type
                <span class="new-label">{{restorerecord.assetTypeName}}</span>
            </strong>
        </div>
      
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="restoreRecord()">Yes</button>
            <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
        </div>
      </ng-template> 

    <ng-template #viewClick class="modal fade " id="view" role="dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>
                <h4 class="modal-title"> Asset Class Details</h4>
            </div>
            <div class="modal-body viewform">
                <div class="col-sm-12">
                    <p>
                        <span class="label">
                            <b>Id: </b>
                        </span>
                        <span class="value">{{itemDetails.assetTypeId}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Name: </b>
                        </span>
                        <span class="value">{{itemDetails.assetTypeName}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Memo: </b>
                        </span>
                        <span class="value">{{itemDetails.assetTypeMemo}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Active: </b>
                        </span>
                        <span class="value">{{itemDetails.isActive ? 'True' : 'False'}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Created By: </b>
                        </span>
                        <span class="value">{{itemDetails.createdBy}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Created Date: </b>
                        </span>
                        <span class="value">{{itemDetails.createdDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Last Updated By: </b>
                        </span>
                        <span class="value">{{itemDetails.updatedBy}}</span>
                    </p>
                    <p>
                        <span class="label">
                            <b>Last Updated Date: </b>
                        </span>
                        <span class="value">{{itemDetails.updatedDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
            </div>
        </div>

    </ng-template>

    <!--Step x: Modal for Edit-->
    <div #editItem id="editItem" class="modal fade editModal" role="dialog" *ngIf="currentModeOfOperation === 2 || currentModeOfOperation === 3" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{currentModeOfOperation === 3 ? "Edit" : "Add"}} {{rowName}} </h4>
                </div>
                <div class="modal-body">
                    <form #AssetType="ngForm">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="description" class="control-label">Asset Class <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-sm-5">
                                    <!--<textarea class="text-item" #memo="ngModel" id="name" name="name" [(ngModel)]="selectedRowforEdit.assetTypeName" minlength="2" (onChange)="check"></textarea>
                                    -->
                                    <p-autoComplete field="assetTypeName"
                                                    [(ngModel)]="selectedRowforEdit.assetTypeName"
                                                    (onSelect)="selectedAssetType($event)"
                                                    (onBlur)="onBlur($event)"
                                                    (onKeyUp)="checkReasonCodeExists('assetTypeName', $event.target.value)"
                                                    name="assetTypeName"
                                                    [suggestions]="filteredItemList" (completeMethod)="filterAssetTypeName($event)"
                                                    [size]="30" [minLength]="1"
                                                    [dropdown]="true" class="p-autoComplete-ctsm" required>
                                    </p-autoComplete>
                                    <div *ngIf="disableSave && selectedRowforEdit.assetTypeName" class="clr-red">Already Exists</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label for="description" class="control-label">Memo</label>
                                </div>
                                <div class="col-sm-5">
                                    <textarea class="text-item" #memo="ngModel" id="memo"
                                              name="assetTypeMemo" (ngModelChange)="getChange()" [(ngModel)]="selectedRowforEdit.assetTypeMemo" minlength="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <div class="checkbox-cstm">
                                    <label>
                                        <input type="checkbox" name="isActive" [(ngModel)]="selectedRowforEdit.isActive">
                                        <span class="cr">
                                            <i class="cr-icon pi pi-check"></i>
                                        </span>
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" [disabled]="disableSave || disableSaveForAsset" (click)="currentModeOfOperation === 2 ? saveNewItem() : updateItem();"> {{currentModeOfOperation == 3 ? 'Update' : 'Save' }}</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>

    <!--Modal for delete only-->
    <div #delete *ngIf="currentModeOfOperation === 4" id="delete" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are You Sure Want to Delete ?</h4>
                </div>
                <div class="modal-body">
                    <strong>
                        Asset Type:
                        <span class="new-label">{{selectedRowforDelete.assetTypeName}}</span>
                    </strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteItem()">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="dismissModal()">No</button>
                </div>
            </div>

        </div>
    </div>


    <!--Step x: Audit modal-->
    <div #itemHistory *ngIf="currentModeOfOperation === 5" class="modal fade" id="itemHistory" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">History of {{rowName}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Memo</th>
                                    <th>Active</th>
                                    <th>Last Updated By</th>
                                    <th>Last Updated Time</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let audit of auditHistory; let i = index;">
                                <td [ngStyle]="{'color': auditHistory[i>0 ? i-1 : i].assetTypeName === audit.assetTypeName ? 'black' : 'red'  }">
                                    {{audit.assetTypeName}}
                                </td>
                                <td [ngStyle]="{'color': auditHistory[i>0 ? i-1 : i].assetTypeMemo === audit.assetTypeMemo ? 'black' : 'red'  }">
                                    {{audit.assetTypeMemo}}
                                </td>
                                <td [ngStyle]="{'color': auditHistory[i>0 ? i-1 : i].isActive === audit.isActive ? 'black' : 'red'  }">
                                    {{audit.isActive}}
                                </td>
                                <td>{{audit.updatedBy}}</td>
                                <td>{{audit.updatedDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="dismissModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

