p .label {
    width: 40%;
    padding: 0;
    display: inline-block;
}
 p .value {
    width: 55%;
    display: inline-block;
    margin-left: 5%;
}
.mgmt-card-header{
    padding: 10px 12px !important;
  }
  .mgmt-label{
    margin-bottom: 0 !important; font-size: 12px !important;
  }
  .mgmt-card-body{
    padding: 12px 12px 4px !important;
  }