
.font-padding {
    font-weight: 600;
    padding-top: 10px;
  }
  .select-value-drop {
    margin-left: 2px;
    border-radius: 5px !important;
  }
  .control-label {
    margin-top: 10px;
    text-align: left;
    width: 150px !important;
    //font-weight: 500;
}
.exch-header-align{
  position: relative !important; top: 3px !important;
}
.margin-bottom-10{
  margin-bottom:10px;
}
.m-t-21{
  margin-top:-21px;
}