<div id="woReleaseEasaFromDiv" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xlg">
       <div class="modal-content" id="woReleaseEasaFrom">
          <div class="modal-header">
             <button type="button" class="close" (click)="close()" data-dismiss="modal">&times;</button>
             <h4 class="modal-title warning_color"></h4>
          </div>
          <div class="modal-body">
             <div class="clear"></div>
             <form id=""  name="" action="#" method="post" onsubmit="return false;" >
                <div class="image">
                   <div style="padding: 0; margin: 0;">
                      <div>
             <form id="" class="form-div" name="" action="#"
                method="post" onsubmit="return false;" >
             <div class="logo-block">
             <img src="http://design.poweraerosuites.com/image/logo.png" width="130" /> </div>
             <div class="clear"></div>
             <hr/>
             <div class="col-sm-12">
             <table style="width:99%;margin-left:5px;">
             <tbody>
             <tr style="width:100px">
               <td rowspan="2" style="vertical-align:top;text-align:center">
                  <b style="text-align:center;vertical-align:top">1.Approving Complete Authority/Country</b><br /><br />
                  <span style="text-align:center;font-size:18px"> UNITED STATES</span></td>
             <!-- <td rowspan="2" style="vertical-align:top"><b style="vertical-align:top">
             1.Approving Complete Authority/Country</b><br /><br />
             <span style="text-align:center;font-size:18px"> UNITED STATES</span></td> -->
             <td rowspan="2" style="vertical-align:top;text-align:center">
             <span style="vertical-align:top !important;margin-right:100%;">2.</span>
             <b style="font-size:30px">AUTHORIZED RELEASE CERTIFICATE</b><br />
             <b style="font-size:15px;text-align:center">EASA FORM 1</b></td>
             <td rowspan="2" style="vertical-align:top"><b>3.Form Traking Number: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.trackingNo}} </span></td>
             </tr>
             <tr></tr>
             <tr>
             <td rowspan="2" colspan="2" style="width:72px;height:80px;vertical-align:top"><b>4.Organization Name and Address:  </b><span style="text-align:center;font-size:15px"> {{ReleaseData.organizationName}}   {{ReleaseData.organizationAddress}} </span></td>
             <td rowspan="2" style="vertical-align:top"><b>5.Work Order/Contract/Invoice: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.invoiceNo}} </span></td>
             </tr>
             <tr></tr>
             </tbody>
             </table>
             </div>
             <div class="col-sm-12">
             <table style="width:99%;margin-left:5px;margin-top:-5px">
             <thead>
             <tr>
             <th>6.Item</th>
             <th>7.Description</th>
             <th>8.Part No.</th>
             <th>9.Qty.</th>
             <th>10.Serial No.</th>
             <th>11.Status/Work</th>
             </tr>
             </thead>
             <tbody>
             <tr>
             <td>{{ReleaseData.itemName}}</td>
             <td>{{ReleaseData.description}}</td>
             <td>{{ReleaseData.partNumber}}</td>
             <td>{{ReleaseData.quantity}}</td>
             <td>{{ReleaseData.batchnumber}}</td>
             <td>{{ReleaseData.status}}</td>
             </tr>
             <tr>
             <td colspan="6" rowspan="4" style="height: 150px;
                vertical-align: top;"><b>12.Remarks</b></td>
             </tr>
             <tr></tr>
             <tr></tr>
             <tr></tr>
             <tr></tr>
             </tbody>
             </table>
             </div>
             <div class="col-sm-12">
             <table style="width:99%;margin-left:5px;margin-top:-5px">
             <tbody>
             <tr>
             <td colspan="2" style="width:51%;vertical-align:top">
             <b>13a.Certifies that the items identified above were manufactured in conformity to:<br />
             <input type="checkbox" name="approved" [(ngModel)]="ReleaseData.approved" [ngModelOptions]="{standalone: true}" disabled />approved design data and are in condition for safe operation <br />
             <input type="checkbox"  [(ngModel)]="ReleaseData.nonapproved"  name="nonapproved" [ngModelOptions]="{standalone: true}" disabled />Non-approved design data specified in Block 12.</b> <br /></td>
             <td colspan="2"><b>14a. <input type="checkbox" name="cfr" [(ngModel)]="ReleaseData.cfr" [ngModelOptions]="{standalone: true}" [disabled]="isView" />Part-145.A.50 Release to Service 
             <input type="checkbox" [(ngModel)]="ReleaseData.otherregulation" [ngModelOptions]="{standalone: true}" name="otherregulation" [disabled]="isView" />Other regulation specified in Block 12 <br />
             Certifies that unless otherwise specified in Block 12,the work identified in Block 11 and described in Block 12 was accomplished in accordance with Part-145
             and in respect to that work the items are considered ready for release to service.</b> </td>
             </tr>
             <tr></tr>
             <tr style="height:50px;vertical-align:top">
             <td><b>13b.Authorised Signature: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.authorisedSign}} </span></td>
             <td><b>13c.Approval/Authorization Number: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.authorizationNo}} </span></td>
             <td><b>14b.Authorised Signature: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.authorisedSign2}} </span></td>
             <td><b>14c.Certificate/Approval Ref.No.: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.approvalCertificate}} </span></td>
             </tr>
             <tr style="height:50px;vertical-align:top">
             <td><b>13d.Name: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.printedName}} </span></td>
             <td><b>13e.Date(dd/mm/yyyy) : </b><span style="text-align:center;font-size:15px"> {{Printeddate1}} </span> 
               <p-calendar *ngIf="Issave && !isView" [showIcon]="true" name ="date" [ngModelOptions]="{standalone: true}"
               [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100"
                   (ngModelChange)="onDate1($event)"
                   [(ngModel)]="ReleaseData.date" required></p-calendar>
                  </td>
             <td><b>14d.Name : </b><span style="text-align:center;font-size:15px"> {{ReleaseData.printedName2}} </span></td>
             <td><b>14e.Date(dd/mm/yyyy): </b> <span style="text-align:center;font-size:15px"> {{Printeddate2}} </span> 
                <p-calendar *ngIf="Issave && !isView" [showIcon]="true" name ="date2" [ngModelOptions]="{standalone: true}"
               [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100"
                    (ngModelChange)="onDate($event)"
                   [(ngModel)]="ReleaseData.date2" required></p-calendar>
                   </td>
             </tr>
             </tbody>
             </table>
             </div>
             <br/>
             <div class="clear"></div>
             <div class="clear"></div>
             </form>
             </div>
             </div>
             </div>
             </form>
             <div style="height:100px"> &nbsp;</div>
             <div class="modal-footer">
                <button *ngIf="!isView && Issave" type="submit" class="btn btn-primary"  (click)="onsave()">Save</button>
                <button *ngIf="!isView && !Issave" type="submit" class="btn btn-primary" data-dismiss="modal" (click)="print()">Print</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
             </div>
          </div>
       </div>
    </div>