label {
  text-align: left;
  width: 100%;
}

.form-controls {
  margin-top: 10px;
}
.column {
  margin-left: 10px;
}

.column-seperator {
  margin-left: 20px;
}

.checkbox-custom-label {
  margin-left: 15px;
  margin-top: 10px;
}

button {
  border-radius: 5px;
}