<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div>
    <div class="page-content">
        <div class="right_col" role="main">
            <div class="x_content">
                <div class="card">
                        <div class="card new-card">
                            <div class="header">
                                <div class="row">
                                  <div class="col">
                                    <h4 class="header-name">List of Work Order Settings</h4>
                                  </div>
                                  <div>
                                    <button
                                       type="button"
                                       class="btn-sm header-button"
                                       (click)="AddPage()">
                                       Create New Settings
                                    </button>
                                 </div>
                                </div>
                            </div>
                            <div class="card-body new-card-body">
                                <p-table #dt 
                                [value]="workflowList" 
                                class="rpo-table-cstm rro-table-cstm ptable-f10"
                                [rows]="10"  [first]="0"
                                [paginator]="true" 
                                [pageLinks]="3" 
                                [rowsPerPageOptions]="[10,20,50,100]" 
                                [columns]="selectedGridColumns" 
                                [metaKeySelection]="true" 
                                selectionMode="multiple" 
                                [metaKeySelection]="true"
                                [scrollable]="true" 
                                scrollHeight="450px" 
                                [(selection)]="selectedGridColumn" 
                                [resizableColumns]="true" 
                                [reorderableColumns]="true">
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                                <div class="col">
                                            <p-multiSelect [options]="gridColumns" [(ngModel)]="selectedGridColumns" optionLabel="header"
                                                           selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns" style="float:left"></p-multiSelect>
                                          
                                                        </div>
                                                        <div class="col">
                                                        <div style="width: auto !important; float: right;"
                                                         class="inner-addon right-addon w50 inline-block g-filter-search-cstm">        
                                        
                                                <i class="fa fa-search"></i>
                                                <input type="text" pInputText size="50" class="form-control" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder=" Filter" style="height: 28px !important;">
                                            </div>
                                            </div>
                                            </div>
                                     </ng-template>
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col *ngFor="let col of columns" style="width:130px">
                                        </colgroup>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th style="width:auto" *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </th>
                                            <th class="table-actions-column">Actions</th>
                                        </tr>
                                        <tr>
                                            <th style="width:auto" *ngFor="let col of columns" [ngSwitch]="col.field">
                                                <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                            </th>
                                            <th class="table-actions-column"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr [pSelectableRow]="rowData" pReorderableRowHandle (dblclick)="openEdit(rowData)">
                                            <td style="width:auto" *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>
                                                {{rowData[col.field]}}
                                            </td>

                                            <td class="table-actions-column">
                                                <div>
                                                    <span data-toggle="modal"><a class="btn nobg"
                                                        (click)="edit(rowData)" matTooltip="Edit"
                                                         matTooltipPosition="above"><i
                                                          class="fa fa-pencil"></i></a>
                                                    </span>

                                                  <span data-toggle="modal" data-target="#history"><a class="btn nobg"
                                                        (click)="getAuditHistoryById(rowData)" matTooltip="History" matTooltipPosition="above"><i
                                                          class="fa fa-history"></i></a></span>
                                                  </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-xl" tabindex="-1" id="history" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>
                    <h4 class="modal-title">History of Work order settings</h4>
                </div>
                <div class="modal-body" *ngIf="auditHistory">
                    
                    <table class="table table-bordered table-fixed wfl-table-popup-cstm" *ngIf="auditHistory.length> 0 else noDatavailable">
                        <thead>
                            <tr>
                                <th>WorkOrderType</th>
                                <th>Prefix</th>
                                <th>Sufix</th>
                                <th>Default Priority</th>
                                <th>Start code</th>
                                <th>Default Condition</th>
                                <th>Default Stage Code</th>
                                <th>Default Status</th>
                               <th>Teardown Types</th>
                                <th>Last Updated By</th>
                                <th>Last Updated Time</th>
                            </tr>
                        </thead>
                        <tbody class="audithistory-cstm">
                           <tr *ngFor="let audit of auditHistory; let i = index;">
                               <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'workOrderType', audit.workOrderType)  ? 'black' : 'red'  }">{{audit.workOrderType}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'prefix', audit.prefix)  ? 'black' : 'red'  }">{{audit.prefix}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'sufix', audit.sufix)  ? 'black' : 'red'  }">{{audit.sufix}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'defaultPriority', audit.defaultPriority)  ? 'black' : 'red'  }">{{audit.defaultPriority}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'startCode', audit.startCode)  ? 'black' : 'red'  }">{{audit.startCode}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'defaultConditon', audit.defaultConditon)  ? 'black' : 'red'  }">{{audit.defaultConditon}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'defaultStageCode', audit.defaultStageCode)  ? 'black' : 'red'  }">{{audit.defaultStageCode}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'defaultStatus', audit.defaultStatus)  ? 'black' : 'red'  }">{{audit.defaultStatus}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'tearDownTypes', audit.tearDownTypes)  ? 'black' : 'red'  }">{{audit.tearDownTypes}}</td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'updatedBy', audit.updatedBy)  ? 'black' : 'red'  }">{{audit.updatedBy}}</td>
                               <td>{{audit.updatedDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>






