<div [@fadeInOut] class="page-content">
  <div class="card padding-10">
      <div class="right_col" role="main">
          <div class="x_panel">
              <div class="x_content">
                  <div class="col-md-12 shadow-Box">
                      <div class="col-md-4" >
                          <p class="fs12">
                              <label class="control-label labels-font-header wauto">Emp First Name: </label>
                              <span class="span-header-red text-capital" *ngIf="firstName"> {{firstName }} </span> </p>
                      </div>
                      <div class="col-md-4">
                          <p class="fs12">
                              <label class="control-label labels-font-header wauto">Emp Last Name: </label>
                              <span class="span-header-red text-capital" *ngIf="lastName"> {{lastName }} </span> </p>
                      </div>
                      <div  class="col-md-4">
                          <p class="fs12">
                              <label class="control-label labels-font-header wauto">Emp Id: </label>
                              <span class="span-header-red text-capital" *ngIf="empId"> {{empcode}} </span></p>
                      </div>
                  </div>
                  <form #empform="ngForm" class="form-horizontal add-custustomer mgmt-form-padding">
                      <div class="card new-card">
                          <!-- <div class="card-header"> -->
                              <div class="card-header header">
                                  <h4 class="header-name">                                    
                                      Management Structure
                                  </h4>
                              </div>
                              
                          <!-- </div> -->
                          <div class="card-body header-body">
                              <div class="employee-setup">

                                  <div class="col-12 employer-block">

                                      <div class="col-4">
                                          <div class="tab-content" id="employee-block">
                                              <div class="tab-pane step-data active" id="step3">
                                                  <div class="tab-pane">
                                                      <div class="form-group col-sm-12 display-flex">
                                                          <label class="control-label col-sm-4">
                                                              Roles
                                                              <span class="roles-span"><a class="fa fa-plus-circle fa-lg" [routerLink]="['/rolesmodule/rolespages/app-roles-setup']" target="_blank"></a></span>
                                                          </label>
                                                          <div class="inner-addon col-12 display-flex roles-margin">
                                                              <!-- <select [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceEmployee">
                                                                  <option *ngFor="let certificationtype of ['allCertification','jlkjsdf']" [ngValue]="certificationtype">{{certificationtype}}</option>
                                                              </select> -->
                                                              <ng-multiselect-dropdown  name ="selectedRoles" 
                                                              class="form-control multiple-custom-select"
                                                                                       [data]="employeeRoleLabel"
                                                                                       [(ngModel)]="selectedRoles"
                                                                                       [settings]="dropdownSettings"
                                                                                       (onSelect)="onItemSelect($event)"
                                                                                       (onSelectAll)="onSelectAll($event)"
                                                                                       >
                                                              </ng-multiselect-dropdown>
                                                               <!-- <p-multiSelect [options]="shiftValues" 
                                                              name="multipleShiftType" [(ngModel)]="selectedRoles"
                                                               (ngModelChange)="enableSave()" [panelStyle]="{minWidth:'12em'}">

                                                              </p-multiSelect> -->
                                                              <!-- <a href="#" data-toggle="modal" data-target="#addCertificationType" class="add-icon"><i class="fa fa-plus"></i></a> -->
                                                          </div>
                                                      </div>
                                                      <!-- <div class="form-group col-sm-12 display-flex">
                                                        <label class="control-label col-sm-4">
                                                            Roles
                                                            <span style="margin-left:3px;cursor:pointer;"><a class="fa fa-plus-circle fa-lg" [routerLink]="['/rolesmodule/rolespages/app-roles-setup']" target="_blank"></a></span>
                                                        </label>
                                                        <div class="inner-addon col-12 display-flex">
                                                                                                                     
                                                            <p-multiSelect [options]="employeeRolesList" name="multipleShiftType"
                                                             [(ngModel)]="employeeRoleLabel" 
                                                             (ngModelChange)="enableSave()" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
                                                            </div>
                                                    </div> -->
                                                      <div class="form-group col-sm-12 memo-popup-cstm display-flex">
                                                          <label class="control-label col-sm-4">Memo</label>
                                                          <div class="col-sm-12">
                                                              <div class="col-sm-6">
                                                                  <span>
                                                                      <div class="form-group memo-popup-cstm mat_emo">
                                                                          <div [innerHTML]="memoText"
                                                                          [matTooltip]="parsedText(memoText)"
                                                                          matTooltipPosition="above"
                                                                               style="width: 136%;padding:0px !important;line-height: 2"
                                                                               class="form-control text_editor_box"></div>
                                                                      </div>
                                                                  </span>
                                                              </div>
                                                              <div class="col-sm-1 memo-popup-margin" style="margin-left:66px">
                                                                  <i class="fa fa-pencil"
                                                                     data-toggle="modal"
                                                                     data-target="#memo-popup"
                                                                     matTooltipPosition="above"
                                                                     matTooltip="Add Memo"
                                                                     (click)="onClickMemo()"></i>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group col-8 management-structure">
                                          <app-tree-structure [gridData]="gridData"></app-tree-structure> 
                                        </div>
                              </div>
                          </div>
                      </div>
                      </div>
                      </form>
                  
              </div>
          </div>

          <button *ngIf ="isAdd && !isEditContent" [disabled]="!employeeService.enableUpdateButton" type="button" class="btn btn-primary pull-right" (click)="saveManagementStructure()">Save</button>
          <button *ngIf ="isEdit && isEditContent"  [disabled]="!employeeService.enableUpdateButton"  type="button" class="btn btn-primary pull-right" (click)="saveManagementStructure()">Update</button>
          <button type="button" class="btn btn-primary pull-right" (click)="nextClick('Previous')">Previous</button>
      </div>
</div>
</div>
<div class="modal fade" id="memo-popup" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Edit Memo</h4>
            </div>
            <div class="modal-body">
                <!-- <table class="table table-bordered table-fixed workflow-table-material">
                    <thead>
                    <th style="color: #fff;">Memo</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="white-space: inherit">
                                <p-editor spellcheck="true"
                                (ngModelChange)="editorgetmemo($event)"
                                          [(ngModel)]="memoPopupContent"
                                          [style]="{ height: '320px' }"
                                          name="memoPopupContent"
                                          required></p-editor>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
                <p-editor spellcheck="true"
                                (ngModelChange)="editorgetmemo($event)"
                                          [(ngModel)]="memoPopupContent"
                                          [style]="{ height: '320px' }"
                                          name="memoPopupContent"
                                          required></p-editor>
                <div class="editor-buttons">
                    <button type="button"
                            class="btn btn-primary editor-buttons-margin"
                            data-dismiss="modal"
                            [disabled]="disableEditor"
                            (click)="onClickPopupSave()">
                        Save
                    </button>
                    <button type="button"
                            class="btn btn-danger editor-buttons-margin"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #tabRedirectConfirmationModal4 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" (click)="dismissModel()">&times;</button>
      <h4 class="modal-title">Confirmation</h4>
    </div>
    <div class="modal-body">
        <h6 class="text-left">
            Do you want to Save changes and Continue ?
          </h6>
    </div>
    <div class="modal-footer">
  
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="redirectToTabWithoutSave()">No</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="redirectToTab()">Yes</button>
    </div>
  </ng-template>
  <div class="preloader"  *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller"><div>			
        </div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>
<app-spinner  *ngIf="isSpinnerVisible"></app-spinner>