// .coustomTable tr th {
//     font-weight: 600 !important;
//     font-size: 12px !important;
//     color: #fff !important;
//     background-color: #4298ff;
//     border: 1px solid #3a7fd2;
//     letter-spacing: 0.3px;
//     line-height: 25px;
//     text-align: center;
// }

// .coustomTable  tr  td {
//     padding: 5px 2px !important;
//     white-space: nowrap;
//     color: #222;
//     background: inherit;
//     border: 1px solid #c8c8c8;
//     font-size: 11px !important;
// }

.margin-tb{
    margin-top:-10px;
    margin-bottom: -10px;
}

.min-width-70{
    min-width:70px !important;
}

.select-read-only{
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    box-shadow: none !important;
}

select-read-only{
    background-color: white !important;
}

select:disabled{
    background-color: white !important;
}
.text-end{
    text-align: end !important;
}
.show-deleted-width{
    width: 395px !important; float: right !important; padding-top: 3px !important;
}
.button-font{
    font-size:24px !important;
}
.memo-margin-bottom{
    margin-bottom:4px !important;
}