
// #footer {   
//     font-size: 11px !important;
//     font-weight:12px !important;
// }


.new-margin {
    margin-top: 10px;
}
.new-label {
    color: cadetblue;
}
.control-label {    
    text-align: left;
    width: 100% !important;
    font-weight: 500;
}
.x_panel {
    border: none;
}
.input-value1 {
    width: 180px;
    margin-left: 2px;
}
select {
    border-radius: 5px !important;
}