
// #footer {
//     font-size: 11px !important;
//     font-weight:12px !important;
// }

// .footer {
//     margin-left: 65%;
// }

.footer1 {
    margin-right: 0px;
}
.new-label {
    color: cadetblue;
}
.control-label {    
    text-align: left;
    width: 100% !important;
    font-weight: 500;
}