.x_panel {
    border: none;
}
.rpo-bcrumb {
    background-color: transparent;
    color: #295d92;
}
.rpo-bcrumb li {
    font-family: 'Roboto';
    font-weight: bold;
}
// .right-addon .fa-search {
//     right: 14px;
// }
.align_center{
    text-align: center;
}
.roview-table-cstm table.table-bordered thead tr th {
    min-width: 60px !important;
}
input.hidePlaceHolder {
    color: transparent !important;
}

input.hidePlaceHolder:focus,
input.hidePlaceHolder:hover,
input.hidePlaceHolder:active {
    color: #000 !important;
}
.status-radio label {
    text-align: left;
    width: 140px;
    margin-right: 0;
    font-weight: normal;
}
@media (min-width: 768px) {
    .col-md-3 {
        max-width: 22%;
        margin-right: 15px;
    }
}


.red {  
    color: #ED2939 !important;
    font-weight: bold !important;
}

input.hidePlaceHolder {
    color: transparent !important;
}

.child-data splitship-child td {
    background: #fafafa !important;
}

.roview-table-cstm .child-data td {
    background: #fafafa !important;
}


#poView .modal-body p .label {
    width: 40% !important;
}
#poView .modal-body p .value {
    width: 60% !important;
}
.roview-table-cstm table.table-bordered thead tr th {
    min-width: 70px !important;
}

.host ::ng-deep .ui-table-scrollable-header .ui-widget-header
{
    width: 100% !important;
    overflow: scroll !important;;

}
.table-child-header-mgmt{
    min-width: 300px !important;
}

.check-box-back{
    background-color: #fff !important;
}
.history-body{
    overflow-y: scroll;
}

.address-memo-view{
    vertical-align: top;
}
.approver-parent-checkbox{
    min-width: 90px; align-items: center;
}
.approver-memo{
    float: left !important;
}
.approver-total-cost{
    text-align: right !important;
}
.mgmt-sructure-td-width{
    min-width: 300px !important;
}