control-label {
    margin-top: 10px;
    text-align: left;
    width: 100% !important;
    font-weight: 500;
}
.modal.assetattributetype {
    .modal-body div.form-group label,label {
        font-weight: normal;
        width: 100%;
        text-align:left;
    }
}

.modal {
    .modal-body.assetattributetype label {
        font-weight: normal !important;
        width: 100% !important;
        text-align: left;
        margin-top: 0;
    }

    .modal-body.editdisposaltype .form-group {
        margin-bottom: 10px;
    }
}