

// #footer {
//     display: inline-flex;
//     font-size: 11px !important;
// }

.footer {
    margin-left: 65%;
}

.footer1 {
    margin-right: 0px;
}
.new-label {
    color: cadetblue;
}

.text-item {
    width: 100%;
    border-radius: 5px !important;
    margin-left: 0px;
}

.control-label {
    margin-top: 5px;
    text-align: left;
    width: 100% !important;
}
