.pub-global-filter label {
    width: auto !important;
    text-align: left !important;
}
.audithistory-cstm tr td {
    // padding: 3px 2px !important;
}
.pubHistory-table.table-bordered thead tr th {
    width: 110px;
    padding: 8px 5px !important;
}
.control-label {
margin-top: 10px;
text-align: left;
width: 150px !important;
//font-weight: 500;
}

.labels-font-header {
width: auto !important;
margin-top: 0;
}
// .modal-body p .value{
//     width: 60%;
// }
// .modal-body p .label {
//     width: 40%;
// }
.width-130{
    min-width:130px;
}
.width-200{
    min-width:200px;
}
.width-80{
    min-width:80px;
}
.aligin_cer{
    display: inline-flex;
    width: 100%;
    text-align: center;
    // padding-left: 8%;
    .value{
        color: #ff5663;
        padding-left: 4px;

    }
}
.atv_cv{
    position: relative;
    top: 0px;
    left: 5px;
}

.history-body{
    overflow-y: scroll;
}