<div class="card align-center" >
    <div class="card-body">
        <form #shippingForm="ngForm">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="card card-stock">
                        <div class="card-body">
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Shipping Order Num</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.woShippingNum"
                                           name="shippingOrderNum" disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Status<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select [(ngModel)]="shippingHeader.woShippingStatusId" name="status" required [disabled]="isView">
                                        <option value="">Select</option>
                                        <option *ngFor="let status of [{'label':'Open', 'id':1}, {'label':'Shipped', 'id':2}, {'label':'In Transit', 'id':3}, {'label':'Received', 'id':4}]" [value]="status.id">{{status.label}}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Open Date <span class="clr-red">*</span> </label>
                                </div>
                                <div class="col-md-8">
                                    <p-calendar [showIcon]="true" (onSelect)="calculateExpiryDate()"
                                    [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100" [(ngModel)]="shippingHeader.openDate" name="openDate" [disabled]="isView" required></p-calendar>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Customer</label>
                                </div>
                                <div class="col-md-8" *ngIf="workOrderGeneralInformation && workOrderGeneralInformation.customerDetails">
                                    <input class="form-control" (change)="calculateExpiryDate()" type="text" [(ngModel)]="workOrderGeneralInformation.customerDetails.customerName" name="customer" disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12" *ngIf="workOrderGeneralInformation && workOrderGeneralInformation.customerDetails">
                                <div class="col-md-4">
                                    <label>Cus Code</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="workOrderGeneralInformation.customerDetails.customerCode" name="customerCode" disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Cert Num</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="number" [(ngModel)]="validFor" name="certNum" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-3">
                    <div class="card card-stock">
                        <div class="card-header">
                            <h5>Manufacturer</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Manufacturer</label>
                                <select [(ngModel)]="stockLineForm.manufacturerId" name="manufacturerId">
                                    <option value="0">-- Select --</option>
                                    <option *ngFor="let manufacturer of allManufacturerInfo" [ngValue]="manufacturer.value">{{manufacturer.label}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Mfg. Lot Num</label>
                                <input class="form-control" type="text" name="manufacturerLotNumber" [(ngModel)]="stockLineForm.manufacturerLotNumber">
                            </div>
                            <div class="form-group">
                                <label>Mfg. Batch Num</label>
                                <input class="form-control" type="text" name="manufacturingBatchNumber" [(ngModel)]="stockLineForm.manufacturingBatchNumber">
                            </div>
                            <div class="form-group">
                                <label>Mfg. Date</label>
                                <p-calendar class="workflow-clder" [showIcon]="true" [maxDate]="minDateValue" name="manufacturingDate" [(ngModel)]="stockLineForm.manufacturingDate"></p-calendar>
                            </div>
                        </div>
                    </div>
                    </div> -->


                <div class="col-md-4">
                    <div class="card card-stock">
                        <div class="card-body">
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Ship Via <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select [(ngModel)]="shippingHeader.shipviaId" [disabled]="isView" name="shipVia" required>
                                        <option value="">Select</option>
                                        <option *ngFor="let shipvia of shipViaList" [value]="shipvia.value">{{shipvia.label}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Ship Date<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <p-calendar [showIcon]="true" (onSelect)="calculateExpiryDate()" [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100" [(ngModel)]="shippingHeader.shipDate" name="shipDate" [disabled]="isView" required></p-calendar>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Airway Bill<span class="clr-red">*</span> </label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.airwayBill" name="airwayBill" [disabled]="isView" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">House Airway Bill<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.houseAirwayBill" name="houseAirwayBill" [disabled]="isView" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Tracking #<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.trackingNum" name="trackingNum" [disabled]="isView" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Weight<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="number" [(ngModel)]="shippingHeader.weight" name="weight" [disabled]="isView" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-stock">
                        <div class="card-body">
                            <!-- <div class="form-group col-12">
                                <div class="col-6">
                                    <label>SO Num</label>
                                </div>
                                <div class="col-6" *ngIf="workOrderGeneralInformation && workOrderGeneralInformation.customerDetails">
                                    <input class="form-control" type="text" [(ngModel)]="workOrderGeneralInformation.workOrderNum" name="soNum" disabled/>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <div class="col-6">
                                    <label>RO Num</label>
                                </div>
                                <div class="col-6" *ngIf="workOrderGeneralInformation && workOrderGeneralInformation.customerDetails">
                                    <input class="form-control" type="text" [(ngModel)]="workOrderGeneralInformation.workOrderNum" name="roNum" readonly/>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <div class="col-6">
                                    <label>PO Num</label>
                                </div>
                                <div class="col-6" *ngIf="workOrderGeneralInformation && workOrderGeneralInformation.customerDetails">
                                    <input class="form-control" type="text" [(ngModel)]="workOrderGeneralInformation.workOrderNum" name="poNum" readonly/>
                                </div>
                            </div> -->
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>WO Num</label>
                                </div>
                                <div class="col-md-8" *ngIf="workOrderGeneralInformation && workOrderGeneralInformation.customerDetails">
                                    <input class="form-control" type="text" [(ngModel)]="workOrderGeneralInformation.workOrderNum" name="woNum" disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Shipment</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="number" [(ngModel)]="shippingHeader.shipment" name="shipment" [disabled]="isView" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="heading">Address Details</h4>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="card card-stock">
                        <div class="card-header">
                            <h5 class="text-center">Origin</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Name <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <!-- <input class="form-control" type="text" [(ngModel)]="shippingHeader.originName"
                                           name="originName" [disabled]="isView" required /> -->
                                           <!-- <p-dropdown placeholder="Select" name="originName" #originName="ngModel"
                                           [options]="orignSiteNames" class="p-dropdown-custom-md p-dropdown-mh120 shipping_v"
                                           [(ngModel)]="shippingHeader.originSiteId"
                                           (onChange)="orignSiteNameEvent($event.value)" required>
                               </p-dropdown> --> 
                               <select [(ngModel)]="shippingHeader.originSiteId" name="originSiteId"  (change)="setOriginToAddress(shippingHeader.originSiteId)" required >
                                <!-- <option value=""></option> -->
                                <option *ngFor="let site of orignSiteNames" [ngValue]="site.originSiteId">{{site.originName}}</option>
                            </select>
<!-- 
                                <select [(ngModel)]="receivingForm.siteId" name="siteId"
                                        (change)="siteValueChange(receivingForm.siteId)" required>
                                    <option value="0">-- Select --</option>
                                    <option *ngFor="let site of allSites" [ngValue]="site.siteId">{{site.name}}</option>
                                </select> -->

                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Address Line 1<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.originAddress1" name="originAddress1" disabled required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Address Line 2</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.originAddress2" name="originAddress2" disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>City<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.originCity" name="originCity" disabled required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>State<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.originState" name="originState" disabled required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Zip<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.originZip" name="originZip"  required  disabled/>
                                </div>
                            </div>
                            <!-- <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Country<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select [(ngModel)]="shippingHeader.originCountryId" name="originCountry" required [disabled]="isView">
                                        <option value=""></option>
                                        <option *ngFor="let country of countryList" [value]="country.value">{{country.label}}</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Country<span class="clr-red">*</span></label>
                                </div>
                                <!--<div class="col-md-8">
                                    <select [(ngModel)]="shippingHeader.soldToCountryId" name="soldToCountryId" required [disabled]="isView" disabled>
                                        <option value=""></option>
                                        <option *ngFor="let country of countryList" [value]="country.value">{{country.label}}</option>
                                    </select>
                                </div>-->
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.originCountryName" name="soldToCountryName2"  required disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-stock">
                        <div class="card-header">
                            <h5 class="text-center">Bill To</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Name <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToName" name="soldName" [disabled]="isView" required disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Site <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select [(ngModel)]="shippingHeader.soldToSiteId" (change)="setSoldToAddress()"
                                            [disabled]="isView" name="soldToSite" required>
                                        <option value="">Select</option>
                                        <option *ngFor="let site of siteList" [value]="site.customerShippingAddressId">
                                            {{site.siteName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Address Line 1<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToAddress1"
                                           name="soldToAddress1" required [disabled]="isView" disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Address Line 2</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToAddress2"
                                           name="soldToAddress2" [disabled]="isView" disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>City<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToCity" name="soldToCity" [disabled]="isView" required disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>State<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToState" name="soldToState" [disabled]="isView" required disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Zip<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToZip" name="soldToZip" [disabled]="isView" required disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Country<span class="clr-red">*</span></label>
                                </div>
                                <!--<div class="col-md-8">
                                    <select [(ngModel)]="shippingHeader.soldToCountryId" name="soldToCountryId" required [disabled]="isView" disabled>
                                        <option value=""></option>
                                        <option *ngFor="let country of countryList" [value]="country.value">{{country.label}}</option>
                                    </select>
                                </div>-->
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToCountryName" name="soldToCountryName" [disabled]="isView" required disabled />
                                </div>
                            </div>
                            <div class="checkbox-cstm sipto-ceck-div">
                                <label class="shipto-ceck-label">
                                  <!--  -->
                                  <input type="checkbox" [(ngModel)]="shippingHeader.isSameForShipTo" name="cparent" id="cparent"  (click)="assignDetails($event.target.checked)"
                                    />
                                  <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                Is same for Ship To
                                </label>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-stock">
                        <div class="card-header">
                            <h5 class="text-center">Ship To</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Name <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <!-- <input class="form-control" type="text"
                                         [(ngModel)]="shippingHeader.shipToName" name="shipToName"
                                          [disabled]="isView" required/> -->

                                    <p-autoComplete field="customerName"
                                                    [(ngModel)]="shippingHeader.shipToCustomerId"
                                                    name="shipToName"
                                                    errorMessage="Records not found"
                                                    [forceSelection]="true"
                                                    (onSelect)="getSiteNamesByShipCustomerId($event)"
                                                    [suggestions]="customerNamesList"
                                                    (completeMethod)="filterCustomerName($event)"
                                                    (onKeyUp)="clearAddress('ShipTo', $event.target.value)"
                                                    [size]="30"
                                                    [minLength]="1"
                                                    #customerName="ngModel"
                                                    required
                                                    [dropdown]="true"
                                                    class="p-autoComplete-ctsm"
                                                    [disabled]="isView">
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Site <span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <select [(ngModel)]="shippingHeader.shipToSiteId" (change)="setShipToAddress()"
                                            [disabled]="isView" name="shipToSite" required>
                                        <option value="">Select</option>
                                        <option *ngFor="let site of shipCustomerSiteList" [value]="site.customerShippingAddressId">{{site.siteName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Address Line 1<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.shipToAddress1"
                                           name="shipToAddress1" disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Address Line 2</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.shipToAddress2" name="shipToAddress2" disabled />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>City<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.shipToCity" name="shipToCity" disabled required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>State<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.shipToState" name="shipToState" disabled required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Zip<span class="clr-red">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.shipToZip" name="shipToZip" disabled required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Country<span class="clr-red">*</span></label>
                                </div>
                                <!--<div class="col-md-8">
                                    <select [(ngModel)]="shippingHeader.shipToCountryId" disabled name="shipToCountry" required>
                                        <option value=""></option>
                                        <option *ngFor="let country of countryList" [value]="country.value">{{country.label}}</option>
                                    </select>
                                </div>-->
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader.shipToCountryName" name="shipToCountryName" disabled required />
                                </div>
                            </div>
                        </div>
                    </div>
               

                
                </div>
            </div>
            <!--  -->
            <!-- {{shippingHeader.originCountryId}}- {{shippingHeader.shipToCountryId}} -->
            <!-- *ngIf="(shippingHeader.soldToCountryId && shippingHeader.shipToCountryId) && shippingHeader.soldToCountryId !=shippingHeader.shipToCountryId" -->
         <div *ngIf="(shippingHeader.originCountryId && shippingHeader.shipToCountryId) && shippingHeader.originCountryId !=shippingHeader.shipToCountryId"> 
            <h4 class="heading">Custom Info </h4>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="card card-stock">
                        <div class="card-body">
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Entry Type </label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['entryType']" name="entryType" [disabled]="isView" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Entry Num</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['entryNumber']" name="entryNumber" [disabled]="isView" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Entry Commodity Code</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['commodityCode']" name="entryCommodityCode" [disabled]="isView" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-stock">
                        <div class="card-body">
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>EPU </label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['epu']" name="epu" [disabled]="isView" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>UCR</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['ucr']" name="ucr" [disabled]="isView" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Master UCR</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['masterUCR']" name="masterUCR" [disabled]="isView" />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Movement Ref No</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['movementRefNo']" name="MovementRefNo" [disabled]="isView" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-stock">
                        <div class="card-body">
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label class="workorder-label">Customs Value </label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="number" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['customsValue']" name="customsValue" [disabled]="isView" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>Net Mass</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="number" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['netMass']" name="netMass" [disabled]="isView" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-4">
                                    <label>VAT Value</label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" type="number" [(ngModel)]="shippingHeader['workOrderCustomsInfo']['vatValue']" name="VATValue" [disabled]="isView" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        </form>
    </div>
    <div class="row">
        <button *ngIf="!isView" class="btn btn-primary pull-right btn-width-100" (click)="save()" [disabled]="!shippingForm.valid">Save</button>
    </div>
</div>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>
