.align-center{
    align-items: center !important;
}
.shipto-check-div{
    margin-left: 0 !important;
}
.sipto-check-label{
    width: auto !important;margin-top: 3px !important;
}
.btn-width-100{
    width: 100px !important;
}