.align-center{
    align-items: center !important;
}
.shipto-check-div{
    margin-left: 0 !important;
}
.sipto-check-label{
    width: auto !important;margin-top: 3px !important;
}
.btn-width-100{
    width: 100px !important;
}
.work-order-shipping-lable{
    width: 150px;
}
label {
    text-align: left;
    width: 150px;
    margin-right: 0;
    font-weight: normal;
}