.align-center{
    align-items: center !important;
}
.shipto-check-div{
    margin-left: 0 !important;
}
.sipto-check-label{
    width: auto !important;margin-top: 3px !important;
}
.btn-width-100{
    width: 100px !important;
}
.work-order-shipping-lable{
    width: 150px;
}
.number-text-align{
    text-align: right;
}
// label {
//     text-align: left;
//     width: 150px;
//     margin-right: 0;
//     font-weight: normal;
// }


.sale-order-shipping-lable{
    width: 150px;
}

label {
    text-align: left;
    width: 150px;
    margin-right: 0;
    font-weight: normal;
}
input[type='tel']{
    text-align: end !important;
  }
  .ted_v{
    width: 46px !important;
  }
input[type="tel"],
input[type="text"], input[type="number"], select {
    height: 24px !important;
    border-radius: 5px !important;
}
textarea {
    border-radius: 5px !important;
}
.card-height{
    padding: 10px 12px !important;
}
.card-title{
    margin-bottom: 0 !important;
    font-size: 12px !important;
}
.head-notes {
    height: 25px !important;
}
.inner-addon .ui-autocomplete-input {
    width: 100% !important;
}
.partsList-table-tr th {
    min-width: 100px;
}
.shipping-div{
    padding-left:25px !important; padding-top:5px !important
}
.perform-shipping-div{
    float: right !important; margin-right: 10px !important;
}
.font-10{
    font-size: 10px !important;
}
.summary-column{
    width:auto !important; background-color: #EAF2C5 !important;
}
.font-bold{
    font-weight: bold !important;
}
.m-l-40{
    margin-left: 40px !important;
}
.label-span{
    margin-left:3px !important;cursor:pointer !important;
}
.padding-5{
    padding-top: 5px !important;
}
.width-100{
    width: 100px !important;
}