<div class="form-group" #calendarWrap>
    <div [ngClass]="(isViewMode == false) ? 'row' : 'row ui-tabview-panels'">
        <button *ngIf="isViewMode == false" type="button" class="btn btn-primary ml-1" (click)="addPartNumber()"
            [disabled]="salesQuote.isApproved">
            Add PN
        </button>
        <button *ngIf="isViewMode == false" type="button" class="btn btn-primary ml-1"
            [disabled]="selectedParts.length == 0 || !canSaveParts" (click)="partsAction('Reserve')">
            Reserve
        </button>
        <button *ngIf="isViewMode == false" type="button" class="btn btn-primary ml-1"
            [disabled]="selectedParts.length == 0 || !canSaveParts" (click)="partsAction('Unreserve')">
            Unreserve
        </button>
        <div [ngClass]="(isViewMode == false) ? 'table-responsive pas-table-cstm rro-part-table-cstm poro-table-cstm parts-list-table-align parts-zindex' : 'table-responsive pas-table-cstm poro-table-cstm parts-list-table-align parts-zindex'"
            style="min-height: 130px !important;">
            <div class="tableFixHead">
                <table class="table table-bordered" id="so-table">
                    <tr class="font-size-10">
                        <th *ngFor="let summaryColumn of summaryColumns" [ngStyle]="{'min-width': summaryColumn.width}">
                            <div *ngIf="summaryColumn.field == 'quantityToBeQuoted'
                                 || summaryColumn.field == 'customerRef'
                                 || summaryColumn.field == 'quantityRequested'
                                 || summaryColumn.field == 'quantityOrdered'">
                                {{ summaryColumn.header }}
                            </div>
                            <div *ngIf="summaryColumn.field != 'quantityToBeQuoted' 
                            && summaryColumn.field != 'customerRef'
                                && summaryColumn.field != 'quantityRequested'
                                && summaryColumn.field != 'quantityOrdered'">
                                {{ summaryColumn.header }}
                            </div>
                        </th>
                        <th colspan="13"></th>
                        <th *ngIf="isViewMode == false"
                            style="position: sticky !important; min-width: 145px !important;">Actions
                        </th>
                    </tr>
                    <ng-container *ngIf="summaryParts.length > 0">
                        <ng-container *ngFor="let summaryPart of summaryParts;let rowIndex=index;">
                            <tbody>
                                <tr ngClass="'row-bg1'" pReorderableRowHandle>
                                    <td *ngFor="let summaryColumn of summaryColumns; let i = index"
                                        class="summary-column" pReorderableRowHandle>
                                        <span class="float-right" *ngIf="summaryColumn.field == 'fixRate'">
                                            {{summaryPart[summaryColumn.field] | twoDecimalGlobalNumberFormatPipe : '1.5'}}
                                        </span>
                                        <span *ngIf="summaryColumn.field == 'itemNo'">
                                            {{summaryPart[summaryColumn.field] }}
                                        </span>
                                        <span *ngIf="summaryColumn.field != 'itemNo'
                                                    && summaryColumn.field != 'quantityRequested'
                                                    && summaryColumn.field != 'quantityToBeQuoted'
                                                    && summaryColumn.field != 'quantityAlreadyQuoted'
                                                    && summaryColumn.field != 'qtyAvailable'
                                                    && summaryColumn.field != 'qtyReserved'
                                                    && summaryColumn.field != 'quantityPrevShipped'
                                                    && summaryColumn.field != 'qtyBackOrder'
                                                    && summaryColumn.field != 'qtyOnHand'
                                                    && summaryColumn.field != 'fixRate'
                                                    && summaryColumn.field != 'grossSalePrice'
                                                    && summaryColumn.field != 'salesDiscountExtended'
                                                    && summaryColumn.field != 'netSalesPriceExtended'
                                                    && summaryColumn.field != 'misc'
                                                    && summaryColumn.field != 'freight'
                                                    && summaryColumn.field != 'taxAmount'
                                                    && summaryColumn.field != 'totalSales'
                                                    && summaryColumn.field != 'unitCostExtended'
                                                    && summaryColumn.field != 'marginAmountExtended'
                                                    && summaryColumn.field != 'marginPercentageExtended'">
                                            {{summaryPart[summaryColumn.field]}}
                                        </span>
                                        <span class="float-right" *ngIf="summaryColumn.field == 'quantityRequested'
                                                    || summaryColumn.field == 'quantityToBeQuoted'
                                                    || summaryColumn.field == 'quantityAlreadyQuoted'
                                                    || summaryColumn.field == 'qtyAvailable'
                                                    || summaryColumn.field == 'qtyReserved'
                                                    || summaryColumn.field == 'quantityPrevShipped'
                                                    || summaryColumn.field == 'qtyBackOrder'
                                                    || summaryColumn.field == 'qtyOnHand'">
                                            {{summaryPart[summaryColumn.field] | globalNmberFormat}}
                                        </span>
                                        <span class="float-right" *ngIf=" summaryColumn.field == 'grossSalePrice'
                                                    || summaryColumn.field == 'salesDiscountExtended'
                                                    || summaryColumn.field == 'netSalesPriceExtended'
                                                    || summaryColumn.field == 'misc'
                                                    || summaryColumn.field == 'freight'
                                                    || summaryColumn.field == 'taxAmount'
                                                    || summaryColumn.field == 'totalSales'
                                                    || summaryColumn.field == 'unitCostExtended'
                                                    || summaryColumn.field == 'marginAmountExtended'
                                                    || summaryColumn.field == 'marginPercentageExtended'">
                                            {{summaryPart[summaryColumn.field] | twoDecimalGlobalNumberFormatPipe}}
                                        </span>
                                    </td>
                                    <td colspan="13" style="background-color: #EAF2C5 !important;"></td>
                                    <td *ngIf="isViewMode == false" style="position:sticky; width:80px">
                                        <span>
                                            <a [class.disabled]="salesQuote.isApproved"
                                                [ngClass]="{'btn_disabled': salesQuote.isApproved}" class="btn nobg"
                                                (click)="adjustQty(summaryPart,rowIndex)" matTooltip="Adjust Qty"
                                                matTooltipPosition="above">
                                                <i class="fa fa-cubes" style="color: #000;"></i>
                                            </a>
                                        </span>
                                        <span *ngIf="summaryPart['methodType'] == 'S'">
                                            <a [class.disabled]="salesQuote.isApproved"
                                                [ngClass]="{'btn_disabled': salesQuote.isApproved}" class="btn nobg"
                                                (click)="addPartNumber(summaryPart,rowIndex)" matTooltip="Add StkLine"
                                                matTooltipPosition="above">
                                                <i class="fa fa-plus" style="color: #000;"></i>
                                            </a>
                                        </span>
                                        <span>
                                            <a class="btn nobg" (click)="viewPartNumber(summaryPart,rowIndex)"
                                                matTooltip="View Inventory" matTooltipPosition="above">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                        <span>
                                            <a [class.disabled]="salesQuote.isApproved || isViewMode || summaryPart['qtyReserved'] > 0"
                                                [ngClass]="{'btn_disabled': salesQuote.isApproved || isViewMode || summaryPart['qtyReserved'] > 0}"
                                                class="btn nobg"
                                                (click)="openmultiplepartDelete(summaryPart,rowIndex,deletepartcontent)"
                                                matTooltip="Remove" matTooltipPosition="above">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </span>
                                        <span>
                                            <a class="btn nobg btn-pluspo-cstm" (click)="createPO(summaryPart)"
                                                matTooltip="Create PO" matTooltipPosition="above">
                                                <i class="fa fa-plus"> </i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="child-header splitship-head child-header-back">
                                    <th class="background-white"></th>
                                    <th>PN</th>
                                    <th>PN Description </th>
                                    <th colspan="2">Stk Line Num</th>
                                    <th colspan="2">Ser Num</th>
                                    <th>Stk Type</th>
                                    <th>Cond</th>
                                    <th>Priority<span class="clr-red">*</span></th>
                                    <th>Cust Req Date<span class="clr-red">*</span></th>
                                    <th>Cust PRMSD Date<span class="clr-red">*</span></th>
                                    <th>Est Ship Date<span class="clr-red">*</span></th>
                                    <th>Qty Ord</th>
                                    <th>Qty Resvd</th>
                                    <th style="min-width: 60px;">Qty Avail </th>
                                    <th style="min-width: 80px;">Qty On Hand</th>
                                    <!-- <th>Qty Back Ord</th> -->
                                    <th>Qty to Ship</th>
                                    <th>Alt/Equiv</th>
                                    <th>Status </th>
                                    <th>Qte Num</th>
                                    <th style="min-width: 85px;">Qte Ver</th>
                                    <th style="min-width: 80px;">Qte Date</th>
                                    <th style="min-width: 75px;">Qty Invoiced</th>
                                    <th style="min-width: 100px;">Invoice Num</th>
                                    <th style="min-width: 100px;">Invoice Date </th>
                                    <!-- <th style="min-width: 84px;">Qty Prev Shpd</th>
                                    <th style="min-width: 100px;">Last Ship Date </th> -->
                                    <th style="min-width: 90px;">Ship Ref</th>
                                    <!-- <th style="min-width: 60px;">Unit Cost </th>
                                    <th style="min-width: 70px;">Markup % </th>
                                    <th style="min-width: 103px;">Markup Amt/Unit </th>
                                    <th style="min-width: 100px;">Gross Price/Unit </th>
                                    <th style="min-width: 50px;">Disc. % </th>
                                    <th style="min-width: 90px;">Disc. Amt/Unit </th>
                                    <th style="min-width: 75px;">Markup Amt </th>
                                    <th style="min-width: 100px;">Gross Sales Amt </th>
                                    <th style="min-width: 60px;">Disc. Amt </th>
                                    <th style="min-width: 85px;">Net Sale Amt</th>
                                    <th style="min-width: 150px;">Tax Type </th>
                                    <th style="min-width: 55px;">Tax Amt</th>
                                    <th>Total</th>
                                    <th style="min-width: 85px;">Ext Cost</th>
                                    <th style="min-width: 95px;">Prod Margin</th>
                                    <th style="min-width: 100px;">Prod Margin %</th> -->
                                    <th style="min-width: 75px !important;">Per Unit</th>
                                    <th style="min-width: 75px !important;">Ext. Price</th>
                                    <th style="min-width: 80px !important;">Misc Charges</th>
                                    <th style="min-width: 85px !important;">Total Revenue</th>
                                    <th style="min-width: 80px !important;">Unit Cost</th>
                                    <th style="min-width: 80px !important;">Ext Cost</th>
                                    <th style="min-width: 85px !important;">Margin Amt</th>
                                    <th style="min-width: 85px !important;">Margin %</th>
                                    <th style="min-width: 75px !important;">Freight</th>
                                    <th style="min-width: 70px !important;">Tax Amt</th>
                                    <th style="min-width: 90px;">Cntrl Num</th>
                                    <th style="min-width: 100px;">Cntrl ID Num</th>
                                    <th style="min-width:120px">Notes</th>
                                    <th *ngIf="isViewMode == false"
                                        style="min-width: 120px; position: sticky !important">Actions</th>
                                </tr>
                                <tr class="child-data splitship-child child-data-back"
                                    *ngFor="let part of summaryPart.childParts; let stockIndex = index"
                                    [hidden]="part.isDeleted">
                                    <td></td>
                                    <td>
                                        {{ part.partNumber }}
                                    </td>
                                    <td>
                                        {{ part.description }}
                                    </td>
                                    <td colspan="2">
                                        {{ part.stockLineNumber }}
                                    </td>
                                    <td colspan="2">
                                        {{ part.serialNumber }}
                                    </td>
                                    <td>
                                        {{ part.pmaStatus }}
                                    </td>
                                    <td>
                                        {{ part.conditionDescription }}
                                    </td>
                                    <td *ngIf="isViewMode == true || isEditDisabled(salesQuote, part)">
                                        {{  part.priorityName }}
                                    </td>
                                    <td *ngIf="isViewMode == false && !isEditDisabled(salesQuote, part)">
                                        <select name="priorityId" [(ngModel)]="part.priorityId" required id="priorityId"
                                            #priorityId="ngModel" (change)="onEditPartDetails()">
                                            <option *ngFor=" let p of salesQuote.priorities" [ngValue]="p.priorityId">
                                                {{ p.description }}
                                            </option>
                                        </select>
                                    </td>
                                    <td *ngIf="isViewMode == true || isEditDisabled(salesQuote, part)">
                                        {{  part.customerRequestDate | date: "MM/dd/yyyy" }}
                                    </td>
                                    <td *ngIf="isViewMode == false && !isEditDisabled(salesQuote, part)">
                                        <p-calendar [ngClass]="inputValidCheckHeader ? 'p-clder-validate' : ''"
                                            class="pas-clder" [showIcon]="true" appendTo="body"
                                            name="customerRequestDate" [yearNavigator]="true" [monthNavigator]="true"
                                            yearRange="1900:2100" [(ngModel)]="part.customerRequestDate"
                                            (ngModelChange)="onEditPartDetails()" #customerRequestDate="ngModel"
                                            [minDate]="salesQuote.openDate" required>
                                        </p-calendar>
                                        <div *ngIf="customerRequestDate.invalid && (customerRequestDate.dirty || customerRequestDate.touched)"
                                            class="alert alert-danger alert-danger-cstm">
                                            <div *ngIf="customerRequestDate.errors.required">
                                                <small>Customer Request Date is required </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td *ngIf="isViewMode == true || isEditDisabled(salesQuote, part)">
                                        {{  part.promisedDate | date: "MM/dd/yyyy" }}
                                    </td>
                                    <td *ngIf="isViewMode == false && !isEditDisabled(salesQuote, part)">
                                        <p-calendar [ngClass]="inputValidCheckHeader ? 'p-clder-validate' : ''"
                                            class="pas-clder" [showIcon]="true" appendTo="body" name="promisedDate"
                                            [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100"
                                            [(ngModel)]="part.promisedDate" (ngModelChange)="onEditPartDetails()"
                                            #promisedDate="ngModel" [minDate]="salesQuote.openDate" required>
                                        </p-calendar>
                                        <div *ngIf="promisedDate.invalid && (promisedDate.dirty || promisedDate.touched)"
                                            class="alert alert-danger alert-danger-cstm">
                                            <div *ngIf="promisedDate.errors.required">
                                                <small>Promised Date is required </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td *ngIf="isViewMode == true || isEditDisabled(salesQuote, part)">
                                        {{  part.estimatedShipDate | date: "MM/dd/yyyy" }}
                                    </td>
                                    <td *ngIf="isViewMode == false && !isEditDisabled(salesQuote, part)">
                                        <p-calendar [ngClass]="inputValidCheckHeader ? 'p-clder-validate' : ''"
                                            class="pas-clder" [showIcon]="true" appendTo="body" name="estimatedShipDate"
                                            [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100"
                                            [(ngModel)]="part.estimatedShipDate" (ngModelChange)="onEditPartDetails()"
                                            #estimatedShipDate="ngModel" [minDate]="salesQuote.openDate" required>
                                        </p-calendar>
                                        <div *ngIf="estimatedShipDate.invalid && (estimatedShipDate.dirty || estimatedShipDate.touched)"
                                            class="alert alert-danger alert-danger-cstm">
                                            <div *ngIf="estimatedShipDate.errors.required">
                                                <small>Estimated Ship Date is required </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        {{ part.quantityFromThis | globalNmberFormat  }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.qtyReserved | globalNmberFormat }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.qtyAvailable | globalNmberFormat }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.quantityOnHand | globalNmberFormat }}
                                    </td>
                                    <!-- <td class="text-right">
                                        {{  part.qtyBackOrder | globalNmberFormat }}
                                    </td> -->
                                    <td class="text-right">
                                        {{ part.qtyToShip | globalNmberFormat }}
                                    </td>
                                    <td>
                                        {{  part.altOrEqType }}
                                    </td>
                                    <td>
                                        {{ part.statusName }}
                                    </td>
                                    <td>
                                        {{ part.salesQuoteNumber }}
                                    </td>
                                    <td>
                                        {{ part.quoteVesrion }}
                                    </td>
                                    <td>
                                        {{ part.quoteDate | date : "MM/dd/yyyy"}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.qtyInvoiced | globalNmberFormat }}
                                    </td>
                                    <td>
                                        {{ part.invoiceNumber }}
                                    </td>
                                    <td>
                                        {{ part.invoiceDate | date : "MM/dd/yyyy"}}
                                    </td>
                                    <!-- <td class="text-right">
                                        {{ part.qtyPreviouslyShipped | globalNmberFormat }}
                                    </td>
                                    <td>
                                        {{ part.lastShippedDate | date : "MM/dd/yyyy"}}
                                    </td> -->
                                    <td>
                                        {{ part.shipReference }}
                                    </td>
                                    <!-- <td class="text-right">
                                        {{ part.unitCostPerUnit | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.markUpPercentage | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.markupPerUnit | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.grossSalePricePerUnit | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.salesDiscount | twoDecimalGlobalNumberFormatPipe }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.salesDiscountPerUnit | twoDecimalGlobalNumberFormatPipe }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.markupExtended | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.grossSalePrice | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.salesDiscountExtended| twoDecimalGlobalNumberFormatPipe  }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.netSalesPriceExtended | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td>
                                        {{ part.taxType }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.taxAmount | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.totalSales | twoDecimalGlobalNumberFormatPipe }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.unitCostExtended | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.marginAmountExtended | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.marginPercentagePerUnit | twoDecimalGlobalNumberFormatPipe}}
                                    </td> -->
                                    <td class="text-right">
                                        {{ part.salesPricePerUnit | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.salesPriceExtended | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.misc | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ getTotalRevenue(part) | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ part.unitCostPerUnit | twoDecimalGlobalNumberFormatPipe }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.unitCostExtended | twoDecimalGlobalNumberFormatPipe }}
                                    </td>
                                    <td class="text-right">
                                        {{ getMarginAmount(part) | twoDecimalGlobalNumberFormatPipe}}
                                    </td>
                                    <td class="text-right">
                                        {{ getMarginPercentage(part) | twoDecimalGlobalNumberFormatPipe}}
                                        %</td>
                                    <td class="text-right">
                                        {{ part.freight  | twoDecimalGlobalNumberFormatPipe }}
                                    </td>
                                    <td class="text-right">
                                        {{ part.taxAmount  | twoDecimalGlobalNumberFormatPipe }}
                                    </td>
                                    <td>
                                        {{ part.controlNumber }}
                                    </td>
                                    <td>
                                        {{ part.idNumber }}
                                    </td>
                                    <td class="width-120"
                                        *ngIf="isViewMode == false && !isEditDisabled(salesQuote, part)">
                                        <div class="form-group memo-popup-cstm mat_emo"
                                            style="width: 120px; display: inline-flex; margin-bottom: 0;">
                                            <div [innerHTML]="part.notes" class="text_editor_box"></div>
                                            <i class="fa fa-pencil" data-toggle="modal"
                                                style="position: relative;top: 6px;padding-left:4px;"
                                                data-target="#textarea-popupNotes" matTooltip="Notes"
                                                matTooltipPosition="above"
                                                (click)="onAddTextAreaInfo(part,stockIndex, rowIndex)"></i>
                                        </div>
                                    </td>
                                    <td *ngIf="isViewMode == true || isEditDisabled(salesQuote, part)">
                                        <span class="value">
                                            <p class="p-0 m-0 p_textEditor truncate-text" matTooltipPosition="above"
                                                [matTooltip]="parsedText(part.notes)"
                                                [innerHTML]="part.notes"></p>
                                        </span>
                                    </td>
                                    <td class="zui-sticky-col width-107" *ngIf="isViewMode == false">
                                        <span *ngIf="!isEditDisabled(salesQuote, part)">
                                            <a [class.disabled]="isEditDisabled(salesQuote, part)"
                                                [ngClass]="{'btn_disabled': isEditDisabled(salesQuote, part)}"
                                                class="btn nobg" (click)="openPartToEdit(part)" matTooltip="Edit"
                                                matTooltipPosition="above">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </span>
                                        <span>
                                            <a [class.disabled]="isDeleteDisabled(salesQuote, part)"
                                                [ngClass]="{'btn_disabled': isDeleteDisabled(salesQuote, part)}"
                                                class="btn nobg" (click)="openPartDelete(deleteContent,part)"
                                                matTooltip="Delete" matTooltipPosition="above">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </span>
                                        <span>
                                            <a class="btn nobg btn-plusro-cstm" (click)="createRO(part)"
                                                matTooltip="Create RO" matTooltipPosition="above"
                                                [class.disabled]="((part.qtyReserved == null || part.qtyReserved == 0) || (part.stockLineNumber == null || part.stockLineNumber == ''))"
                                                [ngClass]="{'btn_disabled': (part.qtyReserved == null || part.qtyReserved == 0)}">
                                                <i class="fa fa-plus" style="color: #259e08;"></i>
                                            </a>
                                        </span>
                                        <span>
                                            <a class="btn nobg btn-plusro-cstm"
                                                (click)="initiateCreateWOROPO(part, 'WO')" matTooltip="Create WO"
                                                matTooltipPosition="above"
                                                [class.disabled]="((part.qtyReserved == null || part.qtyReserved == 0) || (part.stockLineNumber == null || part.stockLineNumber == ''))"
                                                [ngClass]="{'btn_disabled': (part.qtyReserved == null || part.qtyReserved == 0)}">
                                                <i class="fa fa-plus" style="color: #24089e;"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="summaryParts.length == 0">
                        <tbody>
                            <tr>
                                <td colspan="48"
                                    style="color: red; font-weight: bold; text-transform: uppercase;margin-left:-15%">
                                    No records found
                                </td>
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
    <div #calendarWrapper>
    </div>
</div>
<div *ngIf="isViewMode == false" class="part-buttons">
    <button *ngIf="saveButton" type="button" [disabled]="canSaveParts" class="btn btn-primary part-number-button"
        (click)="approve()">
        <span>Update</span>
    </button>
    <button type="button" *ngIf="!saveButton" [disabled]="canSaveParts" class="btn btn-primary part-number-button"
        (click)="approve()">
        <span>Save</span>
    </button>
</div>
<div class="modal fade" id="textarea-popupNotes" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width: 400px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Notes</h4>
            </div>
            <div class="modal-body">
                <!-- <table class="table table-bordered table-fixed workflow-table-material">
                    <thead>
                        <th class="color-white">{{"Notes"}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p-editor [(ngModel)]="textAreaInfo" [style]="{'height':'320px'}" name="textAreaInfo"
                                    required>
                                </p-editor>

                            </td>
                        </tr>
                    </tbody>
                </table> -->
                <p-editor [(ngModel)]="textAreaInfo" [style]="{'height':'320px'}" name="textAreaInfo" required>
                </p-editor>
                <div class="editor-buttons">
                    <button type="button" class="btn btn-primary editor-buttons-margin" data-dismiss="modal"
                        (click)="onSaveTextAreaInfo(textAreaInfo)">
                        Save
                    </button>
                    <button type="button" class="btn btn-danger editor-buttons-margin" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<ng-template #addPart let-c="close" let-d="dismiss">
    <app-add-sales-part-number [display]="show" [selectedParts]="selectedParts" [salesQuote]="salesQuote"
        (select)="openSalesMargin($event)" [isStockLineViewMode]="isStockLineViewMode" [clearData]="clearData"
        [selectedSummaryRow]="selectedSummaryRow" (close)="onClose($event)" [type]="'SO'" [isEdit]="isEditMode"
        [isQtyAdjust]="isQtyAdjust" (save)="onSave($event)">
    </app-add-sales-part-number>
</ng-template>
<ng-template #salesReserve let-c="close" let-d="dismiss">
    <add-reserve-unreserve-part-number [salesQuote]="salesQuote" [employeesList]="employeesList"
        [selectedPartDataForAction]="selectedPartDataForAction" [selectedPartActionType]="selectedPartActionType"
        [selectedParts]="selectedParts" [part]="part" [salesOrderId]="salesOrderId" (close)="onCloseReserve($event)">
    </add-reserve-unreserve-part-number>
</ng-template>
<ng-template #salesMargin let-c="close" let-d="dismiss" tabindex="-1">
    <app-sales-margin tabindex="-1" [part]="part" [isEdit]="isEdit" (save)="openSalesMarginSave($event)"
        (close)="onCloseMargin($event)" (searchAnotherPN)="onSearchAnotherPN($event)"></app-sales-margin>
</ng-template>
<ng-template #deleteContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClosePartDelete()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6 class="modal-body">Part Number : {{part.partNumber}}</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deletePart()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="onClosePartDelete()">No</button>
    </div>
</ng-template>
<ng-template #updatePNDetailsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeConfirmationModal()">&times;</button>
        <h4 class="modal-title">Do you want to save the Part Details?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="approve()">Save</button>
    </div>
</ng-template>
<ng-template #deletepartcontent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseParMultipletDelete()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6 class="modal-body">Part Number : {{selectedSummaryRow.partNumber}}</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteMultiplePart()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="onCloseParMultipletDelete()">No</button>
    </div>
</ng-template>