label {
    text-align: left;
    width: 140px;
    margin-right: 0;
    font-weight: normal;
}
table {
    background: #fff;
}
// .form-control:disabled {
//     background-color: #e9ecef !important;
// }
.rpo-bcrumb {
    background-color: transparent;
    color: #295d92;
}
textarea {
    border-radius: 5px !important;
}
.ro-status-radios{
    margin-bottom:15px;
}
.head-notes {
    height: 28px !important;
}
.rpo-bcrumb li {
    font-family: 'Roboto';
    font-weight: bold;
}
input[type="text"], input[type="number"], select, textarea {
    height: 24px !important;
    border-radius: 5px !important;
}
// select:disabled {
//     background-color: #e9ecef !important;
// }
.btn-cstm {
    padding: 3px 8px !important;
}
.btn-cstm:before {
    font-size: 11px;
}
.po-table-tr th {
    padding: 8px 4px;
    text-align: center;
}
.btn-po-details {
    width: 75px !important;
    padding: 6px 2px 19px !important;
    // font-size: 12px !important;
    color: #fff;
    border-radius: 4px !important;
}
.btn-po-details:hover {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74;
}
.add-details-heading {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #337ab7;
}
.btn-ad-icons {
    padding: 6px !important;
    width: 24px !important;
    height: 24px !important;
    margin: -3px 2px 0 1px !important;
    border-radius: 0 !important;
}
.time-remaining input {
    width: 40px;
    margin: 5px;
    float: left;
}
.time-remaining tr td input:first-child {
    width: 50px;
}
.time-remaining span {
    float: left;
    margin-top: 10px;
}
.po-sub-tr {
    background-color: #fafafa;
}
.po-sub-tr th {
    padding: 8px 4px;
}
#adminsearchlocationajax .clr-red {
    font-size: 17px;
    line-height: 14px;
}
.stockGridpanel {
    margin-left: 6px;
    border: 1px solid #b0aeae;
    padding: 0px 6px 20px;
    margin-bottom: 5px;
}
.btn-po-details {
    font-size: 10.5px !important;
    font-weight: normal !important;
}
.more-info {
    background-color: #e8e8e8;
}
.min-width-40
{
    min-width: 40px !important;
    text-align: center !important;
}
.min-width-60
{
    min-width: 60px !important;
    text-align: center !important;
}

.time-remaining table td { 
    padding: 4px;
}
.min-width-80
{
    min-width: 80px !important;
    text-align: center !important;
}
.min-width-150
{
    min-width: 150px !important;
    text-align: center !important;
}
@media (min-width: 768px) {
    .col-md-3 {
        max-width: 22%;
        margin-right: 15px;
    }
}
.mgmt-structure-td-width{
    min-width: 450px!important;
}
