<div class="card" style="padding: 10px;">
    <div class="col-md-12 ">
        <h4 class="po-head-sm">{{selectedTab}} <a *ngIf="!isViewItemMaster" class="plusicon-cstm" href="#"
                data-toggle="modal" data-target="#alternateModalPopup" (click)="getalterqquparts()"
                matTooltip="Add {{selectedTab}}" tooltipPosition="top" matTooltipPosition="above"><i
                    class="fa fa-plus-circle fa-lg"></i></a>
        </h4>
      
        <hr />
    </div>
   

    <p-table #ntaeDataTable class="rpo-table-cstm  ptable-th-bg "
     [value]="ntaeData" [rows]="ntaeDataTableTablePageSize"
        [columns]="ntaeTableColumns"
         [scrollable]="true" [style]="{width:'100%'}" [paginator]="true">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th *ngIf="selectedTab == 'Equivalency'">Download</th>
                <th *ngIf="!isViewItemMaster">Action</th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input style="width:100%;" pInputText type="text"
                        (input)="ntaeDataTable.filter($event.target.value, col.field, col.filterMatchMode)">

                </th>
                <th *ngIf="selectedTab == 'Equivalency'"></th>
                <th *ngIf="!isViewItemMaster"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>

                <td *ngIf="selectedTab == 'Equivalency'">

                    <a *ngFor="let fileItem of rowData?.attachmentDetails" class="filelink"
                        (click)="downloadFileUpload(fileItem?.ad)" target="_blank"
                        download>{{fileItem?.ad.fileName}}</a>
                </td>
                <td *ngIf="!isViewItemMaster">



                    <span *ngIf="!isEnableItemMasterView" data-toggle="modal" data-target="#alternateModalPopup">
                        <a class="btn nobg" 
                        (click)="editNTAETab(selectedTab, rowData)" matTooltip="Edit {{selectedTab}}" 
                        matTooltipPosition="above"><i class="fa fa-pencil"></i></a> </span>

                 
                   
                   
                    <span data-toggle="modal" data-target="#alternatePopupDel"><a class="btn nobg" 
                        (click)="deleteNTAERow(rowData)" matTooltip="Delete" 
                         matTooltipPosition="above"><i class="fa fa-trash"></i></a> </span>
                   
                 
                    <span><a class="btn nobg" matTooltip="History" matTooltipPosition="above"
                            (click)="getAuditHistory(viewHistory,rowData)"><i class="fa fa-history"></i></a></span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns *ngIf="ntaeData?.length == 0">
            <tr>
                <td [attr.colspan]="6" class="no-records-cstm">
                    No records found
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" id="footer">
            <label id="footer" class="footer">Total:</label>
            <input style="width: 5%;" [ngModelOptions]="{standalone: true}" [(ngModel)]="ntaeDataTable._totalRecords"
                [disabled]="true" pInputText type="text" />
            &nbsp;&nbsp;
            <label id="footer" class="footer1">Pages Count:</label>
            <input style="width: 5%;" [ngModelOptions]="{standalone: true}"
                [ngModel]="getPageCount(ntaeDataTable._totalRecords, ntaeDataTableTablePageSize)" [disabled]="true"
                pInputText type="text" />
        </ng-template>
    </p-table>
</div>


<div id="alternateModalPopup" class="modal fade custom-popup" role="dialog" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form #saveNtaeTabForm="ngForm" (submit)="saveAlternate(saveNtaeTabForm)" id="add-customerwork" name=""
                class="form-horizontal add-custustomer">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">×</button>
                    <h4 class="modal-title">{{isEditMode == true ? 'Edit' : 'Add'}} {{selectedTab}}</h4>
                </div>
                <div class="modal-body" *ngIf="alternateData">
                    <div class="form-row" *ngIf="selectedTab == 'Activities'">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                            <label class="control-label" style="display: block; width: 100%;text-align: left;">Name</label>
                           </div>
                           <div class="col-sm-5">
                            <p-autoComplete class="pautocomp-cstm" sstyle="font-size: 1px"
                            filter="true" name="name" [size]="30" [minLength]="1" [dropdown]="true"
                            [forceSelection]="true" required>
                               
                            </p-autoComplete>
                        </div>
                        </div>
                        
                       
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                            <label class="control-label" style="display: block; width: 100%;text-align: left;">Activity Type</label>
                           </div>
                            <div class="col-sm-5 inner-addon right-addon inline-block">
                                <input class="form-control" type="text" name="postalCode" required />
                            </div>
                        </div>
                       
                
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                            <label class="control-label" style="display: block; width: 100%;text-align: left;">Subject</label>
                           </div>
                            <div class="col-sm-5 inner-addon right-addon inline-block">
                                <input class="form-control" type="text" name="postalCode" required />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                            <label class="control-label" style="display: block; width: 100%;text-align: left;">Entry Date</label>
                        </div>
                        <div class="col-sm-5">                        
                            <p-calendar  class="pas-clder"
                             [showIcon]="true" name="openDate" required></p-calendar>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                            <label class="control-label" style="display: block; width: 100%;text-align: left;">Follow Date</label>
                            </div>
                            <div class="col-sm-5">
                            
                            <p-calendar class="pas-clder"
                             [showIcon]="true" name="openDate" required></p-calendar>
                            </div>
                            
                        </div>
                        </div>
    
                        <div class="form-row" *ngIf="selectedTab == 'Notes'">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                <label class="control-label" style="display: block; width: 100%;text-align: left;">Name</label>
                               </div>
                               <div class="col-sm-5">
                                <p-autoComplete class="pautocomp-cstm" sstyle="font-size: 1px"
                                filter="true" name="name" [size]="30" [minLength]="1" [dropdown]="true"
                                [forceSelection]="true" required>
                                   
                                </p-autoComplete>
                            </div>
                            </div>
                           
                          
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                <label class="control-label" style="display: block; width: 100%;text-align: left;">Subject</label>
                               </div>
                                <div class="col-sm-5 inner-addon right-addon inline-block">
                                    <input class="form-control" type="text" name="postalCode" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                <label class="control-label" style="display: block; width: 100%;text-align: left;">Entry Date</label>
                            </div>
                            <div class="col-sm-5">                        
                                <p-calendar  class="pas-clder"
                                 [showIcon]="true" name="openDate" required></p-calendar>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                <label class="control-label" style="display: block; width: 100%;text-align: left;">Follow Date</label>
                                </div>
                                <div class="col-sm-5">
                                
                                <p-calendar class="pas-clder"
                                 [showIcon]="true" name="openDate" required></p-calendar>
                                </div>
                                
                            </div>
                            </div>
    
    
                            <div class="form-row" *ngIf="selectedTab == 'Follow Ups'">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                    <label class="control-label" style="display: block; width: 100%;text-align: left;">Name</label>
                                   </div>
                                   <div class="col-sm-5">
                                    <p-autoComplete class="pautocomp-cstm" sstyle="font-size: 1px"
                                    filter="true" name="name" [size]="30" [minLength]="1" [dropdown]="true"
                                    [forceSelection]="true" required>
                                       
                                    </p-autoComplete>
                                </div>
                                </div>
                              
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                    <label class="control-label" style="display: block; width: 100%;text-align: left;">Subject</label>
                                   </div>
                                    <div class="col-sm-5 inner-addon right-addon inline-block">
                                        <input class="form-control" type="text" name="postalCode" required />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                    <label class="control-label" style="display: block; width: 100%;text-align: left;">Entry Date</label>
                                </div>
                                <div class="col-sm-5">                        
                                    <p-calendar  class="pas-clder"
                                     [showIcon]="true" name="openDate" required></p-calendar>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                    <label class="control-label" style="display: block; width: 100%;text-align: left;">Follow Date</label>
                                    </div>
                                    <div class="col-sm-5">
                                    
                                    <p-calendar class="pas-clder"
                                     [showIcon]="true" name="openDate" required></p-calendar>
                                    </div>
                                    
                                </div>
                                </div>
    
                  
                </div>                
            <div class="modal-footer">
                <button *ngIf="isEditMode == false" type="button" class="btn btn-primary"  (click)="saveAlternate(saveNtaeTabForm)">Save </button>
                <button *ngIf="isEditMode == true" type="button" class="btn btn-primary" (click)="updateAlternate(saveNtaeTabForm)">Update</button>
                <button #closeAddPopup type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

<ng-template #viewHistory let-c="close" let-d="dismiss" data-backdrop="static">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="dismissModel()">&times;</button>
        <h4 class="modal-title">History of {{selectedTab}}</h4>
    </div>
    <div class="modal-body">
       
        <div class="table-responsive rro-table-cstm mt-2">
            <table class="table table-bordered" *ngIf="nhaTlaHistory.length> 0 else noDatavailable">
                <thead>
                    <tr>

                        <th>PN</th>
                        <th>PN Description</th>
                        <th>Manufacturer</th>
                        <th *ngIf="selectedTab == 'Equivalency'">Classification</th>
                        <th *ngIf="selectedTab == 'Equivalency'">Document</th>
                        <th>Updated By</th>
                        <th>Updated Time</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ntae of nhaTlaHistory; let i = index;">

                        <td [ngStyle]="{
                                            color: getColorCodeForHistory(
                                              i,
                                              'altPartNo',
                                              ntae.altPartNo
                                            )
                                              ? 'black'
                                              : 'red'
                                          }">{{ntae.altPartNo}}</td>
                        <td [ngStyle]="{
                                            color: getColorCodeForHistory(
                                              i,
                                              'altPartDescription',
                                              ntae.altPartDescription
                                            )
                                              ? 'black'
                                              : 'red'
                                          }">{{ntae.altPartDescription}}</td>
                        <td [ngStyle]="{
                                            color: getColorCodeForHistory(
                                              i,
                                              'manufacturer',
                                              ntae.manufacturer
                                            )
                                              ? 'black'
                                              : 'red'
                                          }">{{ntae.manufacturer}}</td>
                        <td *ngIf="selectedTab == 'Equivalency'" [ngStyle]="{
                                            color: getColorCodeForHistory(
                                              i,
                                              'itemClassification',
                                              ntae.itemClassification
                                            )
                                              ? 'black'
                                              : 'red'
                                          }">{{ntae.itemClassification}}</td>
                        <td *ngIf="selectedTab == 'Equivalency'">
                            <a *ngFor="let fileItem of ntae?.attachmentDetails" class="filelink"
                                (click)="downloadFileUpload(fileItem?.ad)" target="_blank"
                                download>{{fileItem?.ad.fileName}}</a></td>
                        <td>{{ntae.updatedBy}}</td>
                        <td>{{ntae.updatedDate | date: 'dd-MM-yyyy'}}</td>
                        
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="dismissModel()">Close</button>
    </div>

</ng-template>

<div id="alternatePopupDel" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are You Sure Want to Delete ?</h4>
            </div>
            <div class="modal-body" *ngIf="delNTAERow">
                <strong>
                    Alt PN:
                    <span class="new-label">{{delNTAERow.altPartNo}}</span>
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteNTAERowRecord()">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
  </div>

<p-dialog header="Alert" [(visible)]="displayNtae" [modal]="true" [dismissableMask]="true" maximizedLeft="140px"
    maximizedTop="140px" [width]="350" [minWidth]="200" [responsive]="true" [minY]="1050" [baseZIndex]="1100000">


    <h5 [ngStyle]="{'color':'red'}">
        Please Enter (*) Mandatory Fields
       

    </h5>
    <ul [ngStyle]="{'color':'red'}">
        <li *ngFor="let error of listOfErrors">{{error}}</li>
    </ul>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayNtae=false" label="Close"></button>
    </p-footer>

</p-dialog>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>