.status-radio label {
    text-align: left;
    width: 140px;
    margin-right: 0;
    font-weight: normal;
}


.red {  
    color: #ED2939 !important;
    font-weight: bold !important;
}
.purchase-td-back td{
    width: auto !important;
    background-color: #EAF2C5 !important;
}
.min-width-100{
    min-width:100px !important;
}
.memo-td-width{
    min-width: 300px !important;
}
input.hidePlaceHolder {
    color: transparent !important;
}
.min-width-70{
    min-width:70px !important;
}
.min-width-80{
    min-width:80px !important
}

.child-data splitship-child td {
    background: #fafafa !important;
}

.roview-table-cstm .child-data td {
    background: #fafafa !important;
}

input.hidePlaceHolder:focus,
input.hidePlaceHolder:hover,
input.hidePlaceHolder:active {
    color: #000 !important;
}
#poView .modal-body p .label {
    width: 40% !important;
}
#poView .modal-body p .value {
    width: 60% !important;
}
.roview-table-cstm table.table-bordered thead tr th {
    min-width: 70px !important;
}

.host ::ng-deep .ui-table-scrollable-header .ui-widget-header
{
    width: 100% !important;
    overflow: scroll !important;;

}

.mgmt-structure-td-width{
    min-width: 450px!important;
}
