.right_col {
    padding: 2px 6px;
}
.x_panel {
    padding: 0 10px;
    background-color: #fff;
}
label {
    text-align: left;
    width: auto;
    margin-right: 0;
    font-weight: normal;
}
.contact-show-deleted-width{
    width:120px !important;
}
.default-contact-check{
    background-color: #fff !important; text-align: center !important;
}
.width-50{
    width: 50px !important;
}
.workphone-div{
    width:300px !important;margin-top:20px !important;
}
.workphone-span{
    margin-right:110px !important;
}
.primary-contact-div{
    margin-top: 15px !important; margin-bottom: 20px !important;
}
.vertical-top{
    vertical-align: top !important;
}
.ata-subchapters-label{
    width: 170px !important;
}
.contact-show-deleted{
    width: auto !important; margin-right: 10px !important; margin-top: 3px !important;
}
.contact-check{
    text-align: right !important; margin-right: 20px !important;
}

.viewform-cstm .label {
    width: 120px !important;
    //text-align: right;
}
.viewform-cstm .value {
    margin-left: 10px;
}
.form-control:disabled {
    background-color: #e9ecef !important;
}
input[type="text"], input[type="number"], input[type="email"], select {
    height: 24px !important;
    border-radius: 5px !important;
}
textarea {
    border-radius: 5px !important;
    //height: 24px !important;
}
a.fa.fa-plus-circle {
    color: green !important;
}
.label-cstm {
    width: auto;
    float: left;
    text-align: left;
    margin-right: 0;
    font-weight: normal;
}
a.fa.fa-plus-circle {
    color: green !important;
}
.checkbox-cstm {
    margin-left: 10px;
}
.cus-contact-table tr th {
    padding: 7px;
}
.cus-contact-table tr td {
    padding: 4px;
}
.action-width{
    width: 20%;
    text-align: center;
}
.uiTable_td_ovrflw_control {
    white-space: normal !important;
}
.update_withFlag{
    width: 45px !important;
}
@media (min-width: 768px) {
    .col-md-3 {
        max-width: 22%;
        margin-right: 15px;
    }
    .col-md-6 {
        max-width: 44%;
        margin-right: 15px;
    }
}
th{
    text-align:center;
}
.width-130{
    width:130px;
}