.table-overflow {
  overflow: auto !important;
}
.table > thead > tr > th {
  font-size: 10px !important;
  padding: 5px !important;
}
.tear_win th{
  min-width: 105px;
  text-align: center;
} 
.cold_s td {
  padding: 7px 5px;
}
.mon_cis p{
  margin-bottom: 7px !important;
}
.status-left{
  margin-left: 50px !important;
}
.table-height{
  height: 300px !important;
}
.display-table-row{
  display: table-row !important;
}
.communication-panel{
  height: 36px !important; width: 134px !important;
}
.communication-buttons{
  color: #333333 !important
}
.footer-padding{
  padding:10px !important;
}
.footer-button-padding{
  padding: 6px 12px !important;
}
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.vertical-menu-wolist {
  width: 130px;
}

.vertical-menu-wolist a {
  background-color: #eee;
  display: block !important;
  text-decoration: none;
}

.h-300{
  height: 300px;
}
// .ui-tabview .ui-tabview-panel{
//   overflow: scroll !important;
// }
.status-radio label {
  text-align: left;
  width: 140px;
  margin-right: 0;
  font-weight: normal;
}

// .vertical-menu-wolist a:hover {
//   background-color: #ccc;
// }

// .vertical-menu-wolist a.active {
//   background-color: #4caf50;
//   color: white;
// }
