table {
  width: 1000px;
  overflow: auto !important;
}

table thead {
  background: #0d57b0 !important;
}

table thead tr {
  background: #0d57b0 !important;
}

table,
thead,
td {
  border: white;
  border-collapse: collapse;
}

table,
thead,
th {
  border: 1px solid black;
  border-collapse: collapse;
  background: #0d57b0 !important;
}

table thead tr th {
  background: #0d57b0 !important;
  padding: 5px !important;
  color: #fff !important;
  letter-spacing: 0.3px;
  font-size: 10px;
  text-transform: capitalize;
  z-index: 1;
}

table tbody {
  overflow-y: auto;
  max-height: 500px;
}

table tbody tr td {
  background: #fff;
  padding: 2px;
  line-height: 22px;
  height: 22px;
  color: #333;
  font-size: 11.5px !important;
  letter-spacing: 0.1px;
}

h4 {
  padding: 5px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  margin: 0;
}

h5 {
  text-align: center;
  background: #0d57b0 !important;
  color: #fff !important;
  margin-left: 14%
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  height: 0;
  box-sizing: content-box;
}

.first-block {
  position: relative;
  border: 1px solid black;
  min-height: 1px;
  float: left;
  padding-right: 2px;
  padding-left: 2px;
  width: 66.66666667%;
}

.first-block-4 {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 2px;
  padding-left: 2px;
}

.border-transparent {
  border-block-color: white;
}

.first-block-name {
  margin-right: 20px
}

.first-block-sold-to {
  position: relative;
  min-height: 200px;
  float: left;
  padding-right: 2px;
  border: 1px solid black;
  background: #fff;
  width: 100%;
  padding-left: 2px;
}

.first-block-ship-to {
  position: relative;
  min-height: 200px;
  padding-right: 2px;
  border: 1px solid black;
  background: #fff;
  width: 100%;
  padding-left: 2px;
}

.first-block-sold {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 2px;
  padding-left: 2px;
  width: 50%;
  margin-top: 10px;
}

.first-block-ship {
  position: relative;
  min-height: 1px;
  float: right;
  padding-right: 2px;
  padding-left: 2px;
  width: 48%;
  margin-top: 10px
}

.address-block {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 2px;
  border: 1px solid black;
  width: 100%;
  min-height:300px;
  padding-left: 2px;
}

.text-right {
  text-align: right
}

.second-block {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 2px;
  width: 49.33333333%;
  padding-left: 2px;
  box-sizing: border-box;
}

.second-block-div {
  margin: 2px 0;
  position: relative;
  display: flex;
  min-height: 1px;
  padding-left: 35%;
  width: 100%;
}

.second-block-label {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 2px;
  padding-left: 2px;
  width: 38.33333333%;
  text-transform: capitalize;
  margin-bottom: 0;
}

.clear {
  clear: both;
}

.form-div {
  top: 6px;
  position: relative;
  font-weight: normal;
  margin-top: 10px;
}

.image {
  border: 1px solid #ccc;
  padding: 5px;
}

.logo-block {
  margin: auto;
  text-align: center
}

.pdf-block {
  width: 800px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 25px 15px;
}


.pick-ticket-header {
  border: 1px solid black;
  text-align: center;
  background: #0d57b0 !important;
  color: #fff !important;
}

.very-first-block {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 2px;
  padding-left: 2px;
  width: 50%;
}

.first-block-label {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 2px;
  padding-left: 2px;
  // width: 38.33333333%;
  text-transform: capitalize;
  margin-bottom: 0;
  text-align: left;
}
