th{
    text-align:center;
}
label {
    text-align: left;
    width: auto;
    margin-right: 0;
    font-weight: normal;
}
.aircraft-padding{
    padding: 2px 6px !important;
}
.font-bold{
    font-weight: bold !important;
}
.width-120{
    width:120px !important
}
.search-label{
    margin-top: 26px !important;
}
.advance-search{
    padding: 0 5px !important;
}
.padding-top-20{
    padding-top: 20px !important;
}
.width-150{
    width: 150px !important
}
.width-190{
    width: 190px !important
}
.width-80{
    width: 80px !important;
}
.background-white{
    background-color: #fff !important;
}
.model-input{
    width: 20px !important;margin-left: 7px !important;
}