<div class="card">
    <div class="card-body p-t-0">
        <div class="row">
            <div class="col-md-3" style="padding-left:25px; padding-top:5px">
                <div class="form-group">
                    <label>SO Num <span class="clr-red">*</span></label>
                    <input type="text" class="form-control" name="salesOrderNumber"
                        [(ngModel)]="salesOrder.salesOrderNumber" [disabled]="true" #accountTypeId="ngModel"
                        id="salesOrderNumber" #salesOrderNumber="ngModel" />
                </div>
            </div>
            <div class="col-md-3" style="padding-left:25px; padding-top:5px">
                <div class="form-group">
                    <label>SO Quote Num</label>
                    <input type="text" class="form-control" [(ngModel)]="salesOrder.salesOrderQuoteNumber"
                        name="salesOrderQuoteNumber" [disabled]="true" />
                </div>
            </div>
            <!-- <div class="col-md-3" style="padding-left:25px; padding-top:5px">
                <label></label>
                <div class="form-group">
                    <button type="submit" class="btn submit-btn btn btn-primary">Sales Order</button>
                </div>
            </div> -->
            <div class="col-md-6" style="padding-left:25px; padding-top:5px">
                <label style="width: 100%;"></label>
                <div class="form-group" style="float: right; margin-right: 10px;">
                    <button type="submit" class="btn  submit-btn btn btn-primary">Create Shipping</button>
                </div>
            </div>
        </div>
        <p-table #dt [value]="partsForBilling" class="rpo-table-cstm lastcol-fix" [first]="0" [rows]="pageSize"
            [paginator]="showPaginator" [pageLinks]="3" [rowsPerPageOptions]="[10, 20, 50, 100]"
            [columns]="selectedColumns" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords"
            [scrollable]="true" [style]="{ width: '100%' }">
            <!-- <ng-template pTemplate="caption"> -->
            <!-- <div class="row">
                    <div class="col">
                    </div>
                </div> -->
            <!-- </ng-template> -->
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" class="table-column-width" />
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="table-column-width">Ready?</th>
                    <th class="table-column-width" *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                    </th>
                    <th class="table-column-width">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" pReorderableRowHandle>
                    <td class="table-column-width">
                        <input type="checkbox" [(ngModel)]="rowData.selected" />
                        <!-- [disabled]="!rowData.isApproved || rowData.isShipped" -->
                    </td>
                    <td class="table-column-width" *ngFor="let col of columns">
                        <span *ngIf="col.field == 'totalSales'" class="float-right">
                            {{convertDate(col.field , rowData) | twoDecimalGlobalNumberFormatPipe}}
                        </span>
                        <span *ngIf="col.field != 'totalSales'">
                            {{convertDate(col.field , rowData)}}
                        </span>
                    </td>
                    <td class="table-column-width">
                        <button type="submit" class="btn submit-btn btn btn-primary"
                            (click)="onSelectPartNumber(rowData)" [disabled]="!rowData.selected">Create
                            Shipping</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns *ngIf="partsForBilling.length == 0">
                <tr>
                    <td [attr.colspan]="10" class="no-records-cstm no-records-msg">
                        No records found
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" id="footer">
                <label id="footer" class="footer">Total:</label>
                <input class="footer-input-width" [(ngModel)]="dt._totalRecords" [disabled]="true" pInputText
                    type="text" />
                &nbsp;&nbsp;
                <label id="footer" class="footer1">Pages Count:</label>

                <input class="footer-input-width" [ngModel]="totalPages" [disabled]="true" pInputText type="text" />
            </ng-template>
        </p-table>
        <!-- <div class="card-body"> -->
        <div *ngIf="partSelected">
            <form #shippingForm="ngForm">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="card card-stock">
                            <div class="card-body">
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Shipping Order Num</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.woShippingNum" name="shippingOrderNum"
                                            disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Status<span
                                                class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select [(ngModel)]="shippingHeader.soShippingStatusId" name="status" required
                                            [disabled]="isView">
                                            <option value="">Select</option>
                                            <option
                                                *ngFor="let status of [{'label':'Open', 'id':1}, {'label':'Shipped', 'id':2}, {'label':'In Transit', 'id':3}, {'label':'Received', 'id':4}]"
                                                [value]="status.id">{{status.label}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Open Date <span
                                                class="clr-red">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <p-calendar [showIcon]="true" (onSelect)="calculateExpiryDate()"
                                            [(ngModel)]="shippingHeader.openDate" name="openDate" [disabled]="isView"
                                            required></p-calendar>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Customer</label>
                                    </div>
                                    <div class="col-md-8" *ngIf="customerDetails">
                                        <input class="form-control" (change)="calculateExpiryDate()" type="text"
                                            [(ngModel)]="customerDetails.name" name="customer" disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12" *ngIf="customerDetails">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Cus Code</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="customerDetails.customerCode" name="customerCode" disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Cert Num</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="number" [(ngModel)]="validFor" name="certNum"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-stock">
                            <div class="card-body">
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Ship Via <span
                                                class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select [(ngModel)]="shippingHeader.shipviaId" [disabled]="isView"
                                            name="shipVia" required>
                                            <option value="">Select</option>
                                            <option *ngFor="let shipvia of shipViaList" [value]="shipvia.value">
                                                {{shipvia.label}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Ship Date<span
                                                class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <p-calendar [showIcon]="true" (onSelect)="calculateExpiryDate()"
                                            [(ngModel)]="shippingHeader.shipDate" name="shipDate" [disabled]="isView"
                                            required></p-calendar>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">AWB/Tracking Num<span
                                                class="clr-red">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.airwayBill"
                                            name="airwayBill" [disabled]="isView" required />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Weight</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" class="input-field-value" pKeyFilter="num" pInputText
                                            maxlength="10" [(ngModel)]="shippingHeader.shipWeight" name="shipWeight"
                                            id="shipWeight" title="Export Weight" (keyup)="btnChange()" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">UOM <span style="color: red;"
                                                *ngIf="shippingHeader.shipWeight">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <p-dropdown [options]="allWeightUnitOfMeasureInfo" filter="true"
                                            [(ngModel)]="shippingHeader.shipWeightUnit" name="shipWeightUnit"
                                            [resetFilterOnHide]="true" placeholder="Select" [showClear]="true"
                                            [required]="shippingHeader.shipWeight > 0" (onChange)="btnChange()">
                                        </p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">Dimension (L, W, H)</label>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="display-flex inline-block">
                                            <input type="number" name="exportLength" class="input-field-value"
                                                pInputText pKeyFilter="num" maxlength="10" (keyup)="btnChange()"
                                                [(ngModel)]="shippingHeader.shipSizeLength" />&nbsp;
                                            <input type="number" name="exportWidth" class="input-field-value" pInputText
                                                pKeyFilter="num" maxlength="10" (keyup)="btnChange()"
                                                [(ngModel)]="shippingHeader.shipSizeWidth" />&nbsp;
                                            <input type="number" name="exportHeight" class="input-field-value"
                                                pInputText pKeyFilter="num" maxlength="10" (keyup)="btnChange()"
                                                [(ngModel)]="shippingHeader.shipSizeHeight" />
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="sale-order-shipping-lable">
                                            UOM <span style="color: red;"
                                                *ngIf="shippingHeader.shipSizeLength || shippingHeader.shipSizeWidth || shippingHeader.shipSizeHeight">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <p-dropdown [options]="allWeightUnitOfMeasureInfo" filter="true"
                                            [(ngModel)]="shippingHeader.shipSizeUnitOfMeasureId"
                                            name="shipSizeUnitOfMeasureId" [resetFilterOnHide]="true"
                                            placeholder="Select" [showClear]="true"
                                            [required]="shippingHeader.shipSizeLength > 0 || shippingHeader.shipSizeWidth > 0 || shippingHeader.shipSizeHeight > 0"
                                            (onChange)="btnChange()"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="heading">Address Details</h4>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="card card-stock">
                            <div class="card-header">
                                <h5 style="text-align: center;">Origin</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Name <span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <!-- <select [(ngModel)]="shippingHeader.originSiteId" name="originSiteId"
                                            (change)="setOriginToAddress(shippingHeader.originSiteId)" required>
                                            <option *ngFor="let site of orignSiteNames" [ngValue]="site.originSiteId">
                                                {{site.originName}}</option>
                                        </select> -->
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.originSiteName"
                                            name="soldName" [disabled]="isView" required disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="workorder-label">Address Line 1<span
                                                class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.originAddress1" name="originAddress1" disabled
                                            required />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="workorder-label">Address Line 2</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.originAddress2" name="originAddress2"
                                            disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>City<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.originCity"
                                            name="originCity" disabled required />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>State<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.originState"
                                            name="originState" disabled required />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Zip<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.originZip"
                                            name="originZip" required disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Country<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.originCountryName" name="soldToCountryName2"
                                            required disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-stock">
                            <div class="card-header">
                                <h5 style="text-align: center;">Bill To</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Name <span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToName"
                                            name="soldName" [disabled]="isView" required disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Site <span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select [(ngModel)]="shippingHeader.soldToSiteId" (change)="setSoldToAddress()"
                                            [disabled]="isView" name="soldToSite" required>
                                            <option value="">Select</option>
                                            <option *ngFor="let site of siteList"
                                                [value]="site.customerShippingAddressId">
                                                {{site.siteName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="workorder-label">Address Line 1<span
                                                class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.soldToAddress1" name="soldToAddress1" required
                                            [disabled]="isView" disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="workorder-label">Address Line 2</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.soldToAddress2" name="soldToAddress2"
                                            [disabled]="isView" disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>City<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToCity"
                                            name="soldToCity" [disabled]="isView" required disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>State<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToState"
                                            name="soldToState" [disabled]="isView" required disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Zip<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.soldToZip"
                                            name="soldToZip" [disabled]="isView" required disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Country<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.soldToCountryName" name="soldToCountryName"
                                            [disabled]="isView" required disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-stock">
                            <div class="card-header">
                                <div class="checkbox-cstm" style="margin-left: 0; width: 148px; display: inline-block;">
                                    <label style="width: auto !important;margin-top: 3px;">
                                        <input type="checkbox" [(ngModel)]="shippingHeader.isSameForShipTo"
                                            name="cparent" id="cparent"
                                            (click)="assignDetails($event.target.checked)" />
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                        Same as Bill To
                                    </label>
                                </div>
                                <h5 style="text-align: center; width: 110px; display: inline-block;">Ship To</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Name <span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <p-autoComplete field="customerName"
                                            [(ngModel)]="shippingHeader.shipToCustomerId" name="shipToName"
                                            errorMessage="Records not found" [forceSelection]="true"
                                            (onSelect)="getSiteNamesByShipCustomerId($event)"
                                            [suggestions]="customerNamesList"
                                            (completeMethod)="filterCustomerName($event)"
                                            (onKeyUp)="clearAddress('ShipTo', $event.target.value)" [size]="30"
                                            [minLength]="1" #customerName="ngModel" required [dropdown]="true"
                                            class="p-autoComplete-ctsm" [disabled]="isView">
                                        </p-autoComplete>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Site <span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select [(ngModel)]="shippingHeader.shipToSiteId" (change)="setShipToAddress()"
                                            [disabled]="isView" name="shipToSite" required>
                                            <option value="">Select</option>
                                            <option *ngFor="let site of shipCustomerSiteList"
                                                [value]="site.customerShippingAddressId">{{site.siteName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="workorder-label">Address Line 1<span
                                                class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.shipToAddress1" name="shipToAddress1"
                                            disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label class="workorder-label">Address Line 2</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.shipToAddress2" name="shipToAddress2"
                                            disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>City<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.shipToCity"
                                            name="shipToCity" disabled required />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>State<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.shipToState"
                                            name="shipToState" disabled required />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Zip<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" [(ngModel)]="shippingHeader.shipToZip"
                                            name="shipToZip" disabled required />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-4">
                                        <label>Country<span class="clr-red">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="shippingHeader.shipToCountryName" name="shipToCountryName"
                                            disabled required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row"
                    *ngIf="(shippingHeader.originCountryId && shippingHeader.shipToCountryId) && shippingHeader.originCountryId !=shippingHeader.shipToCountryId">
                    <h4 class="heading">Custom Info </h4>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="card card-stock">
                                <div class="card-body">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label>Entry Type </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['entryType']"
                                                name="entryType" [disabled]="isView" required />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label>Entry Num</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['entryNumber']"
                                                name="entryNumber" [disabled]="isView" required />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label class="workorder-label">Entry Commodity Code</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['commodityCode']"
                                                name="entryCommodityCode" [disabled]="isView" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-stock">
                                <div class="card-body">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label>EPU </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['epu']" name="epu"
                                                [disabled]="isView" required />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label>UCR</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['ucr']" name="ucr"
                                                [disabled]="isView" required />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label>Master UCR</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['masterUCR']"
                                                name="masterUCR" [disabled]="isView" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label class="workorder-label">Movement Ref No</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['movementRefNo']"
                                                name="MovementRefNo" [disabled]="isView" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-stock">
                                <div class="card-body">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label class="workorder-label">Customs Value </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="number"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['customsValue']"
                                                name="customsValue" [disabled]="isView" required />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label>Net Mass</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="number"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['netMass']"
                                                name="netMass" [disabled]="isView" required />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label>VAT Value</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" type="number"
                                                [(ngModel)]="shippingHeader['salesOrderCustomsInfo']['vatValue']"
                                                name="VATValue" [disabled]="isView" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="padding-top: 5px;">
                    <div class="col-md-12">
                        <div class="card card-stock">
                            <div class="card-body">
                                <button *ngIf="!isView" class="btn btn-primary pull-right" style="width: 100px;"
                                    (click)="save()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>