.x_panel {
  padding: 0 10px;
  background-color: #fff;
}

.custome_p{
  select:disabled, input.ui-widget:disabled, .form-control:disabled, input[type='date']:disabled {
    background-color: #f7f7f7 !important;
}
}

label {
  text-align: left;
  width: auto;
  margin-right: 0;
  font-weight: normal;
}
.form-control:disabled {
  background-color: #e9ecef !important;
}
input[type='text'],
input[type='number'],
input[type='email'],
select {
  height: 24px !important;
  border-radius: 5px !important;
}
textarea {
  border-radius: 5px !important;
  height: 24px !important;
}
a.fa.fa-plus-circle {
  color: green !important;
}
.checkbox-cstm {
  margin-left: 10px;
}
.viewform-cstm .label {
  width: 130px !important;
  //text-align: right;
}
.viewform-cstm .value {
  margin-left: 10px;
  width: 200px;
}
.cus-contact-table tr th {
  padding: 7px;
}
.cus-contact-table tr td {
  padding: 4px;
}
.cli_vds{
  margin-right: -25px;
}
.shipping-main-padding{
  padding: 2px 6px !important;
}
.add-shipping-button{
  background-color: #337ab7 !important;
}
.shipping-radios{
  width: 370px ; float: right; padding-top: 3px;
}
.shipping-check-label{
  width: auto !important;margin-top: 4px;
}
.shipping-check-div{
  margin-left: 0 !important;
}
.show-deleted-label{
  width: auto !important;margin-top: 3px;
}
.show-deleted-check-div{
  margin-left: 0; text-align: right !important;
}
.float-left{
  float: left !important;
}
.margin-left-0{
  margin-left: 0 !important;
}
.primary-div{
  margin-top: 22px !important;margin-right:15px !important;
}
.show-deleted-div{
  text-align: right !important; padding-right: 15px !important;
}
@media (min-width: 768px) {
  .col-md-3 {
    max-width: 22%;
    margin-right: 15px;
  }

  .col-md-6 {
    max-width: 44%;
    margin-right: 15px;
  }
}
:host ::ng-deep .ui-table-summary {
  margin-right: 0px !important;
}
.ui-table .ui-paginator-bottom {
  padding-top: 20px !important;
}
.width-60{
  width:60px;
}