<div style="z-index: 1;width: 100% !important;" *ngIf="!isEdit">
  <span class="cat-heading cat4">Add Charges<i (click)="addRow()" class="fa fa-plus"></i></span>
</div>
<div class="fixed-table-container-inner table-responsive cat4-table fixed-column-table column-r1-fixed"
  style="height:380px;">

  <form #chargesCreateForm="ngForm">
    <table class="table table-bordered table-fixed workflow-table-charges  workflowTable-class">
      <tr>
        <th *ngIf="!isWorkFlow"><label>Task <span class="clr-red">*</span></label></th>
        <th><label>Type <span class="clr-red">*</span></label></th>
        <th *ngIf="isWorkOrder || isQuote"><label>Gl Account</label></th>
        <th><label>Description</label></th>
        <th><label>Qty <span class="clr-red">*</span></label></th>
        <th *ngIf="isWorkOrder || isQuote"><label>Ref Num</label></th>
        <th><label>Unit Cost<span class="clr-red">*</span> </label></th>
        <th><label>Extended Cost <span *ngIf="!isWorkOrder" class="clr-red">*</span> </label></th>
        <th><label>Vendor Name</label></th>
        <th *ngIf="!isQuote || !isEdit">
          <label style="text-align: left;">Actions </label>
        </th>
      </tr>
      <tr class="charge-tr" [hidden]="charge.isDelete" *ngFor="let charge of workFlow.charges; let i = index">
        <td *ngIf="!isWorkFlow">
          <select class="form-contro wf-pub-id full-width" [(ngModel)]="charge.taskId" name="task_{{i}}" required
            (change)="onTaskChange(charge)">
            <option value="">--Select--</option>
            <option *ngFor="let task of taskList" [value]="task.taskId">{{task.description}}</option>
          </select>
        </td>
        <td>
          <select class="form-control full-width" id="dllChargesType" (change)="onChargeTypeChange($event, charge)"
            [(ngModel)]="charge.workflowChargeTypeId" style="border-radius: 4px;" name="type_{{i}}" required>
            <option [value]="0">--Select--</option>
            <option [value]="ctype.chargeId" *ngFor="let ctype of chargesTypes">{{
              ctype.chargeType
            }}</option>
          </select>
        </td>
        <td *ngIf="isWorkOrder || isQuote">
          <input type="text" pInputText pKeyFilter="money1" class="form-control" [disabled]="true"
            value="{{ charge.glAccountName }}" [(ngModel)]="charge.glAccountName" name="exd1_{{i}}" disabled />
        </td>
        <td>
          <input type="text" pInputText value="{{ charge.description }}" [(ngModel)]="charge.description"
            class="form-control" name="desc_{{i}}" />
        </td>

        <td>
          <input type="text" pInputText pKeyFilter="pnum" maxlength="15" class="form-control text-right"
            value="{{ charge.quantity }}" (change)="
              calculateQtySummation();
              calculateExtendedCost(charge);
              calculateExtendedPrice(charge)
            " [(ngModel)]="charge.quantity" name="qty_{{i}}" required />
        </td>
        <td *ngIf="isWorkOrder || isQuote">
          <input type="text" pInputText maxlength="15" class="form-control" value="{{ charge.refNum }}"
            [(ngModel)]="charge.refNum" name="refNum_{{i}}" />
        </td>
        <td>
          <input type="text" pInputText pKeyFilter="money" class="form-control text-right" value="{{ charge.unitCost }}"
            (change)="calculateExtendedCost(charge)" [(ngModel)]="charge.unitCost" name="unitCost_{{i}}" maxlength="15"
            required />
        </td>
        <td>
          <input type="text" pInputText pKeyFilter="money" class="form-control text-right" [disabled]="true"
            value="{{ charge.extendedCost }}" [(ngModel)]="charge.extendedCost"
            (change)="calculateExtendedCostSummation();calculateExtendedPriceSummation()" name="exd_{{i}}" [required]="!isWorkOrder" disabled
            maxlength="15" />
        </td>
        <td>
          <p-autoComplete [(ngModel)]="charge.vendor" [suggestions]="vendorCollection" [forceSelection]="true"
            (completeMethod)="filterVendor($event)" (onSelect)="onVendorSelected(charge, $event)" [dropdown]="true"
            [size]="30" [minLength]="1" field="vendorName" class="workflow-measurement-select" name="vendo_{{i}}">
          </p-autoComplete>
        </td>
        <!-- [disabled]="!charge.isShowDelete"  -->
        <td *ngIf="!isQuote || !isEdit" style="text-align: center;">
          <button class="btn btn-danger nobg"  (click)="openDelete(content,charge,i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="workFlow.charges.length > 0">
        <td>
          <b>Total : </b>
        </td>
        <td *ngIf="!isWorkFlow">&nbsp;</td>
        <td *ngIf="isWorkOrder || isQuote">&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
        <td *ngIf="isWorkOrder || isQuote">&nbsp;</td>
        <td>&nbsp;</td>
        <td *ngIf="!isQuote" class="text-right"><b>{{ workFlow.extendedCostSummation }}</b></td>
        <td>&nbsp;</td>
        <td></td>
        <!-- <td *ngIf="!isQuote" class="align_rightset"><b>{{ workFlow.totalChargesCost }}</b></td> -->
        <!-- <td>&nbsp;</td>
        <td *ngIf="!isQuote || !isEdit">&nbsp;</td> -->
      </tr>
    </table>
  </form>
</div>
<div *ngIf="isWorkOrder && !isEdit" style="float:right">
  <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary" (click)="saveChargesWorkOrder()"
    style="padding: 6px 12px !important;margin-top: 10px;" [disabled]="!chargesCreateForm.valid">
    {{ isQuote ? 'Add' : 'Save' }}
  </button>
  <button type="button" class="btn btn-danger" data-dismiss="modal"
    style="padding: 6px 12px !important;margin-top: 10px;" (click)="close()">
    Close
  </button>
</div>

<div *ngIf="isWorkOrder && isEdit" style="float:right">
  <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary" (click)="updateChargesWorkOrder()"
    style="padding: 6px 12px !important;margin-top: 10px;">
    Update
  </button>
  <button type="button" class="btn btn-danger" data-dismiss="modal"
    style="padding: 6px 12px !important;margin-top: 10px;" (click)="close()">
    Close
  </button>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">        
      <h4 class="modal-title">Are You Sure Want to Delete?</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
          <span aria-hidden="true">&times;</span>
      </button>      
  </div>
  <div class="modal-body">
      <strong *ngIf="deleteRowRecord && deleteRowRecord.chargeType">
        Charge Type:
          <span class="new-label" >{{deleteRowRecord.chargeType}}</span>
      </strong>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="deleteRow()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
  </div>
</ng-template>
<div class="preloader" *ngIf="isSpinnerVisible">
  <div class="loading">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>