<div style="z-index: 1;width: 100% !important;" *ngIf="!isEdit">
  <span class="cat-heading cat4">Add Charges<i (click)="addRow()" class="fa fa-plus"></i></span>
</div> 
  <form #chargesCreateForm="ngForm">
    <div class="table-responsive table-overflow">
      <div class="tableFixHead">
    <table class="table table-bordered lastcol-fix">
      <thead>
      <tr>
        <th *ngIf="!isWorkFlow"><label>Task <span class="clr-red">*</span></label></th>
        <th><label>Charge Type <span class="clr-red">*</span></label></th>
        <th *ngIf="isWorkOrder || isQuote"><label>Gl Account</label></th>
        <th><label>Description</label></th>
        <th style="width:60px"><label>Qty <span class="clr-red">*</span></label></th>
        <th *ngIf="isWorkOrder || isQuote"><label>Ref Num</label></th>
        <th style="width:66px"><label>Unit Cost<span class="clr-red">*</span> </label></th>
        <th style="width:70px"><label>Ext Cost <span *ngIf="!isWorkOrder" class="clr-red">*</span> </label></th>
        <th style="z-index:1" style="width: 120px;"><label>Vendor Name</label></th>
        <th style="z-index: 1;" style="width: 200px;"  *ngIf="isWorkFlow"><label>Memo</label></th>
        <th *ngIf="!isQuote && !isEdit">
          <label class="text-left">Actions </label>
        </th> 
      </tr>
      </thead>
      <tbody>
      <tr class="charge-tr" [hidden]="charge.isDeleted" *ngFor="let charge of workFlow.charges; let i = index">
        <td *ngIf="!isWorkFlow">
          <!-- wf-pub-id -->
          <select class="form-contro  full-width" (ngModelChange)="getActive()" [(ngModel)]="charge.taskId" name="task_{{i}}" required
            (change)="onTaskChange(charge)">
            <option value="">--Select--</option>
            <option *ngFor="let task of taskList" [value]="task.taskId">{{task.description}}</option>
          </select>

          <!-- <p-dropdown placeholder="--Select--" required (ngModelChange)="getActive()" optionLabel="description" [showClear]="true" filter="true" name="dimen{{ i }}" [options]="taskList"
          class="p-dropdown-custom-md"  appendTo='body' [baseZIndex]="9999" [(ngModel)]="charge.taskId">
        </p-dropdown>  -->
        </td>
        <td>
          <select class="form-control full-width border-radius-4" id="dllChargesType" ppendTo='body' (ngModelChange)="getActive()" (change)="onChargeTypeChange($event, charge)"
            [(ngModel)]="charge.workflowChargeTypeId" name="type_{{i}}" required>
            <option [value]="0">--Select--</option>
            <option [value]="ctype.chargeId" *ngFor="let ctype of chargesTypes">{{
              ctype.chargeType
            }}</option>
          </select>
          <!-- <p-dropdown placeholder="--Select--" id="dllChargesType"   (ngModelChange)="getActive()" optionLabel="chargeType" [showClear]="true" filter="true" name="type_{{i}}" [options]="chargesTypes"
          class="p-dropdown-custom-md"  appendTo='body' [baseZIndex]="9999" [(ngModel)]="charge.workflowChargeTypeId" required>
        </p-dropdown>  -->
        </td>
        <td *ngIf="isWorkOrder || isQuote">
          <input type="text" pInputText pKeyFilter="money1" (ngModelChange)="getActive()" class="form-control" [disabled]="true"
            value="{{ charge.glAccountName }}" [(ngModel)]="charge.glAccountName" name="exd1_{{i}}" disabled />
        </td>
        <td>
          <input type="text" pInputText value="{{ charge.description }}" (ngModelChange)="getActive()" [(ngModel)]="charge.description"
            class="form-control" name="desc_{{i}}" />
        </td>
        <td>
          <input type="text" pInputText pKeyFilter="pnum" maxlength="15" (ngModelChange)="getActive()" class="form-control text-right"
            value="{{ charge.quantity }}" (change)="
              calculateQtySummation();
              calculateExtendedCost(charge);
              calculateExtendedPrice(charge)
            " [(ngModel)]="charge.quantity" name="qty_{{i}}" required />
        </td>
        <td *ngIf="isWorkOrder || isQuote">
          <input type="text" pInputText maxlength="15" class="form-control" (ngModelChange)="getActive()" value="{{ charge.refNum }}"
            [(ngModel)]="charge.refNum" name="refNum_{{i}}" />
        </td>
        <td>
          <input type="text" pInputText pKeyFilter="money" (ngModelChange)="getActive()" class="form-control text-right" value="{{ charge.unitCost }}"
            (change)="calculateExtendedCost(charge)" [(ngModel)]="charge.unitCost" name="unitCost_{{i}}" maxlength="15"
            required />
        </td>
        <td>
          <input type="text" pInputText pKeyFilter="money" (ngModelChange)="getActive()" class="form-control text-right" [disabled]="true"
            value="{{ charge.extendedCost }}" [(ngModel)]="charge.extendedCost"
            (change)="calculateExtendedCostSummation();calculateExtendedPriceSummation()" name="exd_{{i}}" [required]="!isWorkOrder" disabled
            maxlength="15" />
        </td>
        <td>
          <p-autoComplete [(ngModel)]="charge.vendor" (ngModelChange)="getActive()" [suggestions]="vendorCollection" [forceSelection]="true"
            (completeMethod)="filterVendor($event)" appendTo='body' [baseZIndex]="9999" (onSelect)="onVendorSelected(charge, $event)" [dropdown]="true"
           [size]="30" [minLength]="1" field="vendorName" class="workflow-measurement-select" name="vendo_{{i}}">
          </p-autoComplete>
        </td> 
        <td *ngIf="isWorkFlow">
          <div class="form-group memo-popup-cstm mat_emo">
            <div [innerHTML]="charge.memo" matTooltipPosition="above" [matTooltip]="parsedText(charge.memo)"
              class="text_editor_box"></div>
            <i class="fa fa-pencil fa-lg ci_cls" data-toggle="modal" data-target="#textarea-popup2222" matTooltip="Memo"
              matTooltipPosition="above" (click)="onAddTextAreaInfo(charge,i)"></i>
          </div>
        </td>

        <td *ngIf="!isQuote &&  !isEdit" class="text-center">
          <button class="btn btn-danger nobg"  (click)="openDelete(content,charge,i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngIf="workFlow.charges.length > 0">
        <td>
          <b>Total : </b>
        </td>
        <td *ngIf="!isWorkFlow">&nbsp;</td>
        <td *ngIf="isWorkOrder || isQuote">&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
        <td *ngIf="isWorkOrder || isQuote">&nbsp;</td>
        <td>&nbsp;</td> 
        <td  class="text-right"><b>{{ workFlow.extendedCostSummation }}</b></td>
        <td>&nbsp;</td>
        <td *ngIf="isWorkFlow">&nbsp;</td>
        <td *ngIf="!isEdit || isWorkFlow"></td> 
      </tr>
      </tbody>
    </table>
  </div>
</div>
  </form>
  <div class="modal fade" id="textarea-popup2222" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="onCloseTextAreaInfo()">&times;</button>
          <h4 class="modal-title">Edit Memo</h4>
        </div>
        <div class="modal-body">
          <p-editor [(ngModel)]="textAreaInfo" (ngModelChange)="editorgetmemo($event)" [style]="{'height':'320px'}"
            name="textAreaInfo" required></p-editor>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="disableEditor"
            (click)="onSaveTextAreaInfo(textAreaInfo)">Save</button>
          <button type="button" class="btn btn-danger"
            (click)="onCloseTextAreaInfo()">Close</button>
        </div>
      </div>
    </div>
  </div>
<div *ngIf="isWorkOrder && !isEdit" class="float-right">
  <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary m-t-10" (click)="saveChargesWorkOrder()" [disabled]="!chargesCreateForm.valid">
    {{ isQuote ? 'Add' : 'Save' }}
  </button>
  <button type="button" class="btn btn-danger m-t-10" data-dismiss="modal" (click)="close()">
    Close
  </button>
</div>
<div *ngIf="isWorkOrder && isEdit" class="float-right">
  <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary m-t-10" (click)="updateChargesWorkOrder()"
     [disabled]="disableUpdate">
    Update
  </button>
  <button type="button" class="btn btn-danger m-t-10" data-dismiss="modal"
     (click)="close()">
    Close
  </button>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">        
      <h4 class="modal-title">Are You Sure Want to Delete?</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
          <span aria-hidden="true">&times;</span>
      </button>      
  </div>
  <div class="modal-body">
      <strong *ngIf="deleteRowRecord && deleteRowRecord.chargeType">
        Charge Type:
          <span class="new-label" >{{deleteRowRecord.chargeType}}</span>
      </strong>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="deleteRow()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
  </div>
</ng-template>
<div class="preloader" *ngIf="isSpinnerVisible">
  <div class="loading">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>