/* select {
    background: url("../assets/images/ddrp-arrow.png") 98% center no-repeat;
} */
/*.workflow-table-charges .charge-tr td {
    padding: 4px;
}*/
.workflow-table-charges tr th:first-child {
    padding: 0 10px !important;
}

.grd-width{
    width: 1150px;
}

.table-height{
    max-height: 300px !important;
  }
.grd-width-quote{
    width: 1150px;
}
.mat_emo{
    display: inline-flex;
    position: relative;
    top: 4px;
}
.ci_cls{
    position: relative;
    top: 6px;
} 
.text_editor_box{
    width: 220px !important;
    line-height: 17px;
}
@media only screen and (min-width: 1370px) {
    .table-responsive {
        overflow-x: hidden;
    }
}
.border-radius-4{
    border-radius: 4px !important;
}