/*.workflow-table-direc tr td {
    padding: 4px;
}*/
.workflow-table-direc tr th:first-child {
    padding: 0 10px !important;
}
.fixed-column-table {
    max-width: 100%;
    max-height: 500px;
    overflow: scroll;
    position: relative;
    padding: 0;
}
.fixed-column-table table {
    position: relative;
    border-collapse: collapse;
}
.fixed-column-table thead th {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background: #0d57b0;
}
.column-r1-fixed thead th:last-child {
    right: 0;
    z-index: 1;
    text-align: center;
    margin: auto;
}
.column-r1-fixed tbody td:last-child {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
    padding-left: 5px;
    text-align: center;
}
.margin-top-31{
    margin-top:31px !important;
}
.header-div{
    position: absolute; width: 100%; z-index: 1;
}
.td-width-100{
    width: 100px !important;
}
.td-width-280{
    width: 280px !important;
}
.memo-pencil-div{
    width: 280px !important;  display: inline-flex !important;   margin-bottom: 0 !important;
}
.memo-pencil{
    position: relative !important;top: 6px !important; color: royalblue !important; 
    margin-left: 5px !important;
}