<div class="fixed-table-container-inner table-responsive cat4-table fixed-column-table column-r1-fixed overflow-hidden">
  <div >
    <span class="cat-heading cat4" *ngIf="!isEdit">Add {{ isWorkOrder ? moduleName : ' Tool'
      }}<i (click)="addRow()" class="fa fa-plus"></i></span>
  </div>

  <form #toolsCreateForm="ngForm">
    <div class="table-responsive pas-table-cstm header-table-width poro-table-cstm parts-list-table-align">
      <div class="tableFixHead">
      <table class="table table-bordered" style="height:auto;max-height:350px !important">
        <thead>
        <tr>
        <th style="z-index: 1;"><label>Tool Name</label></th>
        <th> <label for="">{{moduleName}} ID</label></th>
        <th><label>{{moduleName}} Description</label></th>
        <th><label>Tool Class</label></th>
        <th style="width:60px !important"><label>Qty<span class="clr-red">*</span></label></th>
        <th style="width: 200px;z-index:1"  *ngIf="isWorkFlow"><label>Memo</label></th>
        <th *ngIf="!isEdit"><label>Actions </label></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eqp of workFlow.equipments; let i = index">
        <td> 
          <!-- <p-autoComplete (onSelect)="onPartSelect($event, eqp)" [suggestions]="partCollection"
            (completeMethod)="filterpartItems($event)" [size]="30" [(ngModel)]="eqp.partNumber" [minLength]="1"
            [dropdown]="true" class="workflow-measurement-select" [forceSelection]="true"
            [ngModelOptions]="{standalone: true}">
            <ng-template let-assetId pTemplate="asset">
              <div class="ui-helper-clearfix">{{ assetId  }}</div>
            </ng-template>
          </p-autoComplete> --> 
          <p-autoComplete (ngModelChange)="getActive()"  class="p-autoComplete-ctsm" field="name" name="AName{{i}}" [dropdown]="true"  [forceSelection]="true"
          errorMessage="Records not found"  emptyMessage="No Records Found"  (completeMethod)="filterpartItems($event)"
           [size]="30" [minLength]="1" appendTo='body' [baseZIndex]="9999" (onSelect)="onPartSelect($event, eqp,i)" [suggestions]="allPartnumbersInfo"
           [(ngModel)]="eqp.partNumber" required (onClear)="clearautoCompleteInput(eqp)"  #prellRevInsp="ngModel" >
      </p-autoComplete> 
        </td>
        <td>
          {{ eqp.assetIdName }}
        </td>
        <td>
          {{ eqp.assetDescription }}
        </td>
        <td>
          {{ eqp.assetTypeName }}
        </td>
        <td class="text-center">
          <input type="text" (ngModelChange)="getActive()" (keypress)="allowNumberOnly($event)" class="form-control text-right" maxlength="10" pInputText pKeyFilter="pnum"
            value="{{ eqp.quantity }}" [(ngModel)]="eqp.quantity" [ngModelOptions]="{standalone: true}" required />
        </td>
        <td *ngIf="isWorkFlow">
          <div class="form-group memo-popup-cstm mat_emo">
            <div [innerHTML]="eqp.memo" matTooltipPosition="above" [matTooltip]="parsedText(eqp.memo)"
              class="text_editor_box"></div>
            <i class="fa fa-pencil fa-lg ci_cls" data-toggle="modal" data-target="#textarea-popup5" matTooltip="Memo"
              matTooltipPosition="above" (click)="onAddTextAreaInfo(eqp,i)"></i>
          </div>
        </td>
        <td  class="text-center" *ngIf="!isEdit">
          <button class="btn btn-danger nobg" (click)="openDelete(content,eqp,i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
    </div>
  </form>
  <div class="modal fade" id="textarea-popup5" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="onCloseTextAreaInfo()">&times;</button>
          <h4 class="modal-title">Edit Memo</h4>
        </div>
        <div class="modal-body">
          <p-editor [(ngModel)]="textAreaInfo" (ngModelChange)="editorgetmemo($event)" [style]="{'height':'320px'}"
            name="textAreaInfo" required></p-editor>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="disableEditor"
            (click)="onSaveTextAreaInfo(textAreaInfo)">Save</button>
          <button type="button" class="btn btn-danger"
            (click)="onCloseTextAreaInfo()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isWorkOrder && !isEdit" class="float-right">
    <button *ngIf="isWorkOrder" type="button" class="btn btn-primary btn-primary" data-dismiss="modal"
      (click)="saveEquipmentWorkOrder()"
      [disabled]="!toolsCreateForm.valid|| checkQuantityAvailability()">
      Save
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()"
     >
      Close
    </button>
  </div>
  <div *ngIf="isWorkOrder && isEdit" class="float-right">
    <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary m-t-10" (click)="updateEquipmentWorkOrder()"
      [disabled]="!toolsCreateForm.valid || checkQuantityAvailability() || disableUpdate">
      Update
    </button>
    <button type="button" class="btn btn-danger m-t-10" data-dismiss="modal">
      Close
    </button>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">        
      <h4 class="modal-title">Are You Sure Want to Delete?</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
          <span aria-hidden="true">&times;</span>
      </button>      
  </div>
  <div class="modal-body">
      <strong *ngIf="deleteRowRecord && deleteRowRecord.assetName">
         Tool Name:
          <span class="new-label" >{{deleteRowRecord.assetName}}</span>
      </strong>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="deleteRow()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
  </div>
</ng-template>
<div class="preloader" *ngIf="isSpinnerVisible">
  <div class="loading">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>