select {
    background: none;
   
}
    select:disabled {
         background-color: none !important;
    }
/*.workflow-table-equip tr td {
    padding: 4px;
}*/
.workflow-table-equip tr th:first-child {
    padding: 0 10px !important;
}

label {
    width: auto;
}
.workflow-table-equip th {
    width: 120px !important;
}
.overflow-hidden{
    overflow: hidden !important;
}
.float-right{
    float:right !important;
}
.mat_emo{
    display: inline-flex;
    position: relative;
    top: 4px;
}
.ci_cls{
    position: relative;
    top: 6px;
} 
.text_editor_box{
    width: 220px !important;
    line-height: 17px;
}