<div class="fixed-table-container-inner table-responsive cat4-table" style="height:380px;">
    <div style="position: absolute; width: 100%; z-index: 1;">
        <span class="cat-heading cat4">Add Expertise <i (click)="addRow()" class="fa fa-plus"></i></span>
    </div>
    <table class="table table-bordered table-fixed workflow-table-expertise" style="margin-top:31px;">
        <tr>
            <th><label>Expertise Type<span class="clr-red">*</span></label></th>
            <th><label>Estimated Hours </label></th>
            <th><label>Direct Labor Rate</label></th>
            <th><label>Direct Labor Cost</label></th>
            <th><label>OHead Burden(%)</label></th>
            <th><label>OH Cost</label></th>
            <th><label>Direct Labor and OH Cost</label></th>
            <th><label>Action </label></th>
        </tr>
        <tr class="expertise-tr" [hidden]="expert.isDelete" *ngFor="let expert of workFlow.expertise;let i = index">
            <td>
                <select id="ddlExpertiesType" class="form-control wf-pub-id full-width"
                    [(ngModel)]="expert.expertiseTypeId" required>
                    <option value="">--Select--</option>
                    <option *ngFor="let type of expertiseTypes" value="{{type.employeeExpertiseId}}">
                        {{type.description}}
                    </option>
                </select>
            </td>
            <td>
                <input type="text" pInputText pKeyFilter="money" class="form-control text-right"
                    value="{{expert.estimatedHours}}" (change)="calculateLabourCost(expert);calculateOHCost(expert);"
                    [(ngModel)]="expert.estimatedHours">
            </td>
            <td>
                <input type="text" pInputText pKeyFilter="money" class="form-control text-right"
                    value="{{expert.laborDirectRate}}" (change)="calculateLabourCost(expert);calculateOHCost(expert);"
                    [(ngModel)]="expert.laborDirectRate">
            </td>
            <td class="text-right">
                {{expert.directLaborRate}}
            </td>
            <td>
                <input type="text" pInputText pKeyFilter="money" class="form-control text-right"
                    (change)="calculateOHCost(expert)" value="{{expert.overheadBurden}}"
                    [(ngModel)]="expert.overheadBurden" maxlength="3" min="0" max="100"
                    [disabled]="expert.estimatedHours == '' && expert.laborDirectRate == '' ">
            </td>
            <td>
                <input type="text" pInputText pKeyFilter="money" class="form-control text-right"
                    value="{{expert.overheadCost}}" [(ngModel)]="expert.overheadCost"
                    (change)="calculateOHCostSummation();calculateLabourOHCost(expert)">
            </td>
            <td class="text-right">
                {{expert.laborOverheadCost}}
            </td>
            <td style="text-align: center;">
                <button class="btn btn-danger nobg" (click)="openDelete(content,expert,i)" >
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr *ngIf="workFlow.expertise.length > 0">
            <td>
                <b>Total </b>
            </td>
            <td class="text-right"><b>{{ workFlow.sumofestimatedhrs }}</b></td>
            <td>&nbsp;</td>
            <td class="text-right"><b>{{ workFlow.sumofLabourDirectCost }}</b></td>
            <td>&nbsp;</td>
            <td class="text-right"><b>{{ workFlow.sumOfOHCost }}</b></td>
            <td class="text-right"><b>{{ workFlow.totalExpertiseCost }}</b></td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">        
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>      
    </div>
    <div class="modal-body">
        <strong *ngIf="deleteRowRecord && deleteRowRecord.expertiseType">
            Expertise Type:
            <span class="new-label" >{{deleteRowRecord.expertiseType}}</span>
        </strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteRow()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>