<div class="fixed-table-container-inner table-responsive cat4-table fixed-column-table column-r1-fixed"
  style="overflow: hidden;">
  <div>
    <span class="cat-heading cat4" *ngIf="!isEdit">
      Add {{ isWorkOrder ? 'PN' : ' Material' }}<i (click)="addRow()" class="fa fa-plus"></i>
      <span class="float-right" *ngIf="!isWorkOrder">
        Deferred &nbsp;<input type="checkbox" (click)="isDeferredEnable($event)" />
      </span>
    </span>
  </div>
  <form #materialCreateForm="ngForm">
    <table class="table table-bordered table-fixed workflow-table-material">
      <thead>
        <tr>
          <th *ngIf="!isWorkFlow">Task<span class="clr-red">*</span></th>
          <th>PN<span class="clr-red">*</span></th>
          <th style="min-width: 90px;">Description<span class="clr-red">*</span></th>
          <th>Cond<span class="clr-red">*</span></th>
          <th>Request Type</th>
          <th style="min-width: 90px;" *ngIf="isQuote==true || isWorkOrder==true">Provision *</th>
          <th>Qty<span class="clr-red">*</span></th>
          <th>Item Classification<span class="clr-red">*</span></th>
          <th>UOM<span *ngIf="!isWorkOrder" class="clr-red">*</span></th>
          <th style="min-width: 90px;">Stk Type</th>
          <th>Unit Cost<span *ngIf="!isWorkOrder" class="clr-red">*</span></th>
          <th>Ext. Cost<span *ngIf="!isWorkOrder" class="clr-red">*</span></th>
          <th>Deferred</th>
          <th>Memo</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="material-tr" [hidden]="material.isDelete"
          *ngFor="let material of workFlow.materialList; let i = index" id="row_{{i}}">
          <td *ngIf="!isWorkFlow">
            <select class="form-control custom-select wf-pub-id" [(ngModel)]="material.taskId" name="task_{{ i }}"
              required (change)="onTaskChange(material)">
              <option value="">Select </option>
              <option *ngFor="let task of taskList" [value]="task.taskId">{{
                task.description
              }}</option>
            </select>
          </td>
          <td>
            <div style="display:inline-flex">
              <p-autoComplete (onSelect)="onPartSelect($event, material,i)" [suggestions]="partCollection"
                (onClear)="clearautoCompleteInput(material, 'partNumber' )"
                (keyup)="getPartnumbers($event.target.value)" (completeMethod)="filterpartItems($event)" [size]="30"
                [(ngModel)]="material.partNumber" [minLength]="1" [dropdown]="true" class="workflow-measurement-select"
                name="partnum_{{ i }}" required>
                <ng-template let-partName pTemplate="part">
                  <div class="ui-helper-clearfix">{{ partName }}</div>
                </ng-template>
              </p-autoComplete>
              <div *ngIf="material.partNumber !== null && material.partNumber !== '' ">
                <a data-toggle="tooltip" matTooltipPosition="above" matTooltip="View" tooltipPosition="bottom" title=""
                  class="btn  nobg" data-original-title="View" (click)="openView(material)" class="view_content">
                  <i class="fa fa-eye view_icon_adjust"></i>
                </a>
              </div>
            </div> 
          </td>
          <td style="min-width: 150px;">
            {{ material.partDescription }}
          </td>
          <td>
            <p-dropdown placeholder="--Select--" [options]="conditionList" name="condition{{i}}" #condition="ngModel"
              (onChange)="getPNDetails(material)" class="p-dropdown-custom-md" [(ngModel)]="material.conditionCodeId"
              required>
            </p-dropdown>
          </td>
          <td>
            <!-- <select class="form-control wf-pub-id full-width" id="ddlMandatoryOrSupplemental"
              [(ngModel)]="material.mandatoryOrSupplementalId" style="margin:auto;" name="mandi_{{ i }}"
              (change)="onSelectMaterialManditory(material)">
              <option value="" selected>--Select--</option>
              <option *ngFor="let mandatory of materialMandatory" value="{{ mandatory.id }}">
                {{ mandatory.name }} mandatorySupplementalId
              </option> 
            </select> --> 
            <select class="form-control wf-pub-id full-width"   
            [(ngModel)]="material.materialMandatoriesId" (change)="onSelectMaterialManditory(material)" style="margin:auto;" name="mandi_{{ i }}">
              <option value="0">--select--</option>
              <option *ngFor="let mandatory of materialMandatory" value="{{ mandatory.materialMandatoriesId }}">
                  {{mandatory.materialMandatoriesName}}
              </option>
          </select>
          </td>
          <td *ngIf="isQuote==true || isWorkOrder==true">
            <select class="form-control wf-pub-id" [(ngModel)]="material.provisionId" name="provision_{{ i }}"
              (change)="getProvisionDetails($event,material,i)" required>
              <option value="">--Select--</option>
              <option *ngFor="let item of provisionListData" [ngValue]="item.value" required>
                {{ item.label }}
              </option>
            </select>
          </td>
          <td>
            <input type="text" pInputText pKeyFilter="pnum" class="form-control w100 text-right"
              value="{{ material.quantity }}" (keyup)="
                calculateQtySummation();
                calculateExtendedCost(material);
                calculateExtendedPrice(material)
              " [(ngModel)]="material.quantity" maxlength="15" name="qty_{{ i }}" required />
          </td>
          <td style="min-width: 115px;">
            {{material.itemClassification}}
          </td>
          <td style="min-width: 50px;">
            {{material.unitOfMeasure}}
          </td>
          <td>
            {{material.stockType}}
          </td>
          <td>
            <input type="text" class="form-control w100 text-right" pInputText pKeyFilter="money"
              value="{{ material.unitCost }}" (change)="calculateExtendedCost(material)" [(ngModel)]="material.unitCost"
              name="unitcost_{{ i }}" [required]="!isWorkOrder" maxlength="15" />
          </td>
          <td>
            <input type="text" class="form-control w100 text-right" pInputText pKeyFilter="money" [disabled]="true"
              value="{{ material.extendedCost }}" [(ngModel)]="material.extendedCost" name="extCost_{{ i }}"
              maxlength="15" [required]="!isWorkOrder" />
          </td>
          <td style="width:30px;text-align: center;">
            <div class="custom-checkbox-box">
              <input class="filled-in" id="PMS" type="checkbox" value="{{ material.isDeferred }}"
                [(ngModel)]="material.isDeferred" name="isDef_{{ i }}" />

            </div>
          </td>
          <td>
            <div class="form-group memo-popup-cstm mat_emo">
              <div [innerHTML]="material.memo" matTooltipPosition="above" [matTooltip]="parsedText(material.memo)"
                class="text_editor_box"></div>
              <i class="fa fa-pencil fa-lg ci_cls" data-toggle="modal" data-target="#textarea-popup" matTooltip="Memo"
                matTooltipPosition="above" (click)="onAddTextAreaInfo(material,i)"></i>
            </div>
          </td>
          <td>
            <button class="btn btn-danger nobg" (click)="openDelete(content,material,i,materialCreateForm)" >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="workFlow.materialList.length > 0 && !isWorkOrder">
        <tr>
          <td>
            <b>Total</b>
          </td>
          <td *ngIf="isQuote">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text-right"><b>{{ workFlow.materialExtendedCostSummation }}</b></td>
          <td *ngIf="!isQuote"></td>
          <td *ngIf="!isQuote" class="text-right"><b>
              {{ workFlow.materialExtendedPriceSummation }}</b>
          </td>
          <td>&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </form>
  <div class="modal fade" id="textarea-popup" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" >
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="onCloseTextAreaInfo()">&times;</button>
          <h4 class="modal-title">Edit Memo</h4> 
        </div>
        <div class="modal-body">
          <!-- <table class="table table-bordered table-fixed">
            <thead>
                <th style="color: #fff;">Memo</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p-editor [(ngModel)]="textAreaInfo" (ngModelChange)="editorgetmemo($event)" [style]="{'height':'320px'}" name="textAreaInfo" required></p-editor>
                    </td>
                </tr>
            </tbody> 
        </table> -->
        <p-editor [(ngModel)]="textAreaInfo" (ngModelChange)="editorgetmemo($event)" [style]="{'height':'320px'}" name="textAreaInfo" required></p-editor>
 
          <!-- <p-editor [(ngModel)]="textAreaInfo" [style]="{'height':'320px'}" name="textAreaInfo" required></p-editor> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary editor-buttons-margin" [disabled]="disableEditor" (click)="onSaveTextAreaInfo(textAreaInfo)">Save</button>
          <button type="button" class="btn btn-danger editor-buttons-margin" (click)="onCloseTextAreaInfo()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isWorkOrder && !isEdit" style="float:right">
    <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary" (click)="saveMaterialsWorkOrder()"
      style="padding: 6px 12px !important;margin-top: 10px;"
      [disabled]="!materialCreateForm.valid || checkQuantityAvailability()">
      Save
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeMaterialTab()"
      style="padding: 6px 12px !important;margin-top: 10px;">Close</button>
  </div>

  <div *ngIf="isQuote" style="float:right">
    <button class="btn btn-primary btn-primary" (click)="saveMaterialsWorkOrder()"
      style="padding: 6px 12px !important;margin-top: 10px;"
      [disabled]="!materialCreateForm.valid || checkQuantityAvailability()">
      Add
    </button>
  </div>

  <div *ngIf="isWorkOrder && isEdit" style="float:right">
    <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary" (click)="updateMaterialsWorkOrder()"
      style="padding: 6px 12px !important;margin-top: 10px;"
      [disabled]="!materialCreateForm.valid || checkQuantityAvailability()">
      Update
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal"
      style="padding: 6px 12px !important;margin-top: 10px;">Close</button>
  </div>
</div>

<div id="itemMasterView" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="padding: 0 !important" (click)="dismissItemMasterModel()">
          &times;
        </button>
        <div class="col-sm-10">
          <h4 class="modal-title">Details of Item Master</h4>
        </div>
      </div>
      <div class="modal-body" *ngIf="showItemmasterView" >
        <app-item-master-view [itemMasterRowData]="itemMasterRowData"></app-item-master-view>
    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="dismissItemMasterModel()">Close</button>
      </div>
    </div>
  </div> 
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">        
      <h4 class="modal-title">Are You Sure Want to Delete?</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
          <span aria-hidden="true">&times;</span>
      </button>      
  </div>
  <div class="modal-body">
      <strong *ngIf="deleteRowRecord && deleteRowRecord.partNumber">
          PN:
          <span class="new-label" >{{deleteRowRecord.partNumber}}</span>
      </strong>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="deleteRow()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
  </div>
</ng-template>
<div class="preloader" *ngIf="isSpinnerVisible">
  <div class="loading">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>