<div class="fixed-table-container-inner table-responsive cat4-table fixed-column-table column-r1-fixed"
  style="overflow: hidden;">
  <div>
    <span class="cat-heading cat4" *ngIf="!isEdit">
      Add {{ isWorkOrder ? 'PN' : ' Material' }}<i (click)="addRow()" class="fa fa-plus"></i>
      <span class="float-right" *ngIf="!isWorkOrder">
        Deferred &nbsp;<input type="checkbox" (click)="isDeferredEnable($event)" />
      </span>
    </span>
  </div>
  <form #materialCreateForm="ngForm">
    <table class="table table-bordered table-fixed workflow-table-material">
      <thead>
        <tr>
          <th *ngIf="!isWorkFlow">Task<span class="clr-red">*</span></th>
          <th>PN<span class="clr-red">*</span></th>
          <th style="min-width: 90px;">Description<span class="clr-red">*</span></th>
          <th>Cond<span class="clr-red">*</span></th>
          <th>Request Type</th>
          <th style="min-width: 90px;" *ngIf="isQuote==true || isWorkOrder==true">Provision *</th>
          <th>Qty<span class="clr-red">*</span></th>
          <th>Item Classification<span class="clr-red">*</span></th>
          <th>UOM<span *ngIf="!isWorkOrder" class="clr-red">*</span></th>
          <th style="min-width: 90px;">Stk Type</th>
          <th>Unit Cost<span *ngIf="!isWorkOrder" class="clr-red">*</span></th>
          <th>Ext. Cost<span *ngIf="!isWorkOrder" class="clr-red">*</span></th>
          <th>Deferred</th>
          <th>Memo</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="material-tr" [hidden]="material.isDelete"
          *ngFor="let material of workFlow.materialList; let i = index" id="row_{{i}}">
          <td *ngIf="!isWorkFlow">
            <select class="form-control custom-select wf-pub-id" [(ngModel)]="material.taskId" name="task_{{ i }}"
              required (change)="onTaskChange(material)">
              <option value="">Select </option>
              <option *ngFor="let task of taskList" [value]="task.taskId">{{
                task.description
              }}</option>
            </select>
          </td>
          <td>
            <div style="display:inline-flex">
              <p-autoComplete (onSelect)="onPartSelect($event, material,i)" [suggestions]="partCollection"
                (onClear)="clearautoCompleteInput(material, 'partNumber' )"
                (keyup)="getPartnumbers($event.target.value)" (completeMethod)="filterpartItems($event)" [size]="30"
                [(ngModel)]="material.partNumber" [minLength]="1" [dropdown]="true" class="workflow-measurement-select"
                name="partnum_{{ i }}" required>
                <ng-template let-partName pTemplate="part">
                  <div class="ui-helper-clearfix">{{ partName }}</div>
                </ng-template>
              </p-autoComplete>
              <div *ngIf="material.partNumber !== null && material.partNumber !== '' ">
                <a data-toggle="tooltip" matTooltipPosition="above" matTooltip="View" tooltipPosition="bottom" title=""
                  class="btn  nobg" data-original-title="View" (click)="openView(material)" class="view_content">
                  <i class="fa fa-eye view_icon_adjust"></i>
                </a>
              </div>
            </div>
          </td>
          <td style="min-width: 150px;">
            {{ material.partDescription }}
          </td>
          <td>
            <p-dropdown placeholder="--Select--" [options]="conditionList" name="condition{{i}}" #condition="ngModel"
              (onChange)="getPNDetails(material)" class="p-dropdown-custom-md" [(ngModel)]="material.conditionCodeId"
              required>
            </p-dropdown>
          </td>
          <td>
            <select class="form-control wf-pub-id full-width" id="ddlMandatoryOrSupplemental"
              [(ngModel)]="material.mandatoryOrSupplemental" style="margin:auto;" name="mandi_{{ i }}"
              (change)="onSelectMaterialManditory(material)">
              <option value="">--Select--</option>
              <option *ngFor="let mandatory of materialMandatory" value="{{ mandatory.id }}">
                {{ mandatory.name }}
              </option>
            </select>
          </td>
          <td *ngIf="isQuote==true || isWorkOrder==true">
            <select class="form-control wf-pub-id" [(ngModel)]="material.provisionId" name="provision_{{ i }}"
              (change)="getProvisionDetails($event,material,i)" required>
              <option value="">--Select--</option>
              <option *ngFor="let item of provisionListData" [ngValue]="item.value" required>
                {{ item.label }}
              </option>
            </select>
          </td>
          <td>
            <input type="text" pInputText pKeyFilter="pnum" class="form-control w100 text-right"
              value="{{ material.quantity }}" (keyup)="
                calculateQtySummation();
                calculateExtendedCost(material);
                calculateExtendedPrice(material)
              " [(ngModel)]="material.quantity" maxlength="15" name="qty_{{ i }}" required />
          </td>
          <td style="min-width: 115px;">
            {{material.itemClassification}}
          </td>
          <td style="min-width: 50px;">
            {{material.unitOfMeasure}}
          </td>
          <td>
            {{material.stockType}}
          </td>
          <td>
            <input type="text" class="form-control w100 text-right" pInputText pKeyFilter="money"
              value="{{ material.unitCost }}" (change)="calculateExtendedCost(material)" [(ngModel)]="material.unitCost"
              name="unitcost_{{ i }}" [required]="!isWorkOrder" maxlength="15" />
          </td>
          <td>
            <input type="text" class="form-control w100 text-right" pInputText pKeyFilter="money" [disabled]="true"
              value="{{ material.extendedCost }}" [(ngModel)]="material.extendedCost" name="extCost_{{ i }}"
              maxlength="15" [required]="!isWorkOrder" />
          </td>
          <td style="width:30px;text-align: center;">
            <div class="custom-checkbox-box">
              <input class="filled-in" id="PMS" type="checkbox" value="{{ material.isDeferred }}"
                [(ngModel)]="material.isDeferred" name="isDef_{{ i }}" />

            </div>
          </td>
          <td>
            <div class="form-group memo-popup-cstm mat_emo">
              <div [innerHTML]="material.memo" matTooltipPosition="above" [matTooltip]="parsedText(material.memo)"
                class="text_editor_box"></div>
              <i class="fa fa-pencil fa-lg ci_cls" data-toggle="modal" data-target="#textarea-popup" matTooltip="memo"
                matTooltipPosition="above" (click)="onAddTextAreaInfo(material,i)"></i>
            </div>
          </td>
          <td>
            <button class="btn btn-danger nobg" (click)="deleteRow(i, materialCreateForm)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="workFlow.materialList.length > 0 && !isWorkOrder">
        <tr>
          <td>
            <b>Total</b>
          </td>
          <td *ngIf="isQuote">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text-right"><b>{{ workFlow.materialExtendedCostSummation }}</b></td>
          <td *ngIf="!isQuote"></td>
          <td *ngIf="!isQuote" class="text-right"><b>
              {{ workFlow.materialExtendedPriceSummation }}</b>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </form>
  <div class="modal fade" id="textarea-popup" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" style="max-width: 400px !important;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="onCloseTextAreaInfo()">&times;</button>
          <h4 class="modal-title">Memo</h4>
        </div>
        <div class="modal-body">
          <p-editor [(ngModel)]="textAreaInfo" [style]="{'height':'320px'}" name="textAreaInfo" required></p-editor>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onSaveTextAreaInfo(textAreaInfo)">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCloseTextAreaInfo()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isWorkOrder && !isEdit" style="float:right">
    <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary" (click)="saveMaterialsWorkOrder()"
      style="padding: 6px 12px !important;margin-top: 10px;"
      [disabled]="!materialCreateForm.valid || checkQuantityAvailability()">
      Save
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeMaterialTab()"
      style="padding: 6px 12px !important;margin-top: 10px;">Close</button>
  </div>

  <div *ngIf="isQuote" style="float:right">
    <button class="btn btn-primary btn-primary" (click)="saveMaterialsWorkOrder()"
      style="padding: 6px 12px !important;margin-top: 10px;"
      [disabled]="!materialCreateForm.valid || checkQuantityAvailability()">
      Add
    </button>
  </div>

  <div *ngIf="isWorkOrder && isEdit" style="float:right">
    <button *ngIf="isWorkOrder" class="btn btn-primary btn-primary" (click)="updateMaterialsWorkOrder()"
      style="padding: 6px 12px !important;margin-top: 10px;"
      [disabled]="!materialCreateForm.valid || checkQuantityAvailability()">
      Update
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal"
      style="padding: 6px 12px !important;margin-top: 10px;">Close</button>
  </div>
</div>

<div id="itemMasterView" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="padding: 0 !important" (click)="dismissItemMasterModel()">
          &times;
        </button>
        <div class="col-sm-3">
          <h4 class="modal-title">Details of Item Master</h4>
        </div>
        <div class="col-sm-3">
          <p class="view-header">PN: <span class="text-danger">{{viewItemMaster.partNumber}}</span></p>
        </div>
        <div class="col-sm-3">
          <p class="view-header">PN Description: <span class="text-danger">{{viewItemMaster.partDescription}}</span></p>
        </div>
      </div>
      <div class="modal-body" *ngIf="itemMasterView">
        <div class="table-responsive default-bg clear">
          <div>
            <button type="button" class="btn btn-primary" (click)="expandAllItemMasterDetails()">Open All</button>
            <button type="button" class="btn btn-secondary" (click)="closeAllItemMasterDetails()">Close All</button>
          </div>

          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#step1" aria-expanded="false" aria-controls="receive"
                    class="collapsed">
                    General Info
                  </a>
                </h4>
              </div>
              <div id="step1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <div class="modal-content p-1">
                    <div class="table-responsive default-bg clear">
                      <div class="col-sm-6">
                        <p><span class="label"><b>PN: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.partNumber}}</span></p>
                        <p><span class="label"><b>PMA: </b></span><span
                            class="value">{{viewItemMaster.isPma ? viewItemMaster.isPma : '-'}}</span></p>
                        <p><span class="label"><b>OEM PN: </b></span><span
                            class="value">{{viewItemMaster.oemPN ? viewItemMaster.oemPN : '-'}}</span></p>
                        <p><span class="label"><b>PN Description: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.partDescription}}</span></p>
                        <p><span class="label"><b>Revised Part: </b></span><span
                            class="value">{{viewItemMaster.revisedPart ? viewItemMaster.revisedPart : '-'}}</span></p>
                        <p><span class="label"><b>Serialized: </b></span><span
                            class="value">{{viewItemMaster.isSerialized ? viewItemMaster.isSerialized : '-'}}</span></p>
                        <p><span class="label"><b>Time Life: </b></span><span
                            class="value">{{viewItemMaster.isTimeLife ? viewItemMaster.isTimeLife : '-'}}</span></p>
                        <p><span class="label"><b>NSN: </b></span><span
                            class="value">{{viewItemMaster.nationalStockNumber ? viewItemMaster.nationalStockNumber : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Item Classification: <span class="text-danger">*</span>
                            </b></span><span class="value">{{viewItemMaster.itemClassification}}</span></p>
                        <p><span class="label"><b>Item Group: </b></span><span
                            class="value">{{viewItemMaster.itemGroup ? viewItemMaster.itemGroup : '-'}}</span></p>
                        <p><span class="label"><b>Acquisition Type: </b></span><span
                            class="value">{{viewItemMaster.assetAcquistionType ? viewItemMaster.assetAcquistionType : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Expiration Date: </b></span><span
                            class="value">{{viewItemMaster.expirationDate | date: 'MM-dd-yyyy'}}</span></p>
                        <div class="form-row" *ngIf="viewItemMaster.isExpirationDateAvailable">
                          <div class="col-md-6">
                            <div class="snumber-block2">
                              <div class="form-group col-sm-12">
                                <label class="control-label control-alter1 col-sm-5">Rec'd date</label>
                                <div class="col-sm-7">
                                  <label class="wauto">
                                    <input type="checkbox" style="margin-left:11px;" name="isReceivedDateAvailable"
                                      [(ngModel)]="viewItemMaster.isReceivedDateAvailable" disabled>
                                  </label>
                                  <input *ngIf="viewItemMaster.isReceivedDateAvailable"
                                    class="form-control number exp-date-inputs w48" type="number" name="daysReceived"
                                    [(ngModel)]="viewItemMaster.daysReceived" disabled>
                                  <span *ngIf="viewItemMaster.isReceivedDateAvailable"
                                    style="margin-left: 8px;">Days</span>
                                </div>
                              </div>
                              <div class="form-group col-sm-12">
                                <label class="control-label control-alter col-sm-5">Mfg date</label>
                                <div class="col-sm-7">
                                  <label class="wauto">
                                    <input type="checkbox" style="margin-left:11px !important"
                                      name="isManufacturingDateAvailable"
                                      [(ngModel)]="viewItemMaster.isManufacturingDateAvailable" disabled>
                                  </label>
                                  <input *ngIf="viewItemMaster.isManufacturingDateAvailable"
                                    class="form-control number exp-date-inputs w48" type="number"
                                    name="manufacturingDays" [(ngModel)]="viewItemMaster.manufacturingDays" disabled>
                                  <span *ngIf="viewItemMaster.isManufacturingDateAvailable"
                                    style="margin-left: 8px;">Days</span>
                                </div>
                              </div>
                              <div class="form-group col-sm-12">
                                <label class="control-label control-alter col-sm-5">Tag date</label>
                                <div class="col-sm-7">
                                  <label class="wauto">
                                    <input type="checkbox" name="exp-date-radio" style="margin-left:11px !important"
                                      name="isTagDateAvailable" [(ngModel)]="viewItemMaster.isTagDateAvailable"
                                      disabled>
                                  </label>
                                  <input *ngIf="viewItemMaster.isTagDateAvailable"
                                    class="form-control number exp-date-inputs w48" type="text" name="tagDays"
                                    [(ngModel)]="viewItemMaster.tagDays" disabled>
                                  <span *ngIf="viewItemMaster.isTagDateAvailable" style="margin-left: 8px;">Days</span>
                                </div>
                              </div>
                              <div class="form-group col-sm-12">
                                <label class="control-label control-alter col-sm-5">Open date</label>
                                <div class="col-sm-7">
                                  <label class="wauto">
                                    <input type="checkbox" name="isOpenDateAvailable"
                                      style="margin-left:11px !important"
                                      [(ngModel)]="viewItemMaster.isOpenDateAvailable" disabled>
                                  </label>
                                  <input *ngIf="viewItemMaster.isOpenDateAvailable"
                                    class="form-control number exp-date-inputs w48" type="number" name="openDays"
                                    [(ngModel)]="viewItemMaster.openDays" disabled>
                                  <span *ngIf="viewItemMaster.isOpenDateAvailable" style="margin-left: 8px;">Days</span>
                                </div>
                              </div>
                              <div class="form-group col-sm-12">
                                <label class="control-label control-alter col-sm-5">Shipped date</label>
                                <div class="col-sm-7">
                                  <label class="wauto">
                                    <input type="checkbox" name="isShippedDateAvailable"
                                      style="margin-left:11px !important"
                                      [(ngModel)]="viewItemMaster.isShippedDateAvailable" disabled>
                                  </label>
                                  <input *ngIf="viewItemMaster.isShippedDateAvailable"
                                    class="form-control number exp-date-inputs w48" type="number" name="shippedDays"
                                    [(ngModel)]="viewItemMaster.shippedDays" disabled>
                                  <span *ngIf="viewItemMaster.isShippedDateAvailable"
                                    style="margin-left: 8px;">Days</span>
                                </div>
                              </div>
                              <div class="form-group col-sm-12">
                                <label class="control-label control-alter col-sm-5">Other date</label>
                                <div class="col-sm-7">
                                  <label class="wauto">
                                    <input type="checkbox" name="isOtherDateAvailable"
                                      style="margin-left:11px !important"
                                      [(ngModel)]="viewItemMaster.isOtherDateAvailable" disabled>
                                  </label>
                                  <input *ngIf="viewItemMaster.isOtherDateAvailable"
                                    class="form-control number exp-date-inputs w48" type="number" name="otherDays"
                                    [(ngModel)]="viewItemMaster.otherDays" disabled>
                                  <span *ngIf="viewItemMaster.isOtherDateAvailable"
                                    style="margin-left: 8px;">Days</span>
                                </div>
                              </div>
                              <div class="clear"></div>
                            </div>
                          </div>
                        </div>
                        <div class="inline-block display-flex">
                          <label class="control-label">Shelf Life</label>
                          <input class="form-control new-checkbox" type="checkbox" name="shelfLife"
                            [(ngModel)]="viewItemMaster.shelfLife" style="margin: 4px 10px 0 20px;" disabled>
                          &nbsp;
                          <input *ngIf="viewItemMaster.shelfLife" class="form-control shelf1 number exp-date-inputs w50"
                            type="number" name="shelfLifeAvailable" [(ngModel)]="viewItemMaster.shelfLifeAvailable"
                            disabled>
                          <strong class="shelf" style="margin-left: 5px;"><span
                              *ngIf="viewItemMaster.shelfLife">Days</span></strong>
                        </div>
                        <p><span class="label"><b>DER: </b></span><span
                            class="value">{{viewItemMaster.der ? viewItemMaster.der : '-'}}</span></p>
                        <p><span class="label"><b>Hazardous Material: </b></span><span
                            class="value">{{viewItemMaster.isHazardousMaterial ? viewItemMaster.isHazardousMaterial : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Manufacturer: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.manufacturerName}}</span></p>
                        <p><span class="label"><b>RFQ Tracking: </b></span><span
                            class="value">{{viewItemMaster.rfqTracking ? viewItemMaster.rfqTracking : '-'}}</span></p>
                        <p><span class="label"><b>Purchase UOM: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.purchaseUnitOfMeasure}}</span></p>
                        <p><span class="label"><b>Stock UOM: </b></span><span
                            class="value">{{viewItemMaster.stockUnitOfMeasure ? viewItemMaster.stockUnitOfMeasure : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Consume UOM: </b></span><span
                            class="value">{{viewItemMaster.consumeUnitOfMeasure ? viewItemMaster.consumeUnitOfMeasure : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Schematic: </b></span><span
                            class="value">{{viewItemMaster.isSchematic ? viewItemMaster.isSchematic : '-'}}</span></p>
                        <div class="col-sm-8">
                          <div class="table-responsive table-overflow" *ngIf="allUploadedDocumentsList.length> 0">
                            <h4 class="panel-title">Attachment Details:</h4>
                            <table class="table table-bordered ">
                              <thead>
                                <tr>
                                  <th>File Name</th>
                                  <th>Download</th>
                                </tr>
                              </thead>
                              <tbody *ngFor="let f of allUploadedDocumentsList">
                                <tr>
                                  <td>{{f.fileName}}</td>
                                  <td><a (click)="downloadFileUpload(f)" matTooltip="Download"
                                      class="btn nobg btn-cstm"><span><i class="fa fa-download"
                                          style="color:black"></i></span></a> </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <p><span class="label"><b>GL Acct.: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.glAccount}}</span></p>
                        <p><span class="label"><b>Lead Time Days: </b></span><span
                            class="value">{{viewItemMaster.leadTimeDays ? viewItemMaster.leadTimeDays : '-'}}</span></p>
                        <p><span class="label"><b>Stock Level: </b></span><span
                            class="value">{{viewItemMaster.stockLevel ? viewItemMaster.stockLevel : '-'}}</span></p>
                        <p><span class="label"><b>Reorder Point: </b></span><span
                            class="value">{{viewItemMaster.reorderPoint ? viewItemMaster.reorderPoint : '-'}}</span></p>
                        <p><span class="label"><b>Reorder Qty: </b></span><span
                            class="value">{{viewItemMaster.reorderQuantiy ? viewItemMaster.reorderQuantiy : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Min Order Qty: </b></span><span
                            class="value">{{viewItemMaster.minimumOrderQuantity ? viewItemMaster.minimumOrderQuantity : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Priority: </b></span><span
                            class="value">{{viewItemMaster.priority ? viewItemMaster.priority : '-'}}</span></p>
                        <p><span class="label"><b>Integration With: </b></span><span
                            class="value">{{viewItemMaster.integrationPortal ? viewItemMaster.integrationPortal : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Memo: </b></span><span
                            class="value">{{viewItemMaster.memo ? viewItemMaster.memo : '-'}}</span></p>
                        <p><span class="label"><b>Site: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.siteName ? viewItemMaster.siteName : '-'}}</span></p>
                        <p><span class="label"><b>Warehouse: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.warehouseName ? viewItemMaster.warehouseName : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Location: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.locationName ? viewItemMaster.locationName : '-'}}</span></p>
                        <p><span class="label"><b>Shelf: </b></span><span
                            class="value">{{viewItemMaster.shelfName ? viewItemMaster.shelfName : '-'}}</span></p>
                        <p><span class="label"><b>Bin: </b></span><span
                            class="value">{{viewItemMaster.binName ? viewItemMaster.binName : '-'}}</span></p>
                        <p><span class="label"><b>Hot Item: </b></span><span
                            class="value">{{viewItemMaster.isHotItem ? viewItemMaster.isHotItem : '-'}}</span></p>
                      </div>
                      <div class="form-row">
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="control-label">NTE</label>
                            <div>
                              <div class="table-responsive">
                                <table class="table table-bordered wfm-general-table">
                                  <thead style="text-align:center;">
                                    <tr>
                                      <th>Overhaul</th>
                                      <th>Repair</th>
                                      <th>Bench Test</th>
                                      <th>Mfg</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <strong>Hours</strong>
                                        <br />
                                        <input type="number" class="form-control w50 time control-bottom"
                                          name="overhaulHours" [(ngModel)]="viewItemMaster.overhaulHours" disabled>
                                      </td>
                                      <td>
                                        <strong>Hours</strong>
                                        <br />
                                        <input type="number" pKeyFilter="int"
                                          class="form-control w50 time control-bottom" name=""
                                          [(ngModel)]="viewItemMaster.rpHours" disabled>
                                      </td>
                                      <td>
                                        <strong>Hours</strong>
                                        <br />
                                        <input type="number" pKeyFilter="int" pattern="/^-?\d+\.?\d*$/"
                                          onKeyPress="if(this.value.length==5) return false;"
                                          class="form-control w50 time control-bottom"
                                          [ngModelOptions]="{standalone: true}" [(ngModel)]="viewItemMaster.testHours"
                                          disabled>
                                      </td>
                                      <td>
                                        <strong>Hours</strong>
                                        <br />
                                        <input type="number" pKeyFilter="int"
                                          class="form-control w50 time control-bottom"
                                          [ngModelOptions]="{standalone: true}" pattern="/^-?\d+\.?\d*$/"
                                          onKeyPress="if(this.value.length==5) return false;"
                                          [(ngModel)]="viewItemMaster.mfgHours" disabled>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="control-label">Turn Time</label>
                            <div>
                              <div class="table-responsive">
                                <table class="table table-bordered wfm-general-table">
                                  <thead style="text-align:center;">
                                    <tr>
                                      <th>Overhaul</th>
                                      <th>Repair</th>
                                      <th>Bench Test</th>
                                      <th>Mfg</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <strong>Days</strong>
                                        <br />
                                        <input type="number" pKeyFilter="int"
                                          class="form-control w50 time control-bottom"
                                          [ngModelOptions]="{standalone: true}" pattern="/^-?\d+\.?\d*$/"
                                          onKeyPress="if(this.value.length==5) return false;"
                                          [(ngModel)]="viewItemMaster.turnTimeOverhaulHours" disabled>
                                      </td>
                                      <td>
                                        <strong>Days</strong>
                                        <br />
                                        <input type="number" pKeyFilter="int"
                                          class="form-control w50 time control-bottom"
                                          [ngModelOptions]="{standalone: true}" pattern="/^-?\d+\.?\d*$/"
                                          onKeyPress="if(this.value.length==5) return false;"
                                          [(ngModel)]="viewItemMaster.turnTimeRepairHours" disabled>
                                      </td>
                                      <td>
                                        <strong>Days</strong>
                                        <br />
                                        <input type="number" pKeyFilter="int"
                                          class="form-control w50 time control-bottom"
                                          [ngModelOptions]="{standalone: true}" pattern="/^-?\d+\.?\d*$/"
                                          onKeyPress="if(this.value.length==5) return false;"
                                          [(ngModel)]="viewItemMaster.turnTimeBenchTest" disabled>
                                      </td>
                                      <td>
                                        <strong>Days</strong>
                                        <br />
                                        <input type="number" pKeyFilter="int"
                                          class="form-control w50 time control-bottom"
                                          [ngModelOptions]="{standalone: true}" pattern="/^-?\d+\.?\d*$/"
                                          onKeyPress="if(this.value.length==5) return false;"
                                          [(ngModel)]="viewItemMaster.turnTimeMfg" disabled>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#step2" aria-expanded="false">Aircraft Info</a>
                </h4>
              </div>
              <div id="step2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <div class="modal-content p-1" style="overflow: hidden;padding-bottom: 60px !important;">
                    <p-table #aircraft [value]="aircraftListDataValues" class="rpo-table-cstm ptable-th-bg "
                      [rows]="pageSize" [columns]="colsaircraftLD" [scrollable]="true" [style]="{width:'100%'}"
                      [paginator]="true" [rowsPerPageOptions]="[10, 20, 50, 100]" [resizableColumns]="true"
                      [reorderableColumns]="true" selectionMode="multiple">

                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:130px" />
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns" pResizableColumn pReorderableColumn
                            [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                          </th>
                          <th style="width:70px;position:sticky">Action</th>
                        </tr>
                        <tr>
                          <th style="width:auto" *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input style="width:100%;" pInputText type="text"
                              (input)="aircraft.filter($event.target.value, col.field, 'contains')" />
                          </th>
                          <th style="width:70px;position:sticky"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData" [pSelectableRowDblClick]="rowData" pReorderableRowHandle
                          (dblclick)="onViewAircraftonDbl(rowData)">
                          <td *ngFor="let col of columns" ResizableColumn pReorderableColumn>
                            {{rowData[col.field]}}
                          </td>
                          <td style="width:70px; text-align: center;" *ngIf="colsaircraftLD.length > 0">
                            <span> <a class="btn btn-info boxed-float-btn nobg" data-toggle="modal"
                                data-target="#viewAircraft" (click)="onViewAircraft(rowData)" matTooltip="View"><i
                                  class="fa fa-eye"></i></a> </span>
                            <span><a class="btn nobg" data-toggle="modal" data-target="#aircraftHistory"
                                matTooltip="History" (click)="getAircraftAuditHistory(rowData)"><i
                                  class="fa fa-history"></i></a></span>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage" let-columns *ngIf="aircraftListDataValues?.length == 0">
                        <tr>
                          <td [attr.colspan]="6" class="no-records-cstm">
                            No records found
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="summary" id="footer">
                        <label id="footer" class="footer">Total:</label>
                        <input style="width: 5%;" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="aircraft._totalRecords" [disabled]="true" pInputText type="text" />
                        &nbsp;&nbsp;
                        <label id="footer" class="footer1">Pages Count:</label>
                        <input style="width: 5%;" [ngModelOptions]="{standalone: true}"
                          [ngModel]="getPageCount(aircraft._totalRecords, pageSize)" [disabled]="true" pInputText
                          type="text" />
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step3">ATA Chapters</a>
                </h4>
              </div>
              <div id="step3" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="modal-content p-1" style="overflow: hidden;padding-bottom: 60px !important;">
                    <p-table #ataDataTable class="rpo-table-cstm ptable-th-bg " [value]="ataMappedList"
                      [rows]="pageSize" [columns]="atasub" [scrollable]="true" [style]="{width:'100%'}"
                      [paginator]="true" [rowsPerPageOptions]="[10, 20, 50, 100]">
                      <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                          <col *ngFor="let col of columns" style="width:130px" />
                        </colgroup>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of atasub" pResizableColumn pReorderableColumn
                            [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                          </th>
                        </tr>
                        <tr>
                          <th style="width:auto" *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input style="width:100%;" pInputText type="text"
                              (input)="ataDataTable.filter($event.target.value, col.field, 'contains')" />
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData" [pSelectableRowDblClick]="rowData">
                          <td *ngFor="let col of atasub" ResizableColumn pReorderableColumn>
                            {{rowData[col.field]}}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage" let-columns *ngIf="ataMappedList?.length == 0">
                        <tr>
                          <td [attr.colspan]="6" class="no-records-cstm">
                            No records found
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="summary" id="footer">
                        <label id="footer" class="footer">Total:</label>
                        <input style="width: 5%;" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="ataDataTable._totalRecords" [disabled]="true" pInputText type="text" />
                        &nbsp;&nbsp;
                        <label id="footer" class="footer1">Pages Count:</label>
                        <input style="width: 5%;" [ngModelOptions]="{standalone: true}"
                          [ngModel]="getPageCount(ataDataTable._totalRecords, pageSize)" [disabled]="true" pInputText
                          type="text" />
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step4">Capes</a> </h4>
              </div>
              <div id="step4" class="panel-collapse collapse">
                <div class="panel-body">
                  <div>
                    <app-item-master-capabilities-list *ngIf="itemMasterId"
                      [isEnableItemMasterView]="isEnableItemMasterView" [itemMasterId]="itemMasterId">
                    </app-item-master-capabilities-list>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step5">Purchase and
                    Sales</a> </h4>
              </div>
              <div id="step5" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="modal-content" style="padding: 8px;">
                    <div class="table-responsive">
                      <table class="table table-bordered purchaseTable" id="mpn-list-table">
                        <thead>
                          <tr>
                            <th colspan="10">Unit Purchase Price</th>
                            <th colspan="19" class="bg1">Unit Sale Price</th>
                          </tr>
                          <tr>
                            <th colspan="10"></th>
                            <th colspan="5" class="bg2">Use Flat Sale Price</th>
                            <th colspan="13" class="bg3">Calculate Unit Sale Price Using Puchase Price</th>

                          </tr>
                          <tr>
                            <th>Cond *</th>
                            <th>UOM *</th>
                            <th>Currency *</th>
                            <th>FX Rate *</th>
                            <th>Vendor List Price</th>
                            <th>Last List Price Date</th>
                            <th>Purchase Disc %</th>
                            <th>Purchase Disc Amount</th>
                            <th>Last Purchase Disc Date</th>
                            <th>Unit Purchase Price</th>
                            <th class="bg2">UOM *</th>
                            <th class="bg2">Currency *</th>
                            <th class="bg2">FX Rate *</th>
                            <th class="bg2">Flat Price Amount</th>
                            <th class="bg2">Last Flat Price Date</th>
                            <th class="bg3">Mark % on List Price</th>
                            <th class="bg3">Mark Up Amount</th>
                            <th class="bg3">Last Mark Up Date</th>
                            <th class="bg3">Base Sale Price</th>
                            <th class="bg3">Sale Disc %</th>
                            <th class="bg3">Sale Disc Amount</th>
                            <th class="bg3">Last Sales Disc Date</th>
                            <th class="bg3">Unit Sale Price</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let field of purchaseSalesInfo">
                            <td>{{field.conditionName ? field.conditionName : '-'}}</td>
                            <td>{{field.pP_UOMName ? field.pP_UOMName : '-'}}</td>
                            <td>{{field.pP_CurrencyName ? field.pP_CurrencyName : '-'}}</td>
                            <td>{{field.pP_FXRatePerc ? field.pP_FXRatePerc : '-'}}</td>
                            <td>{{field.pP_VendorListPrice ? field.pP_VendorListPrice : '-'}}</td>
                            <td>{{field.pP_LastListPriceDate | date:'MM-dd-yyyy'}}</td>
                            <td>{{field.pP_PurchaseDiscPerc ? field.pP_PurchaseDiscPerc : '-'}}</td>
                            <td>{{field.pP_PurchaseDiscAmount ? field.pP_PurchaseDiscAmount : '-'}}</td>
                            <td>{{field.pP_LastPurchaseDiscDate | date:'MM-dd-yyyy'}}</td>
                            <td>{{field.pP_UnitPurchasePrice ? field.pP_UnitPurchasePrice : '-'}}</td>
                            <td>{{field.sP_FSP_UOMName ? field.sP_FSP_UOMName : '-'}}</td>
                            <td>{{field.sP_FSP_CurrencyName ? field.sP_FSP_CurrencyName : '-'}}</td>
                            <td>{{field.sP_FSP_FXRatePerc ? field.sP_FSP_FXRatePerc : '-'}}</td>
                            <td>{{field.sP_FSP_FlatPriceAmount ? field.sP_FSP_FlatPriceAmount : '-'}}</td>
                            <td>{{field.sP_FSP_LastFlatPriceDate | date:'MM-dd-yyyy'}}</td>
                            <td>
                              {{field.sP_CalSPByPP_MarkUpPercOnListPrice ? field.sP_CalSPByPP_MarkUpPercOnListPrice : '-'}}
                            </td>
                            <td>{{field.sP_CalSPByPP_MarkUpAmount ? field.sP_CalSPByPP_MarkUpAmount : '-'}}</td>
                            <td>{{field.sP_CalSPByPP_LastMarkUpDate | date:'MM-dd-yyyy'}}</td>
                            <td>{{field.sP_CalSPByPP_BaseSalePrice ? field.sP_CalSPByPP_BaseSalePrice : '-'}}</td>
                            <td>{{field.sP_CalSPByPP_SaleDiscPerc ? field.sP_CalSPByPP_SaleDiscPerc : '-'}}</td>
                            <td>{{field.sP_CalSPByPP_SaleDiscAmount ? field.sP_CalSPByPP_SaleDiscAmount : '-'}}</td>
                            <td>{{field.sP_CalSPByPP_LastSalesDiscDate | date:'MM-dd-yyyy'}}</td>
                            <td>{{field.sP_CalSPByPP_UnitSalePrice ? field.sP_CalSPByPP_UnitSalePrice : '-'}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step6">NHA,TLA, Alternate,
                    Equivalency</a> </h4>
              </div>
              <div id="step6" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="modal-content p-1">
                    <div class="form-row">
                      <div class="col-md-6">
                        <app-ntae-alternate *ngIf="itemMasterId" [itemMastId]="itemMasterId"
                          [isViewItemMasterNHA]="isViewItemMasterNHA"></app-ntae-alternate>
                      </div>
                      <div class="col-md-6">
                        <app-ntae-alternate *ngIf="itemMasterId" [itemMastId]="itemMasterId"
                          [isViewItemMasterTLA]="isViewItemMasterTLA"></app-ntae-alternate>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <app-ntae-alternate *ngIf="itemMasterId" [itemMastId]="itemMasterId"
                          [isViewItemMasterAlternate]="isViewItemMasterAlternate"></app-ntae-alternate>
                      </div>
                      <div class="col-md-6">
                        <app-ntae-alternate *ngIf="itemMasterId" [itemMastId]="itemMasterId"
                          [isViewItemMasterEquivalency]="isViewItemMasterEquivalency"></app-ntae-alternate>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step7">Exchange and
                    Loans</a> </h4>
              </div>
              <div id="step7" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="modal-content p-1">
                    <div class="form-row">
                      <div class="col-sm-6">
                        <h4 class="po-head">Exchange</h4>
                        <p><span class="label"><b>Currency: </b></span><span
                            class="value">{{exchangeLoanInfo.exchangeCurrencyName ? exchangeLoanInfo.exchangeCurrencyName : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Exchange List Price: </b></span><span
                            class="value">{{exchangeLoanInfo.exchangeListPrice ? exchangeLoanInfo.exchangeListPrice : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Core Price: </b></span><span
                            class="value">{{exchangeLoanInfo.exchangeCorePrice ? exchangeLoanInfo.exchangeCorePrice : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Overhaul Price: </b></span><span
                            class="value">{{exchangeLoanInfo.exchangeOverhaulPrice ? exchangeLoanInfo.exchangeOverhaulPrice : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Outright Price: </b></span><span
                            class="value">{{exchangeLoanInfo.exchangeOutrightPrice ? exchangeLoanInfo.exchangeOutrightPrice : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Core Cost: </b></span><span
                            class="value">{{exchangeLoanInfo.exchangeCoreCost ? exchangeLoanInfo.exchangeCoreCost : '-'}}</span>
                        </p>
                      </div>
                      <div class="col-sm-6">
                        <h4 class="po-head">Loan</h4>
                        <p><span class="label"><b>Currency: </b></span><span
                            class="value">{{exchangeLoanInfo.loanCurrencyName ? exchangeLoanInfo.loanCurrencyName : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Loan Fees: </b></span><span
                            class="value">{{exchangeLoanInfo.loanFees ? exchangeLoanInfo.loanFees : '-'}}</span></p>
                        <p><span class="label"><b>Core Price: </b></span><span
                            class="value">{{exchangeLoanInfo.loanCorePrice ? exchangeLoanInfo.loanCorePrice : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Outright Price: </b></span><span
                            class="value">{{exchangeLoanInfo.loanOutrightPrice ? exchangeLoanInfo.loanOutrightPrice : '-'}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" href="#step8">Export
                    Information</a> </h4>
              </div>
              <div id="step8" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="modal-content p-1">
                    <div class="form-row">
                      <div class="col-sm-6">
                        <p><span class="label"><b>ECCN: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.exportECCN ? viewItemMaster.exportECCN : '-'}}</span></p>
                        <p><span class="label"><b>ITAR Num: </b></span><span
                            class="value">{{viewItemMaster.itarNumber ? viewItemMaster.itarNumber : '-'}}</span></p>
                        <p><span class="label"><b>Country: </b></span><span
                            class="value">{{viewItemMaster.exportCountryName ? viewItemMaster.exportCountryName : '-'}}</span>
                        </p>
                        <p><span class="label"><b>Value: </b></span><span
                            class="value">{{viewItemMaster.exportValue ? viewItemMaster.exportValue : '-'}}</span></p>
                        <p><span class="label"><b>Currency: </b></span><span
                            class="value">{{viewItemMaster.exportCurrencyName ? viewItemMaster.exportCurrencyName : '-'}}</span>
                        </p>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-row">
                          <div class="col-sm-6">
                            <p><span class="label"><b>Weight: </b></span><span
                                class="value">{{viewItemMaster.exportWeight ? viewItemMaster.exportWeight : '-'}}</span>
                            </p>
                          </div>
                          <div class="col-sm-6">
                            <p><span class="label"><b>UOM: </b></span><span
                                class="value">{{viewItemMaster.exportWeightUnitName ? viewItemMaster.exportWeightUnitName : '-'}}</span>
                            </p>
                          </div>
                        </div>
                        <p><span class="label"><b>Export UOM: </b></span><span
                            class="value">{{viewItemMaster.exportUomName ? viewItemMaster.exportUomName : '-'}}</span>
                        </p>
                        <div class="form-row">
                          <div class="col-sm-6">
                            <p><span class="label"><b>Size (L,W,H): </b></span><span class="value">
                                {{viewItemMaster.exportSizeLength ? viewItemMaster.exportSizeLength : '-'}},
                                {{viewItemMaster.exportSizeWidth ? viewItemMaster.exportSizeWidth : '-'}},
                                {{viewItemMaster.exportSizeHeight ? viewItemMaster.exportSizeHeight : '-'}}
                              </span></p>
                          </div>
                          <div class="col-sm-6">
                            <p><span class="label"><b>UOM: </b></span><span
                                class="value">{{viewItemMaster.exportSizeUnitOfMeasureName ? viewItemMaster.exportSizeUnitOfMeasureName : '-'}}</span>
                            </p>
                          </div>
                        </div>
                        <p><span class="label"><b>Classification: <span class="text-danger">*</span> </b></span><span
                            class="value">{{viewItemMaster.exportClassificationIdName ? viewItemMaster.exportClassificationIdName : '-'}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="dismissItemMasterModel()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="preloader" *ngIf="isSpinnerVisible">
  <div class="loading">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>