<div class="fixed-table-container-inner table-responsive cat4-table fixed-column-table column-r1-fixed" style="max-height:380px;">
    <div class="header-div">
        <span class="cat-heading cat4">Add Measurement<i (click)="addRow()" class="fa fa-plus"></i></span>
    </div>
    <table class="table table-bordered table-fixed workflow-table-measment margin-top-31" >
    <thead>
        <tr>
            <th style="z-index: 1;"><label>PN<span class="clr-red">*</span></label></th>
            <th><label>PN Description</label></th>
            <th><label>Sequence</label></th>
            <th><label>Stage</label></th>
            <th><label>Min </label></th>
            <th><label>Max </label></th>
            <th><label>Expected</label></th>
            <th><label>Diagram</label></th>
            <th style="z-index: 1;"><label>Memo </label></th>
            <th><label>Action </label></th>
        </tr>
    </thead>
    <tbody>
        
        <tr [hidden]="measurement.isDelete" *ngFor="let measurement of workFlow.measurements;let i= index">
            <td>
                <p-autoComplete appendTo="body" [(ngModel)]="measurement.partName" [suggestions]="partCollection"
                    (completeMethod)="filterpartItems($event)" [size]="32" [minLength]="1" [dropdown]="true"
                    class="workflow-measurement-select" #partNum="ngModel" errorMessage="Records not found"
                    field="partNumber" (onSelect)="onPartSelect($event,measurement)" [forceSelection]="true"
                    title="PN" required>
                </p-autoComplete>
            </td> 
            <td class="min-width-140">{{measurement.partDescription}}</td>
            <td><input class="form-control text-right" pInputText pKeyFilter="num" type="text" maxlength="5"
                    (focusout)="checkDuplicateSequence($event, measurement);" [(ngModel)]="measurement.sequence"
                    value="{{measurement.sequence}}"></td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.stage" value="{{measurement.stage}}">
            </td>
            <td><input class="form-control text-right" type="text" pInputText pKeyFilter="num"
                    [(ngModel)]="measurement.min" value="{{measurement.min}}"></td>
            <td><input class="form-control text-right" type="text" pInputText pKeyFilter="num"
                    [(ngModel)]="measurement.max" (input)="validateMaxMin($event,measurement)" value="{{measurement.max}}"></td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.expected"
                    value="{{measurement.expected}}"></td>
            <td><input class="form-control" type="text" [(ngModel)]="measurement.diagramURL"
                    value="{{measurement.diagramURL}}"></td>
            <td>
                <div class="form-group notes-popup-cstm mat_emo memo-pencil-div">
                    <div [innerHTML]="measurement.memo" class="text_editor_box memo-html-div" matTooltipPosition="above" [matTooltip]="parsedText(measurement.memo)"></div>
                    <i class=" fa fa-pencil memo-pencil"
                         matTooltip="Memo" matTooltipPosition="above"
                        (click)="onAddTextAreaInfo(measurement,i)"></i>
                        
                </div>
            </td>
            <td class="text-center">
                <button class="btn btn-danger nobg"  (click)="openDelete(content,measurement,i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">        
        <h4 class="modal-title">Are You Sure Want to Delete?</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>      
    </div>
    <div class="modal-body">
        <strong *ngIf="deleteRowRecord && deleteRowRecord.partNumber">
            EPN:
            <span class="new-label" >{{deleteRowRecord.partNumber}}</span>
        </strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteRow()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>


<div class="modal fade" id="textareapopupMemo" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="font-size: 22px !important;">&times;</button>
                <h4 class="modal-title">Edit {{"Memo"}}</h4>
            </div>
            <div class="modal-body">
                <!-- <table class="table table-bordered table-fixed workflow-table-material">
                    <thead>
                        <th style="color: #fff;background: #4298ff !important;">{{"Memo"}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p-editor [(ngModel)]="textAreaInfo" [style]="{'height':'320px'}" name="textAreaInfo"
                                    required>
                                </p-editor>                        
                            </td>
                        </tr>
                    </tbody>
                </table> -->
                <p-editor [(ngModel)]="textAreaInfo" [style]="{'height':'320px'}" name="textAreaInfo"
                required>
              </p-editor>  
            
           </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary editor-buttons-margin" data-dismiss="modal"
                       
                        (click)="onSaveTextAreaInfo(textAreaInfo)">
                        Save
                    </button>
                    <button type="button" class="btn btn-danger editor-buttons-margin"
                        data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        
    </div>
</div>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>