// .coustomTable tr th {
//     font-weight: 600 !important;
//     font-size: 12px !important;
//     color: #fff !important;
//     background-color: #4298ff;
//     border: 1px solid #3a7fd2;
//     letter-spacing: 0.3px;
//     line-height: 25px;
//     text-align: center;
// }

// .coustomTable  tr  td {
//     padding: 5px 2px !important;
//     white-space: nowrap;
//     color: #222;
//     background: inherit;
//     border: 1px solid #c8c8c8;
//     font-size: 11px !important;
// }
.p_textEditor {
    margin: 0;
    padding: 0;
    // p{
    //     margin: 0;
    //     padding: 0;
    // }
}
.btn-edit{
    position: relative;
    top: 4px;
}
.text-end{
    text-align: end !important;
}
.show-deleted-div{
    width: 395px !important; float: right !important; padding-top: 3px !important;
}
.btn-font{
    font-size:24px !important;
}
.memo-display{
    display: inline-flex !important;
}
.memo-left{
    margin-left: 6px !important;
}