:host ::ng-deep .data-table-row {
     cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
    user-select: none;
   
}



  /* At everything bigger than mobile, make .video-container fill its parent */
  @media (min-width: 768px) {
    .widthAdjust {
      height: 700px;
      margin-left:20px;
    }
  }

