
// #footer {
//     display: inline-flex;
//     font-size: 11px !important;
// }

.footer {
    margin-left: 65%;
}

.footer1 {
    margin-right: 0px;
}

.control-label {    
    text-align: left;
    width: 100% !important;
    font-weight: 500;
}
