<div >
  <div *ngIf="
    (isEdit &&
    editWorkOrderGeneralInformation &&
    workOrderTypes &&
    workOrderStatusList &&
    creditTerms &&
    workOrderStagesList &&

    partNumberOriginalData &&
    jobTitles   && salesPersonOriginalList && salesAgentsOriginalList
     && csrOriginalList && technicianOriginalList && technicianByExpertiseTypeList
     )
  ">
    <app-work-order-add [isSubWorkOrder]="isSubWorkOrder" [subWoMpnGridUpdated]="subWoMpnGridUpdated" [subWorkOrderDetails]="paramsData" [isEdit]="isEdit"
      [workOrderTypes]="workOrderTypes" [workOrderStatusList]="workOrderStatusList" [creditTerms]="creditTerms"
      [jobTitles]="jobTitles" 
      [salesPersonOriginalList]="salesPersonOriginalList" [salesAgentsOriginalList]="salesAgentsOriginalList"
      [csrOriginalList]="csrOriginalList" [technicianOriginalList]="technicianOriginalList"
      [workOrderStagesList]="workOrderStagesList"
      [workorderSettings]="workorderSettings" 
      [partNumberOriginalData]="partNumberOriginalData" 
       [workOrderGeneralInformation]="editWorkOrderGeneralInformation" [technicianByExpertiseTypeList]="technicianByExpertiseTypeList"
     >
    </app-work-order-add>
  </div>
  <div *ngIf="
    !(
      isEdit &&
      workOrderTypes &&
      workOrderStatusList &&
      creditTerms &&
      workOrderStagesList &&
    
      partNumberOriginalData &&
     
       jobTitles && salesPersonOriginalList && salesAgentsOriginalList && csrOriginalList && technicianOriginalList && technicianByExpertiseTypeList
       
    )
  ">
    <!-- using add form as subworkOrder also -->
    <app-work-order-add [isSubWorkOrder]="isSubWorkOrder" [subWoMpnGridUpdated]="subWoMpnGridUpdated"  [subWorkOrderDetails]="paramsData"
      [workOrderId]="subWorkOrderId" [workFlowWorkOrderId]="workFlowWorkOrderId" [showTabsGrid]="showTabsGrid"
      [showGridMenu]="showGridMenu" [workOrderTypes]="workOrderTypes" [workOrderStatusList]="workOrderStatusList"
      [creditTerms]="creditTerms" [jobTitles]="jobTitles" 
      [salesPersonOriginalList]="salesPersonOriginalList"
      [salesAgentsOriginalList]="salesAgentsOriginalList" [csrOriginalList]="csrOriginalList"
      [technicianOriginalList]="technicianOriginalList" 
      [workOrderStagesList]="workOrderStagesList" [workorderSettings]="workorderSettings" 
      [partNumberOriginalData]="partNumberOriginalData" 
       [workOrderGeneralInformation]="workOrderGeneralInformation" [technicianByExpertiseTypeList]="technicianByExpertiseTypeList"
      
      (getLatestDefaultSettingByWorkOrderTypeId)="getWorkOrderDefaultSetting($event)">
    </app-work-order-add>
  </div>
</div>
<ng-template #loader>
  <div class="loader-css">
    <img src="../../../../assets/images/loader.gif">
  </div>
</ng-template>

<div class="preloader" *ngIf="isSpinnerEnable">
  <div class="loading">
      <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div> 
          <div></div>
      </div>
  </div>
</div> 