<div class="card new-card">
  <div class="card-header header">
    <div class="row">
      <div class="col">
        <h4 class="header-name">Change Password</h4>
      </div>
    </div>
  </div>
  <div class="card-body new-card-body">
    <form [formGroup]="updatePasswordForm">
<div class="col-sm-4">
      <div class="form-group">
        <label style="width:58px">Password<span class="clr-red">*</span></label>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="newpassword" placeholder="New Password" required>
        </div>
        <!-- <mat-form-field>       
        <input matInput formControlName="newpassword"
         type="password" required>
        <mat-error *ngIf="newpassword.hasError('required')">
            New Password is <strong>required</strong>
        </mat-error>
    </mat-form-field> -->
      </div>
      <div *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)"
        class="alert alert-danger alert-danger-cstm">
        <div *ngIf="newpassword.errors.required">
          <small> Password is required </small>
        </div>
        <div *ngIf="newpassword.errors?.pattern &&
  newpassword.touched" class="alert alert-danger alert-danger-cstm">
          <small> Invalid Password </small>
        </div>
      </div>

      <div class="form-group">
        <label style="width:100px !important">Confirm Password<span class="clr-red">*</span></label>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="confpassword" placeholder="Confirm Password"
            required>
        </div>
        <div *ngIf="confpassword.invalid && (confpassword.dirty || confpassword.touched)"
          class="alert alert-danger alert-danger-cstm">
          <div *ngIf="confpassword.errors.required">
            <small>Confirm Password is required </small>
          </div>
          <div *ngIf="confpassword.errors?.pattern &&
  confpassword.touched" class="alert alert-danger alert-danger-cstm">
            <small> Invalid Password </small>
          </div>
          <div *ngIf="confpassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary pull-right" (click)="UpdatePassword()">Change Password</button>
      </div>
</div>
     
    </form>
  </div>
</div>