<!-- <p>
  exchange-quote-agreement-template works!
</p> -->
<!-- <div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title"></h4>
  <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>

</div> -->
<!-- <div class="modal-content pdf-block " style="width:90%">
  <div class="modal-body"> -->

    <div class="clear"></div>
    <form id="" name="" action="#" method="post" onsubmit="return false;">
      <div class="image" style="min-height:500px;height:auto">
        <div style="padding: 0; margin: 0;">
          <div>

            <form id="" class="form-div" name="" action="#" method="post" onsubmit="return false;">
              <!-- <div class="logo-block">
                <img src="http://design.poweraerosuites.com/image/logo.png" width="130" />
              </div> -->
              <div class="clear"></div>
              <hr />
              <p style="text-align:center"><b>COMPONENT EXCHANGE AGREEMENT</b></p>
              <p style="text-align:center"> agreement MUST be signed and returned to <b> {{sellerName}} </b> prior to
                shipment of Unit</p>

              <div class="col-md-12" style="width:100%;margin-left:7%">

                <div class="confirmed-by col-sm-3" style="width:30%">
                  <div class="sixtydays">
                    <label style="width:45%">Customer Name :</label>
                  </div>
                    <label class="label-border pdf-part">{{exchangeQuoteView.exchangeOrderQuote.customerName}}</label><br />
                    <!-- <input type="text" value="" /> -->
                 
                </div>

                <div class="confirmed-by col-sm-3 margin-left-10" style="width:15%">
                  <div class="sixtydays">
                    <label style="width:60%">Customer Ref</label>
                  </div>
                    <label class="label-border pdf-part">{{exchangeQuoteView.exchangeOrderQuote.customerReference}}</label><br />
                    <!-- <input type="text" value="" /> -->
                 
                </div>

                <div class="confirmed-by col-sm-3 margin-left-10" style="width:15%">
                  <div class="sixtydays">
                    <label style="width:25%">PN</label>
                  </div>
                    <label class="label-border pdf-part">{{exchangeQuoteView.parts[0].partNumber}}</label><br />
                    <!-- <input type="text" value="" /> -->
                
                </div>

                <div class="confirmed-by col-sm-4 margin-left-10" style="width:30%">
                  <div class="sixtydays">
                    <label style="width:32%">PN Description</label>
                    <label class="label-border pdf-part">{{exchangeQuoteView.parts[0].partDescription}}</label><br />
                    <!-- <input type="text" value="" /> -->
                  </div>
                </div>
              </div>
              <!-- <div class="confirmed-by col-sm-1" style="width:10%">
                <div class="sixtydays">
                  <label>SN</label><br />
                  <input type="text" value="" />
                </div>
              </div> -->



              <div class="col-md-12" style="width:100%;margin-left:7%">

                <div class="confirmed-by col-sm-3 pdf-width-16" style="width:14%">
                  <div class="sixtydays">
                    <label style="width:50%">Quote Num</label>
                    <label class="label-border pdf-part">{{exchangeQuoteView.exchangeOrderQuote.exchangeQuoteNumber}}</label><br />
                    <!-- <input type="text" value="" /> -->
                  </div>
                </div>

                <div class="confirmed-by col-sm-3 pdf-width-16" style="width:13%;margin-left:-10px">
                  <div class="sixtydays">
                    <label style="width:45%">SO Num</label><br />
                    <label class="label-border pdf-part"></label><br />
                  </div>
                </div>

                <div class="confirmed-by col-sm-3 pdf-margin-left-3" style="width:15%;">
                  <div class="sixtydays" style="width: 100%;">
                    <label style="width:70%">Core Return Date</label><br />
                    <label class="label-border pdf-part"></label><br />
                  </div>
                </div>

                <div class="confirmed-by col-sm-4" style="width:15%;margin-left:10px">
                  <div class="sixtydays" style="width:100%">
                    <label style="width:45%">Exch Fee</label>
                    <label class="label-border pdf-part">{{exchangeQuoteView.parts[0].exchangeListPrice}}</label><br />
                    <!-- <input type="text" value="" /> -->
                  </div>
                </div>

                <div class="confirmed-by col-sm-2" style="width:14%;margin-left:10px">
                  <div class="sixtydays">
                    <label style="width:100%">Outright Price</label>
                    <label class="label-border pdf-part">{{exchangeQuoteView.parts[0].exchangeOutrightPrice}}</label><br />
                    <!-- <input type="text" value="" /> -->
                  </div>
                </div>
                <div class="confirmed-by col-sm-2" style="width:14%">
                  <div class="sixtydays">
                    <label style="width:75%">Core Price</label>
                    <label class="label-border pdf-part">{{exchangeQuoteView.parts[0].exchangeCorePrice}}</label><br />
                    <!-- <input type="text" value="" /> -->
                  </div>
                </div>


              </div>
              <br />
              <br />
              
                <p style="margin-left:-1px;" class="pdf-margin-top">Subject to the terms and conditions as set forth below, <b>{{sellerName}} </b>agrees to supply
                  <b>Customer </b>(their Customer) with a new, serviceable or overhauled “Exchange Unit” in exchange for
                  a Customer Core Unit described above and fees/prices listed above. The Customer agrees to the
                  following terms and conditions:</p>
                 
                <p>The Exchange Unit will be supplied on an exchange plus cost basis unless specified otherwise herein.
                  Failure to provide the Core Unit by the Due Date will result in additional Fees being charged to the
                  Customer.
                  The schedule of Exchange Fees is as follows:</p>
             


              <div class="pick-ticket-header" style="margin-top: 3%;">
                <h5>All fees will be invoiced in USD</h5>
              </div>
              <div style="width:100%">
                <div class="col-sm-6" style="width:60%;margin-top:10px">
                  <div class="confirmed-by">
                    <label class="label-name">1-30 Calendar Days</label><br />
                    <label class="label-border first-part">{{formateCurrency(getFirstExchangeFees())}}</label><br />
                  </div>

                  <div class="confirmed-by" style="margin-left:10px">
                    <label class="label-name">31-60 Calendar Days</label><br />
                    <label class="label-border first-part">{{formateCurrency(getSecondExchangeFees())}}</label><br />
                  </div>
                </div>
                <div class="confirmed-by col-sm-6 m-t-10 pdf-margin-left-10" style="width:30%;">
                  <div class="sixtydays">
                    <label class="label-name">61 Calendar Days Plus</label><br />
                    <label class="label-border first-part">{{formateCurrency(getThirdExchangeFees())}}</label><br />
                  </div>
                </div>
              </div>
              <br/>
              <div style="margin-top:7%">
                <p>All sums due hereunder shall be paid in accordance with the terms agreed and as stated on Customer’s
                  original invoice. All Exchange Units are delivered F.O.B. the delivery location. All expenses
                  associated with the shipment of the Exchange Unit (Including any duties or customs) shall be borne by
                  the Customer. Once an Exchange unit has been shipped to the Customer or transferred to the Customer’s
                  agent, the original Exchange Fee shall be deemed final even if the Core Unit is returned unused or in
                  advance of the Core Return Date. Risk of loss or damage to an Exchange Unit will pass to the Customer
                  at the time the original Exchange Unit is shipped to the Customer or transferred to the Customer’s
                  agent. Customer shall be responsible for any/all loss or damage of the Exchange Unit during shipment.
                  If the Exchange Unit
                  is lost or damaged in transit the Customer agrees to pay the accrued Exchange Fees and the Outright
                  Price.</p>

                <p>All Core Units are to be of the same Part Number as the original Exchange Unit and in As Removed
                  Condition, unless otherwise pre-approved and agreed to, in writing, <b>{{sellerName}}</b>.
                  The Customer agrees to pay the accrued Exchange Fees and the Outright Price for failing to return the
                  core unit in As Removed Condition.
                  The Customer Core unit will be brought to an equivalent standard as the original Exchange Unit during
                  repair/overhaul at Customer’s expense unless otherwise agreed to, in writing, by<b> {{sellerName}} </b>.
                  Prior to the return of any Core Unit, Customer agrees to provide advance copy of the following
                  documents to <b>{{sellerName}}</b> including but not limited to:
                  A removal tag containing PN, SN, last airline operator, aircraft serial number (MSN) and/or engine
                  serial number (ESN), and reason for removal
                <p>Approved traceability: OEM or Manufacturer, 121 or 129. Other trace requires prior, written, approval
                </p>

                <p>A Material Certification (E.g. ATA 106 Form) that includes:
                  Trace to last airline operator with MSN and/or ESN
                  Non-Incident Statement verifying the Core Unit was not obtained from a military source or subjected to
                  excessive heat or stress
                  Full back to birth history to OEM or Manufacturer for Time or Cycle Life-Limited parts</p>

                <p>A Commercial Invoice (International Customers) to ensure compliance with import regulations</p>

                <p>Units returned with incomplete documents as outlined above will be treated as an Overdue Core, and
                  additional fees will apply as referenced by the Schedule of Exchange fees above
                  Unused units must be accompanied by a non-use statement or the unit will be recertified as Customer’s
                  expense.
                  Core Units, previously approved in writing by the <b>{{sellerName}}</b> to be returned in serviceable or
                  overhauled condition, must be accompanied by a Dual Release 8130 and teardown report from a
                  pre-approved source. Customer agrees to extend reciprocating warranty coverage on the Core Unit to
                  that of the Exchange Unit; 6 months for serviceable and 12 months for overhaul.
                  Customer is responsible for all recertification and modification charges, as applicable, up to
                  seventy-five percent (75%) of the Outright Price, to bring the Core Unit to the same condition as the
                  original Exchange Unit. A quote for material and labor charges of the Core Unit will be sent to the
                  Customer for record purposes only; no formal approval is required if the quote is equal to or below
                  seventy-five percent (75%) of the Outright Price.
                  Any quote for a Core Unit exceeding seventy-five percent (75%) of the Outright Price will be sent to
                  Customer for formal approval. The Customer acknowledges there is no negotiation of vendor quotes and
                  no customer-furnished equipment (CFE) is accepted. The Customer will have seven (7) business days to
                  accept or reject the quote. Any quote not accepted within seven (7) business days will be deemed
                  Beyond Economical Repair (BER).
                  The exchange will be converted to an outright sale for all Core Units deemed BER. The Customer will be
                  responsible for accrued Exchange Fees, any/all applicable vendor evaluation charges, and the Outright
                  Price. The BER Core Unit will be returned to the Customer at Customer’s sole risk and expense.

                <p>The failure or rejection of an Exchange Unit must be notified immediately, in writing, to
                  <b> {{sellerName}}</b>. Failed or Rejected Exchange Units must be received by <b>{{sellerName}}</b> within seven (7)
                  calendar days after Return Material Authorization (RMA) or the return will be denied.</p>
                <p>The Terms and Conditions of this Exchange Agreement shall not be modified except by written document
                  by the Parties undersigned.</p>
                 
                <p><b>{{sellerName}} </b></p>
                 
                <p>Name: {{exchangeQuote.salesPersonName}}</p>

                <p>Title: SALES MANAGER</p>

                <p>Customer Signature:</p>

                <p>Date: {{todayDate | date: 'MM/dd/yyyy'}}</p>
                 
                <!-- </p> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </form>
  <!-- </div>
</div> -->
<!--</form>
</div>
 </div>
</div>
</form>
</div>
</div> -->