<div class="bg-white">
		<div class="card new-card">
            <div class="card-header header">
              <div class="row">
                <div class="col">
                  <h4 class="header-name">Stock Line Adjustment</h4>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn-sm header-button"
                    [routerLink]="[
                    '/stocklinemodule/stocklinepages/app-stock-line-list'
                    ]"
                  >
                    Stock List
                  </button>
                </div>
              </div>
            </div>

		<div class="card-body header-body">
			<form #stockLineAdjForm="ngForm"> <!--*ngIf="disableLoading; else loader"-->
				<div class="form-row">
					<div class="col-md-3">
						<span><b class="clr-red">PN:</b> {{sourceStockLineSetup.partNumber}}</span>
					</div>
					<div class="col-md-3">
						<span><b class="clr-red">PN Description:</b> {{sourceStockLineSetup.partDescription}}</span>
					</div>
					<div class="col-md-3">
						<span><b class="clr-red">SL#:</b> {{sourceStockLineSetup.stockLineNumber}}</span>
					</div>
					<div class="col-md-3">						
						<span><b class="clr-red">Is Serialized:</b><input class="serialized-left" type="checkbox" name="isSerialized" [(ngModel)]="sourceStockLineSetup.isSerialized" disabled></span>
					</div>
				</div>
				<div class="table-responsive mtop10" id="smovement">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th></th>
								<th>Field Name</th>
								<th>Existing Value</th>
								<th>New Value</th>
								<th>Adjustment Reason</th>
								<th>Memo</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor="let item of stocklineAdjustmentData; let i = index" >
								<ng-container *ngIf="item.adjustmentDataTypeId == 1">
									<tr>
										<td colspan="6" class="text-center stock-border"><strong>Organization</strong></td>
									</tr>
									<tr>
										<td><input type="checkbox" name="isCompanyEnable" [(ngModel)]="companyAllow" (change)="isCompanyEnable(item)"></td>
										<!-- <td>Management Structure</td> -->
										<td>{{item.stocklineAdjustmentDataType}}</td>
										<td>
											{{existingMgmentStuc.level1 ? existingMgmentStuc.level1 : ''}}		
										</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="showCompany" class="col-md-8">
												<select class="form-control" name="companyId" [(ngModel)]="managementStructure.companyId" 
													(change)="selectedLegalEntity(managementStructure.companyId, item);" required>
													<option value="0">--Select--</option>
													<option *ngFor="let name of legalEntityList" [ngValue]="name.value">{{name.label}}</option>
												</select>
											</div>
										</td>
										<td rowspan="4" class="vertical-top">
											<textarea *ngIf="companyAllow || businessAllow || divisionAllow || deptAllow" 
											class="form-control" [(ngModel)]="item.adjustmentReason" name="MgmtStructureReason" required></textarea>
										</td>
										<td rowspan="4" class="vertical-top memo-td-200" *ngIf="companyAllow || businessAllow || 
										divisionAllow || deptAllow">
											<!-- <textarea *ngIf="companyAllow || businessAllow || 
											divisionAllow || deptAllow" class="form-control"
											 [(ngModel)]="item.adjustmentMemo"
											  name="ManagementStructureMemo"></textarea> -->
                                             
											 
												<div [innerHTML]="item.adjustmentMemo" 
													[matTooltip]="parsedText(item.adjustmentMemo)" matTooltipPosition="above"
													class="form-control " class="text_editor_box stock-memo-width"></div>
													<i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
													data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
													matTooltipPosition="above" (click)="onAddStockMemo()"
													></i>
													<!-- <span class="editor-span"><a class="btn nobg" data-toggle="modal"
														data-target="#stock-adjustment-memo" matTooltipPosition="above" matTooltip="Add Memo"
														(click)="onAddMemo()"><i class="fa fa-pencil"></i></a>
												</span> -->
											
											
									
										</td>

										<!-- <div class="col-md-4">
											<div class="form-group memo-popup-cstm">
												<label>Memo
													<span class="editor-span"><a class="btn nobg" data-toggle="modal"
															data-target="#cpo-memo" matTooltipPosition="above" matTooltip="Add Memo"
															(click)="onAddMemo()"><i class="fa fa-pencil"></i></a>
													</span>
												</label>
												<span>
													<div [innerHTML]="headerInfo.poMemo"
														[matTooltip]="parsedText(headerInfo.poMemo)" matTooltipPosition="above"
														class="form-control " class="text_editor_box stock-memo-width"></div>
												</span>
											</div>
										</div> -->


									</tr>
									<tr>
										<td><input type="checkbox" name="isBusinessEnable" [(ngModel)]="businessAllow" [disabled]="!existingMgmentStuc.level2 || companyAllow" (change)="isBusinessEnable(item)"></td>
										<td></td>
										<td>
											{{existingMgmentStuc.level2 ? existingMgmentStuc.level2 : ''}}										
										</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="showBusiness" class="col-md-8">
												<select class="form-control" [(ngModel)]="managementStructure.buId" name="buId" (change)="selectedBusinessUnit(managementStructure.buId, item)">
													<option value="0">-- Select --</option>
													<option *ngFor="let name of businessUnitList" [ngValue]="name.value">{{name.label}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" name="isDivisionEnable" [(ngModel)]="divisionAllow" [disabled]="!existingMgmentStuc.level3 || businessAllow" (change)="isDivisionEnable(item)"></td>
										<td></td>
										<td>
											{{existingMgmentStuc.level3 ? existingMgmentStuc.level3 : ''}}	
										</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="showDivision" class="col-md-8">
												<select class="form-control" [(ngModel)]="managementStructure.divisionId" name="divisionId" (change)="selectedDivision(managementStructure.divisionId, item)">
													<option value="0">-- Select --</option>
													<option *ngFor="let name of divisionList" [ngValue]="name.value">{{name.label}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td><input type="checkbox" name="isDeptEnable" [(ngModel)]="deptAllow" [disabled]="!existingMgmentStuc.level4 || divisionAllow" (change)="isDeptEnable(item)"></td>
										<td></td>
										<td>
											{{existingMgmentStuc.level4 ? existingMgmentStuc.level4 : ''}}	
										</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="showDepartment" class="col-md-8">
												<select class="form-control" [(ngModel)]="managementStructure.departmentId" name="departmentId" (change)="selectedDepartment(managementStructure.departmentId, item)">
													<option value="0">-- Select --</option>
													<option *ngFor="let name of departmentList" [ngValue]="name.value">{{name.label}}</option>
												</select>
											</div>
										</td>
									</tr>
								</ng-container>
								
			
								<ng-container *ngIf="item.adjustmentDataTypeId == 2">
								<tr>
									<td colspan="6">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="6" class="text-center stock-border"><strong>Inventory</strong></td>
								</tr>						
								<tr>
									<td><input type="checkbox" name="isSiteEnable" [(ngModel)]="siteAllow" (change)="isSiteEnable(item)"></td>
									<td>{{item.stocklineAdjustmentDataType}}</td>
									<td>{{sourceStockLineSetup.siteName ? sourceStockLineSetup.siteName : ''}}</td>
									<td class="stock-adjust-td-width">
										<div *ngIf="showSite" class="col-md-8">
											<select [(ngModel)]="item.afterValue" name="siteId" (change)="getWareHouseList(item.afterValue)" required>
												<option value="0">-- Select --</option>
												<option *ngFor="let site of allSites" [ngValue]="site.value">{{site.label}}</option>
											</select>
										</div>
									</td>
									<td rowspan="5" class="vertical-top">
										<textarea *ngIf="siteAllow || warehouseAllow || locationAllow || shelfAllow || binAllow" class="form-control" [(ngModel)]="item.adjustmentReason" name="siteAdjustmentReason" required></textarea>
									</td>
									<td rowspan="5" class="vertical-top memo-td-200">
										<!-- <textarea *ngIf="siteAllow || warehouseAllow || locationAllow || shelfAllow || binAllow"
										 class="form-control" [(ngModel)]="item.adjustmentMemo"
										  name="siteAdjustmentMemo"></textarea> -->
										  <div  *ngIf="siteAllow || warehouseAllow || locationAllow || shelfAllow || binAllow">
										  <div [innerHTML]="item.adjustmentMemo"
													[matTooltip]="parsedText(item.adjustmentMemo)"  name="siteAdjustmentMemo" matTooltipPosition="above"
													class="form-control " class="text_editor_box stock-memo-width"></div>
													<i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
													data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
													matTooltipPosition="above" (click)="onAddStockMemo()"
													></i>
													</div>
									</td>
								</tr>
								</ng-container>
								<!-- WareHouse Start -->
								<ng-container *ngIf="item.adjustmentDataTypeId == 3">
								<tr>
									<td><input type="checkbox" name="iswarehouseEnable" [(ngModel)]="warehouseAllow" [disabled]="!sourceStockLineSetup.warehouse || siteAllow" (change)="iswarehouseEnable(item)"></td>
									<td>{{item.stocklineAdjustmentDataType}}</td>
									<td>{{sourceStockLineSetup.warehouse ? sourceStockLineSetup.warehouse : ''}}</td>
									<td class="stock-adjust-td-width">
										<div *ngIf="showWarehouse" class="col-md-8">
											<select [(ngModel)]="item.afterValue" name="warehouseId" (change)="getLocationList(item.afterValue)">
												<option value="0">-- Select --</option>
												<option *ngFor="let site of allWareHouses" [ngValue]="site.value">{{site.label}}</option>
											</select>
										</div>
									</td>
								</tr>
								</ng-container>
								<!-- LOcation Start -->
								<ng-container *ngIf="item.adjustmentDataTypeId == 4">
								<tr>
									<td><input type="checkbox" name="isLocationEnable" [(ngModel)]="locationAllow" [disabled]="!sourceStockLineSetup.location || warehouseAllow" (change)="isLocationEnable(item)"></td>
									<td>{{item.stocklineAdjustmentDataType}}</td>
									<td>{{sourceStockLineSetup.location ? sourceStockLineSetup.location : ''}}</td>
									<td class="stock-adjust-td-width">
										<div *ngIf="showLocation" class="col-md-8">
											<select [(ngModel)]="item.afterValue" name="locationId" (change)="getShelfList(item.afterValue)">
												<option value="0">-- Select --</option>
												<option *ngFor="let site of allLocations" [ngValue]="site.value">{{site.label}}</option>
											</select>
										</div>
									</td>
								</tr>
								</ng-container>
								<!-- Shelf Start -->
								<ng-container *ngIf="item.adjustmentDataTypeId == 5">
								<tr>
									<td><input type="checkbox" name="isShelfEnable" [(ngModel)]="shelfAllow" [disabled]="!sourceStockLineSetup.shelfName || locationAllow" (change)="isShelfEnable(item)"></td>
									<td>{{item.stocklineAdjustmentDataType}}</td>
									<td>{{sourceStockLineSetup.shelfName ? sourceStockLineSetup.shelfName : ''}}</td>
									<td class="stock-adjust-td-width">
										<div *ngIf="showShelf" class="col-md-8">
											<select [(ngModel)]="item.afterValue" name="shelfId" (change)="getBinList(item.afterValue)">
												<option value="0">-- Select --</option>
												<option *ngFor="let site of allShelfs" [ngValue]="site.value">{{site.label}}</option>
											</select>
										</div>
									</td>
								</tr>
								</ng-container>
								<!-- Bin Start -->
								<ng-container *ngIf="item.adjustmentDataTypeId == 6">
								<tr>
									<td><input type="checkbox" name="isBinEnable" [(ngModel)]="binAllow" [disabled]="!sourceStockLineSetup.binName || shelfAllow" (change)="isBinEnable(item)"></td>
									<td>{{item.stocklineAdjustmentDataType}}</td>
									<td>{{sourceStockLineSetup.binName ? sourceStockLineSetup.binName : ''}}</td>
									<td class="stock-adjust-td-width">
										<div *ngIf="showBin" class="col-md-8">
											<select [(ngModel)]="item.afterValue" name="binId" (change)="onChangeBin(item.afterValue)">
												<option value="0">-- Select --</option>
												<option *ngFor="let site of allBins" [ngValue]="site.value">{{site.label}}</option>
											</select>
										</div>
									</td>
								</tr>
								</ng-container>

								<ng-container *ngIf="item.adjustmentDataTypeId == 7">
									<!-- Category Start -->
									<tr>
										<td colspan="6">&nbsp;</td>
									</tr>
									<tr>
										<td><input type="checkbox" name="isCategoryEnable" [(ngModel)]="categoryAllow" (change)="onChangeCategory(item)"></td>
										<td>{{item.stocklineAdjustmentDataType}}</td>
										<td>{{sourceStockLineSetup.itemCategory ? sourceStockLineSetup.itemCategory : ''}}</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="categoryAllow" class="col-md-8">
												<select [(ngModel)]="item.afterValue" name="itemCategory" (change)="onChangeCategorySelect(item.afterValue)" required>
													<option value="0">-- Select --</option>
													<option *ngFor="let itemType of itemTypesList" [ngValue]="itemType.value">{{itemType.label}}</option>
												</select>
											</div>
										</td>
										<td>
											<textarea *ngIf="categoryAllow" class="form-control" [(ngModel)]="item.adjustmentReason" name="categoryAdjustmentReason" required></textarea>
										</td>
										<td class="memo-td-200">
											<!-- <textarea *ngIf="categoryAllow" class="form-control"
											 [(ngModel)]="item.adjustmentMemo"
											  name="categoryAdjustmentMemo"></textarea> -->


											  <div  *ngIf="categoryAllow">
												<div [innerHTML]="item.adjustmentMemo"
														  [matTooltip]="parsedText(item.adjustmentMemo)"  name="categoryAdjustmentMemo" matTooltipPosition="above"
														  class="form-control " class="text_editor_box stock-memo-width"></div>
														  <i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
														  data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
														  matTooltipPosition="above" (click)="onAddStockMemo()"
														  ></i>
														  </div>


										</td>
									</tr>
								</ng-container>		
								
								<ng-container *ngIf="item.adjustmentDataTypeId == 8">
									<tr>
										<td><input type="checkbox" name="partNumberAllow" [(ngModel)]="partNumberAllow" (change)="onChangePartNum(item)" [disabled]="categoryAllow"></td>
										<td>{{item.stocklineAdjustmentDataType}}</td>
										<td>{{sourceStockLineSetup.partNumber ? sourceStockLineSetup.partNumber : ''}}</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="partNumberAllow">
												<p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="item.afterValue" name="partNumber" [suggestions]="partNumbersCollection" (completeMethod)="filterPartNumbers($event)" [size]="30" [minLength]="1" [dropdown]="true" errorMessage="Records not found" [forceSelection]="true" required></p-autoComplete>
											</div>
										</td>
										<td>
											<textarea *ngIf="partNumberAllow" class="form-control" [(ngModel)]="item.adjustmentReason" name="partNumAdjustmentReason" required></textarea>
										</td>
										<td class="memo-td-200">
											<!-- <textarea *ngIf="partNumberAllow"
											 class="form-control" [(ngModel)]="item.adjustmentMemo" 
											 name="partNumAdjustmentMemo"></textarea> -->

											 <div  *ngIf="partNumberAllow">
												<div [innerHTML]="item.adjustmentMemo"
														  [matTooltip]="parsedText(item.adjustmentMemo)"  name="partNumAdjustmentMemo"
														   matTooltipPosition="above"
														  class="form-control " class="text_editor_box stock-memo-width"></div>
														  <i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
														  data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
														  matTooltipPosition="above" (click)="onAddStockMemo()"
														  ></i>
														  </div>
										</td>
									</tr>
								</ng-container>							
	
								<ng-container *ngIf="item.adjustmentDataTypeId == 9">
									<tr>
										<td><input type="checkbox" name="serialNumAllow" [(ngModel)]="serialNumAllow" (change)="onChangeSerialNum(item)"></td>
										<td>{{item.stocklineAdjustmentDataType}}</td>
										<td>{{sourceStockLineSetup.serialNumber ? sourceStockLineSetup.serialNumber : ''}}</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="serialNumAllow">
												<input type="text" class="form-control" name="serialnumber" [(ngModel)]="item.afterValue" required />
											</div>
										</td>
										<td>
											<textarea *ngIf="serialNumAllow" class="form-control" [(ngModel)]="item.adjustmentReason" name="serialNumAdjustmentReason" required></textarea>
										</td>
										<td class="memo-td-200">
											<!-- <textarea *ngIf="serialNumAllow" class="form-control" 
											[(ngModel)]="item.adjustmentMemo" 
											name="serialNumAdjustmentMemo"></textarea> -->

											<div  *ngIf="serialNumAllow">
												<div [innerHTML]="item.adjustmentMemo"
														  [matTooltip]="parsedText(item.adjustmentMemo)" name="serialNumAdjustmentMemo"
														   matTooltipPosition="above"
														  class="form-control " class="text_editor_box stock-memo-width"></div>
														  <i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
														  data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
														  matTooltipPosition="above" (click)="onAddStockMemo()"
														  ></i>
														  </div>
										</td>
									</tr>
								</ng-container>	
							</ng-container>							
						</tbody>
					</table>

					<table class="table table-bordered">
						<thead>
							<tr>
								<th></th>
								<th>Field Name</th>
								<th>Existing Value</th>
								<th>Adjustment</th>
								<th>New Value</th>
								<th>CURR</th>
								<th>Adjustment Reason</th>
								<th>Memo</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor="let item of stocklineAdjustmentData">
								<ng-container *ngIf="item.adjustmentDataTypeId == 10">
									<tr>
										<td><input type="checkbox" name="quantityOnHandAllow" [(ngModel)]="quantityOnHandAllow" (change)="onChangePrices(item); onChangeQtyOnHand(item)"></td>
										<td>{{item.stocklineAdjustmentDataType}}</td>
										<td class="text-right">{{sourceStockLineSetup.quantityOnHand}}</td>
										<td>
											<div *ngIf="quantityOnHandAllow">
												<input type="text" pKeyFilter="num" class="form-control text-right" name="onHandAdjustmentValue" [(ngModel)]="item.adjustmentValue" (change)="onChangeQtyOnHandAdj(item)" required />
											</div>
										</td>
										<td class="text-right">{{item.afterValue}}</td>
										<td></td>
										<td class="stock-adjust-td-width">
											<div *ngIf="quantityOnHandAllow">
												<select class="form-control" name="onHandNumAdjustmentReason" [(ngModel)]="item.adjustmentReasonId" (change)="onChangeQtyOnHandAdjReason(item.adjustmentReasonId)" required>
													<option value="0">-- Select --</option>
													<option *ngFor="let name of allAdjReasonInfo" [ngValue]="name.value">{{name.label}}</option>
												</select>
											</div>
										</td>
										<td class="memo-td-200">
											<!-- <textarea *ngIf="quantityOnHandAllow"
											 class="form-control" [(ngModel)]="item.adjustmentMemo" 
											 name="onHandAdjustmentMemo"></textarea> -->

											 <div *ngIf="quantityOnHandAllow">
												<div [innerHTML]="item.adjustmentMemo"
														  [matTooltip]="parsedText(item.adjustmentMemo)" name="onHandAdjustmentMemo"
														   matTooltipPosition="above"
														  class="form-control " class="text_editor_box stock-memo-width"></div>
														  <i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
														  data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
														  matTooltipPosition="above" (click)="onAddStockMemo()"
														  ></i>
														  </div>
										</td>
									</tr>
								</ng-container>

								<ng-container *ngIf="item.adjustmentDataTypeId == 11">
									<tr>
										<td><input type="checkbox" name="unitCostAllow" [(ngModel)]="unitCostAllow" (change)="onChangePrices(item); onChangeUnitCost(item);"></td>
										<td>{{item.stocklineAdjustmentDataType}}</td>
										<td class="text-right">{{sourceStockLineSetup.coreUnitCost}}</td>
										<td>
											<div *ngIf="unitCostAllow">
												<input type="text" pKeyFilter="num" class="form-control text-right" name="unitCostAdjustmentValue" [(ngModel)]="item.adjustmentValue" (change)="onChangeUnitCostAdj(item)" required />
											</div>
										</td>
										<td class="text-right">{{item.afterValue}}</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="unitCostAllow">
												<select [(ngModel)]="item.currencyId" name="unitCostCurrencyId" required>
													<option value="0">-- Select --</option>
													<option class="form-control" *ngFor="let currencyName of allCurrencyInfo"
															[ngValue]="currencyName.value">
														{{currencyName.label}}
													</option>
												</select>
											</div>
										</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="unitCostAllow">
												<select class="form-control" name="unitCostNumAdjustmentReason" [(ngModel)]="item.adjustmentReasonId" (change)="onChangeUnitCostAdjReason(item.adjustmentReasonId)" required>
													<option value="0">-- Select --</option>
													<option *ngFor="let name of allAdjReasonInfo" [ngValue]="name.value">{{name.label}}</option>
												</select>
											</div>
										</td>
										<td class="memo-td-200">
											<!-- <textarea *ngIf="unitCostAllow" 
											class="form-control" [(ngModel)]="item.adjustmentMemo"
											 name="unitCostAdjustmentMemo"></textarea> -->

											 <div *ngIf="unitCostAllow">
												<div [innerHTML]="item.adjustmentMemo"
														  [matTooltip]="parsedText(item.adjustmentMemo)" name="unitCostAdjustmentMemo"
														   matTooltipPosition="above"
														  class="form-control " class="text_editor_box stock-memo-width"></div>
														  <i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
														  data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
														  matTooltipPosition="above" (click)="onAddStockMemo()"
														  ></i>
														  </div>
										</td>
									</tr>
								</ng-container>

								<ng-container *ngIf="item.adjustmentDataTypeId == 12">
									<tr>
										<td><input type="checkbox" name="unitSalesPriceAllow" [(ngModel)]="unitSalesPriceAllow" (change)="onChangePrices(item); onChangeSalesPrice(item);"></td>
										<td>{{item.stocklineAdjustmentDataType}}</td>
										<td class="text-right">{{sourceStockLineSetup.unitSalesPrice}}</td>
										<td></td>
										<td>
											<div *ngIf="unitSalesPriceAllow">
												<input type="text" pKeyFilter="pint" class="form-control text-right" name="unitSalesPrice" [(ngModel)]="item.afterValue" (change)="onChangeUnitSalesPriceAdj(item)" required />
											</div>
										</td>										
										<td class="stock-adjust-td-width">
											<div *ngIf="unitSalesPriceAllow" class="col-md-8">
												<select [(ngModel)]="item.currencyId" name="unitSalesPriceCurrencyId" required>
													<option value="0">-- Select --</option>
													<option class="form-control" *ngFor="let currencyName of allCurrencyInfo"
															[ngValue]="currencyName.value">
														{{currencyName.label}}
													</option>
												</select>
											</div>
										</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="unitSalesPriceAllow" class="col-md-8">
												<select class="form-control" name="unitSalesPriceAdjustmentReason" [(ngModel)]="item.adjustmentReasonId" (change)="onChangeSalesPriceAdjReason(item.adjustmentReasonId)" required>
													<option value="0">-- Select --</option>
													<option *ngFor="let name of allAdjReasonInfo" [ngValue]="name.value">{{name.label}}</option>
												</select>
											</div>
										</td>
										<td class="memo-td-200">
											<!-- <textarea *ngIf="unitSalesPriceAllow"
											 class="form-control" [(ngModel)]="item.adjustmentMemo"
											 name="unitSalesPriceAdjustmentMemo"></textarea> -->

											 <div *ngIf="unitSalesPriceAllow">
												<div [innerHTML]="item.adjustmentMemo"
														  [matTooltip]="parsedText(item.adjustmentMemo)"  name="unitSalesPriceAdjustmentMemo"
														   matTooltipPosition="above"
														  class="form-control " class="text_editor_box stock-memo-width"></div>
														  <i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
														  data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
														  matTooltipPosition="above" (click)="onAddStockMemo()"
														  ></i>
														  </div>
										</td>
									</tr>
								</ng-container>

								<ng-container *ngIf="item.adjustmentDataTypeId == 13">
									<tr>
										<td><input type="checkbox" name="lotCostAllow" [(ngModel)]="lotCostAllow" (change)="onChangePrices(item); onChangelotCost(item);"></td>
										<td>{{item.stocklineAdjustmentDataType}}</td>
										<td class="text-right">{{sourceStockLineSetup.lotCost ? sourceStockLineSetup.lotCost : ''}}</td>
										<td>
											<div *ngIf="lotCostAllow">
												<input type="text" pKeyFilter="num" class="form-control text-right" name="lotCostAdjustmentValue" [(ngModel)]="item.adjustmentValue" (change)="onChangeLotCostAdj(item)" required />
											</div>
										</td>
										<td class="text-right">{{item.afterValue}}</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="lotCostAllow" class="col-md-8">
												<select [(ngModel)]="item.currencyId" name="lotCostCurrencyId" required>
													<option value="0">-- Select --</option>
													<option class="form-control" *ngFor="let currencyName of allCurrencyInfo"
															[ngValue]="currencyName.value">
														{{currencyName.label}}
													</option>
												</select>
											</div>
										</td>
										<td class="stock-adjust-td-width">
											<div *ngIf="lotCostAllow" class="col-md-8">
												<select class="form-control" name="lotCostAdjustmentReason" [(ngModel)]="item.adjustmentReasonId" (change)="onChangelotCostAdjReason(item.adjustmentReasonId)" required>
													<option value="0">-- Select --</option>
													<option *ngFor="let name of allAdjReasonInfo" [ngValue]="name.value">{{name.label}}</option>
												</select>
											</div>
										</td>
										<td class="memo-td-200">
											<!-- <textarea *ngIf="lotCostAllow"
											 class="form-control" [(ngModel)]="item.adjustmentMemo" 
											name="lotCostAdjustmentMemo"></textarea> -->

											<div *ngIf="lotCostAllow">
												<div [innerHTML]="item.adjustmentMemo"
														  [matTooltip]="parsedText(item.adjustmentMemo)" name="lotCostAdjustmentMemo"
														   matTooltipPosition="above"
														  class="form-control " class="text_editor_box stock-memo-width"></div>
														  <i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
														  data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
														  matTooltipPosition="above" (click)="onAddStockMemo()"
														  ></i>
														  </div>
										</td>
									</tr>
								</ng-container>								
							</ng-container>
						</tbody>
					</table>
				</div>
				<div class="clear"></div>
				<br>
				<ng-container *ngFor="let item of stocklineAdjustmentData">
					<ng-container *ngIf="item.adjustmentDataTypeId == 14">
							<table class="table table-bordered" *ngIf="sourceStockLineSetup.isTimeLife">
								<thead>
									<tr>
										<th colspan="15" class="text-center stock-adjust">
											<input class="checkbox stock-adjust-check" type="checkbox" [ngModelOptions]="{standalone: true}" (change)="onCheckTimeLife(item)" [(ngModel)]="timeLifeAllow">
											<!-- <input type="checkbox stock-adjust-check"  name="isTimeLifeEnable" [(ngModel)]="timeLifeAllow" (change)="onCheckTimeLife(item)"> -->
											<strong class="stock-adjust-check-header"> {{item.stocklineAdjustmentDataType}} (Hours Per Minute)</strong></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th></th>
										<th class="text-center">Cycles</th>
										<th class="text-center">Time</th>
										<th class="text-center">Last</th>
										<th class="text-center">Adjustment Reason</th>
										<th class="text-center">Memo</th>
									</tr>
									<tr>
										<td>Remaining</td>
										<td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #cyclesRemaining="ngModel" mask="000:00" name="cyclesRemaining" [(ngModel)]="sourceTimeLife.cyclesRemaining" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="cyclesRemaining.errors">
                                                <div *ngIf="cyclesRemaining.errors" [ngClass]="'error'">
                                                    <div *ngIf="cyclesRemaining.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
										<td class="clr2">
                                            <input class="form-control width-150" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #timeRemaining="ngModel" mask="000:00" name="timeRemaining" [(ngModel)]="sourceTimeLife.timeRemaining" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="timeRemaining.errors">
                                                <div *ngIf="timeRemaining.errors" [ngClass]="'error'">
                                                    <div *ngIf="timeRemaining.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>        
										<td></td>
										<td rowspan="5" class="vertical-top">
											<textarea *ngIf="timeLifeAllow" class="form-control" [(ngModel)]="item.adjustmentReason" name="timeLifeReason" required></textarea>
										</td>
										<td rowspan="5" class="vertical-top memo-td-200">
											<!-- <textarea *ngIf="timeLifeAllow" 
												class="form-control"
											 [(ngModel)]="item.adjustmentMemo"
											  name="timeLifeMemo"></textarea> -->
											  <div *ngIf="timeLifeAllow" >
												<div [innerHTML]="item.adjustmentMemo"
														  [matTooltip]="parsedText(item.adjustmentMemo)" name="timeLifeMemo"
														   matTooltipPosition="above"
														  class="form-control " class="text_editor_box stock-memo-width"></div>
														  <i class="fa fa-pencil fa-lg pull-right nobg parts-memo-icon"
														  data-toggle="modal" data-target="#stock-adjustment-memo" matTooltip="Memo"
														  matTooltipPosition="above" (click)="onAddStockMemo()"
														  ></i>
														  </div>
										</td>
									</tr>
									<tr>
										<td>Since New</td>
										<td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #cyclesSinceNew="ngModel" mask="000:00" name="cyclesSinceNew" [(ngModel)]="sourceTimeLife.cyclesSinceNew" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="cyclesSinceNew.errors">
                                                <div *ngIf="cyclesSinceNew.errors" [ngClass]="'error'">
                                                    <div *ngIf="cyclesSinceNew.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>                  
                                        <td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #timeSinceNew="ngModel" mask="000:00" name="timeSinceNew" [(ngModel)]="sourceTimeLife.timeSinceNew" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="timeSinceNew.errors">
                                                <div *ngIf="timeSinceNew.errors" [ngClass]="'error'">
                                                    <div *ngIf="timeSinceNew.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>                  
                                        <td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text"  placeholder="hhh:mm" [pattern]="timePattern" #lastSinceNew="ngModel" mask="000:00" name="lastSinceNew" [(ngModel)]="sourceTimeLife.lastSinceNew" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="lastSinceNew.errors">
                                                <div *ngIf="lastSinceNew.errors" [ngClass]="'error'">
                                                    <div *ngIf="lastSinceNew.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>  
									</tr>
									<tr>
										<td>Since Ovh</td>
										<td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text"  placeholder="hhh:mm" [pattern]="timePattern" #cyclesSinceOVH="ngModel" mask="000:00" name="cyclesSinceOVH" [(ngModel)]="sourceTimeLife.cyclesSinceOVH" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="cyclesSinceOVH.errors">
                                                <div *ngIf="cyclesSinceOVH.errors" [ngClass]="'error'">
                                                    <div *ngIf="cyclesSinceOVH.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>            
                                        <td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #timeSinceOVH="ngModel" mask="000:00" name="timeSinceOVH" [(ngModel)]="sourceTimeLife.timeSinceOVH" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="timeSinceOVH.errors">
                                                <div *ngIf="timeSinceOVH.errors" [ngClass]="'error'">
                                                    <div *ngIf="timeSinceOVH.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>            
                                        <td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #lastSinceOVH="ngModel" mask="000:00" name="lastSinceOVH" [(ngModel)]="sourceTimeLife.lastSinceOVH" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="lastSinceOVH.errors">
                                                <div *ngIf="lastSinceOVH.errors" [ngClass]="'error'">
                                                    <div *ngIf="lastSinceOVH.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>   
									</tr>
									<tr>
										<td>Since Insp</td>
										<td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text"  placeholder="hhh:mm" [pattern]="timePattern" #cyclesSinceInspection="ngModel" mask="000:00" name="cyclesSinceInspection" [(ngModel)]="sourceTimeLife.cyclesSinceInspection" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="cyclesSinceInspection.errors">
                                                <div *ngIf="cyclesSinceInspection.errors" [ngClass]="'error'">
                                                    <div *ngIf="cyclesSinceInspection.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>            
                                        <td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #timeSinceInspection="ngModel" mask="000:00" name="timeSinceInspection" [(ngModel)]="sourceTimeLife.timeSinceInspection" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="timeSinceInspection.errors">
                                                <div *ngIf="timeSinceInspection.errors" [ngClass]="'error'">
                                                    <div *ngIf="timeSinceInspection.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>            
                                        <td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #lastSinceInspection="ngModel" mask="000:00" name="lastSinceInspection" [(ngModel)]="sourceTimeLife.lastSinceInspection" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="lastSinceInspection.errors">
                                                <div *ngIf="lastSinceInspection.errors" [ngClass]="'error'">
                                                    <div *ngIf="lastSinceInspection.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>  
									</tr>
									<tr>
										<td>Since Repair</td>
										<td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #cyclesSinceRepair="ngModel" mask="000:00" name="cyclesSinceRepair" [(ngModel)]="sourceTimeLife.cyclesSinceRepair" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="cyclesSinceRepair.errors">
                                                <div *ngIf="cyclesSinceRepair.errors" [ngClass]="'error'">
                                                    <div *ngIf="cyclesSinceRepair.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>            
                                        <td class="clr2">
                                            <input class="form-control remaining-width" matInput type="text" placeholder="hhh:mm" [pattern]="timePattern" #timeSinceRepair="ngModel" mask="000:00" name="timeSinceRepair" [(ngModel)]="sourceTimeLife.timeSinceRepair" [disabled]="!timeLifeAllow"/>
                                            <div *ngIf="timeSinceRepair.errors">
                                                <div *ngIf="timeSinceRepair.errors" [ngClass]="'error'">
                                                    <div *ngIf="timeSinceRepair.errors.pattern">
                                                        <span class="clr-red">Please enter valid time format.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td> 
										<td></td>
									</tr>
								</tbody>
							</table>
							
					</ng-container>
				</ng-container>
				<div class="clear"></div>
				<br>
				<button class="btn btn-primary pull-right" (click)="onSaveStockLineAdj()" [disabled]="!stockLineAdjForm.valid || disableLevel1 || disableLevel2 || disableLevel3 || disableLevel4 || disableSite || disableWarehouse || disableLocation || disableShelf || disableBin || disableCategory || disableQtyOnHandAdj || disableUnitCostAdj || disableSalesPriceAdj || disablelotCostAdj">Save</button>
			</form>

			<ng-template #loader>
				<div class="loader-css">
				  <img src="../../../assets/images/loader.gif">
				</div>
			  </ng-template>
		</div>
	</div>
</div>



<div class="modal fade" id="stock-adjustment-memo" style="z-index: 15000 !important;"  role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close">
			&times;
		  </button>
		  <h4 class="modal-title">Edit Memo</h4>
		</div>
		<div class="modal-body">
		  <p-editor
		  spellcheck="true"
		   [(ngModel)]="stockMemoInfo"
		   [style]="{ height: '320px' }"
		   name="stockMemoInfo"
		   required
		 ></p-editor>
		  <div class="editor-buttons">
			<button
			  type="button" data-dismiss="modal"
			  class="btn btn-primary editor-buttons-margin"
			  (click)="onSaveStockMemo()">
			  Save
			</button>
			<button
			  type="button" data-dismiss="modal"
			  class="btn btn-danger editor-buttons-margin"
			  (click)="closeMemoModel()" >
			  Close
			</button>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  

<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>