
.bg-white {
    background-color: #fff;
}
label {
    text-align: left;
    width: auto;
    margin-right: 0;
    font-weight: normal;
}
input[type="text"], input[type="number"], select {
    height: 24px !important;
    border-radius: 5px !important;
}
textarea {
    border-radius: 5px !important;
}
.serialized-left{
    margin-left: 10px !important;
}
.stock-adjust{
    position: relative !important;
}
.stock-adjust-check{
    top: 6px !important; position: absolute !important;
}
.stock-adjust-check-header{
    margin-left: 20px !important;
}
.remaining-width{
    width: 55% !important;
}
.width-150{
    width: 150px !important;
}
.vertical-top{
    vertical-align: top !important;
}
table th {
    padding: 4px;
    text-align: center;
}
table td {
    padding: 4px;
}
.display-tble {
    display: table;
}
select {
    max-width: 200px;
    min-width: 150px;
}
.pull-right {
    float: right !important;
}