<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <!-- <div class="card">
                    <div class="card-body">
                        <div class="inline-block display-flex">
                            <h3 class="po-head lead">Vendor Capability Type</h3>
                            <a style="margin-left:5px;" class="plusicon-cstm new-margin" 
                            matTooltip="Add Capability Type" 
                            matTooltipPosition="above"
                             (click)="resetCapabilityTypeForm()"
                              data-target="#addCapabilityType" data-toggle="modal">
                                <i class="fa fa-plus-circle fa-lg"></i>
                            </a>
                        </div> -->
                        
                        <div class="card new-card">
                            <div class="card-header bg-primary new-card-header">
                              <div class="row">
                                <div class="col">
                                  <h4 class="new-card-heading">Vendor Capability Type</h4>
                                </div>
                                <div>
                                  <button
                                    type="button"
                                    class="btn-sm new-btn-primary"
                                    (click)="resetCapabilityTypeForm()"
                              data-target="#addCapabilityType" data-toggle="modal"
                                  >
                                  Add Capability Type
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="card-body new-card-body">
                
                        <p-table #dt class="rpo-table-cstm rro-table-cstm" 
                        [value]="capabilityTypeData" 
                        [first]="0" 
                        [rows]="pageSize" 
                        [paginator]="true" 
                        [pageLinks]="3" 
                        [rowsPerPageOptions]="[10,20,50,100]" 
                        [columns]="selectedColumns" 
                        [metaKeySelection]="true"
                        selectionMode="multiple" 
                        (onPage)="changePage($event)"
                                 [resizableColumns]="true" [reorderableColumns]="true" [totalRecords]="totalRecords">
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col">
                                    <p-multiSelect [maxSelectedLabels]="2" [options]="capabilityTypeHeaders" optionLabel="header" [(ngModel)]="selectedColumns"
                                                   [style]="{minWidth: '200px'}" style="float:left" (onChange)="columnsChanges()"></p-multiSelect>
                                   
                                                </div>
                                                <div class="col">
                                                  
                                                      <div
                                                        style="width: 370px; float: right; padding-top: 3px;"
                                                      >
                                                        <div class="form-group">
                                                          <!-- <label class="radiobtn-label new-radio-btn-label">Status:</label> -->
                                                          <div
                                                            class="pull-left"
                                                            style="margin-top: 4px; margin-right: 15px;"
                                                          >
                                                                <label class="radio-cstm wauto">
                                                                    <input type="radio" name="EmpStatus" class="form-control" value="Active" (click)="getListByStatus('Active')" [(ngModel)]="currentstatus">
                                                                    <span class="checkmark"></span>Active
                                                                </label>
                                                            </div>
                                                            <div class="pull-left" style="margin-top: 4px; margin-right: 15px;">
                                                                <label class="radio-cstm wauto">
                                                                    <input type="radio" name="EmpStatus" class="form-control" value="InActive" (click)="getListByStatus('InActive')" [(ngModel)]="currentstatus">
                                                                    <span class="checkmark"></span>In-Active
                                                                </label>
                                                            </div>
                                                            <div class="pull-left" style="margin-top: 4px; margin-right: 15px;">
                                                                <label class="radio-cstm wauto">
                                                                    <input type="radio" name="EmpStatus" class="form-control" value="ALL" 
                                                                    (click)="getListByStatus('ALL')" [(ngModel)]="currentstatus">
                                                                    <span class="checkmark"></span>All
                                                                </label>
                                                            </div>
                                                                <div class="checkbox-cstm" style="margin-left: 0;">
                                                                  <label style="width: auto !important;margin-top: 3px;">
                                                                    <!--  -->
                                                                    <input type="checkbox" [(ngModel)]="currentDeletedstatus" name="cparent" id="cparent" 
                                                                     (click)="getDeleteListByStatus($event.target.checked)"
                                                                      />
                                                                    <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                                                  Show  Deleted List 
                                                                  </label>
                                                                </div>
                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                              <div class="col">
                                    <button type="button" class="btn btn-primary new-table-button"  style="padding: 5px 12px !important;" matTooltip="Download Data" matTooltipPosition="above" pButton icon="fa-download"
                                            iconPos="left" label="Export  Data" (click)="dt.exportCSV()"></button>
                                    <button type="button" class="btn btn-primary new-table-button"  style="padding: 5px 12px !important;" matTooltip="Download Selected Data" matTooltipPosition="above" pButton icon="fa-download"
                                            iconPos="left" label="Export Selection Only" (click)="dt.exportCSV({selectionOnly:true})"></button>

                                    <div class="excel-upload  excel-upload-cstm">

                                        <input type="file" name="upload[]" id="upload" (change)="customExcelUpload($event)" class="uploaddoc upload-file"
                                               accept=".xlsx, .xls, .csv">
                                        <label for="upload">
                                            <span matTooltip="Upload Data (Excel)" matTooltipPosition="above">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </label>
                                        &nbsp; &nbsp;

                                        <button class="btn btn-primary"  style="padding: 5px 12px !important;" matTooltip="Download Sample File" matTooltipPosition="above" (click)="sampleExcelDownload()">Sample File Download</button>
                                    </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width:120px" *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                    <th style="width:200px;position:sticky" *ngIf="selectedColumns.length> 0"> Actions</th>
                                </tr>
                                <tr>
                                    <th style="width:120px" *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field,'contains')">
                                    </th>
                                    <th style="width:200px;position:sticky"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" pReorderableRowHandle>
                                    <td style="width:120px" *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle data-toggle="modal" data-target="#view" (dblclick)="viewSelectedRow(rowData)">
                                        {{
col.field == 'createdDate'? (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field] && col.field == 'updatedDate'?
                                        (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field]
                                        }}
                                    </td>
                                    <td class="action-icons-cstm" style="width:200px" *ngIf="selectedColumns.length> 0">
                                        <div *ngIf="currentDeletedstatus==false">
                                      
                                        <p-inputSwitch *ngIf="rowData['isActive']==true" matTooltip="Active" matTooltipPosition="above" onLabel="on" offLabel="off" (onChange)="changeStatus(rowData)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="rowData['isActive']==false" matTooltip="In Active" matTooltipPosition="above" onLabel="on" offLabel="off" (onChange)="changeStatus(rowData)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>
                                        <p-inputSwitch *ngIf="rowData['isActive']==null" matTooltip="In Active" matTooltipPosition="above" onLabel="on" offLabel="off" (onChange)="changeStatus(rowData)" [(ngModel)]="rowData['isActive']"></p-inputSwitch>

                                        <span data-toggle="modal" data-target="#view">
                                            <a class="btn btn-info boxed-float-btn nobg" matTooltip="View" matTooltipPosition="above" (click)="viewSelectedRow(rowData)" data-target="#view" data-toggle="modal">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                       
                                        <span  data-target="#addCapabilityType" data-toggle="modal">
                                            <a class="btn nobg" 
                                            (click)="editCapabilityType(rowData)"
                                            matTooltip="Edit" 
                                            matTooltipPosition="above"><i class="fa fa-pencil">                          
                                            </i></a> </span>
                                       
                                       
                                        <!-- <button class="btn-edit" mat-icon-button 
                                        (click)="editCapabilityType(rowData)" 
                                        data-target="#addCapabilityType" data-toggle="modal"
                                         matTooltip="Edit" matTooltipPosition="above">
                                            <mat-icon>edit</mat-icon>
                                        </button> -->

                                        <span data-target="#delete" data-toggle="modal"><a class="btn nobg" 
                                            (click)="delete(rowData)"
                                            matTooltip="Delete"  matTooltipPosition="above">
                                            <i class="fa fa-trash"></i></a> </span>
                                       
                                        
                                        
                                        <!-- <button class="btn-delete" mat-icon-button matTooltip="Delete"
                                         matTooltipPosition="above" data-target="#delete" data-toggle="modal" 
                                         (click)="delete(rowData)">
                                            <mat-icon color="warn">delete</mat-icon>
                                        </button> -->

                                        <span data-toggle="modal" data-target="#contentHist"><a class="btn nobg" 
                                            (click)="showAuditPopup(rowData)"
                                             matTooltip="History"  matTooltipPosition="above">
                                             <i class="fa fa-history"></i></a></span>

                                        <!-- <button class="btn-history" mat-icon-button
                                         matTooltip="History" matTooltipPosition="above" data-toggle="modal"
                                          data-target="#contentHist" (click)="showAuditPopup(rowData)">
                                            <mat-icon color="green">history</mat-icon>
                                        </button> -->
                                    </div>

                                    <div *ngIf="currentDeletedstatus==true">
                                        <p-inputSwitch [(ngModel)]="rowData['isActive']" [disabled]="true" name="isActive{{ rowIndex }}"   matTooltip="{{rowData['isActive'] ? 'Active': 'In Active'}}"
                                        matTooltipPosition="above" (onChange)="changeStatus(rowData)"></p-inputSwitch> 
                                       <span data-toggle="modal" data-target="#view"><a class="btn nobg" (click)="viewSelectedRow(rowData)" matTooltip="View"  matTooltipPosition="above"><i class="fa fa-eye"></i></a> </span>
                                      <span ><a class="btn nobg" (click)="restore(restoreId,rowData);" matTooltip="Restore Record"  matTooltipPosition="above"><i class="fa fa-undo" aria-hidden="true"></i></a> </span>
                                        <!-- <span data-toggle="modal" data-target="#contentAuditHist"><a class="btn nobg" (click)="getAuditHistoryById(contentAuditHist,rowData)" matTooltip="History"  matTooltipPosition="above"><i class="fa fa-history"></i></a></span> -->
                                     
                                    </div> 
                                    </td>
                                </tr>
                            </ng-template>

                            <!-- <ng-template pTemplate="summary" id="footer">
                                <label id="footer" class="footer">No'of records:</label>
                                <input style="width: 5%;" [(ngModel)]="totalRecords" [disabled]="true" pInputText type="text" /> &nbsp;&nbsp;
                                <label id="footer" class="footer1">Pages Count:</label>
                                <input style="width: 5%;" [(ngModel)]="totalPages" [disabled]="true" pInputText type="text" />
                            </ng-template> -->

                            <ng-template pTemplate="emptymessage" let-columns
                                 *ngIf="capabilityTypeData && capabilityTypeData.length == 0 || capabilityTypeData && capabilityTypeData.length ==null">
                   <tr>
                                    <td [attr.colspan]="5" style="color: red; font-weight: bold; text-align: center">
                                        No records found
                                    </td>
                                   
                                </tr>
                            </ng-template>

                         
                            <ng-template pTemplate="summary" id="footer">
                                <label id="footer" class="footer">Total:</label>
                                <input style="width: 5%;" [(ngModel)]="dt._totalRecords" [disabled]="true" pInputText type="text" /> &nbsp;&nbsp;
                                <label id="footer" class="footer1">Pages Count:</label>
                               
                                <input style="width: 5%;" [ngModel]="getPageCount(dt._totalRecords,pageSize)" [disabled]="true" pInputText type="text" />
                            </ng-template>

                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div #addCapabilityType id="addCapabilityType" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">

         Modal content
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{isEdit ? 'Edit' : 'Add' }} Vendor Capability Type  </h4>
            </div>
            <div class="modal-body">
                <form #addCapabilityTypeForm="ngForm">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="description" class="control-label">
                                   Vendor Capability Type
                                    <span class="clr-red">*</span>
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <p-autoComplete field="description" [(ngModel)]="addNewCapabilityType.description" name="capabilityType"
                                                [suggestions]="capabilityTypeList" [size]="30" [minLength]="1" (completeMethod)="filterCapabilityType($event)" (onSelect)="selectedCapabilityType($event)" (onKeyUp)="checkCapabilityTypeExists($event.target.value)"
                                                [dropdown]="true" class="p-autoComplete-ctsm" required (ngModelChange)="getChange()">

                                </p-autoComplete>
                                <div *ngIf="disableSaveForCapabilityType" class="clr-red">Already Exists</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="description" class="control-label">Sequence <span class="clr-red">*</span></label>
                               
                            </div>
                            <div class="col-sm-5">
                                <p-autoComplete class="p-autoComplete-ctsm" name="sequenceNum"
                                                [(ngModel)]="addNewCapabilityType.sequenceNo"
                                                pKeyFilter="num"
                                                (onSelect)="selectedSequence($event)"
                                                (onKeyUp)="checkSequenceExists($event.target.value)"
                                                [suggestions]="sequenceList" field="sequenceNo" (completeMethod)="filterSequence($event)"
                                                [size]="30" [minLength]="1" [dropdown]="true" required (ngModelChange)="getChange()">
                                </p-autoComplete>
                                <div *ngIf="disableSaveForSequence" class="clr-red">Already Exists</div>
                            
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="description" class="control-label">Description</label>
                            </div>
                            <div class="col-sm-5">
                                <textarea class="text-item" #capabilityTypeDesc="ngModel" id="capabilityTypeDesc" name="capabilityTypeDesc" [(ngModel)]="addNewCapabilityType.capabilityTypeDesc" (ngModelChange)="getChange()"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="description" class="control-label">Memo</label>
                            </div>
                            <div class="col-sm-5">
                                <textarea class="text-item" #sequenceMemo="ngModel" id="sequenceMemo" name="sequenceMemo" [(ngModel)]="addNewCapabilityType.sequenceMemo" (ngModelChange)="getChange()"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="checkbox-cstm">
                                <label>
                                    <input type="checkbox" name="isActive" [(ngModel)]="addNewCapabilityType.isActive" (ngModelChange)="getChange()">
                                    <span class="cr">
                                        <i class="cr-icon pi pi-check"></i>
                                    </span>
                                    Active
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" [disabled]="addCapabilityTypeForm.invalid || disableSaveForCapabilityType ||disableSaveForCondition || disableSaveForSequence" (click)="saveCapabilityType();"> {{isEdit ? 'Update' : 'Save' }}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetCapabilityTypeForm()">Close</button>

            </div>
        </div>

    </div>
</div>

<ng-template #restoreId let-c="close" let-d="dismiss" data-backdrop="static">
    
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Restore?</h4>
  
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
       
    </div>
    <div class="modal-body">
        <strong>
            Vendor Caability Type:
            <span class="new-label">{{restorerecord.description}}</span>
        </strong>
    </div>
  
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="restoreRecord()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
  </ng-template>

<div *ngIf="viewRowData" #view class="modal fade " id="view" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="" name="" (click)="resetViewData()">×</button>
                <h4 class="modal-title">Vendor Capability Type</h4>
            </div>
            <div class="modal-body viewform ">
                <div class="col-sm-12">
                    <p>
                        <span class="label ">
                            <b class="view-Header">Vendor Capability Type: </b>
                        </span>
                        <span class="value">{{ viewRowData.description}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Description: </b>
                        </span>
                        <span class="value">{{ viewRowData.capabilityTypeDesc}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Sequence: </b>
                        </span>
                        <span class="value">{{ viewRowData.sequenceNo}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Memo: </b>
                        </span>
                        <span class="value">{{ viewRowData.sequenceMemo}}</span>
                    </p>

                    <p>
                        <span class="label ">
                            <b class="view-Header">Is Active:</b>
                        </span>
                        <span class="value">{{viewRowData.isActive === true ? 'Yes' : 'No'}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Created By: </b>
                        </span>
                        <span class="value">{{viewRowData.createdBy }}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Created Date: </b>
                        </span>
                        <span class="value">{{viewRowData.createdDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Updated By: </b>
                        </span>
                        <span class="value">{{viewRowData.updatedBy}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Updated Date: </b>
                        </span>
                        <span class="value">{{viewRowData.updatedDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                   
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="" name="" (click)="resetViewData()">Close</button>
            </div>
        </div>

    </div>

</div>
<div *ngIf="selectedRowforDelete" #delete id="delete" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are You Sure Want to Delete ?</h4>
            </div>
            <div class="modal-body">
                <strong>
                  Vendor Capability Type:
                    <span class="new-label">{{selectedRowforDelete.description}}</span>
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteConformation('Yes')">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteConformation('No')">No</button>
            </div>
        </div>

    </div>
</div>
<div *ngIf="auditHistory" id="contentHist" #contentHist class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">History of Capability Type </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive  rro-table-cstm">
                    <table class="table table-bordered" *ngIf="auditHistory.length> 0 else noDatavailable">
                        <thead>
                            <tr>
                                 <th>Vendor Capability Type</th>
                                <th>Description</th>
                                <th>Sequence</th>
                                <th>Memo</th>
                                <!-- <th>Is Active</th> -->
                                <th>Last Updated By</th>
                                <th>Last Updated Time</th>
                                <th>Created By</th>
                                <th>Created Time</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="auditHistory.length> 0">
                            <tr *ngFor="let audit of auditHistory; let i = index;">

                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'description', audit.description)  ? 'black' : 'red'  }">{{audit.description}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'capabilityTypeDesc', audit.capabilityTypeDesc)  ? 'black' : 'red'  }">{{audit.capabilityTypeDesc}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'sequenceNo', audit.sequenceNo)  ? 'black' : 'red'  }">{{audit.sequenceNo}}</td>
                                <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'sequenceMemo', audit.sequenceMemo)  ? 'black' : 'red'  }">{{audit.sequenceMemo}}</td>
                                <!-- <td [ngStyle]="{'color':  getColorCodeForHistory(i, 'isActive', audit.isActive)  ? 'black' : 'red'  }">{{audit.isActive}}</td> -->

                                <td>{{audit.updatedBy}}</td>
                                <td>{{audit.updatedDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                                <td>{{audit.createdBy}}</td>
                                <td>{{audit.createdDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #noDatavailable>
                        <div class="text-center">
                            <img src="../../assets/images/binoculars.png" style="height: 100px; width: 100px;">
                            <h4 style="color: #ff5663;">No History Found </h4>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>