<div class="card new-card">
    <div class="card-header header" *ngIf="!isEnableItemMasterView">
		<div class="row">
		  <div class="col">
			<h4 class="header-name">Capabilities List</h4>
		  </div>
		  <div>
			<button
			type="button" (click)="onAddCapes()"
			class="btn-sm header-button" data-toggle="modal" data-target="#capes1">
			Add New Capability
			</button>
		  </div>
		</div>
    </div>
    <div class="card-body new-card-body">
        <p-table class="rpo-table-cstm rro-table-cstm" #capabilityListTable [value]="allItemMasterCapsList"
        [rows]="itemMasterCapesPageSize" [metaKeySelection]="true" [paginator]="true" [pageLinks]="3"
        [rowsPerPageOptions]="[10,20,50,100]" [columns]="selectedColumns" selectionMode="multiple"
        [(selection)]="selectedColumn" [resizableColumns]="true" [reorderableColumns]="true" [scrollable]="true"
        scrollHeight="450px" (onPage)="pageIndexChange($event)">
        <ng-template pTemplate="caption" *ngIf="!isEnableItemMasterView">
            <div class="row">
                <div class="col">
                  <p-multiSelect
                    [maxSelectedLabels]="2"
                    [options]="cols"
                    optionLabel="header"
                    [(ngModel)]="selectedColumns"
                    class="multiselect-field"
                    (onChange)="columnsChanges()"
                  ></p-multiSelect>
                </div>
                <div class="col">
                    <div					
                    class="global-search-field inner-addon right-addon inline-block"
                  >
                    <i class="fa fa-search"></i>
                    <input
                      type="text"
                      pInputText
                      size="50"
                      class="form-control"
                      (input)="capabilityListTable.filterGlobal($event.target.value, 'contains')"
                      placeholder="Filter"
                    />
                  </div>
                </div>
              </div>
              <div class="row margin-bottom-10">
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-primary exports-button"
                    matTooltip="Download Data"
                    matTooltipPosition="above"
                    pButton
                    icon="fa-download"
                    iconPos="left"
                    label="Export Data"
                    data-toggle="modal" 
                    (click)="selectedOnly = false; targetData = capabilityListTable;"
                     data-target="#downloadConfirmation"
                  ></button>
                  <button
                    type="button"
                    class="btn btn-primary exports-button"
                    matTooltip="Download Selected Data"
                    matTooltipPosition="above"
                    pButton
                    icon="fa-download"
                    iconPos="left"
                    label="Export Selected Data"
                    (click)="capabilityListTable.exportCSV({selectionOnly:true})"   >
                </button>
                </div>
                  <div class="col-md-4">
                    <div class="checkbox-cstm pull-right checkbox-align">
                        <label class="checkbox-label-align">
                          <input type="checkbox" [(ngModel)]="currentDeleteStatus" name="cparent" (click)="getCapesListOnDeleteStatus($event.target.checked)" />
                          <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                        Show Deleted List 
                        </label>
                    </div>
                </div>
              </div>
        </ng-template>

        <ng-template pTemplate="caption" *ngIf="isEnableItemMasterView">
              <div class="row margin-bottom-10">
                <div class="col">
                </div>
                  <div class="col-md-4">
                    <div class="checkbox-cstm pull-right checkbox-align">
                        <label class="checkbox-label-align">
                          <input type="checkbox" [(ngModel)]="currentDeleteStatus" name="cparent" (click)="getCapesListOnDeleteStatus($event.target.checked)" />
                          <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                        Show Deleted List 
                        </label>
                    </div>
                </div>
              </div>
        </ng-template>

        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" class="table-column-width" [ngStyle]="{'width': col.width}"/>
            </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns">
                    <th class="table-column-width"
                        *ngIf="col.field!='level1' && col.field!='level2' && col.field!='level3' && col.field!='level4'"
                        pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th class="table-column-width" *ngIf="col.field=='level1'" colspan="4" pResizableColumn pReorderableColumn
                        [pSortableColumn]="col.field">
                        Management Structure
                    </th>
                </ng-container>
                <th class="table-actions-column">Actions</th>
            </tr>
            <tr>
                <th class="table-column-width" *ngFor="let col of columns" [ngSwitch]="col.field">
                    <ng-container *ngIf="col.field!='isVerified'">
                        <input class="table-header-input-width" pInputText type="text"
                        *ngIf="col.field != 'addedDate' && col.field != 'verifiedDate' && col.field != 'createdDate' && col.field != 'updatedDate'"
                            (input)="capabilityListTable.filter($event.target.value, col.field, 'contains')">
                            <input type="date" class="hidePlaceHolder table-header-input-width" *ngIf="col.field == 'addedDate'"
                            name="addedDate" (change)="addeddateFilterForTable($event.target.value, col.field)" />
                            <input type="date" class="hidePlaceHolder table-header-input-width" *ngIf="col.field == 'verifiedDate'"
                            name="verifiedDate" (change)="addeddateFilterForTable($event.target.value, col.field)" />
                            <input type="date" class="hidePlaceHolder table-header-input-width" *ngIf="col.field == 'createdDate'"
                            name="createdDate" (change)="addeddateFilterForTable($event.target.value, col.field)" />
                          <input type="date" class="hidePlaceHolder table-header-input-width" *ngIf="col.field == 'updatedDate'"
                            name="updatedDate" (change)="addeddateFilterForTable($event.target.value,col.field)" />
                    </ng-container>
                    <ng-container *ngIf="col.field =='isVerified'">
                        <input  class="table-header-input-width" pInputText type="text" name="isVerified" (input)="checkChange($event.target.value)"/>
                    </ng-container>
                </th>
                <th class="table-actions-column"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row_no="rowIndex" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" pReorderableRowHandle>

                <td class="table-column-width"   [ngClass]="(col.field == 'memo' )?'truncate-text':''" *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle>                    
                    <ng-container *ngIf="col.field !='isVerified' && col.field !='memo' && col.field !='verifiedDate' && col.field != 'createdDate' && col.field != 'updatedDate'">
                                    {{
                                        col.field == 'entryDate'
                                        ? (rowData[col.field] )
                                        : rowData[col.field] && col.field == 'addedDate'
                                        ? (rowData[col.field] )
                                        : rowData[col.field]
                                    }}
                    </ng-container>
                    <ng-container *ngIf="col.field =='isVerified'">
                        <input type="checkbox" [checked]="rowData[col.field] == true"
                               class="input-check" disabled/>
                               <!-- <div class="form-group">
                                <div class="checkbox-cstm">
                                  <label> 
                                    <span *ngIf="rowData[col.field] == true" class="cr margin-left-50 disablecheckbox"
                                      ><i class="cr-icon pi pi-check" ></i
                                    ></span>
                                    <span *ngIf="rowData[col.field] !== true" class="cr margin-left-50 disablecheckbox"
                                    ><i class="cr-icon" ></i
                                  ></span>
                                     
                                    </label>
                                </div>
                              </div> -->
                              
                    </ng-container>
                    <ng-container *ngIf="col.field =='verifiedDate'">
                        {{rowData[col.field] }}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'createdDate' || col.field == 'updatedDate'">
                        {{rowData[col.field] }}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'memo'">
                        <p class="m-0 p-0 p_textEditor memo-align-left truncate-text" matTooltipPosition="above"
                         [matTooltip]="parsedText(rowData[col.field])" [innerHTML]="rowData[col.field]"></p>
                    </ng-container>
                </td>
                <td class="action-icons-cstm table-column-width">
                    <ng-container *ngIf="!rowData.isDeleted">
                    <span> <a class="btn btn-info boxed-float-btn nobg" data-toggle="modal" data-target="#viewCap" (click)="onViewCapes(rowData)"
                         matTooltip="View" matTooltipPosition="above"><i class="fa fa-eye"></i></a> </span>

                         <span *ngIf="!isEnableItemMasterView" data-toggle="modal" data-target="#editCap">
                           <a class="btn nobg" 
                           (click)="openEdits(rowData)" matTooltip="Edit" 
                           matTooltipPosition="above"><i class="fa fa-pencil"></i></a> </span>
                   
                    <span *ngIf="!isEnableItemMasterView"><a class="btn nobg"
                        (click)="deleteCapability(deleteCapabilityContent, rowData.itemMasterCapesId, rowData.capabilityType)"
                         matTooltip="Delete"
                          matTooltipPosition="above"><i class="fa fa-trash"></i></a> </span>
                   
                    <span><a class="btn nobg" data-toggle="modal" data-target="#viewHistory" matTooltip="History" matTooltipPosition="above"
                            (click)="getAuditHistory(rowData)"><i class="fa fa-history"></i></a></span>
                    </ng-container>

                    <ng-container *ngIf="rowData.isDeleted">
                                <span> <a class="btn btn-info boxed-float-btn nobg" data-toggle="modal" data-target="#viewCap" (click)="onViewCapes(rowData)"
                                matTooltip="View" matTooltipPosition="above"><i class="fa fa-eye"></i></a> </span>
                                <span *ngIf="!isEnableItemMasterView"><a class="btn nobg btn-users-cstm"
                                    (click)="restore(restoreCapabilityContent, rowData)"
                                     matTooltip="Restore Record"
                                      matTooltipPosition="above"><i class="fa fa-undo"></i></a> </span>
                               <span><a class="btn nobg" data-toggle="modal" data-target="#viewHistory" matTooltip="History" matTooltipPosition="above"
                                (click)="getAuditHistory(rowData)"><i class="fa fa-history"></i></a></span>
                    </ng-container>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns *ngIf="allItemMasterCapsList?.length == 0">
            <tr>
                <td [attr.colspan]="18" class="no-records-cstm no-records-msg">
                    No records found
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary" id="footer">
            <label id="footer" class="footer">Total:</label>
            <input class="footer-input-width" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="capabilityListTable._totalRecords" [disabled]="true" pInputText type="text" />
            &nbsp;&nbsp;
            <label id="footer" class="footer1">Pages Count:</label>
            <input class="footer-input-width" [ngModelOptions]="{standalone: true}"
                [ngModel]="getPageCount(capabilityListTable._totalRecords, itemMasterCapesPageSize)" [disabled]="true"
                pInputText type="text" />
        </ng-template>
    </p-table>
    </div>
</div>


<div id="capes1" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeCapes()">&times;</button>
                <h4 class="modal-title">Add Capes</h4>
            </div>
            <div class="modal-body show-capes-height">
                <div *ngIf="isCreate">
                    <app-item-master-create-capabilities [itemMasterId]="itemMasterId" [isCapViewMode]="isCapViewMode"
                        [isEnableCapesList]="isEnableCapesList" (loadCapesList)="loadCapesList($event)"
                        (closeCapesPopup)="closeCapesPopup($event)"></app-item-master-create-capabilities>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="viewCap" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="dismissCapesViewModal()">&times;</button>
                <h4 class="modal-title">Details of Capability Type: <strong>{{ selectedItemMasterCapData.capabilityType }}</strong> for PN: <strong>{{selectedItemMasterCapData.partNo}}</strong></h4>
            </div>
            <div class="modal-body">
                <!-- <app-pn-header [partData]="partData" *ngIf="itemMasterId != undefined"></app-pn-header> -->
                <div class="form-row mt-2">
                    <div class="col-sm-4">
                        <p>
                            <span class="label"><strong>PN </strong>: </span><span
                                class="value">{{ selectedItemMasterCapData.partNo }}</span>
                        </p>
                        <p>
                            <span class="label"><strong>PN Description </strong> : </span><span
                                class="value">{{ selectedItemMasterCapData.pnDiscription }}</span>
                        </p>
                        <p>
                            <span class="label"><strong>Cap Type <span class="clr-red">*</span></strong> : </span><span
                                class="value">{{ selectedItemMasterCapData.capabilityType }}</span>
                        </p>                    
                        <p>
                            <span class="label"><strong>Verified</strong> : </span><span
                                class="value">
                            
                                <div class="checkbox-cstm">
                                    <label>
                                        <input type="checkbox" name="isVerified"
                                            [(ngModel)]="selectedItemMasterCapData.isVerified" disabled>
                                        <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                    </label>
                                </div>
                            </span>
                        </p>
                        <p>
                            <span class="label"><strong>Verified By</strong> : </span><span
                            
                                class="value">{{ selectedItemMasterCapData.verifiedBy }}</span>
                        </p>
                        <p>
                            <span class="label"><strong>Verified Date</strong> : </span><span
                                class="value">{{ selectedItemMasterCapData.verifiedDate | date: 'MM-dd-yyyy ' }}</span>
                        </p>
                        <p>
                            <span class="label"><strong>Memo</strong> : </span>
                                <span class="value">
                                    <p class="m-0 p-0 p_textEditor memo-align-left truncate-text" matTooltipPosition="above"
                                    [matTooltip]="parsedText(selectedItemMasterCapData.memo)" [innerHTML]="selectedItemMasterCapData.memo"></p>
                                </span>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="card mgmt-card">
                                    <div class="card-header mgmt-card-header">
                                        <h5 class="mgmt-header-name">Management Structure <span class="clr-red">*</span></h5>
                                    </div>
                                    <div class="card-body mgmt-card-body">
                                        <div class="form-group margin-bottom-4">
                                            <input class="form-control" type="text" name="level1"
                                                [(ngModel)]="selectedItemMasterCapData.level1" disabled>
                                        </div>
                                        <div class="form-group margin-bottom-4">
                                            <input class="form-control" type="text" name="level2"
                                                [(ngModel)]="selectedItemMasterCapData.level2" disabled>
                                        </div>
                                        <div class="form-group margin-bottom-4">
                                            <input class="form-control" type="text" name="level3"
                                                [(ngModel)]="selectedItemMasterCapData.level3" disabled>
                                        </div>
                                        <div class="form-group margin-bottom-4">
                                            <input class="form-control" type="text" name="level4"
                                                [(ngModel)]="selectedItemMasterCapData.level4" disabled>
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="dismissCapesViewModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="viewHistory" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="dismissCapesHistoryModal()">&times;</button>
                <h4 class="modal-title">History of Capability</h4>
            </div>
            <div class="modal-body">
                <app-pn-header [partData]="partData" *ngIf="itemMasterId != undefined"></app-pn-header>
                <div class="table-responsive pas-table-cstm poro-table-cstm parts-list-table-align">
					<div class="tableFixHead">  
					<table class="table table-bordered header-table-width" *ngIf="capabilityauditHisory.length> 0 else noDatavailable">
                        <thead>
                            <tr>
                                <th>Caps Type <strong class="clr-red">*</strong></th>
                                <th>PN<strong class="clr-red">*</strong></th>
                                <th class="pn-desc-width">PN Description<strong class="clr-red">*</strong></th>
                                <th class="mgmt-table-header" colspan="4">Management Structure <strong class="clr-red">*</strong></th>
                                <th>Added Date</th>
                                <th style="min-width:60px !important">Verified</th>
                                <th>Verified By</th>
                                <th>Verified Date</th>
                                <th style="min-width:250px !important">Memo</th>
                               
                                <th>Created Date</th>
                                <th>Created By</th>
                                
                                <th>Updated Date</th>
                                <th>Updated By</th>
                                <th class="is-deleted-width">Is Deleted</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="capabilityauditHisory.length> 0">
                            <tr *ngFor="let audit of capabilityauditHisory; let i = index;">
                                <td  [ngStyle]="{color: getColorCodeForHistory(i, 'capabilityType', audit.capabilityType) ? 'black' : 'red' }">{{audit.capabilityType}}</td>
                                <td [ngStyle]="{color: getColorCodeForHistory(i, 'partNo', audit.partNo) ? 'black' : 'red' }">{{audit.partNo}}</td>
                                <td  [ngStyle]="{color: getColorCodeForHistory(i, 'pnDiscription', audit.pnDiscription) ? 'black' : 'red' }">{{audit.pnDiscription}}</td>
                                <td class="table-column-width" [ngStyle]="{color: getColorCodeForHistory(i, 'level1', audit.level1) ? 'black' : 'red' }">{{audit.level1}}</td>
                                <td class="table-column-width" [ngStyle]="{color: getColorCodeForHistory(i, 'level2', audit.level2) ? 'black' : 'red' }">{{audit.level2}}</td>
                                <td class="table-column-width" [ngStyle]="{color: getColorCodeForHistory(i, 'level3', audit.level3) ? 'black' : 'red' }">{{audit.level3}}</td>
                                <td class="table-column-width" [ngStyle]="{color: getColorCodeForHistory(i, 'level4', audit.level4) ? 'black' : 'red' }">{{audit.level4}}</td>
                                <td>{{audit.addedDate | date: 'MM/dd/yyyy h:mm a'}}</td>
                                <td class="text-center width-60">
                                    <span class="value">
                                      <label class="wauto">
                                           <input type="checkbox" name="isVerified" [(ngModel)]="audit.isVerified"
                                            disabled></label></span></td>
                                <td  [ngStyle]="{color: getColorCodeForHistory(i, 'verifiedBy', audit.verifiedBy) ? 'black' : 'red' }">{{audit.verifiedBy}}</td>
                                
                                <td  [ngStyle]="{color: getColorCodeForHistory(i, 'verifiedDate', audit.verifiedDate) ? 'black' : 'red' }">{{audit.verifiedDate | date: 'MM/dd/yyyy h:mm a'}}</td>
                                <td  [ngStyle]="{color: getColorCodeForHistory(i, 'memo', audit.memo) ? 'black' : 'red' }">
                                    <p class="m-0 p-0 p_textEditor truncate-text" matTooltipPosition="above"
                                    [matTooltip]="parsedText(audit.memo)" [innerHTML]="audit.memo"></p>
                                </td>
                                <td>{{audit.createdDate | date: 'MM/dd/yyyy h:mm a'}}</td>

                                <td >{{audit.createdBy}}</td>
                                <td>{{audit.updatedDate | date: 'MM/dd/yyyy h:mm a'}}</td>

                                <td >{{audit.updatedBy}}</td>
                                <td class="text-center width-60">
                                    <span class="value">
                                      <label class="wauto">
                                           <input type="checkbox" name="isDeleted" [(ngModel)]="audit.isDeleted" disabled>
                                        </label>
                                    </span></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <ng-template #noDatavailable>
                        <div class="text-center">
                            <img src="../../../../assets/images/binoculars.png" class="no-history-found-image">
                            <h4 class="no-history-found-msg">No History Found </h4>
                        </div>

                    </ng-template>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="dismissCapesHistoryModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-capes-memo" style="z-index: 10000 !important;" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Memo</h4>
        </div>
        <div class="modal-body">
          <p-editor [(ngModel)]="textAreaInfo" (ngModelChange)="enableSaveMemo()" (ngModelChange)="enableSave()"
          [style]="{'height':'320px'}" name="textAreaInfo" 
          required></p-editor>
          <div class="editor-buttons">
            <button type="button" (ngModelChange)="enableSaveMemo()" class="btn btn-primary editor-buttons-margin"
             data-dismiss="modal" (click)="onSaveTextAreaInfo()"  [disabled]="disableSaveMemo">Save</button>
            <button type="button"  class="btn btn-danger editor-buttons-margin"
              data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="downloadConfirmation" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="closeDeleteModal()">&times;</button>
				<h4 class="modal-title">Are You Sure Want to Download?</h4>
			</div>
			<div class="modal-body" *ngIf="targetData">
				<strong>
					<span>
						You are attempting to export {{targetData.totalRecords}} of records. 
					</span> 
				</strong>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="(selectedOnly)?targetData.exportCSV({ selectionOnly: true }):exportCSV(targetData); closeDeleteModal();">Confirm</button>
				<button type="button" class="btn btn-danger" (click)="closeDeleteModal()">Cancel</button>
			</div>
		</div>
	</div>
</div>
<div id="editCap" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog capability-dialog-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="dismissModel()">&times;</button>
                <h4 class="modal-title">Edit Capability</h4>
            </div>
            <form #capesForm="ngForm">
                <div class="modal-body" *ngIf="isEditMode">
                    <app-pn-header [partData]="partData" *ngIf="itemMasterId != undefined"></app-pn-header>
                    <div class="table-responsive pas-table-cstm poro-table-cstm parts-list-table-align">
                        <div class="tableFixHead">  
                        <table class="table table-bordered header-table-width" >
                                <thead>
                                    <tr> 
                                        <th >Capability Type <span class="clr-red">*</span></th>
                                        <th class="mgmt-width" colspan="4">Managment Structure
                                            <span class="clr-red">*</span></th>
                                        <th >Date Added</th>
                                        <th style="min-width:70px !important">Verified</th>
                                        <th>Verified By</th>
                                        <th>Verified Date</th>
                                        <th class="memo-header-width">Memo</th>
                                    </tr>
                                </thead>
                                <tbody style="overflow-y:scroll">
                                    <tr>
                                        <td class="table-column-width">                                            
                                            <p-dropdown placeholder="Select" class="p-dropdown-custom-sm"
                                                [options]="capabalityTypeList" #capabilityTypeId="ngModel"
                                                [(ngModel)]="selectedItemMasterCapData.capabilityTypeId"
                                                (ngModelChange)="enableSave()" name="capabilityTypeId"
                                                [required]="true" appendTo='body' [baseZIndex]="9999"></p-dropdown>
                                        </td>
                                        <td class="table-width-150">
                                            <p-dropdown placeholder="Select" name="primaryCompany" #mCompanyName="ngModel"
                                                [options]="maincompanylist" class="p-dropdown-custom-sm" 
                                                (onChange)="getBUList(selectedItemMasterCapData.companyId)" [showClear]="true"
                                                [(ngModel)]="selectedItemMasterCapData.companyId" [required]="true"
                                                (ngModelChange)="enableSave()" appendTo='body' [baseZIndex]="9999">
                                            </p-dropdown>
                                        </td>
                                        <td class="table-width-150">
                                            <p-dropdown placeholder="Select" name="primaryBU" #mBUName="ngModel"
                                                [options]="businessUnitList" class="p-dropdown-custom-sm"
                                                (onChange)="getDivisionlist(selectedItemMasterCapData.buId)"
                                                [(ngModel)]="selectedItemMasterCapData.buId" [showClear]="true"
                                                (ngModelChange)="enableSave()" appendTo='body' [baseZIndex]="9999">
                                            </p-dropdown>
                                        </td>
                                        <td class="table-width-150">
                                            <p-dropdown placeholder="Select" name="primaryDivision" #mDivisionName="ngModel"
                                                [options]="divisionlist" class="p-dropdown-custom-sm" [showClear]="true"
                                                (onChange)="getDepartmentlist(selectedItemMasterCapData.divisionId)"
                                                [(ngModel)]="selectedItemMasterCapData.divisionId"
                                                (ngModelChange)="enableSave()" appendTo='body' [baseZIndex]="9999">
                                            </p-dropdown>
                                        </td>
                                        <td class="table-width-150">
                                            <p-dropdown placeholder="Select" name="primaryDept" #mDepartmentName="ngModel"
                                                [options]="departmentList" class="p-dropdown-custom-sm" [showClear]="true"
                                                (onChange)="getDepartmentId(selectedItemMasterCapData.departmentId)"
                                                [(ngModel)]="selectedItemMasterCapData.departmentId"
                                                (ngModelChange)="enableSave()" appendTo='body' [baseZIndex]="9999">
                                            </p-dropdown>
                                        </td>
                                        <td class="table-column-width">
                                            <p-calendar class="pcal-item-capes"
                                            [yearNavigator]="true" [monthNavigator]="true" 
                                            yearRange="1900:2100" [maxDate]="currentDate"
                                                [(ngModel)]="selectedItemMasterCapData.addedDate"
                                                name="addedDate"
                                                [showIcon]="true"
                                                 (ngModelChange)="enableSave()" appendTo='body' [baseZIndex]="9999">
                                            </p-calendar>
                                        </td>
                                        <td class="table-column-width text-center">
                                            <p-checkbox class="pcheckbox-cstm" name="isVerified" binary="false"
                                                [(ngModel)]="selectedItemMasterCapData.isVerified"
                                                (onChange)="resetVerified(selectedItemMasterCapData, $event)"
                                                (ngModelChange)="enableSave()"></p-checkbox>
                                        </td>
                                        <td class="table-column-width">
                                            <p-dropdown class="p-dropdown-custom-sm" [options]="employeeList"
                                                placeholder="Select"                                                 
                                                [disabled]="selectedItemMasterCapData.isVerified==true"                                     
                                                [required]="selectedItemMasterCapData.isVerified"
                                                name="verifiedById"
                                                [(ngModel)]="selectedItemMasterCapData.verifiedById"
                                                (ngModelChange)="enableSave()" appendTo='body' [baseZIndex]="9999"></p-dropdown>
                                        </td>
                                        <td class="table-column-width">
                                            <p-calendar class="pcal-item-capes"  [minDate]="selectedItemMasterCapData.addedDate" [maxDate]="currentDate"
                                            [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100"
                                                [(ngModel)]="selectedItemMasterCapData.verifiedDate"
                                                [disabled]="selectedItemMasterCapData.isVerified==true"
                                                 name="verifiedDate"
                                                [showIcon]="true" (ngModelChange)="enableSave()" appendTo='body' [baseZIndex]="9999"></p-calendar>
                                        </td> 
                                        <td class="width-200">
                                            <div [innerHTML]="selectedItemMasterCapData.memo"  
                                             [matTooltip]="parsedText(selectedItemMasterCapData.memo)" 
                                             class="text_editor_box capes-memo-div"></div>
                                            <i class="fa fa-pencil pull-right capes-memo-pencil" 
                                           
                                            data-toggle="modal"
                                            matTooltip="Memo"
                                            data-target="#edit-capes-memo"
                                            matTooltipPosition="above"
                                            (click)="onAddTextAreaInfo('memo', edit-capes-memo)"></i>
                                            <!-- data-target="#capes-memo" -->
                                        </td>
                                    </tr>
                                    <tr class="min-height">
                                        <td colspan="10"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        [disabled]="(!capesForm.valid || disableSave) && !(selectedItemMasterCapData.isVerified && (!selectedItemMasterCapData.verifiedById && !selectedItemMasterCapData.verifiedDate))"
                        data-dismiss="modal" (click)="saveCapability(); ">
                        Update
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="dismissModel()">Close</button>
                </div>
            </form>
        </div>
    </div>
    
</div>

<ng-template #deleteCapabilityContent let-c="close" let-d="dismiss" data-backdrop="static">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Delete ?</h4>

        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <strong>Capability Type:
            <span class="new-label">{{selectedCapabilityType}}</span>
        </strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="deleteCapability(selectedForDeleteContent, selectedForDeleteCapabilityId, '')">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>

<ng-template #restoreCapabilityContent let-c="close" let-d="dismiss" data-backdrop="static">
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure Want to Restore ?</h4>

        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <strong>Capability Type:
            <span class="new-label">{{selectedCapabilityType}}</span>
        </strong>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="restoreCapability()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>
</ng-template>

<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>