<div style="float: right; margin: 3px 0 19px 0px;">
    <button type="button" class="btn btn-primary" (click)="detailView()">
        {{(isOpenedAll)?'Summary':'Detail View'}}
    </button>
</div>
<div style="margin-top: 15px;">
<p-treeTable [value]="gridData" (onNodeExpand)="getShippingData($event.node)">
    <ng-template pTemplate="header">
        <tr>
            <th style="background-color: #337ab7; color: white;">PartNumber</th>
            <th style="background-color: #337ab7; color: white">Part Description</th>
            <th style="background-color: #337ab7; color: white">Revised PartNo</th>
            <th style="background-color: #337ab7; color: white">Description</th>
            <th style="background-color: #337ab7; color: white">DocumentCode</th>
            <th style="background-color: #337ab7; color: white">Document Link</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{rowData.partNumber}}
            </td>
            <td>{{rowData.partDescription}}</td>
            <td>{{rowData.revisedPartNo}}</td>
            <td>{{rowData.description}}</td>
            <td>{{rowData.documentCode}}</td>
            <td>{{rowData.documentLink}}</td>
        </tr>
    </ng-template>
</p-treeTable>
</div>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>