  .view-mode-button{
    width:55px !important;height:20px !important;
  }
  .view-mode-div{
    text-align:right ; width:100% !important; padding-top:5px !important;
  }
  .speed-actions-width{
    min-width:130px;
  }
  .parts-list-header thead tr th{
    letter-spacing: 0.3px !important;
    font-size: 10px !important;
  }
  .summary-column{
    width:auto !important;
  }
  .min-width-150{
    min-width:150px;
  }
  .min-width{
    min-width: 10px !important;
  }
  .text_editor_box_exclusion {
    height: 24px;
    margin: 0 !important;
    padding: 0px;
    border: 1px solid #a6a6a6;
    width: 90%;
    border-radius: 4px;
    line-height: 0px;
    margin-top: 2px;
    background: #e9ecef;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0px;
      //padding-top: 3px;
    p {
      margin-bottom: 0px;
      padding: 0px;
      overflow: visible;
      padding-left: 4px;
      line-height: 1.5;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0px;
      font-size: 12px;
      padding-left: 4px !important;
    }
   ol{ display: inline-flex;
    padding: 8px !important;
    margin: 0px 4px !important;
    list-style-type: none;
  }
  li{
    margin-right: 7px;
  }
  }