
.general label, label {
    width: 150px;
    font-weight: 200;
}

.general-select {
    margin-top: -11px;
    margin-left: -6px;
    margin-right: -6px;
}
.c-wf-bcrumb {
    background-color: transparent;
}
.c-wf-bcrumb li {
    font-family: 'Roboto';
}
.breadcrumb {
    FONT-SIZE: medium;
    font-weight: 900;
    color: #295d92;
}
.wf-h-col .col-md-6 {
    max-width: 44%;
    margin-right: 15px;
}
.control-label {   
    text-align: left;
    width: 150px !important;
}
.input-value{
    border-radius: 5px !important;
}
.control-label {
    margin-top: 10px;
    text-align: left;
    width: 150px !important;
    }
.control-label1 {
    margin-top: 10px;
    text-align: left;
    width: 81px !important;
}
