.mat-toolbar-multiple-rows {
    height: 62px !important;
}

.ui-menuitem-icon {
    padding-right: 0;
}
button.mat-menu-item {
    width: 100%;
    /* margin-top: -9px; */
    margin-bottom: -5px;
    margin-top: -5px;
}