<router-outlet>
  <app-spinner></app-spinner>
</router-outlet>
<div
  id="app_container"
  [class.is-mobile]="mobileQuery.matches"
  class="nav-container"
>
  <div fxLayout="column" fxFlexOffset style="margin-top:0px !important;background-color: #fff;" fxFlex>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div  *ngIf="!isUserLoggedIn" class="title-logo">
          <p>
            <a routerLink="/">
              <img src="assets/images/PAS-logo.png" id="logo" />
            </a>
          </p>
          
        </div>
        <div  *ngIf="isUserLoggedIn" class="title-logo-login">
          <p>
            <a routerLink="/">
              <img src="assets/images/PAS-logo.png" id="logo" style="padding-left:0px !important" />
            </a>
          </p>
          
        </div>
        <span class="app-toolbar-spacer"></span>
        <span  *ngIf="isUserLoggedIn" matTooltip="Dashboard">
        <i class="fa fa-sitemap entity-block-btn" (click)="showthis()"></i>
        </span>
        <!-- <app-theme-picker
          tooltip="{{ 'mainMenu.Theme' | translate }}"
        ></app-theme-picker> -->
      
        <!-- <button
          *ngIf="!isUserLoggedIn"
          mat-button
          (click)="router.navigateByUrl('/login')"
        >
          <mat-icon>lock_open</mat-icon>
          <span>{{ 'mainMenu.Login' | translate }}</span>
        </button> -->

        <button
          *ngIf="isUserLoggedIn"
          class="side-button"
          mat-button
          [matMenuTriggerFor]="accountMenu"
          matTooltip="{{ 'mainMenu.UserAccount' | translate }}"
        >
          <mat-icon class="menu-button">account_circle</mat-icon>
          <span fxHide.lt-sm>{{ 'mainMenu.Account' | translate }}</span>
        </button>
        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item (click)="router.navigateByUrl('/settings')">
            <mat-icon>person</mat-icon
            ><span>{{ 'mainMenu.Profile' | translate }}</span>
          </button>
          <button mat-menu-item (click)="router.navigateByUrl('/updatepassword')"> 
            <mat-icon>update</mat-icon>
            <span>Update Password</span>
          </button>
          <button
            mat-menu-item
            (click)="router.navigateByUrl('/settings#preferences')"
          >
            <mat-icon>settings</mat-icon
            ><span>{{ 'mainMenu.Settings' | translate }}</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>lock</mat-icon
            ><span>{{ 'mainMenu.Logout' | translate }}</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
      <!-- <mat-toolbar-row>
            <span style="font-size: 12px;">Texts for panel row</span>
        </mat-toolbar-row> -->
    </mat-toolbar>
    <!-- <mat-toolbar color="primary" class="app-toolbar" *ngIf="isUserLoggedIn">
      <button mat-icon-button (click)="mainNav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button
        type="button"
        class="btn btn-danger back-btn"
        (click)="goBack()"
        *ngIf="isBackEnabled()"
      >
        <i class="fa fa-chevron-circle-left"></i> Back
      </button>
    </mat-toolbar> -->
    <p-megaMenu
      [model]="megaMenuItems"
      *ngIf="isUserLoggedIn"
      [ngClass]="{ 'mat-elevation-z5': true, sticky: isSticky }"
    ></p-megaMenu>
    <div id="mainContent">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <mat-sidenav-container
    class="app-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    id="leftPanel"
  >
    <mat-sidenav
      *ngIf="isUserLoggedIn"
      #mainNav
      class="app-sidenav-nav mat-elevation-z6"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="!mobileQuery.matches"
    >
      <div class="title-logo">
        <p>
          <a routerLink="/">
            <img src="assets/images/PAS-logo.png" id="logo" />
          </a>
        </p>
      </div>
      <p-panelMenu [model]="items" [style]="{ width: '240px' }"></p-panelMenu>
    </mat-sidenav>
    <mat-sidenav-content>
      <div fxLayout="column" fxFlexOffset="10px" fxFlex>
        <mat-toolbar color="primary" class="app-toolbar" *ngIf="isUserLoggedIn">
          <button mat-icon-button (click)="mainNav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <button
            type="button"
            class="btn btn-danger back-btn"
            (click)="goBack()"
            *ngIf="isBackEnabled()"
          >
            <i class="fa fa-chevron-circle-left"></i> Back
          </button>
          <span class="app-toolbar-spacer"></span>
          <i class="fa fa-sitemap entity-block-btn" (click)="showthis()"></i>
          <app-theme-picker
            tooltip="{{ 'mainMenu.Theme' | translate }}"
          ></app-theme-picker>
          <button
            *ngIf="!isUserLoggedIn"
            mat-button
            (click)="router.navigateByUrl('/login')"
          >
            <mat-icon>lock_open</mat-icon>
            <span>{{ 'mainMenu.Login' | translate }}</span>
          </button>
          <button
            *ngIf="isUserLoggedIn"
            class="side-button"
            mat-button
            [matMenuTriggerFor]="accountMenu"
            matTooltip="{{ 'mainMenu.UserAccount' | translate }}"
          >
            <mat-icon class="menu-button">account_circle</mat-icon>
            <span fxHide.lt-sm>{{ 'mainMenu.Account' | translate }}</span>
          </button>
          <mat-menu #accountMenu="matMenu">
            <button mat-menu-item (click)="router.navigateByUrl('/settings')">
              <mat-icon>person</mat-icon
              ><span>{{ 'mainMenu.Profile' | translate }}</span>
            </button>
            <button
              mat-menu-item
              (click)="router.navigateByUrl('/settings#preferences')"
            >
              <mat-icon>settings</mat-icon
              ><span>{{ 'mainMenu.Settings' | translate }}</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>lock</mat-icon
              ><span>{{ 'mainMenu.Logout' | translate }}</span>
            </button>
          </mat-menu>
        </mat-toolbar>
        <br />
        <p-megaMenu [model]="megaMenuItems"></p-megaMenu>
        <br />
        <div id="mainContent">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
</div>

<div
  class="cdetails-top"
  *ngIf="translationService.closeCmpny && isUserLoggedIn"
>
  <span class="cdetails-top-close-btn fa fa-times" (click)="closethis()"></span>
  <div class="col-sm-12">
    <label>Comp</label><span>{{ managementStructure.companyId }}</span>
  </div>
  <div class="col-sm-12">
    <label>BU</label><span>{{ managementStructure.buId }}</span>
  </div>
  <div class="col-sm-12">
    <label>Div</label><span>{{ managementStructure.divisionId }}</span>
  </div>
  <div class="col-sm-12">
    <label>Dept</label><span>{{ managementStructure.departmentId }}</span>
  </div>
</div>

<ng2-toasty></ng2-toasty>
<!-- <script src="http://maps.googleapis.com/maps/api/js?key=[YOUR_API_KEY]"></script> -->
