.drp-certification-type{
    width: 198px !important;
}
.labels-font-header {
    font-size: 13px !important;
    font-weight: normal !important;
  }
.span-header-red {
    color: red;
    font-weight: bold;
  }

  .shadow-Box {
    padding-bottom: 0px !important;
}
.check-label{
  width: auto !important;margin-top: 3px !important;
}
.color-black{
  color: black !important;
}
.buttons-margin{
  margin-bottom: 20px !important;
}
.duration-align{
  max-width: 49% !important;margin:0px !important;
}
.duration-label{
  padding-left: 3px !important;
}
.duration-input{
  padding-right: 8px !important;
}
.cost-input{
  text-align: end !important;padding-right: 8px !important;
}
.training-form-padding{
  padding-bottom: 16px !important;
}
label {
  text-align: left;
  width: 150px;
  margin-right: 0;
  font-weight: normal;
}
input[type="text"], input[type="number"], select {
  height: 24px !important;
  border-radius: 5px !important;
}
textarea {
  border-radius: 5px !important;
}
.inner-addon .ui-autocomplete-input {
  width: 100% !important;
}
.po-head {
  font-weight: bold;
  font-size: 16px;
  color: #295d92;
}
.partsList-table-tr th {
  min-width: 80px;
}
.addpn-btn {
  padding: 5px 10px !important;
  font-size: 13px;
}
a.fa.fa-plus-circle {
  color: green !important;
}
.partsList-modal .form-group {
  margin-bottom: 6px !important;
}
.rpo-table-cstm th {
  padding: 8px 5px !important;
}
.child-add-icon {
  cursor: pointer;
  margin: 2px -12px;
}
.child-add-icon a:before, .child-add-icon i:before{
  font-size: 16px;
}

.textareaMemos ol {
  overflow: hidden;
  margin-bottom: 0px !important;
  padding: 0px !important;
  list-style-type: none;
}

@media (min-width: 768px) {
  .col-md-3 {
      max-width: 22%;
      margin-right: 15px;
  }
  .col-md-6 {
    max-width: 46%;
    margin-right: 15px;
}
}


.grayColor {
    color: gray;
}