.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
.padding-10{
  padding: 10px !important;
  padding-bottom: 0px !important;
}
.padtp{
  padding-top: 0px;
  padding-bottom: 12px !important;
}
.ht_ad{
  height: 22px;
}
.min-height-300{
  min-height:300px;
}
.wd-p{
  width: 265px !important;

}
.employee-autocomplete .ui-autocomplete{
  width:100% !important;
}
.width-70{
  width:70px !important;
}
.background-white{
  background-color: #fff !important;
}
.labour-radio-buttons{
  min-width: 410px !important; padding: 0 !important;
}
.labour-radio-buttons-align{
  text-align: center !important; display: flex !important;
}
.check-flex-div1{
  display: inline-flex;
}
.cost-plus-type-align{
  margin-left: 10px !important; margin-right: 10px !important;
}
.memo-th{
  padding: 7px 53px !important;z-index:2 !important
}
.edit-btn{
  margin-top: 10px !important;margin-bottom: 10px !important;
  width: 90px !important;
}

.start-date-th{
  width: 100px !important;z-index: 2 !important;
}
.memo-width{
  width:335px !important
}
.th-zindex-2{
  z-index: 2 !important;
}
.employee-th{
  padding: 8px 64px !important;z-index: 2 !important;
}
.expertise-th{
  min-width: 150px !important;
}
.check-valid-td{
  width: 145px !important;
}
.check-flex{
  display: flex !important;
}
.check-flex-div{
  float: right !important;min-width: 155px !important;
}
.check-flex-input{
  width: 75px !important;
}
.check-flex-span{
  font-size: 17px !important; margin: 0 5px !important;
}
.total-minutes-input{
  width: 50px !important;
}
.min-width-130{
  min-width: 130px !important;
}
.min-width-100{
  min-width: 100px !important;
}

.tasks-th{
  min-width: 120px !important;
}

label {
  text-align: left;
  width: 140px;
  margin-right: 0;
  font-weight: normal;
}
input[type='text'],
input[type='number'],
select,
textarea {
  height: 24px !important;
  border-radius: 5px !important;
}
table.table-bordered td .start-btn {
  font-size: 10.5px !important;
  padding: 5px !important;
}
.width-label-radiobtn {
  width: 111px !important;
}
table.table-bordered tr td {
  color: #333;
  font-size: 10.5px !important;
  letter-spacing: 0.1px;
  font-weight: normal;
  // padding: 4px;
}
.float-right i.fa.fa-plus-circle.fa-lg {
  float: right;
}
.margintop {
  margin-top: 6px !important;
}
.padding-td {
  padding: 8px 51px !important;
}
select:disabled{
  background-color: #e9ecef !important;
}

p-radioButton label{
  width: unset;
}
.p-radiobutton-label-horizontal .ui-radiobutton-label {
  width: unset !important;
  margin-right: 10px;
}

.emp-labour-cstm p-autocomplete .ui-autocomplete {
  width: calc(100% - 17px) !important;
  padding-right: 3px;
  float: left;
}
.delt_btn{
  background-color: transparent !important;
  border: none;
}
input[type=radio] {
  margin: 0px 0px 0 2px;
  clear: none;
  float: left;
  width: 16px !important;
}
.task-detail{
  display: inline-flex;
  p-checkbox {
    width: 240px;
    label{
      margin-left: 13px;
    }
  }
}
.text_pad{
  padding-left: 27px !important;
  margin: 0px;
}
.pad_labr{
  padding-top: 11px;
}
.setCaps {
  margin-top: 4px;
}
.task-hours-type {
  display: grid;
  .p-radiobutton-label-horizontal label{
    width: 80%;
  }
}

.text-area-cstm{
  height: 90px !important;
}
.width-unset{
  width: unset !important;
}

.full-width{
  width: 100px
}

.footer{
  // background-color: #eaf2fd
}

.ui-calendar .ui-datepicker {
  top: 0px !important;
}
.table-header-col1 {
  border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
}
.table-header-col2 {
  border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
}
.table select.select-read-only {
  background-color: #ffffff !important;
}
table thead tr th {
  text-align: center;
  min-width: 0px;
}
.labor_ico{
  margin-top: 2px;
    font-size: 18px !important;
}
.capitalizer{
  text-transform: capitalize;
}
.selected-item{
  text-transform: initial !important;
}
.with_75{
  width: 75px !important;
}
.vetigo_c label{
  position: relative;
  top: 3px;
}
.text_sen{
  text-align: start;
}