<div class="header" >
  <div class="row">
      <div class="col">
          <h4 class="header-name">
            Add Labor Hours
          </h4>
      </div>
      <button type="button" matTooltipPosition="above" matTooltip="Load Labor From Work Order" *ngIf="isLoadWoLabor && !isView" style="margin-right: 10px;" class="btn-sm header-button "   (click)="loadLabor()">
        Load WO Labor
     </button>
  </div>
</div>
<div class="card">
  <div class="card-body padding-10" *ngIf="!frombilling">
    <div class="form-row" >
      <div class="col-md-12">
        <div class="col-md-12 display-flex" *ngIf="!hideHeader">
          <div class="col-md-4  " *ngIf="!isQuote">
            <div class="form-group task-hours-type1 task-detail">
              <p-radioButton (ngModelChange)="checkValid(9)" class="p-radiobutton-label-horizontal p-radiobutton-cstm pointerEvents" name="WorkFloworSpecificTaskorWorkOrder" label="Assign hours by specific tasks" value="specificTasks"
                  [(ngModel)]="laborForm.workFloworSpecificTaskorWorkOrder"  disabled (click)="laborForm.totalWorkHours = 0;refreshCall();"></p-radioButton>
                  <br>
                <p-radioButton (ngModelChange)="checkValid(10)" class="p-radiobutton-label-horizontal p-radiobutton-cstm pointerEvents" name="WorkFloworSpecificTaskorWorkOrder" value="workOrder"
                  label="Assign total hours to workorder" [(ngModel)]="laborForm.workFloworSpecificTaskorWorkOrder" disabled (click)="assignHoursToToalWorkOrder()"></p-radioButton>
              </div>
         </div>
         <!-- [ngClass]="{'col-offset-1' :!isQuote}" -->
          <div class="col-md-8  task-detail" >
              <div class="form-row ht_ad1" *ngIf="!isQuote  && laborForm.workFloworSpecificTaskorWorkOrder != 'workOrder' && !frombilling">
                <div class="padtp">  
            <p-radioButton (ngModelChange)="checkValid(4)" (change)="headerMaintanance()" [ngClass]="{pointerEvents :isView}"  class="p-radiobutton-label-horizontal p-radiobutton-cstm adj" name="HoursorClockorScan"
            label="Manual Entry" [value]="1" disabled
            [(ngModel)]="laborForm.hoursorClockorScan" ></p-radioButton>
           
            <p-radioButton (ngModelChange)="checkValid(5)" disabled (change)="headerMaintanance()" [ngClass]="{pointerEvents :isView}" class="p-radiobutton-label-horizontal p-radiobutton-cstm jda" name="HoursorClockorScan" label="Labor Clock In/Out " [value]="2"
              [(ngModel)]="laborForm.hoursorClockorScan" ></p-radioButton>
            <p-radioButton (ngModelChange)="checkValid(6)" disabled [ngClass]="{pointerEvents :isView}"  (change)="headerMaintanance()" class="p-radiobutton-label-horizontal p-radiobutton-cstm jda" name="HoursorClockorScan" [value]="3"
              label="Scan" [(ngModel)]="laborForm.hoursorClockorScan" ></p-radioButton>
 </div>  
              </div>
                <div class="col-sm-3 text_pad" 
               *ngIf="laborForm.workFloworSpecificTaskorWorkOrder != 'workOrder' && !isView && !isQuote" >
                  <div class="form-group task-detail text_pad">
                      <label class="pad_labr">Select Task</label>
                      <ng-multiselect-dropdown 
                          class="form-control multiple-custom-select capitalizer setCaps" style="width:250px" [placeholder]="'Select Task'"
                          [data]="taskListForHeader" [(ngModel)]="selectedItems"  [disabled]="isView"
                          [settings]="dropdownSettings" (onDeSelect)="onDeSelect($event)"
                          (onSelect)="onItemSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                          (onSelectAll)="onSelectAll($event)">
                      </ng-multiselect-dropdown>
                  </div>
              </div> 
          </div>

        </div>
      </div>
    </div>   
  </div>
  <div class="table-responsive pas-table-cstm  poro-table-cstm parts-list-table-align" 
    [ngStyle]="isQuote ? {'margin-top' : '-10px'} : ''">
    <div class="tableFixHead">
    <table class="table table-bordered  lastcol-fix mpn-list-table">
      <thead>
        <tr *ngIf="isQuote" class="background-white">
          <td colspan="5" class="table-header-col2" *ngIf="
                !laborForm.hoursorClockorScan || laborForm.hoursorClockorScan == 1
              ">
              &nbsp;
              <div class="col-sm-3 text_pad wd-p" 
              *ngIf=" !isView && isQuote" >
                 <div class="form-group task-detail text_pad">
                     <label class="pad_labr">Select Task</label>
                     <ng-multiselect-dropdown  appendTo="body"
                         class="form-control multiple-custom-select capitalizer setCaps" style="width:250px" [placeholder]="'Select Task'"
                         [data]="taskListForHeader" [(ngModel)]="selectedItems"  [disabled]="isView"
                         [settings]="dropdownSettings" (onDeSelect)="onDeSelect($event)"
                         (onSelect)="onItemSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
                         (onSelectAll)="onSelectAll($event)">
                     </ng-multiselect-dropdown>
                 </div>
             </div> 
            </td>
            <td colspan="7" class="table-header-col2" *ngIf="laborForm.hoursorClockorScan == 2">
              &nbsp;
            </td>
            <td colspan="6" class="table-header-col2" *ngIf="laborForm.hoursorClockorScan == 3">
              &nbsp;
            </td>
            <td colspan="4" class="table-header-col1">
              &nbsp;
            </td>
            <td colspan="5" class="labour-radio-buttons">
              <div class="display-flex">
                <div class="form-group labour-radio-buttons-align" >
                  <p-radioButton (ngModelChange)="checkValid(11)" class="p-radiobutton-label-horizontal p-radiobutton-label-w125 radio-margin-top" name="costPlusType"
                    label="T&M - Markup" value="1" [(ngModel)]="laborForm.costPlusType" [disabled]="isView"
                    (click)="(!isView)?tmchange():''"></p-radioButton>
                  <div>
                    <select  (ngModelChange)="checkValid(12)"
                     class="form-control select-markup m-t-10" (change)="markupChanged({}, 'all')" [(ngModel)]="overAllMarkup" [disabled]="isView || laborForm.costPlusType != 1"
                      name="markupheader">
                      <option value="">Select</option>
                      <option *ngFor="let markUp of markupList" [value]="markUp.value">{{ markUp.label }}</option>
                    </select>
                  </div>
                </div>
                <div class="cost-plus-type-align">
                  <p-radioButton class="p-radiobutton-label-horizontal radio-margin-top" name="costPlusType"
                    value="2" label="Actual" (ngModelChange)="checkValid(13)" [(ngModel)]="laborForm.costPlusType" [disabled]="isView" (click)="(!isView)?tmchange():''">
                  </p-radioButton>
                </div>
                <div>
                  <p-radioButton class="p-radiobutton-label-horizontal radio-margin-top" name="costPlusType"
                    value="3" label="Flat Rate" (ngModelChange)="checkValid(14)" [(ngModel)]="laborForm.costPlusType" [disabled]="isView" (click)="(!isView)?tmchange():''">
                  </p-radioButton>
                </div>
              </div>
                </td>
           </tr>
          <tr>
            <th class="text-center padding-td tasks-th" style="width:100px">Tasks</th>
            <th class="text-center expertise-th" style="width:100px;min-width: 100px !important;">Expertise</th>
            <th class="text-center employee-th" style="width:140px;min-width: 140px;" >
              Employee
            </th>
            <th class="text-center th-zindex-2 width-70">Billable /NonBillable</th>
            <th class="text-center width-70" *ngIf="
                laborForm.hoursorClockorScan &&
                laborForm.hoursorClockorScan !== 1 &&
                laborForm.hoursorClockorScan !== 3
              ">
              Start/Stop
            </th>
            <th class="text-center start-date-th" *ngIf="
                laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1
              ">
              Start Date and Time
            </th>
            <th class="text-center th-zindex-2" *ngIf="
                laborForm.hoursorClockorScan && laborForm.hoursorClockorScan !== 1
              ">
            End Date and Time
          </th>
          <th class="text-center" style="width:70px !important">Hours</th>
          <ng-container *ngIf="!isQuote">
            <th class="text-center" style="width:70px !important">Adjustments</th>
            <th class="text-center" style="width:70px !important">Adjusted Hours</th>
            <th class="text-center" style="width:140px;min-width: 140px;">Data Entered By</th>
          </ng-container>
          <ng-container *ngIf="isQuote">
            <!-- <th style="min-width: 76px;">
              Direct Labor
            </th> -->
            <th>
              Burden Rate %
            </th>
            <th>
              Burden Rate Amount
            </th>
            <th>
              Labor Cost/Hr
            </th>
            <th>
              Total Direct Cost
            </th>
            <th>
              Billing Method
            </th>
            <th>Markup %</th>
            <th>
              Billing Rate/hr
            </th>
            <th>
              Billing Amount
            </th>
          </ng-container>
          <!-- <th *ngIf="!isQuote">
            Direct Labor
          </th> -->
          <th *ngIf="!isQuote">
            Burden Rate %
          </th>
          <th *ngIf="!isQuote">
            Burden Rate Amount
          </th>
          <th *ngIf="!isQuote">
            Labor Cost/Hr
          </th>
          <th *ngIf="!isQuote">
           Billing Amount
          </th>
          <th class="text-center memo-th memo-width" *ngIf="!isQuote">
            Memo
          </th>
          <th class="width-70" *ngIf="!isView">Actions</th>
        </tr>
      </thead>
      <tbody>
       <ng-container *ngFor="let task of allTaskList; let taskIndex = index">
           <tr *ngIf="getLenghtOfTask(laborForm.workOrderLaborList[0][task.description | lowercase])">
            <td class="full-width">
              {{ task.description }}
   <i class="float-right float-right fa fa-plus-circle fa-lg labor_ico" 
                  (click)="addNewTask(task.description)" *ngIf="!isView "></i>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td *ngIf="
                  laborForm.hoursorClockorScan &&
                  laborForm.hoursorClockorScan !== 1 &&
                  laborForm.hoursorClockorScan !== 3
                "></td>
              <td *ngIf="
                  laborForm.hoursorClockorScan &&
                  laborForm.hoursorClockorScan !== 1
                "></td>
              <td *ngIf="
                  laborForm.hoursorClockorScan &&
                  laborForm.hoursorClockorScan !== 1
                "></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td *ngIf="!isQuote"></td>
              <ng-container *ngIf="isQuote">
                <!-- <td></td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </ng-container>
              <ng-container *ngIf="!isQuote">
                <!-- <td></td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </ng-container>
              <td *ngIf="!isView"></td>
            </tr>
            <ng-container *ngFor="
                let rec of laborForm.workOrderLaborList[0][
                  task.description];let i = index">
               <tr *ngIf="rec  && !rec['isDeleted'] ">
                <td *ngIf="i==0" class="capitalizer">
                  {{ task.description}}
                  <!-- &&  laborForm.workFloworSpecificTaskorWorkOrder != 'workOrder' -->
                  <!-- *ngIf=" !isView && i<1  " -->
                   <i  *ngIf="!isView  "
                  class="float-right float-right fa fa-plus-circle fa-lg labor_ico "
                  (click)="addNewTask(task.description)"></i>
                </td>
                <td *ngIf="i >= 1">&nbsp;</td>
                <td>
                  <select class="check-valid-td" [(ngModel)]="rec.expertiseId" (ngModelChange)="checkValid(15)"
                   (change)="
                      getExpertiseEmployeeByExpertiseId($event.target.value, i, rec)
                    " [disabled]="isView " required>
                    <option value="0">Select</option>
                    <ng-container *ngFor="let exp of expertiseTypeList">
                      <option [value]="exp.value">{{ exp.label }}</option>
                    </ng-container>
                  </select>
                </td>
                <td >
                  <p-autoComplete field="label" (ngModelChange)="checkValid(16)" (onSelect)="onPartSelect($event, rec,i)" [(ngModel)]="rec.employeeId" #salesPerson="ngModel"
                    errorMessage="Records not found" [forceSelection]="true" [dropdown]="true" [suggestions]="
                      getDynamicVariableData('expertiseEmployee', i) " (onClear)="clearautoCompleteInput(rec)" 
                      (completeMethod)="filterExpertiseEmployee($event, i)" emptyMessage="No Match Found" [size]="30"
                    [minLength]="1" [dropdown]="true" class="p-autoComplete-ctsm" required [disabled]="isView " appendTo="body">
                  </p-autoComplete>
                </td> 
                <td> 
                  <p-dropdown placeholder="Select Billing Type" (ngModelChange)="checkValid(17)" [options]="billableList" class="p-dropdown-1001"
                  [(ngModel)]="rec.billableId" [disabled]="isView " appendTo="body"></p-dropdown>
                </td>
                <td *ngIf="
                    laborForm.hoursorClockorScan &&
                    laborForm.hoursorClockorScan !== 1 &&
                    laborForm.hoursorClockorScan !== 3
                  " class="text-center">
                  <button class="btn btn-primary start-btn" (click)="startandStop(rec);calculateWorkingHoursandMins(rec);calculateTaskHours(task);" [disabled]="
                      (rec.startDate && rec.endDate) !== null || isView ">
                    {{(!rec.startDate)?'Start':'Stop'}}
                  </button>
                 </td>
                <td *ngIf="
                    laborForm.hoursorClockorScan &&
                    laborForm.hoursorClockorScan !== 1
                  ">
                  <p-calendar [(ngModel)]="rec.startDate" (ngModelChange)="checkValid(18)" [showIcon]="true" appendTo="body"
                    showTime="true" hourFormat="12" [minDate]="minDateValue" (onSelect)="resetEndDateandTime(rec)" 
                    (onClose)="calculateWorkingHoursandMins(rec);calculateTaskHours(task);calculateBurderRate(rec);calculateTotalCost(rec);" class="w150 pcalendar-wo-labor model_view" [disabled]="isView || !rec.startDate">
                  </p-calendar>
                </td>
                <td *ngIf="
                    laborForm.hoursorClockorScan &&
                    laborForm.hoursorClockorScan !== 1
                  ">
                  <p-calendar [(ngModel)]="rec.endDate" [showIcon]="true" (ngModelChange)="checkValid(19)"  appendTo="body"
                    showTime="true" hourFormat="12" class="w150 pcalendar-wo-labor model_view" [minDate]="rec.endDate"
                    (onClose)="calculateWorkingHoursandMins(rec);calculateTaskHours(task);calculateBurderRate(rec);calculateTotalCost(rec);" [disabled]="isView || !rec.endDate"></p-calendar>
                </td>
                <td style="width:70px !important;text-align:right !important" *ngIf="
                    laborForm.hoursorClockorScan &&
                    laborForm.hoursorClockorScan !== 1
                  ">
                  {{ rec.totalHours + ':' + rec.totalMinutes }}
                </td>
                <td *ngIf="
                    !laborForm.hoursorClockorScan ||
                    laborForm.hoursorClockorScan === 1
                  " class="check-flex">
                  <div class="check-flex-div1">
                    <input type="number" class="form-control check-flex-input" (blur)="
                    calculateHoursDifference(rec);
                    calculateTaskHours(task);
                    calculateTotalCost(rec);
                    markupChanged(rec, 'row')
                    " [(ngModel)]="rec.totalHours"(ngModelChange)="checkValid(20)" (blur)="calculateHoursDifference(rec);calculateAdjustmentHours(task);calculateBurderRate(rec)"  [disabled]="isView " style="width: 50px !important;" required/>
                    <span style="font-size: 17px; margin: 0 5px;">:</span>
                    <input type="number" class="form-control" (blur)="
                    calculateHoursDifference(rec);
                    calculateTaskHours(task);
                    calculateTotalCost(rec);
                    markupChanged(rec, 'row')
                    " [(ngModel)]="rec.totalMinutes" (ngModelChange)="checkValid(21)" (blur)="calculateHoursDifference(rec);calculateAdjustmentHours(task);calculateBurderRate(rec)"  [disabled]="isView " style="width: 50px;" max="60" (change)="rec.totalMinutes >=60?rec.totalMinutes=00:''" required/>
                  </div>
                 
                </td>
                <ng-container *ngIf="!isQuote">
                  <td>
                      <!-- <input type="number" class="form-control" (ngModelChange)="checkValid(22)" (blur)="calculateHoursDifference(rec);calculateAdjustmentHours(task);" [(ngModel)]="rec.adjustments" [disabled]="isView
                      "/> -->
               
                      <div class="check-flex-div1" >
                        <input type="number" class="form-control check-flex-input" (blur)="
                        calculateHoursDifference(rec);
                        calculateTaskHours(task);
                        calculateTotalCost(rec);
                        markupChanged(rec, 'row') 
                        " [(ngModel)]="rec.adjtotalHours"(ngModelChange)="checkValid(20)" (blur)="calculateHoursDifference(rec);calculateAdjustmentHours(task);calculateBurderRate(rec)"  [disabled]="isView " style="width: 50px !important;"  />
                        <span style="font-size: 17px; margin: 0 5px;">:</span>
                        <input type="number" class="form-control" (blur)="
                        calculateHoursDifference(rec);
                        calculateTaskHours(task);
                        calculateTotalCost(rec);
                        markupChanged(rec, 'row')
                        " [(ngModel)]="rec.ajdtotalMinutes" (ngModelChange)="checkValid(21)" (blur)="calculateHoursDifference(rec);calculateAdjustmentHours(task);calculateBurderRate(rec)"  [disabled]="isView " style="width: 50px;" max="60" (change)="rec.totalMinutes >=60?rec.totalMinutes=00:''"  />
                      </div>
                    </td>
                  <td class="content-to-end" style="width:70px !important;text-align:right !important">
                      {{ rec.adjustedHours }}
                  </td>

                  <td>
                  <p-autoComplete class="p-autoComplete-ctsm employee-autocomplete" field="label" (ngModelChange)="checkValid(3)" disabled name="dataEnteredBy" [dropdown]="true"
                  errorMessage="Records not found" [forceSelection]="true" [suggestions]="dataEnteredByList"
                  (completeMethod)="filterDataEnteredBy($event)" [size]="30" [minLength]="1" appendTo="body"
                  [(ngModel)]="laborForm.dataEnteredBy" [disabled]="true ">
                </p-autoComplete>
              </td>

                </ng-container>
                <ng-container *ngIf="isQuote">
                  <!-- <td>
                    <input type="number" class="form-control" (ngModelChange)="checkValid(23)" (blur)="calculateBurderRate(rec);calculateTotalCost(rec)"
                      [(ngModel)]="rec.directLaborOHCost" [disabled]="isView" required/> 
                  </td> -->
                  <td>
                    <select class="form-control select-markup width-100"  (ngModelChange)="checkValid(24)" (change)="calculateBurderRate(rec);calculateTotalCost(rec)" [(ngModel)]="rec.burdaenRatePercentageId"
                    [disabled]="true">
                 <!-- [disabled]="isView || rec.billingMethodId != 1" -->
                      <option value="">Select</option>
                      <option *ngFor="let markUp of markupList" [value]="markUp.value">{{ markUp.label }}</option>
                    </select>
                  </td>
                  <td class="content-to-end" style="text-align:right !important">
                    {{(rec.burdenRateAmount)?formateCurrency(rec.burdenRateAmount):0.00}}
                  </td>
                  <td class="content-to-end" style="text-align:right !important">
                    {{ (rec.totalCostPerHour)?formateCurrency(rec.totalCostPerHour):0.00 }}
                  </td>
                  <td class="content-to-end" style="text-align:right !important">
                    {{ formateCurrency(rec.totalCost) }}
                  </td>
                  <td>
                    <select class="form-control min-width-130" (ngModelChange)="checkValid(25)" (change)="billingChanged(rec, 'row')"  [(ngModel)]="rec.billingMethodId"
                     
                      [disabled]="isView || laborForm.costPlusType == 3">
                      <option value="">Select</option>
                      <option *ngFor="
                          let bm of [
                            { label: 'T&M', value: 1 },
                            { label: 'Actual', value: 2 }
                          ]
                        " [value]="bm.value">{{ bm.label }}</option>
                    </select>
                  </td>
                  <td>
                   <select class="form-control select-markup min-width-100" (ngModelChange)="checkValid(26)" (change)="markupChanged(rec, 'row')" [(ngModel)]="rec.markupPercentageId"
                      [disabled]="isView || rec.billingMethodId != 1">
                      <option value="">Select</option>
                      <option *ngFor="let markUp of markupList" [value]="markUp.value">{{ markUp.label }}</option>
                    </select>
                  </td>
                  <td class="content-to-end" style="text-align:right !important">{{ formateCurrency(rec.billingRate) }}</td>
                  <td>
                    <input class="form-control text-right" type="text" (ngModelChange)="checkValid(27)" pInputText pKeyFilter="money" (change)="rec.billingAmount = formateCurrency(rec.billingAmount)" [(ngModel)]="rec.billingAmount" [disabled]="isView || rec.billingMethodId != 2"/> <!--class="width-unset"-->
                  </td>
                </ng-container> 
                <ng-container *ngIf="!isQuote">
                  <!-- <td>
                    <input type="text" (change)="modifyDirectLoaborFormat(rec)" pInputText pKeyFilter="money"  class="form-control text-right" (ngModelChange)="checkValid(23)" (blur)="calculateBurderRate(rec);calculateTotalCost(rec)" style="width: 66px;"
                      [(ngModel)]="rec.directLaborOHCost" [disabled]="isView" required/>
                  </td> -->
                  <td>
                    <select class="form-control select-markup width-100"  (ngModelChange)="checkValid(24)" (change)="calculateBurderRate(rec);calculateTotalCost(rec)" [(ngModel)]="rec.burdaenRatePercentageId"
                   [disabled]="true">
                      <option value="0">Select</option>
                      <option *ngFor="let markUp of markupList" [value]="markUp.value">{{ markUp.label }}</option>
                    </select>
                  </td>
                  <td class="content-to-end" style="text-align:right !important">
                    {{(rec.burdenRateAmount)?formateCurrency(rec.burdenRateAmount):0.00}}
                  </td>

                  <td class="content-to-end" style="text-align:right !important">
                    {{ (rec.totalCostPerHour)?formateCurrency(rec.totalCostPerHour):0.00 }}
                  </td>
                  <td class="content-to-end" style="text-align:right !important">
                    {{ formateCurrency(rec.totalCost) }}
                  </td>
                  </ng-container>
                <td *ngIf="!isQuote">
                   <div class="align_adh" >
                    <div [innerHTML]="rec.memo"  
                        matTooltipPosition="above" [ngStyle]="{'border':(rec.adjtotalHours > 0  || rec.ajdtotalMinutes > 0 )? '1px solid red' : 'inherent'}"
                        [matTooltip]="parsedText(rec.memo)"
                        class="text_editor_box col-sm-10"></div>
                        <!-- data-target="#textarea-popup5"  data-toggle="modal" -->
                    <i class="fa fa-pencil contoel_v col-sm-2" [ngStyle]="{'pointerEvents':isView ? 'none' : 'inherent'}"
                        matTooltip="Memo"
                        matTooltipPosition="above" 
                        (click)="onAddTextAreaInfo(contentMemo,rec.memo,task.description,i,taskIndex)"></i>
                </div>
               
                </td>
                <td  class="text-center">
                    <span *ngIf="!isView"><button type="button"  class="btn nobg btn-delete-cstm" mat-icon-button matTooltip="Delete" matTooltipPosition="above"
                      (click)="showDeleteLabourPopup(task.description,rec, i)" [disabled]="laborForm.workFloworSpecificTaskorWorkOrder== 'workOrder'"><i class="fa fa-trash"></i></button> </span>
                     </td>
              </tr>
            </ng-container>
  </ng-container>
  <!-- <tr *ngIf="isLoadWoLabor">
    <td colspan="14"  class="no-records-msg no-records-cstm">
        No records found
    </td> 
</tr> -->
          <ng-container *ngIf="laborForm.workFloworSpecificTaskorWorkOrder != 'workOrder'">
            <tr class="footer">
              <td><b>Total Labor Hours</b></td>
              <td></td>
              <td></td>
              <td *ngIf="isQuote"></td>
              <td *ngIf="!isQuote"></td>
              <td style="text-align: right;" *ngIf="
                  laborForm.hoursorClockorScan &&
                  laborForm.hoursorClockorScan !== 1 &&
                  laborForm.hoursorClockorScan !== 3"></td>
              <td style="text-align: right;"*ngIf="
                  laborForm.hoursorClockorScan &&
                  laborForm.hoursorClockorScan !== 1"></td>
              <td style="text-align: right;"*ngIf="
                  laborForm.hoursorClockorScan &&
                  laborForm.hoursorClockorScan !== 1"></td>
            <td *ngIf="!isQuote">
               <!-- <input type="number" class="form-control with_75" [(ngModel)]="laborForm.totalWorkHours" disabled /> -->
               <!-- {{laborForm.totalWorkHours}} -->
            </td>
            <td style="text-align: right;"*ngIf="isQuote" class="content-to-end" style="text-align:right !important">
              {{laborForm.totalWorkHours}}
            </td>
            <td class="content-to-end" style="text-align:right !important">
              <!-- <b>
              {{(!isQuote)?calculateTotalAdjustment():''}}</b> -->
            </td>
            <td class="content-to-end" style="text-align:right !important"><b>{{(!isQuote)?calculateTotalAdjustedHours():''}}</b></td>
            <td *ngIf="!isQuote"></td>
            <td></td>
            <ng-container *ngIf="isQuote">
              <!-- <td></td> -->
              <td class="content-to-end" style="text-align:right !important"><b>{{ formateCurrency(getOverAlltotal('Cost')) }}</b></td>
              <td></td>
              <td></td>
              <td></td>
            </ng-container>
            <ng-container *ngIf="laborForm.costPlusType != 3">
              <td *ngIf="isQuote" class="content-to-end" style="text-align:right !important"><b>{{ formateCurrency(getOverAlltotal('BillingAmount')) }}</b>
              </td>
            </ng-container>
            <ng-container *ngIf="laborForm.costPlusType == 3 && isQuote">
              <td>
                <input type="number" (ngModelChange)="checkValid(28)" class="form-control" [(ngModel)]="laborForm.laborFlatBillingAmount"
                  [disabled]="isView" (change)="formateCost(laborForm)"/>
              </td>
            </ng-container>
            <td *ngIf="!isQuote"></td>
            <td *ngIf="!isQuote"></td>
            <td *ngIf="!isQuote"></td>
            <td *ngIf="!isQuote"></td>
            <td *ngIf="!isQuote"></td>
              <td *ngIf="!isView"></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
  </div>
  <div id="confirmation" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-sm">
     <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Are You Sure Want to {{laborForm.isTaskCompletedByOne==true ? 'Complete' : 'Undo' }} Task?</h4>
                  <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="deleteConfirmation()">Yes</button>
                  <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
              </div>
          </div>
  
      </div>
  </div>

  <div id="deleteRowConfirmation" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-sm">
   <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Are You Sure Want to Remove the record?</h4>
                  <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <strong *ngIf="!isQuote">
                    Employee Name:
                    <span class="new-label" *ngIf="currentRecord && currentRecord.employeeId">{{currentRecord.employeeId.label}}</span>
                </strong>
                <strong *ngIf="isQuote">
                  Task Name:
                  <span class="new-label" *ngIf="currentRecord && currentRecord.task">{{currentRecord.task}}</span>
              </strong>
            </div> 
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteLabor(deletingLabourObj.taskName, deletingLabourObj.index)">Yes</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
              </div>
          </div>
  
      </div>
  </div>

  <div id="confirmationTaskDelete" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-sm">
     <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Are You Sure Want to Delete the existing records?</h4>
                  <button type="button" class="close" aria-label="Close" (click)="dismissModelTask()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
              <strong>
                Task Name:
                <span class="new-label capitalizer" *ngIf="currentItem && currentItem">{{currentItem.description}}</span>
            </strong>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="deleteConfirmationTask(type)">Yes</button>
                  <button type="button" class="btn btn-danger" (click)="dismissModelTask()">No</button>
              </div>
          </div>
  
      </div>
  </div>
</div>

<button (click)="saveLabor()" class="btn btn-primary pull-right edit-btn" *ngIf="!isView" 
 [disabled]="(labourHeader && !labourHeader.valid) || checkHoursAndDirectLabour() || disabledUpdatebtn">
   {{isEdit ? 'Update Labor' : 'Save Labor'}}
</button>

<!-- text_sen ng-touched ng-dirty ng-valid -->
<ng-template #contentMemo let-c="close" let-d="dismiss" data-backdrop="static">
  <div class="modal-header">
    <h4 class="modal-title">Edit Memo </h4>
    <button type="button" class="close" aria-label="Close" (click)="onCloseTextAreaInfo()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"> 
    <!-- (ngModelChange)="editorgetmemo($event)" -->
    <!-- <input type="text"  [(ngModel)]="textAreaInfoLabor1" > -->
      <p-editor  (ngModelChange)="editorgetmemo($event)"  [style]="{'height':'320px'}" spellcheck="true" autofocus [(ngModel)]="textAreaInfoLabor1" class="text_sen" id="textAfdw_{{currentIndex}}_{{taskIndexMemo}}"
       name="textAfd_{{currentIndex}}_{{taskIndexMemo}}" required>
  </p-editor> 
    <div class="editor-buttons">
      <button type="button" class="btn btn-primary editor-buttons-margin" (ngModelChange)="getmemo($event)"
      (click)="onSaveTextAreaInfo()" [disabled]="disableEditor">Save</button>
      <button type="button" class="btn btn-danger editor-buttons-margin" (click)="onCloseTextAreaInfo()">Close</button>
    </div>
  </div>
</ng-template>