<form #form="ngForm" [formGroup]="userProfileForm" style="margin-top:15px !important;margin-left:0px !important"
    novalidate (ngSubmit)="save()" fxLayout="column" [fxLayoutGap]="isEditMode ? '1em' : '0'" autocomplete="off">

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" class="margin-bottom">
        <!-- <div class="form-group col-md-4" style="visibility: hidden;">
      
        <label style="margin-right:-10%">{{'users.editor.JobTitle' | translate}}</label>
        <mat-form-field class="app-validate" [floatLabel]="floatLabels" fxFlex>           
            <input matInput 
            style="background-color: #fff !important;border:1px solid;padding: 5px !important;border-radius: 5px;" 
            formControlName="jobTitle" [readonly]="!isEditMode" />
        </mat-form-field>
    
        </div> -->
        <!-- <div class="form-group col-md-4">
            <label style="margin-right:-12%;">{{'users.editor.FullName' | translate}}</label>

            <mat-form-field class="app-validate" [floatLabel]="floatLabels" fxFlex>
                <input matInput formControlName="fullName"
                    style="background-color: #fff !important;border:1px solid;padding: 5px !important;border-radius: 5px;" />
            </mat-form-field>
        </div> -->
        <div class="form-group col-md-4">
            <label style="margin-right:-15%;">First Name <span class="clr-red">*</span></label>
            <mat-form-field class="app-validate" [floatLabel]="floatLabels" fxFlex>
                <input matInput formControlName="firstName"
                    style="background-color: #fff !important;border:1px solid;padding: 5px !important;border-radius: 5px;" required/>
            </mat-form-field>
        </div>
    </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" class="margin-bottom">
        <div class="form-group col-md-4">
            <label style="margin-right:-15%">Last Name <span class="clr-red">*</span></label>

            <mat-form-field class="app-validate" [floatLabel]="floatLabels" fxFlex>
                <input matInput formControlName="lastName"
                    style="background-color: #fff !important;border:1px solid;padding: 5px !important;border-radius: 5px;" required/>
            </mat-form-field>
        </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" class="margin-bottom">
        <div class="form-group col-md-4">
            <label
                style="margin-right:-19%;width:100px;padding-right:22px;">{{'users.editor.UserName' | translate}} <span class="clr-red">*</span></label>
            <mat-form-field class="app-validate matform-margin" [floatLabel]="floatLabels" fxFlex>
                <input disabled matInput
                    style="background-color: #fff !important;border:1px solid;padding: 5px !important;border-radius: 5px;"
                    formControlName="userName" [readonly]="!isEditMode" autocomplete="off" required />
                <mat-error *ngIf="userName.hasError('required')">
                    {{'users.editor.UserNameRequired' | translate}}
                </mat-error>
            </mat-form-field>
        </div>
        </div>
    <!-- </div> -->
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" class="margin-bottom">
        <div class="form-group col-md-4">
            <label style="margin-right:-13%;padding-right:24px;">{{'users.editor.Email' | translate}} <span class="clr-red">*</span></label>
            <mat-form-field class="app-validate  matform-margin" [floatLabel]="floatLabels" fxFlex>
                <input disabled matInput
                    style="background-color: #f4f4f4 !important;border:1px solid;padding: 5px !important;border-radius: 5px;"
                    formControlName="email" [readonly]="!isEditMode" required />
                <mat-error *ngIf="email.hasError('required')">
                    {{'users.editor.EmailRequired' | translate}}
                </mat-error>
                <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">
                    {{'users.editor.InvalidEmail' | translate}}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" class="margin-bottom">
        <div class="form-group col-md-4">
            <label style="margin-right:-21%;width:100px">{{'users.editor.PhoneNumber' | translate}}</label>
            <mat-form-field class="app-validate" [floatLabel]="floatLabels" fxFlex>
                <input matInput
                    style="background-color: #fff !important;border:1px solid;padding: 5px !important;border-radius: 5px;"
                    formControlName="phoneNumber" />
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em" class="margin-bottom">
        <div class="form-group col-md-4"
            *ngIf="(isEditMode && !isNewUser && userName.value != user.userName) || (isChangePassword && isEditingSelf)">
            <label style="margin-right:-12%;width:100px">{{'users.editor.CurrentPassword' | translate}}</label>
            <mat-form-field class="app-validate" [floatLabel]="floatLabels" formGroupName="password" fxFlex>
                <input matInput
                    style="background-color: #fff !important;border:1px solid;padding: 5px !important;border-radius: 5px;"
                    type="password" formControlName="currentPassword" />
                <mat-error *ngIf="currentPassword.hasError('required')">
                    {{'users.editor.CurrentPasswordRequired' | translate}}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="false">
        <button mat-raised-button (click)="changePassword()" *ngIf="!(isChangePassword || isNewUser)"
            color="primary">{{'users.editor.ChangePassword' | translate}}</button>
        <div *ngIf="isChangePassword || isNewUser" formGroupName="password" fxLayout="row" fxLayout.lt-md="column"
            fxLayoutGap="1em" class="margin-bottom">
            <div class="form-group col-md-4">
                <label style="margin-right:-10% ;width:100px">{{'users.editor.NewPassword' | translate}}</label>
                <mat-form-field class="app-validate" [floatLabel]="floatLabels" fxFlex>
                    <input matInput
                        style="background-color: #fff !important;border:1px solid;padding: 5px !important;border-radius: 5px;"
                        type="password" formControlName="newPassword" autocomplete="off" require />
                    <mat-error *ngIf="newPassword.hasError('required')">
                        {{'users.editor.NewPasswordRequired' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">
                        {{'users.editor.NewPasswordRules' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <label style="margin-right:-12%;width:100px">{{'users.editor.ConfirmPassword' | translate}}</label>
                <mat-form-field class="app-validate" [floatLabel]="floatLabels" fxFlex>
                    <input matInput
                        style="background-color: #fff !important;border:1px solid;padding: 5px !important;border-radius: 5px;"
                        type="password" formControlName="confirmPassword" required />
                    <mat-error *ngIf="confirmPassword.hasError('required')">
                        {{'users.editor.ConfirmationPasswordRequired' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('notEqual')">
                        Test
                        {{'users.editor.PasswordMismatch' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
        <div class="form-group col-md-4">
            <label style="margin-top: 25px; width: 52px;">{{'users.editor.Roles' | translate}}</label>
            <li style="list-style: none !important; margin-left: 20px; font-size: 14px;"
                *ngFor="let role of roleAssign">
                <span class="badge">{{role}}</span> x
            </li>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
        <div fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
            <mat-checkbox *ngIf="isEditMode" formControlName="isEnabled">{{'users.editor.Enabled' | translate}}
            </mat-checkbox>
        </div>
        <div>
            <button mat-button *ngIf="user.isLockedOut" clas="btn btn-primary" (click)="unlockUser()"
                [attr.disabled]="isSaving" color="accent">
                <mat-icon class="mat-button-icon">lock_open</mat-icon>{{'users.editor.Unblock' | translate}}
            </button>
        </div>
    </div>
</form>