.table_actq table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}
.table_actq table {
  border-collapse: collapse;
  width: 100%;
}
.table_actq th, td {
  padding: 4px;
}
.table_actq{
  padding: 20px;
}
.tb_header{
  font-size: 14px;
  font-weight: 600;
  color: #337ab7;
}
.ted_ms{
  width: 100px !important;
}
td strong {
  font-weight: 600;
}
.text-end{
  text-align: end;
}
.mat_emo3{
  display: inline-flex;
}
.wd_user{
  width: 120px !important;
  min-width: 174px !important;
}
.wd_cond{
  width: 170px !important;
  min-width: 170px !important;
}
.wd_Na{
  width: 56px !important;
  min-width: 58px !important;
}
.th-font{
  text-align: center;
}
.back_clor{
  background: #f4f4f4;
}
.mat_r{
  margin-right: 8px !important;
  zoom: 1.4;

}
.span_re{
  position: relative;
  top: 1px;
}
.wd-200{
  width: 200px !important;
  min-width: 200px !important;
}
.ted_wd{
  width: 50px;font-size: 11px !important;
}
.dis_flex{
  display: inline-flex;
}
.edit_ico{
  color: #0fa3b1;
}
.align_end{
  float: right;
  text-align: end;
  margin-right: 10px;
  margin-bottom: 10px;
}
.update_wd{
  width: 60px;
  font-size: 11px !important;
}
.pad-16{
  padding-left: 16px;
}