@media (min-width: 768px) {
    .login-container {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .login-container {
        width: 730px;
    }
}

mat-spinner {
    display: inline-block;
    margin-right: 16px;
}
.card-title {
    margin-left: 180px;
    font-size: 1.2rem;
    font-weight: 900;
}
@media (min-width: 768px) {
    .login-container {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .login-container {
        width: 730px;
    }
}

mat-spinner {
    display: inline-block;
    margin-right: 16px;
}
.card-title {
    margin-left: 180px;
    font-size: 1.2rem;
    font-weight: 900;
}

