<form [formGroup]="loginForm" novalidate class="app-login-form">
    <label style="padding-right: 16px;width: auto;">Company Name:</label>
    <div class="form-group" style="margin-top:10px">
        <select class="form-control alert alert-danger alert-danger-cstm"
            style="background-color: #fff !important;padding: 5px !important;border-radius: 5px;"
            formControlName="masterCompanyId" required>
            <option *ngFor="let name of masterCompanyList" [ngValue]="name.masterCompanyId">
                {{name.companyName}}
            </option>
        </select>
    </div>
    <label style="padding-right: 16px;">User Name:</label>
    <mat-form-field class="app-validate">
        <input matInput style="background-color: #fff !important;padding: 5px !important;border-radius: 5px;"
            formControlName="userName" required>
        <mat-error *ngIf="userName.hasError('required')">
            User name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <label style="padding-right: 16px;">Password:</label>
    <mat-form-field class="app-validate">
        <input matInput style="background-color: #fff !important;padding: 5px !important;border-radius: 5px;"
            formControlName="password" type="password" required>
        <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <div>
        <mat-checkbox formControlName="rememberMe">Remember me!</mat-checkbox>
        <a class="forgotPassword" (click)="forgotPassword();"> Forgot Password? </a>
    </div>
    <div>&nbsp;</div>
</form>