
// #footer {   
//     font-size: 11px !important;
//     font-weight:12px !important;
// }


.x_panel {
    border: none;
}
.new-label {
    color: cadetblue;
}
.control-label {    
    text-align: left;
    width: 100% !important;
    font-weight: 500;
}