            
   <div id="woReleaseFromDiv" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content" id="woReleaseFrom">

            <div class="modal-header">
                <button type="button" class="close" (click)="close()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title warning_color"></h4>
            </div>
            <div class="modal-body">
                <div class="clear"></div>
                <form id="" name="" action=" #" method="post" onsubmit="return false;">
                    <div class="image">
                      <div style="padding: 0; margin: 0;">
                        <div>
                          <form id="" class="form-div" name="" action="#" method="post" onsubmit="return false;">
                            <!-- <div class="logo-block">
                              <img src="http://design.poweraerosuites.com/image/logo.png" width="130" /> 
                            </div>
                            <div class="clear"></div>
                            <hr /> -->
                            <div class="col-sm-12 invoice-border">
                              <div class="very-first-block col-sm-8">
                                <div class="col-sm-12 address-block" style="width:100%;display:flex;">
                                  <div class="col-sm-6" style="width:50%"><img class="logo"
                                      src="http://design.poweraerosuites.com/image/logo.png" /></div>
                                  <div class="col-sm-6" style="width:50%;padding-top:15px;margin-left:20px">
                                    <div class="col-sm-12 first-block-name">
                                      <label class="col-sm-12 first-block-label"
                                        disabled>Company Name</label>
                                    </div>
                                    <!-- <div class="col-sm-12 first-block-name">                     
                                        <label class="col-sm-12 first-block-label"
                                            disabled>Slogan</label>
                                      </div> -->
                                    <div class="col-sm-12 first-block-name">
                                      <label class="col-sm-12 first-block-label"
                                        disabled>Address1</label>
                                    </div>
                  <div class="col-sm-12 first-block-name">
                                      <label class="col-sm-12 first-block-label"
                                        disabled>Address2</label>
                                    </div>
                                    <div class="col-sm-12 first-block-name">
                                      <label class="col-sm-12 first-block-label"
                                        disabled>City</label>
                                    </div>
                                    <div class="col-sm-12 first-block-name">
                                      <label class="col-sm-12 first-block-label"
                                        disabled>State/Prov</label>
                                    </div>
                                    <div class="col-sm-12 first-block-name">
                                      <label class="col-sm-12 first-block-label"
                                        disabled>Zip</label>
                                    </div>
                                   <div class="col-sm-12 first-block-name">
                                      <label class="col-sm-12 first-block-label"
                                        disabled>Country</label>
                                    </div>
                                    <div class="col-sm-12 first-block-name">
                                      <label class="col-sm-12 first-block-label"
                                        disabled>Phone</label>
                                    </div>
                                    <div class="col-sm-12 first-block-name">
                                      <label class="col-sm-12 first-block-label"
                                        disabled>Email</label>
                                    </div>
                                  </div>
                                </div>
                                            </div>
                  
                              <div class="second-block col-sm-4">
                                <h3
                                  style="margin-top:1px;margin-bottom:-2px;border-bottom:1px solid black !important;text-align:center;width:100%">
                                  WORK ORDER FORM</h3>
                                <div class="second-block-div">
                                  <label class="col-sm-6 second-block-label" style="width:100%">Work Order Num</label>
                                  <label class="col-sm-6 second-block-label" style="width:100%"
                                    disabled></label>
                                </div>
                                <div class="second-block-div">
                                  <label class="col-sm-6 second-block-label" style="width:100%">Quote Num</label>
                                  <label class="col-sm-6 second-block-label" style="width:100%"
                                    disabled></label>
                                </div>
                                <div class="second-block-div">
                                  <label class="col-sm-6 second-block-label" style="width:100%">Quote Date</label>
                                  <label class="col-sm-6 second-block-label" style="width:100%"
                                    disabled></label>
                                </div>
                                <div class="second-block-div">
                                  <label class="col-sm-6 second-block-label" style="width:100%">Num of Items</label>
                                  <label class="col-sm-6 second-block-label" style="width:100%" disabled></label>
                                </div>
                                <div class="second-block-div">
                                  <label class="col-sm-6 second-block-label" style="width:100%">Prepared By</label>
                                  <label class="col-sm-6 second-block-label" style="width:100%" disabled></label>
                                </div>
                                <div class="second-block-div">
                                  <label class="col-sm-6 second-block-label" style="width:100%">Date & Time Printed</label>
                                  <label class="col-sm-6 second-block-label" style="width:100%"
                                    disabled></label>
                                </div>
                  
                                <div class="second-block-div">
                                  <label class="col-sm-6 second-block-label" style="width:100%">Page</label>
                                  <label class="col-sm-6 second-block-label" style="width:100%"
                                    disabled></label>
                                </div>
                               
                              </div>
                            </div>
                            <div  class="col-sm-12" style="margin-top:20px">
                        <table rules=none class=" print-friendly border table-border-right parttable print-table table-margins">
                                      <thead>
                                        <tr>
                                          
                                          <th>Cust Name</th>                        
                                         
                                          <th>MPN</th>
                                          <th colspan="2" >MPN Description</th>
                                         
                                        
                                        </tr>
                                    </thead>
                             
                                
                                  <tbody>
                  <tr>
                  <td class="border-right"></td>
                  <td class="border-right"></td>
                  <td class="border-right" colspan="2"></td>
                  
                  </tr>
                  
                  <tr>
                  
                  
                  <th class="font-12"><u>Material List PN </u></th>
                  <th class="font-12"><u>PN Description</u></th>
                  <th class="font-12"><u>Qty Req'd</u></th>
                  <th class="font-12"><u>Qty Issued</u></th>
                  
                  </tr>
                  
                  <tr>
                  <td></td>
                  
                  <td></td>
                  <td>2.00</td>
                  <td>2.00</td>
                  </tr>
                  
                     
                                  </tbody>
                                
                              </table>   
                       
                                         </div> 
                            <div class="clear"></div>
                            
                            <div class="clear"></div>
                  
                  
                          
                            <div style="height:100px"> &nbsp;</div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </form>
            </div>
            <div style="height:100px"> &nbsp;</div>
            <div class="modal-footer">
                <button *ngIf="!isView" type="submit" class="btn btn-primary" data-dismiss="modal" (click)="print()">Print</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
             </div>
          </div>
         
    </div>
</div>

<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

            

