<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                    </ol>
                </nav>
                <div class="col-sm-12 form-bg">
                    <div class="form-group add-inputs">
                        <h3 class="text-center"> Content not given for Sales Order page.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>