.grey-card {
  background-color: #e7e7e7;
}
.wo-multiple-pn-details {
  background: #fff;
  padding: 8px;
  border: 5px solid #e7e7e7;
}
.nav-pills-cstm {
  margin-top: 10px;
  font-size: 11px;
}
.nav-pills-cstm li {
  float: left;
}
.number-text-align{
  text-align: right;
}
.m-t-15{
  margin-top: 15px !important;
}
.radios-left{
  margin-left: -8px !important;
}
.grand-total-div{
  border-style: groove !important; border-radius: 10px !important;
   margin-top: 7px !important;padding: 2px 5px !important;
}
.grand-total{
  color : #295d92 !important; float: left !important; margin: 0 !important;
}
.grand-total-span{
  color: red !important; float: right !important;
}
.tr-back{
  color: #f1f1f1 !important; background-color: #fff !important;
}
.radios-width{
  width: 450px !important;
}
.radios-align{
  text-align: center !important; 
  display: flex !important;margin-bottom: 0px !important;
}
.cost-plus-radio{
  margin-bottom: 10px !important; margin-left: 30px !important;margin-right: 30px !important;
}
.td-back{
  background: #fff !important; border: 1px solid #fff !important;
}
.actions{
  min-width: 60px !important;
}
.min-width-100{
  min-width: 100px !important;
}
.width-130{
  width: 130px !important;
}
.m-t-6{
  margin-top: 6px !important;
}
.overflow-x-hidden{
  overflow-x: hidden !important;
}
.nav-pills-cstm li a {
  background-color: #4298ffb0;
  color: white;
  margin-right: 4px;
}
li.nav-item {
  margin-right: 1px;
  border-radius: 4px;
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: black;
  background-color: #ddd;
}
.nav-pills > li > a.active,
.nav-pills > li > a.active:focus,
.nav-pills > li > a.active:hover {
  color: #fff;
  background-color: #337ab7 !important;
}
.dropdown-menu.show > a {
  background-color: white !important;
  color: black !important;
}
.hidedata {
  display: none;
}
.hidedataOthers {
  display: none;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

label {
  text-align: left;
  width: auto;
  margin-right: 0;
  font-weight: normal;
}
input[type='text'],
input[type='number'],
select,
textarea {
  height: 24px !important;
  border-radius: 5px !important;
}
.ui-widget {
  padding: 0px !important;
 
}

.nav-pills li a {
  padding: 5px 4px !important;
}
@media (min-width: 768px) {
  .col-md-6 .col-md-6 {
    max-width: 44%;
    margin-right: 15px;
  }
  .col-md-3 {
    max-width: 22%;
    margin-right: 15px;
  }
}
// #accordion h4 a.collapsed {
//   font-size: 12px !important;
// }
// #accordion h4 a {
//   font-size: 12px !important;
// }

.isDisabled {
  pointer-events: none;
}

// .ng-touched.ng-invalid {
//   border-color: #ff586b;
// }

// work flow css start
.ui-chkbox-box {
  margin-right: 10px;
  background-color: red !important;
}
.c-wf-bcrumb {
  background-color: transparent;
}
.c-wf-bcrumb li {
  font-family: 'Roboto';
  font-size: medium;
  font-weight: 900;
  color: #295d92;
}
.c-wf-bcrumb .breadcrumb-item.active {
  color: #6c757d !important;
}
.wf-popup-form label {
  width: 100px;
  text-align: right;
  margin-top: 1px;
}
.wfl-table-popup-cstm {
  margin-top: 4px;
}
.wfl-table-popup-cstm tr th {
  padding: 8px 4px !important;
}
.wfl-table-popup-cstm tr td {
  padding: 5px;
}
.po-head-wfl {
  font-weight: bold;
  font-size: 13px !important;
  color: #295d92 !important;
  margin-bottom: 0;
}
.table > thead > tr > th {
  padding: 4px;
  min-width: 80px;
}
.table tbody tr td {
  padding: 4px;
}
.invoice-div{
  padding-left:25px !important; padding-top:5px !important;
}
.invoice-button-div{
  margin-right: 10px !important;margin-bottom: 9px !important;float:right 
}

// end
