<div class="row">
  <div class="col-md-12 col-sm-12 col-12">
    <div class="col-2 column">
      <div class="form-group">
        <label class="col-md-12">Customer Name</label>
        <input type="text" class="form-control" name="customerName" [ngModel]="salesQuote.cname"
          disabled="true" />
      </div>
    </div>
    <div class="col-3 column">
      <div class="form-group">
        <label class="col-md-12">Customer Code</label>
        <input type="text" class="form-control" name="customerCode" [ngModel]="salesQuote.customerCode"
          disabled="true" />
      </div>
    </div>
    <div class="col-2 column">
      <div class="form-group">
        <label> Memo</label>
        <div [innerHTML]="salesQuote.memo" class="form-control" style="width:100%;" class="text_editor_box"></div>
      </div>
    </div>
    <div class="col-5 column" style="padding: 18px 0px 10px; padding-left:12px">
      <div class="form-group">
        <label></label>
        <div class="col-md-3">
          <label class="col-md-12">
            <input type="checkbox" [(ngModel)]="salesQuote.restrictPMA" name="restrictPMA" id="restrictPMA"
              [disabled]="true" />
            Restrict PMA
          </label>
        </div>
        <div class="col-md-6">
          <label class="col-md-12">
            <input type="checkbox" [(ngModel)]="salesQuote.restrictDER" name="restrictDER" id="restrictDER"
              [disabled]="true" />
            Restrict DER
          </label>
        </div>
      </div>
    </div>
  </div>
</div>