<div class="clear"></div>
<form *ngIf="this.salesOrderInvoice" id="" name="" action="#" method="post" onsubmit="return false;">
    <div class="image">
        <div style="padding: 0; margin: 0;">
            <div>
                <form id="" class="form-div" name="" action="#" method="post" onsubmit="return false;">
                    <div class="logo-block">
                        <img src="http://design.poweraerosuites.com/image/logo.png" width="130" />
                    </div>
                    <div class="clear"></div>
                    <hr />
                    <div class="pick-ticket-header" style="margin-bottom: 15px;">
                        <h4>SALES ORDER INVOICE</h4>
                    </div>
                    <div class="very-first-block">
                        <div class="col-sm-4 address-block">
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">Company :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled>{{this.salesOrderInvoice.managementStructureHeaderData ? this.salesOrderInvoice.managementStructureHeaderData.companyName : ''}}</label>
                            </div>
                            <br />
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">Logo/Slogan :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled></label>
                            </div>
                            <br />
                            <br />
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">Tagline :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled></label>
                            </div>
                            <br />
                            <br />
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">Address1 :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled>{{this.salesOrderInvoice.managementStructureHeaderData ? this.salesOrderInvoice.managementStructureHeaderData.address1 : ''}}</label>
                            </div>
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">Address2 :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled>{{this.salesOrderInvoice.managementStructureHeaderData ? this.salesOrderInvoice.managementStructureHeaderData.address2 : ''}}</label>
                            </div>
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">City :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled>{{this.salesOrderInvoice.managementStructureHeaderData ? this.salesOrderInvoice.managementStructureHeaderData.city : ''}}</label>
                            </div>
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">State/Prov :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled>{{this.salesOrderInvoice.managementStructureHeaderData ? this.salesOrderInvoice.managementStructureHeaderData.stateOrProvince : ''}}</label>
                            </div>
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">Zip :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled>{{this.salesOrderInvoice.managementStructureHeaderData ? this.salesOrderInvoice.managementStructureHeaderData.postalCode : ''}}</label>
                            </div>
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">Country :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled>{{this.salesOrderInvoice.managementStructureHeaderData ? this.salesOrderInvoice.managementStructureHeaderData.country : ''}}</label>
                            </div>
                            <div class="col-sm-12 first-block-name">
                                <label class="col-sm-3 first-block-label">Phone :</label>
                                <label class="col-sm-4 first-block-label" style="width:30%; text-align: left"
                                    disabled>{{this.salesOrderInvoice.managementStructureHeaderData ? this.salesOrderInvoice.managementStructureHeaderData.phoneNumber : ''}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="second-block">
                        <h5>
                            <b>INVOICE</b>
                        </h5>
                        <div class="second-block-div">
                            <label class="col-sm-4 second-block-label">Invoice Num</label>
                            <input type="text" value="{{this.salesOrderInvoice.invoiceNumber}}" disabled />
                        </div>
                        <div class="second-block-div">
                            <label class="col-sm-4 second-block-label"> Invoice Date & time</label>
                            <input type="text" placeholder="" value="{{this.salesOrderInvoice.dateAndTime}}" disabled />
                        </div>
                        <div class="second-block-div">
                            <label class="col-sm-4 second-block-label">SO Num</label>
                            <input type="text" placeholder="" value="{{this.salesOrderInvoice.soNum}}" disabled />
                        </div>
                        <div class="second-block-div">
                            <label class="col-sm-4 second-block-label">Num of Items</label>
                            <input type="text" placeholder="" value="{{this.salesOrderInvoice.noOfItems}}" disabled />
                        </div>
                        <div class="second-block-div">
                            <label class="col-sm-4 second-block-label">Num of Containers</label>
                            <input type="text" placeholder="" value="{{this.salesOrderInvoice.noOfContainers}}"
                                disabled />
                        </div>
                        <div class="second-block-div">
                            <label class="col-sm-4 second-block-label">Prepared By</label>
                            <input type="text" value="{{this.salesOrderInvoice.preparedBy}}" disabled />
                        </div>
                        <div class="second-block-div">
                            <label class="col-sm-4 second-block-label">Date Printed</label>
                            <input type="text" value="{{this.salesOrderInvoice.datePrinted}}" disabled />
                        </div>
                        <!-- <div class="second-block-div">
                            <label class="col-sm-4 second-block-label">Page</label>
                            <input type="text" placeholder="1 of 1" value="" disabled />
                        </div> -->
                    </div>
                    <div class="col-sm-12" style="margin-top:5%">
                        <div class="first-block-sold col-sm-6">
                            <div class="first-block-sold-to">
                                <label style="text-align: left; text-decoration: underline; padding-bottom: 10px;">
                                    <b>Sold To:</b>
                                </label>
                                <div class="sold-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;"
                                        disabled>{{this.salesOrderInvoice.soldToDetails ? this.salesOrderInvoice.soldToDetails[0].name : ''}}</label>
                                </div>
                                <div class="sold-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;"
                                        disabled>{{this.salesOrderInvoice.soldToDetails ? this.salesOrderInvoice.soldToDetails[0].address1 : ''}}</label>
                                </div>
                                <div class="sold-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;"
                                        disabled>{{this.salesOrderInvoice.soldToDetails ? this.salesOrderInvoice.soldToDetails[0].address2 : ''}}</label>
                                </div>
                                <div class="sold-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;"
                                        disabled>{{this.salesOrderInvoice.soldToDetails ? this.salesOrderInvoice.soldToDetails[0].city : ''}}</label>
                                </div>
                                <div class="sold-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;"
                                        disabled>{{this.salesOrderInvoice.soldToDetails ? this.salesOrderInvoice.soldToDetails[0].stateOrProvince : ''}}</label>
                                </div>
                                <div class="sold-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;"
                                        disabled>{{this.salesOrderInvoice.soldToDetails ? this.salesOrderInvoice.soldToDetails[0].postalCode : ''}}</label>
                                </div>
                                <div class="sold-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;"
                                        disabled>{{this.salesOrderInvoice.soldToDetails ? this.salesOrderInvoice.soldToDetails[0].countryName : ''}}</label>
                                </div>
                                <div class="sold-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;"
                                        disabled>{{this.salesOrderInvoice.soldToDetails ? this.salesOrderInvoice.soldToDetails[0].email : ''}}</label>
                                </div>
                                <div class="sold-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;"
                                        disabled></label>
                                </div>
                            </div>
                        </div>
                        <div class="first-block-ship col-sm-6">
                            <div class="first-block-ship-to">
                                <label style="text-align: left; text-decoration: underline; padding-bottom: 10px;">
                                    <b> Ship To:</b>
                                </label>
                                <div class="ship-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;" disabled>{{this.salesOrderInvoice.shipToAddress ? this.salesOrderInvoice.shipToAddress.siteName : ''}}</label>
                                </div>
                                <div class="ship-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;" disabled>{{this.salesOrderInvoice.shipToAddress ? this.salesOrderInvoice.shipToAddress.addressLine1 : ''}}</label>
                                </div>
                                <div class="ship-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;" disabled>{{this.salesOrderInvoice.shipToAddress ? this.salesOrderInvoice.shipToAddress.addressLine2 : ''}}</label>
                                </div>
                                <div class="ship-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;" disabled>{{this.salesOrderInvoice.shipToAddress ? this.salesOrderInvoice.shipToAddress.city : ''}}</label>
                                </div>
                                <div class="ship-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;" disabled>{{this.salesOrderInvoice.shipToAddress ? this.salesOrderInvoice.shipToAddress.state : ''}}</label>
                                </div>
                                <div class="ship-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;" disabled>{{this.salesOrderInvoice.shipToAddress ? this.salesOrderInvoice.shipToAddress.postalCode : ''}}</label>
                                </div>
                                <div class="ship-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;" disabled>{{this.salesOrderInvoice.shipToAddress ? this.salesOrderInvoice.shipToAddress.country : ''}}</label>
                                </div>
                                <div class="ship-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;" disabled></label>
                                </div>
                                <div class="ship-block-div">
                                    <label class="col-sm-6 first-block-label" style="text-align: left;" disabled></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <hr />
                    <div class="clear"></div>
                    <div class="col-sm-12">
                        <table style="width:99%;margin-left:5px;">
                            <thead>
                                <tr>
                                    <th>PO/RO NUM</th>
                                    <th>Buyer</th>
                                    <th>Sales Person</th>
                                    <th>Credit Terms</th>
                                    <th>Cust VAT Num</th>
                                    <th>Shipping Terms</th>
                                    <th>Ship Via</th>
                                    <th>Shipped Date</th>
                                    <th>Shipping Order</th>
                                    <th>AWB</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>{{this.salesOrderInvoice.buyersName}}</td>
                                    <td>{{this.salesOrderInvoice.salesPerson}}</td>
                                    <td>{{this.salesOrderInvoice.creditTerms}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{this.salesOrderInvoice.shipVia}}</td>
                                    <td>{{this.salesOrderInvoice.shipDate}}</td>
                                    <td>{{this.salesOrderInvoice.shippingOrderNumber}}</td>
                                    <td>{{this.salesOrderInvoice.awb}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <hr />
                    <div class="col-sm-12">
                        <table style="width:99%;margin-left:5px;">
                            <thead>
                                <tr>
                                    <th>Item Num</th>
                                    <th colspan="3" rowspan="3">PN Information</th>
                                    <th>UOM</th>
                                    <th>Cond</th>
                                    <th>Back Ord</th>
                                    <th>Qty Shipped</th>
                                    <th>Unit Price</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let child of this.salesOrderInvoice.salesOrderListToPrint; let i = index;">
                                    <td rowspan="3">{{this.salesOrderInvoice.itemNo}}</td>
                                    <td colspan="3" rowspan="3"> PN: {{child.pNumber}}
                                        <br />
                                        PN Description: {{child.pnDescription}}
                                        <br />
                                        Serial Num SN: {{child.serialNumber}}
                                    </td>
                                    <td> {{child.uom}}</td>
                                    <td>{{child.cond}}</td>
                                    <td> - </td>
                                    <td>{{child.qtyShipped}}</td>
                                    <td style="text-align: right;">{{child.unitPrice}}</td>
                                    <td style="text-align: right;">{{child.amount}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" rowspan="2">Notes</td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td colspan="7"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr></tr>
                                <tr>
                                <tr>
                                    <td colspan="7"></td>
                                    <td style="border-bottom-color:white;border-right-color:white;" colspan="2">
                                    </td>
                                    <td style="border-right-color:white;"></td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td rowspan="7" colspan="7">
                                        Notes/Instructions
                                    </td>
                                    <td class="border-transparent" colspan="2">SUBTOTAL</td>
                                    <td style="text-align: right;"> {{this.salesOrderInvoice.subTotal}}</td>
                                </tr>
                                <tr>
                                    <td class="border-transparent" colspan="2">TAX RATE</td>
                                    <td style="text-align: right;"> {{this.salesOrderInvoice.taxRate}}</td>
                                </tr>
                                <tr>
                                    <td class="border-transparent" colspan="2">SALES TAX</td>
                                    <td style="text-align: right;"> 0.00 </td>
                                </tr>
                                <tr>
                                    <td class="border-transparent" colspan="2">OTHER TAX</td>
                                    <td style="text-align: right;"> {{this.salesOrderInvoice.otherTax}}</td>
                                </tr>
                                <tr>
                                    <td class="border-transparent" colspan="2">MISC CHARGES</td>
                                    <td style="text-align: right;"> 0.00</td>
                                </tr>
                                <tr>
                                    <td class="border-transparent" colspan="2">FREIGHT</td>
                                    <td style="text-align: right;"> {{this.salesOrderInvoice.freight}}</td>
                                </tr>
                                <tr>
                                    <td class="border-transparent" colspan="2">
                                        <b>TOTAL</b>
                                    </td>
                                    <td style="text-align: right;">
                                        <b> {{this.salesOrderInvoice.total}}</b>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td class="border-transparent" colspan="2"></td>
                                    <td class="border-transparent" colspan="2">
                                        <b>Payment by check Mail To:</b>
                                    </td>
                                    <td class="border-transparent" colspan="3">
                                        <b>Payment by check Mail Wire:</b>
                                    </td>
                                    <td class="border-transparent" colspan="2">DEPOSIT</td>
                                    <td> - </td>
                                </tr>
                                <tr>
                                    <td class="border-transparent" colspan="2"></td>
                                    <td class="border-transparent" colspan="2"></td>
                                    <td class="border-transparent" colspan="3">Bank of NY</td>
                                    <td class="border-transparent" colspan="2">
                                        <b>BALANCE DUE</b>
                                    </td>
                                    <td style="text-align: right;">
                                        <b>{{this.salesOrderInvoice.balanceDue}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-transparent" colspan="2"></td>
                                    <td class="border-transparent" colspan="2">Box 145478</td>
                                    <td class="border-transparent" colspan="3">1454 New York Ave - Suites 1000
                                    </td>
                                    <td class="border-transparent" colspan="2">CURRENCY</td>
                                    <td>
                                        <b>{{this.salesOrderInvoice.currency}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="border-transparent" colspan="2">Grapevine, TX 74584</td>
                                    <td class="border-transparent" colspan="3">New York, 12487, USA</td>
                                    <td class="border-transparent" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="3" style="width: 18%; vertical-align: bottom; text-align: center;">Barcode <br /><img src="{{this.salesOrderInvoice.barcode}}" alt="barcode" /></td>
                                    <td class="border-transparent" colspan="2">USA</td>
                                    <td class="border-transparent" colspan="3">Account Name: PowerAeroSuites.com
                                    </td>
                                    <td class="border-transparent" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td class="border-transparent" colspan="2"></td>
                                    <td class="border-transparent" colspan="3">Acct #: 1015487 ABA: 11187514
                                    </td>
                                    <td class="border-transparent" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="3">SWIFT: NYB45147</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div class="clear"></div>
                    <hr />
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</form>
<div style="height:100px"> &nbsp;</div>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="loading">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>