<div class="sales-order-actions">
    <button type="button" class="btn btn-primary btnAction" (click)="onClick(salesOrderActionType.ViewQuote)"
        *ngIf="controlSettings && controlSettings.showViewQuote">
        View Quote
    </button>
    <!-- <p-splitButton label="Payment" styleClass="btn btn-primary" [model]="paymentItems">
    </p-splitButton> -->
    <button type="button" class="btn btn-primary btnAction" (click)="onClick(salesOrderActionType.NewSalesOrder)">New
        SO</button>
    <p-splitButton [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" label="Print"
        styleClass="btn btn-primary" [model]="printItems">
    </p-splitButton>
    <p-splitButton [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" label="Actions"
        styleClass="btn btn-primary" [model]="actionItems">
    </p-splitButton>
    <!-- <p-splitButton label="Communication" styleClass="btn btn-primary" [model]="communicationItems">
    </p-splitButton> -->
    <button type="button" class="btn btn-primary btnAction"
        (click)="onClick(salesOrderActionType.CancelSalesOrder)">Cancel</button>
    <button type="button" class="btn btn-primary btnAction" (click)="onClick(salesOrderActionType.CloseSalesOrder)">
        Close
        SO
    </button>
</div>
<ng-template #payment let-c="close" let-d="dismiss" tabindex="-1" style="z-index: 1050;">
    <app-invoice-payment (close)="dismissModel()" [customerId]="customerId"></app-invoice-payment>
</ng-template>