
.x_panel {
  padding: 0 10px;
}
label {
  text-align: left;
  width: auto; /*140px*/
  margin-right: 0;
  font-weight: normal;
}
.label-cstm {
  width: auto;
  float: left;
  text-align: left;
  margin-right: 0;
  font-weight: normal;
}
body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container .ui-multiselect-filter-icon {
  color: #007ad9;
  top: 50%;
  margin-top: -.5em;
  right: .5em;
  left: auto;
}
.form-control:disabled {
  background-color: #e9ecef !important;
}
.imstock-pmselect{
  border: 1px solid red !important;
}
.radio-cstm {
  float: left;
  margin-right: 10px !important;
  padding-left: 21px !important;
}
input[type="text"], input[type="number"], input[type="email"], select {
  height: 24px !important;
  border-radius: 5px !important;
}
textarea {
  border-radius: 5px !important;
}
.checkbox-cstm {
  margin-left: 10px;
}
a.fa.fa-plus-circle {
  color: green !important;
}

.form-validation-error{
    border: 1px solid #e61610;
    border-radius: 8px;
}
  @media (min-width: 768px) {
    .col-md-3 {
        max-width: 22%;
        margin-right: 15px;
    }
}