<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_content">
                <!-- <div class="card">
                    <div class="card-body">
                        <div class="inline-block display-flex">
                            <h3 class="po-head lead">Tasks</h3>
                            &nbsp;&nbsp;
                            <a class="plusicon-cstm new-margin" matTooltip="Add Tasks" matTooltipPosition="above"
                             data-target="#add" data-toggle="modal" (click)="resetForm()">
                                <i class="fa fa-plus-circle fa-lg"></i>
                            </a>
                        </div> -->
                        <div class="card new-card">
                            <div class="card-header bg-primary new-card-header">
                                <div class="row">
                                  <div class="col">
                                    <h4 class="new-card-heading">Tasks</h4>
                                  </div>
                                  <div>
                                    <button
                                       type="button"
                                       class="btn-sm new-btn-primary"
                                       data-target="#add" data-toggle="modal" (click)="resetForm()">
                                      Add Tasks
                                    </button>
                                 </div>
                                </div>
                            </div>
                            <div class="card-body new-card-body">
                        <p-table #dt class="rpo-table-cstm rro-table-cstm" 
                        [value]="originalData" 
                        [first]="0" 
                        [rows]="pageSize" 
                        [paginator]="true"
                            [pageLinks]="3" 
                            [rowsPerPageOptions]="[10,20,50,100]" 
                            [columns]="selectedColumns" 
                            selectionMode="multiple"
                            [metaKeySelection]="true"
                           
                            (onPage)="changePage($event)" 
                            [resizableColumns]="true" 
                            [reorderableColumns]="true" 
                            [totalRecords]="totalRecords"
                            [scrollable]="true"
                            scrollHeight="450px">




                            <ng-template pTemplate="caption">
                                <!-- <div style="text-align: right;margin-left:-6px !important; min-height: 30px;">
                                    <p-multiSelect [maxSelectedLabels]="2" [options]="headers" optionLabel="header" [(ngModel)]="selectedColumns" [style]="{minWidth: '200px'}"
                                        style="float:left" (onChange)="columnsChanges()"></p-multiSelect>
                                    <button type="button" class="btn btn-primary " pButton icon="fa-download"
                                        iconPos="left" label="Export Data" matTooltip="Download Data" 
                                        matTooltipPosition="above" (click)="dt.exportCSV()"
                                         style="padding: 5px 12px !important;"></button>
                                    <button type="button" class="btn btn-primary " label="Export Selected Data" matTooltip="Download Selected Data" matTooltipPosition="above" pButton icon="fa-download"
                                        iconPos="left" (click)="dt.exportCSV({selectionOnly:true})" 
                                        style="padding: 5px 12px !important;"></button> -->
                                    <!-- <div class="excel-upload  excel-upload-cstm">

                                        <input type="file" name="upload[]" id="upload" (change)="customExcelUpload($event)" class="uploaddoc upload-file" accept=".xlsx, .xls, .csv">
                                        <label for="upload">
                                            <span matTooltip="Upload Data (Excel)">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </label>
                                        &nbsp; &nbsp;
                                        <button class="btn btn-primary" matTooltip="Sample File download" (click)="sampleExcelDownload()">Sample File Download
                                        </button>
                                    </div> -->
                                <!-- </div> -->
                                <div class="row">
                                    <div class="col">
                                        <p-multiSelect [maxSelectedLabels]="2" [options]="headers" optionLabel="header" [(ngModel)]="selectedColumns" [style]="{minWidth: '200px'}"
                                        style="float:left" (onChange)="columnsChanges()"></p-multiSelect>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-primary new-table-button" pButton icon="fa-download"
                                        iconPos="left" label="Export Data" matTooltip="Download Data" 
                                        matTooltipPosition="above"
                                        data-toggle="modal" 
                                        (click)="selectedOnly = false; targetData = dt;"
                                        data-target="#downloadConfirmation"
                                        
                                         style="padding: 5px 12px !important;"></button>
                                    <button type="button" class="btn btn-primary new-table-button" label="Export Selected Data" matTooltip="Download Selected Data" matTooltipPosition="above" pButton icon="fa-download"
                                        iconPos="left" (click)="dt.exportCSV({selectionOnly:true})" 
                                        style="padding: 5px 12px !important;"></button>
                                    </div>
                                </div>
    
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width:200px" *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                        {{col.header}}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                    <th style="width:200px;position:sticky" *ngIf="selectedColumns.length> 0"> Actions
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width:200px" *ngFor="let col of columns" [ngSwitch]="col.field">
                                        <input style="width:100%;" pInputText type="text" (input)="dt.filter($event.target.value, col.field,'contains')">
                                    </th>
                                    <th style="width:200px;position:sticky"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" pReorderableRowHandle>
                                    <td style="width:200px" *ngFor="let col of columns" class="ui-resizable-column" pReorderableRowHandle data-toggle="modal"
                                        data-target="#view" (dblclick)="viewSelectedRow(rowData)">
                                        {{col.field == 'createdDate'? (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field] && col.field == 'updatedDate'?
                                        (rowData[col.field] | date: 'MM/dd/yyyy'):rowData[col.field]}}
                                    </td>
                                    <td style="width:200px;position: sticky" *ngIf="selectedColumns.length> 0">
                                        <p-inputSwitch [(ngModel)]="rowData['isActive']" matTooltip="Update" matTooltipPosition="above"
                                         name="isActive{{rowIndex}}" (onChange)="changeStatus(rowData)"></p-inputSwitch>

                                        <span data-toggle="modal" data-target="#view">
                                            <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" 
                                            (click)="viewSelectedRow(rowData)" matTooltip="view" matTooltipPosition="above" data-target="#view"
                                                data-toggle="modal">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </span>
                                       
                                        <span data-target="#add" data-toggle="modal"><a class="btn nobg" 
                                            (click)="edit(rowData)" matTooltip="Edit" 
                                            matTooltipPosition="above"><i class="fa fa-pencil"></i></a> </span>
                                       
                                       
                                       
                                        <!-- <button class="btn-edit" mat-icon-button (click)="edit(rowData)" data-target="#add" 
                                        data-toggle="modal" matTooltip="Edit" matTooltipPosition="above">
                                            <mat-icon>edit</mat-icon>
                                        </button> -->
                                      
                                        <span data-target="#delete" data-toggle="modal">
                                            <a class="btn nobg" 
                                            (click)="delete(rowData)"
                                            matTooltip="Delete"  matTooltipPosition="above">
                                            <i class="fa fa-trash"></i></a> </span>
                                      
                                      
                                        <!-- <button class="btn-delete" mat-icon-button matTooltip="Delete"
                                        matTooltipPosition="above" data-target="#delete"
                                         data-toggle="modal" (click)="delete(rowData)">
                                            <mat-icon color="warn">delete</mat-icon>
                                        </button> -->

                                        <span data-target="#contentHist" data-toggle="modal"><a class="btn nobg" 
                                            (click)="getAuditHistoryById(rowData)"
                                             matTooltip="History"  matTooltipPosition="above">
                                             <i class="fa fa-history"></i></a></span>

                                        <!-- <button class="btn-history" mat-icon-button matTooltip="History" 
                                        matTooltipPosition="above" data-target="#contentHist" data-toggle="modal" 
                                        (click)="getAuditHistoryById(rowData)">
                                            <mat-icon color="green">history</mat-icon>
                                        </button> -->
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #auditContent let-c="close" let-d="dismiss">
                                <div *ngIf="AuditDetails != undefined && AuditDetails.length > 0">
                                    <app-audit [Data]="AuditDetails" [Modal]="modal"></app-audit>
                                </div>
                            </ng-template>
                            <!--<ng-template pTemplate="emptymessage" let-columns
                            *ngIf="originalData.length == 0 || originalData.length == null"> 
                   <tr>
                       <td [attr.colspan]="7" class="no-records-cstm">
                           No records found
                       </td>
                   </tr>
               </ng-template>-->
                            <ng-template pTemplate="summary" id="footer">
                                <label id="footer" class="footer">Total:</label>
                                <input style="width: 5%;" [(ngModel)]="totalRecords" [disabled]="true" pInputText type="text" /> &nbsp;&nbsp;
                                <label id="footer" class="footer1">Pages Count:</label>
                                <input style="width: 5%;" [(ngModel)]="totalPages" [disabled]="true" pInputText type="text" />
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #auditContent let-c="close" let-d="dismiss">
    <div *ngIf="AuditDetails != undefined && AuditDetails.length > 0">
        <app-audit [Data]="AuditDetails" [Modal]="modal"></app-audit>
    </div>
</ng-template>


<div *ngIf="selectedRowforDelete" #delete id="delete" class="modal fade" role="dialog"
 data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are You Sure Want to Delete ?</h4>
            </div>
            <div class="modal-body">
                <strong>Tasks:
                    <span class="new-label">{{selectedRowforDelete.description}}</span>
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteConformation('Yes')">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteConformation('No')">No</button>
            </div>
        </div>

    </div>
</div>


<div #add id="add" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{isEdit ? 'Edit' : 'Add' }}  Workflow Task</h4>
            </div>
            <div class="modal-body">
                <form #create="ngForm">
                    <div class="form-group">

                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label for="description" class="control-label">Task Name
                                    <span class="clr-red">*</span>
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <p-autoComplete field="description" [(ngModel)]="addNew.description" (onSelect)="selectedDescription($event)" (onKeyUp)="checkGroupDescriptionExists('description', $event.target.value)"
                                    name="description" [suggestions]="descriptionList" (completeMethod)="filterDescription($event)"
                                    [size]="30" [minLength]="1" [dropdown]="true" class="p-autoComplete-ctsm" required>
                                </p-autoComplete>
                                <div *ngIf="disableSaveForDescription" class="clr-red">Already Exists</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                    <label> Sequence</label>
                            </div>
                            <div class="col-sm-5">
                                  
                                    <input type="number" class="custom-form-control"
                                    name="sequence" #sequence="ngModel" [required]="isEdit"
                                        [(ngModel)]="addNew.sequence" />
                            </div>

                        </div>


                        <div class="col-sm-12">
                            <div class="col-sm-5">
                                <label for="description" class="control-label">Memo</label>
                            </div>
                            <div class="col-sm-5">
                                <textarea class="text-item" #memo="ngModel" id="memo" name="memodescription" [(ngModel)]="addNew.memo" minlength="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="checkbox-cstm">
                                <label>
                                    <input type="checkbox" name="isActive" [(ngModel)]="addNew.isActive">
                                    <span class="cr">
                                        <i class="cr-icon pi pi-check"></i>
                                    </span>
                                    Active
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" [disabled]="create.invalid || disableSaveGroupId && disableSaveForDescription "
                    (click)="save();">
                    {{isEdit ? 'Update' : 'Save' }}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetForm()">Close</button>

            </div>
        </div>

    </div>
</div>


<div *ngIf="existingRecordsResponse" id="duplicateRecords" #duplicateRecords class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xl">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Duplicate Records</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive rro-table-cstm">
                    <table class="table table-bordered">
                        <thead>
                            <tr>


                                <th>Task Name</th>

                                <th>Memo</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="existingRecordsResponse.length> 0">
                            <tr *ngFor="let ext of existingRecordsResponse; let i = index;">

                                <!-- <td >{{audit.unitOfMeasureAuditId}}</td> -->

                                <td>{{ext.description}}</td>

                                <td>{{ext.memo}}</td>
                            </tr>
                        </tbody>


                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="downloadConfirmation" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="closeDeleteModal()">&times;</button>
				<h4 class="modal-title">Are You Sure Want to Download?</h4>
			</div>
			<div class="modal-body" *ngIf="targetData">
				<strong>
					<span>
						You are attempting to export {{targetData.totalRecords}} of records. 
					</span> 
				</strong>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="(selectedOnly)?targetData.exportCSV({ selectionOnly: true }):targetData.exportCSV(); closeDeleteModal();">Confirm</button>
				<button type="button" class="btn btn-danger" (click)="closeDeleteModal()">Cancel</button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="auditHistory" id="contentHist" #contentHist class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xl">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">History of Task</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive rro-table-cstm">
                    <table class="table table-bordered" *ngIf="auditHistory.length> 0 else noDatavailable">
                        <thead>
                            <tr>
                                <!-- <th>UMID</th> -->
                                <th>Task Name</th>
                                <th>Sequence</th>
                                <th>Memo</th>
                                <th>IsActive</th>
                                <th>Updated By</th>
                                <th>Updated Time</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="auditHistory.length> 0">
                            <tr *ngFor="let audit of auditHistory; let i = index;">
                                <!-- auditHistory[i>0 ? i-1 : i] -->

                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'description', audit.description)  ? 'black' : 'red'  }">
                                    {{audit.description}}
                                </td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'sequence', audit.sequence)  ? 'black' : 'red'  }">
                                    {{audit.sequence}}
                                </td>

                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'memo', audit.memo)  ? 'black' : 'red'  }">
                                    {{audit.memo}}
                                </td>
                                <td [ngStyle]="{'color': getColorCodeForHistory(i, 'isActive', audit.isActive)  ? 'black' : 'red'  }">
                                    {{audit.isActive}}
                                </td>
                                <td>{{audit.updatedBy}}</td>
                                <td>{{audit.updatedDate | date: 'dd-MM-yyyy h:mm a '}}</td>
                            </tr>
                        </tbody>

                    </table>
                    <ng-template #noDatavailable>
                        <div class="text-center">
                            <img src="../../assets/images/binoculars.png" style="height: 100px; width: 100px;">
                            <h4 style="color: #ff5663;">No History Found </h4>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<div *ngIf="viewRowData" #view class="modal fade " id="view" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="" name="" (click)="resetViewData()">×</button>
                <h4 class="modal-title">Workflow Task Details</h4>
            </div>
            <div class="modal-body viewform ">
                <div class="col-sm-12">
                    <p>
                        <span class="label ">
                            <b class="view-Header">Task Name: </b>
                        </span>
                        <span class="value">{{ viewRowData.description}}</span>
                    </p>
                   
                    <!-- <p>
                        <span class="label ">
                            <b class="view-Header"> Standard: </b>
                        </span>
                        <span class="value">{{ viewRowData.standard}}</span>
                    </p> -->
                    <p>
                        <span class="label ">
                            <b class="view-Header">Memo: </b>
                        </span>
                        <span class="value">{{viewRowData.memo}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">IsActive</b>
                        </span>
                        <span class="value">{{viewRowData.isActive === true ? 'Yes' : 'No'}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Created By: </b>
                        </span>
                        <span class="value">{{viewRowData.createdBy }}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Created Date: </b>
                        </span>
                        <span class="value">{{viewRowData.createdDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Updated By: </b>
                        </span>
                        <span class="value">{{viewRowData.updatedBy}}</span>
                    </p>
                    <p>
                        <span class="label ">
                            <b class="view-Header">Updated Date: </b>
                        </span>
                        <span class="value">{{viewRowData.updatedDate | date: 'MM/dd/yyyy h:mm:ss a'}}</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="" name="" (click)="resetViewData()">Close</button>
            </div>
        </div>

    </div>

</div>

<ng-template #helpText class="modal fade" id="help-popup" role="dialog" data-backdrop="static">
    <div class="modal-content">
        <div class="modal-header">

            <button type="button" class="close" (click)="dismissModel()" data-dismiss="modal" id="" name="">×</button>

            <h4 class="modal-title">Help text about the page</h4>
        </div>
        <div class="modal-body">
            <p>Sample Point 1 about Page Description</p>
            <p>Sample Point 2 about Page Description</p>
            <p>Sample Point 3 about Page Description</p>
            <p>Sample Point 4 about Page Description</p>
            <p>Sample Point 5 about Page Description</p>
            <hr />
            <p>
                <b>Excell format to upload the Data -
                    <a href="documents/action-table-format.xlsx" class="clr-red">Download</a>
                </b>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="dismissModel()">Close</button>
        </div>
    </div>
</ng-template>