/* #accordion h4 a.collapsed {
  font-size: 12px !important;
}
#accordion h4 a {
  font-size: 12px !important;
} */
@media (min-width: 768px) {
  #checkIn .col-md-3 {
      max-width: 22%;
      margin-right: 15px;
  }
}
.input-width-100-percent{
  width:100% !important;
  margin: 0px;

}
.adK_f{
  display: inline-flex;
}
.change_cd{
  text-align: left;
  width: 34px;
}
.cost_v{
  width: 95px;
}
.width-36{
  width:36px !important;
}
.width-135{
  width: 135px !important;
}
.tool-history{
  height:auto !important;max-height:350px !important;
}
.text-end{
  text-align: end !important;
}
.tool-table{
  border: 1px solid #c8c8c8 !important; width: 100% !important;table-layout: fixed !important;
}
.step2-padding{
  padding: 3px 8px !important;
}
.ptable-wo-btns {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  border: navajowhite;
  position: relative;
  top: 2px;
}
.text-center{
  padding: 5px 3px;
}
.asset_tablee  thead{
  color: #fff;
  background: #337ab7;
  }
  .asset_tablee  tr{
    padding: 4px;
    border: 1px solid #ddd;
    }
    .asset_tablee  td{
  padding: 4px;
  border: 1px solid #ddd;
      }
      .cust_ma{
        background: #fff;
        margin-top: 30px;
      }
      .max_widthControl{
        width:80px !important;
      }
      .text_center{
        text-align: center;
      }