<div class="card">
  <div class="header">
    <div class="row">
        <div class="col">
            <h4 class="header-name">Work Order Tools list</h4>
        </div>
        <div>
            <button type="button" class="btn-sm header-button " *ngIf="!isView"
            data-target="#addNewEquipments" (click)="createNew()" data-toggle="modal">
                Add Tools
            </button>
        </div>
    </div>
  </div>
</div>
<div id="addNewEquipments" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeAddNew()">
          &times;
        </button>
        <h4 class="modal-title">{{isEdit ? 'Edit' : 'Add'}} Tools </h4>
      </div>
      <div class="modal-body " id="asset_create">

        <div *ngIf="!isEdit && addNewEquipment">
          <grd-equipment [workFlowObject]="workFlowObject" [moduleName]="moduleName" [isWorkOrder]="isWorkOrder"
            (saveEquipmentListForWO)="saveEquipmentList($event)" (closeEvent)="closerefreshview()"></grd-equipment>
        </div>
        <div *ngIf="isEdit && editData && addNewEquipment">
          <grd-equipment [isEdit]="isEdit" [editData]="editData" [moduleName]="moduleName"
            [workFlowObject]="workFlowObject" [isWorkOrder]="isWorkOrder"
            (updateEquipmentListForWO)="updateEquipmentList($event)"></grd-equipment> 
        </div>

      </div>
    </div>
  </div>
</div>
<div class="card-body header-body">
  <p-table #dt class="rpo-table-cstm rro-table-cstm" [value]="workOrderAssetList" [first]="0" [rows]="pageSize"
      [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10, 20, 50, 100]" [columns]="selectedColumns"
      selectionMode="multiple" expandableRows="true" rowExpandMode="single" [lazy]="true"
      (onLazyLoad)="loadData($event)" [resizableColumns]="true" [reorderableColumns]="true"
      [totalRecords]="totalRecords" [scrollable]="true" [metaKeySelection]="true"
      [dataKey]="workOrderPartListDataKeys" scrollHeight="450px" (onPage)="pageIndexChange($event)">
      <ng-template pTemplate="caption">
          <div class="row">
              <div class="col">
                  <p-multiSelect [maxSelectedLabels]="2" [options]="headers" optionLabel="header"
                      [(ngModel)]="selectedColumns" class="multiselect-field"
                      (onChange)="columnsChanges()"></p-multiSelect>
              </div>
              <div class="col">
                  <div class="global-search-field inner-addon right-addon inline-block">
                      <i class="fa fa-search"></i>
                      <input type="text" pInputText size="50" class="form-control"
                          (input)="globalSearch($event.target.value)" placeholder=" Filter" />
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <button type="button" *ngIf="!isView" class="btn btn-primary exports-button" matTooltip="Download Data"
                      matTooltipPosition="above" pButton icon="fa-download" iconPos="left" label="Export Data"
                      data-toggle="modal"
                      (click)="openDownload(downloadConfirmation);  selectedOnly = false; targetData = dt;"></button>
                  <button type="button" *ngIf="!isView" class="btn btn-primary exports-button" pButton icon="fa-download"
                      iconPos="left" label="Export Selected Data" matTooltip="Download Selected Data"
                      matTooltipPosition="above" (click)="dt.exportCSV({selectionOnly:true})"></button>
              </div>
              <div class="pull-right buttons-div-align">
                  <div class="col">
                      <div class="col buttons-top-padding">
                          <div class="form-group">

                              <div class="checkbox-cstm pull-left checkbox-align">
                                  <label class="checkbox-label-align">
                                      <!--  -->
                                      <input type="checkbox" [(ngModel)]="currentDeletedstatus" name="cparent"
                                          id="cparent"
                                          (click)="getDeleteListByStatus($event.target.checked)" />
                                      <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                                      Show Deleted List
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
      <ng-template #downloadConfirmation let-c="close" let-d="dismiss" data-backdrop="static">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure Want to Download?</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="targetData && !selectedOnly">
                <strong>
                    <span>
                        You are attempting to export {{targetData.totalRecords}} of records.
                    </span>
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    (click)="(selectedOnly)?targetData.exportCSV({ selectionOnly: true }):exportCSV(targetData); closeModal();">Confirm</button>
                <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
            </div>
        </div>
    </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
              <col *ngFor="let col of columns" class="table-column-width" [ngStyle]="{'width': col.width}"/>
          </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th class="table-column-width" *ngFor="let col of columns" pResizableColumn pReorderableColumn
                  [pSortableColumn]="col.field">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th class="table-actions-column" *ngIf="selectedColumns.length > 0"  [ngClass]="{'max_widthControl': isView}">
                  Actions
              </th>
          </tr>
          <tr>
              <th class="table-column-width" *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input class="table-header-input-width" *ngIf="
          col.field !== 'createdDate'
          && col.field !== 'updatedDate'  &&  col.field !== 'quantity'"  pInputText type="text"
                      (input)="dt.filter($event.target.value, col.field, 'contains'); fieldSearch(col.field)">  
                    
                      <input type="text" *ngIf="col.field == 'quantity'"  (keypress)="allowNumberOnly($event)"  pInputNumber name="quantity1" class="table-header-input-width ui-inputtext ui-corner-all ui-state-default ui-widget ng-star-inserted"
                      (input)="dt.filter($event.target.value, col.field, 'contains'); fieldSearch(col.field)">
                  <input type="date" *ngIf="col.field == 'createdDate'" name="createdDate" class="table-header-input-width"
                      (change)="dt.filter($event.target.value, col.field, 'contains')">
                  <input type="date" *ngIf="col.field == 'updatedDate'" name="updatedDate" class="table-header-input-width"
                      (change)="dt.filter($event.target.value, col.field, 'contains')">
              </th>
              <th class="table-actions-column"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
          let-columns="columns">
          <tr class="ui-widget-header" [pSelectableRow]="rowData" pReorderableRowHandle
              (dblclick)="openViewOnDbl(rowData)">
              <ng-container *ngFor="let col of columns">
              <td 
              *ngIf="col.field != 'quantity'" class="ui-resizable-column wauto"
              pReorderableRowHandle>
             
                
                    {{
                      col.field == 'createdDate'
                        ? (rowData[col.field] | date: 'MM/dd/yyyy h:mm a')
                        : rowData[col.field] && col.field == 'updatedDate'
                        ? (rowData[col.field] | date: 'MM/dd/yyyy h:mm a')
                        : rowData[col.field] 
                    }}
            
        
          </td> 
   
          <td style="text-align: right !important;" *ngIf="col.field == 'quantity'">
          {{rowData[col.field]}}
          </td>
        </ng-container>
              <td class="action-icons-cstm table-column-width"  [ngClass]="{'max_widthControl': isView}">
                  <div *ngIf="currentDeletedstatus == false">
                    <span data-target="#addNewEquipments" *ngIf="!isView" data-toggle="modal"><a class="btn nobg btn-edit-cstm"
                      (click)="edit(rowData)" matTooltip="Edit" matTooltipPosition="above"><i class="fa fa-pencil"></i></a>
                  </span>
                  <span>
                    <a class="btn  boxed-float-btn nobg" *ngIf="!isView" (click)="checkStatus(rowData, 'checkOut'); viewAsstes(rowData)"
                      data-toggle="modal" data-target="#checkIn" matTooltipPosition="above"
                      matTooltip="Asset Checked-Out">
                      <i class="fa fa-sign-out clr-red"></i>
                    </a>
                  </span>
                  <span>
                    <a class="btn  boxed-float-btn nobg" *ngIf="!isView" (click)="checkStatus(rowData, 'checkIn'); viewAsstes(rowData)"
                      data-toggle="modal" data-target="#checkIn" matTooltipPosition="above" matTooltip="Asset Checked-In">
                      <i class="fa fa-sign-in clr-blue"></i></a>
                  </span>
  
  
                  <span><a class="btn nobg btn-delete-cstm" *ngIf="!isView" (click)="openDelete(content,rowData)" matTooltip="Delete"
                      matTooltipPosition="above"><i class="fa fa-trash"></i></a> </span>
                      <span data-toggle="modal" data-target="#assetHistory">
                        <a class="btn nobg btn-hist-cstm" (click)="getAuditHistoryById(rowData)"  matTooltipPosition="above" matTooltip="Check-in & Check-out History"><i
                            class="fa fa-history"> </i></a></span>
                  </div>
                  <div *ngIf="currentDeletedstatus == true">
                  
                     
                      <span *ngIf="!isView">
                          <a class="btn nobg btn-users-cstm" (click)="restore(restoreIdWo,rowData);"
                              matTooltip="Restore Record" matTooltipPosition="above"><i class="fa fa-undo"
                                  aria-hidden="true"></i></a>
                      </span>
                      <span data-toggle="modal" data-target="#assetHistory">
                        <a class="btn nobg btn-hist-cstm" (click)="getAuditHistoryById(rowData)" matTooltip="History For Check-In & Check-Out"><i
                            class="fa fa-history"> </i></a></span>
                  </div>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
          <tr>
              <td colspan="18" class="no-records-msg no-records-cstm">
                  No records found
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary" id="footer">
          <label id="footer" class="footer" style="background:#fff !important">Total:</label>
          <input class="footer-input-width" [(ngModel)]=" totalRecords" [disabled]="true" pInputText type="text" />
          &nbsp;&nbsp;
          <label id="footer" class="footer1">Pages Count:</label>
          <input class="footer-input-width" [ngModel]="getPageCount(dt._totalRecords, pageSize)" [disabled]="true"
              pInputText type="text" />
      </ng-template>
  </p-table>
</div>
<div class="equipment-tab-content" style="display: none;">
  <div class="x_panel">
    <div class="tab-content">
      <div class="table-responsive pas-table-cstm header-table-width poro-table-cstm parts-list-table-align" id="workflow-attributes-block">
        <div class="tableFixHead">
        <table class="table table-bordered " >
          <thead>
            <tr>
              <th class="text-center">Tool Name</th>
              <th class="text-center">Tool Id</th>
              <th class="text-center">Tool Description</th>
              <th class="text-center">Tool Type</th>
              <th class="text-center">Qty</th>
              <th class="text-center" *ngIf="!isView">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="workOrderAssetList.length > 0">
            <tr *ngFor="let asset of workOrderAssetList; let i = index">
              <td>{{ asset.name }}</td>
              <td>{{ asset.assetId }}</td>
              <td>{{ asset.description }}</td>
              <td>{{ asset.assetTypeName }}</td>
              <td class="text-right">{{ asset.quantity }}</td>

              <td class="text-center" *ngIf="!isView">
                <span data-target="#addNewEquipments" data-toggle="modal"><a class="btn nobg btn-edit-cstm"
                    (click)="edit(asset)" matTooltip="Edit" matTooltipPosition="above"><i class="fa fa-pencil"></i></a>
                </span>
                <span>
                  <a class="btn  boxed-float-btn nobg" (click)="checkStatus(asset, 'checkOut'); viewAsstes(asset)"
                    data-toggle="modal" data-target="#checkIn" matTooltipPosition="above"
                    matTooltip="Asset Checked-Out">
                    <i class="fa fa-sign-out clr-red"></i>
                  </a>
                </span>
                <span>
                  <!-- *ngIf="asset.checkInOutStatus === 1" -->
                  <a class="btn  boxed-float-btn nobg" (click)="checkStatus(asset, 'checkIn'); viewAsstes(asset)"
                    data-toggle="modal" data-target="#checkIn" matTooltipPosition="above" matTooltip="Asset Checked-In">
                    <i class="fa fa-sign-in clr-blue"></i></a>
                </span>


                <span><a class="btn nobg btn-delete-cstm" (click)="openDelete(content,asset)" matTooltip="Delete"
                    matTooltipPosition="above"><i class="fa fa-trash"></i></a> </span>
                <span data-toggle="modal" data-target="#assetHistory">
                  <a class="btn nobg btn-hist-cstm" (click)="getAuditHistoryById(asset)" matTooltip="History"><i
                      class="fa fa-history"> </i></a></span>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="workOrderAssetList.length == 0">
            <tr>
              <td colspan="12" class="no-records-cstm no-records-msg">
                No records found
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <br />
    <br />
    <br />
    <br />
  </div>
</div>

<div id="view" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-xl">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closePopupmodel('view')">
          &times;
        </button>
        <h4 class="modal-title">Asstes View</h4>
      </div>
      <div class="modal-body" *ngIf="assetRecordId">
        <app-asset-listing [assetsId]="assetRecordId" [isWorkOrder]="isWorkOrder">
        </app-asset-listing>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closePopupmodel('view')">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div id="checkIn" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-xl">
   <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="releaseInventory()">
          &times;
        </button>
        <h4 class="modal-title" *ngIf="assetsform.assetStatus == 'checkIn'">
          Tools Check-In
        </h4>
        <h4 class="modal-title" *ngIf="assetsform.assetStatus == 'checkOut'">
          Tools Check-Out
        </h4>
      </div>
      <div class="modal-body" *ngIf="assetRecordId"> 
        <div class="form-row m-t-10">
          <div class="col-md-3">
            <div class="form-group">
              <label class="wauto">WO Num</label>
              <input class="form-control" type="text" [(ngModel)]="woNumber" name="woNumber" disabled />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="wauto">Customer</label>
              <input class="form-control" type="text" [(ngModel)]="customerName" name="customerName" disabled />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="input-width-100-percent">WO Open Date</label>
             <p-calendar [showIcon]="true" class="calender-cstm" name="openDate" #openDate="ngModel" required
                [(ngModel)]="woOperDate" disabled appendTo="body">
              </p-calendar>
            </div>
          </div>
        </div>
        <hr>
        <div class="panel-group mt-2 tear_down_cls work_order_teardown" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
               <div class="table-responsive pas-table-cstm header-table-width poro-table-cstm parts-list-table-align">
                  <div class="tableFixHead">
              <table class="asset_tablee table table-bordered tool-table">
                <thead>
                  <tr>
                    <th class="width-36"></th>
                    <th class="text-center">Tool Name</th>
                    <th class="text-center">Tool Id</th>
                    <th class="text-center">Inventory Num</th>
                    <th class="text-center">Qty Needed</th>
                    <th class="text-center">Qty Seleted</th>
                    <th class="text-center">Qty Available</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="width-36">
                      <span *ngIf="togglePlus ==false">
                        <a class="collapsed ac_cs" data-toggle="collapse" href="#step2">
                          <i class="fa fa-plus btn btn-success btn-cstm1 btn-xs1 step2-padding" matTooltip="Show Asset Inventory list"
                            matTooltipPosition="above"  (click)="openGrid()"></i> 
                        </a>
                      </span>

                      <button type="button" (click)="CloseGrid()" class="btn btn-danger roleUpd" *ngIf="togglePlus ==true"  matTooltip="Show stock line details"  matTooltipPosition="above"  style="font-size: 10px !important;" >
                      <i 
                      class="fa fa-minus mr-0" ></i>  
                    </button>
                    </td>
                    <td>
                      {{currentRecord.name}}
                    </td>
                    <td>
                      {{currentRecord.assetId}}
                    </td>
                    <td>
                      Multiple
                    </td>
                    <td class="text-end">
                      {{currentRecord.quantity}}
                    </td>
                    <td class="text-end">
                      {{quantitySelected}}
                    </td>
                    <td class="text-end">
                      {{AvailableCount}}
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
              </div>
            </div>
            <div id="step2" class="panel-collapse  collapse" *ngIf="showcheckInOutlist">
              <div class="panel-body m-lr-7">
                <form #assetCheckForm="ngForm" class="back-white" >
                  <div class="table-responsive pas-table-cstm header-table-width poro-table-cstm parts-list-table-align">
                    <div class="tableFixHead">
                      <table class="table table-bordered table-border-modal1">
                      <thead>
                        <tr>
                          <th *ngFor="let col of assetChekinCheckoutheaders" class="text-center">
                            {{col.header}}
                          </th>
                          <th class="table-actions-column">Actions </th>
                        </tr>
                      </thead>
                      <tbody *ngIf="workOrderCheckInCheckOutList && workOrderCheckInCheckOutList.length !=0">
                        <tr *ngFor="let row of workOrderCheckInCheckOutList; let i = index" id="row_{{i}}">
                          <td style="min-width: 36px;"> 
                            <div *ngIf="assetsform.assetStatus == 'checkOut'">
                              <input type="checkbox" name="contract2" class="set_cds"  *ngIf="row.inventoryStatus=='Available'"
                              [(ngModel)]="row.isChecked" required (change)="checkValue(workOrderCheckInCheckOutList)">
                            </div>
                              <input type="checkbox" name="contract2" class="set_cds"  *ngIf="assetsform.assetStatus == 'checkIn'"
                              [(ngModel)]="row.isChecked" required (change)="checkValue(workOrderCheckInCheckOutList)">
                            </td>
                          <td>{{row.assetName}}</td>
                          <td>{{row.assetId}}</td>
                          <td>{{row.inventoryNumber}}</td>
                          <td>{{row.assetType}}</td>
                          <td>{{row.manufacturer}}</td>
                          <td>{{row.serialNo}}</td>
                          <td>{{row.assetLocation}}</td>
                          <td>{{row.inventoryStatus}}</td>
                          <td class="width-135">
                            <p-autoComplete *ngIf="assetsform.assetStatus == 'checkOut'" field="label" [disabled]="!row.isChecked"
                              class="pautocomp-cstm" [(ngModel)]="row.checkOutById" name="checkInBy{{i}}"
                              [suggestions]="employeeList" (completeMethod)="filterEmployee($event)" [size]="30"
                              [minLength]="1" [dropdown]="true"  appendTo='body' [baseZIndex]="9999" errorMessage="Records not found" 
                              [forceSelection]="true" > 
                            </p-autoComplete>
                            <div *ngIf=" assetsform.assetStatus == 'checkIn'">{{row.checkOutBy}}</div>
                          </td>
                          <td class="width-100">
                            <div  *ngIf="assetsform.assetStatus == 'checkOut'">
                              <p-calendar class="pas-clder" [showIcon]="true" [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100"  appendTo='body' [baseZIndex]="9999" [(ngModel)]="row.checkOutDate"
                               [showIcon]="true" [disabled]="!row.isChecked"
                                name="checkOutDate{{i}}"></p-calendar>
                            </div>
                            <div *ngIf=" assetsform.assetStatus == 'checkIn'">{{row.checkOutDate | date: 'MM/dd/yyyy'}}</div>
                          </td>
                          <td class="width-135">
                            <div  *ngIf="assetsform.assetStatus == 'checkIn'">
                              <p-autoComplete field="label" class="pautocomp-cstm" [(ngModel)]="row.checkInById" [disabled]="!row.isChecked"
                                name="checkInBy{{i}}" [suggestions]="employeeList"
                                (completeMethod)="filterEmployee($event)" [size]="30" [minLength]="1" [dropdown]="true"
                                errorMessage="Records not found" [forceSelection]="true">
                              </p-autoComplete>
                            </div>
                            <div *ngIf=" assetsform.assetStatus == 'checkOut'"> {{row.checkInBY}}</div>
                          </td>
                          <td class="width-100"> 
                            <div  *ngIf="assetsform.assetStatus == 'checkIn'">
                              <p-calendar class="pas-clder" [(ngModel)]="row.checkInDate" [showIcon]="true" [disabled]="!row.isChecked"
                                name="checkInDate{{i}}"></p-calendar>
                            </div>
                            <div *ngIf=" assetsform.assetStatus == 'checkOut'"> {{row.checkInDate | date: 'MM/dd/yyyy'}}</div>
                          </td>
                          <td>
                            <div class="align_adh">
                              <div [innerHTML]="row.notes"
                                  matTooltipPosition="above"
                                  [matTooltip]="parsedText(row.notes)"
                                  class="text_editor_box input-width-100-percent"></div>
                              <i class="fa fa-pencil contoel_v" data-toggle="modal"
                                  data-target="#textarea-popup" matTooltip="Memo"
                                  matTooltipPosition="above"
                                  (click)="onAddTextAreaInfo(row.notes,i)"></i>
                          </div>

                          </td>
                          <td class="action-icons-cstm table-column-width text_center"> 
                            <span> 
                              <a
                              class="btn  boxed-float-btn nobg" matTooltip="Asset Inventory View" matTooltipPosition="above"
                           
                              (click)="viewAsstesInventory(row)"
                            >
                              <i class="fa fa-eye"></i>
                            </a>
                          </span>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="workOrderCheckInCheckOutList && workOrderCheckInCheckOutList.length ==0">
                        <tr>
                          <td colspan="16" class="no-records-msg no-records-cstm">
                              No records found
                          </td>
                      </tr>
                      </tbody>
                    </table>
                    </div> 
                  </div>
                  <div class="text-right cust_ma">
                    <!-- ; getEquipmentData.emit() -->
                    <button class="btn btn-primary btn-primary" (click)="saveAssets(workOrderCheckInCheckOutList)"
                       data-dismiss="modal" [disabled]="!assetCheckForm.valid"
                      type="submit">
                      Save
                    </button>
                    <button type="button" class="btn btn-danger" (click)="releaseInventory()" data-dismiss="modal">
                      Close
                    </button> 
                  </div>
                </form>

              </div>
            </div>
          </div>   
        </div>
     
        <div class="modal fade" id="textarea-popup" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-sm" style="max-width: 500px !important;">

              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" (click)="onCloseTextAreaInfo()">&times;</button>
                      <h4 class="modal-title">Edit Memo</h4>
                  </div>
                  <div class="modal-body">
                      <p-editor [(ngModel)]="textAreaInfo" [style]="{'height':'320px'}"
                      (ngModelChange)="editorgetmemo($event)" name="textAreaInfo" required>
                  </p-editor>
                      <div class="editor-buttons">
                          <button type="button" class="btn btn-primary editor-buttons-margin" (ngModelChange)="getmemo($event)"
                              (click)="onSaveTextAreaInfo(textAreaInfo)" [disabled]="disableEditor">Save</button>
                          <button type="button" class="btn btn-danger editor-buttons-margin" (click)="onCloseTextAreaInfo()">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="modal fade" id="checkInOutView" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-sm" style="max-width: 400px !important;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onSaveTextAreaInfo('')">Save</button>
                <button type="button" class="btn btn-danger" (click)="onCloseTextAreaInfo()">Close</button>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="assetHistory" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-xl">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closePopupmodel('assetHistory')">
          &times;
        </button>
        <h4 class="modal-title">Work Order Tools History</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive pas-table-cstm header-table-width poro-table-cstm parts-list-table-align">
          <div class="tableFixHead">
          <table class="table table-bordered tool-history">
            <thead>
              <tr>
                <th>	Tool Name</th>
                <th>
                  Tool Id
                </th>
                <th>Inventory Num</th>
                <th>Tool Type</th>
                <th>Manufacturer</th>
                <th>Serial Num</th>
                <th>Location</th>
                <th>Status</th>
                <th>CheckOut Date</th>
                <th>CheckOut By</th>
                <th>CheckIn Date</th>
                <th>CheckIn By</th>
                <th>Notes</th>
              </tr>
            </thead >
            <tbody *ngIf="assetAuditHistory && assetAuditHistory.length ==0">
              <tr>
                <td colspan="13" class="no-records-msg no-records-cstm">
                    No records found
                </td>
            </tr>
            </tbody>
            <tbody *ngIf="assetAuditHistory && assetAuditHistory.length !=0">
              <tr *ngFor="let audit of assetAuditHistory; let i = index">
                <td [ngStyle]="{
                  color: getColorCodeForHistory(
                    i,
                    'assetName',
                    audit.assetName
                  )
                    ? 'black'
                    : 'red'
                }">
                {{ audit.assetName }}
              </td>
                <td [ngStyle]="{
                    color: getColorCodeForHistory(i, 'assetId', audit.assetId)
                      ? 'black'
                      : 'red'
                  }">
                  {{ audit.assetId }}
                </td>
                <td [ngStyle]="{
                  color: getColorCodeForHistory(i, 'inventoryNumber', audit.inventoryNumber)
                    ? 'black'
                    : 'red'
                }">
                {{ audit.inventoryNumber }}
              </td>
              <td [ngStyle]="{
                color: getColorCodeForHistory(i, 'assetType', audit.assetType)
                  ? 'black'
                  : 'red'
              }">
              {{ audit.assetType }}
            </td>
            <td [ngStyle]="{
              color: getColorCodeForHistory(i, 'manufacturer', audit.manufacturer)
                ? 'black'
                : 'red'
            }">
            {{ audit.manufacturer }}
          </td>
          <td [ngStyle]="{
            color: getColorCodeForHistory(i, 'serialNo', audit.serialNo)
              ? 'black'
              : 'red'
          }">
          {{ audit.serialNo }}
        </td>
        <td [ngStyle]="{
          color: getColorCodeForHistory(i, 'assetLocation', audit.assetLocation)
            ? 'black'
            : 'red'
        }">
        {{ audit.assetLocation }}
      </td>
      <td [ngStyle]="{
        color: getColorCodeForHistory(i, 'inventoryStatus', audit.inventoryStatus)
          ? 'black'
          : 'red'
      }">
      {{ audit.inventoryStatus }}
    </td>
                <td [ngStyle]="{
                  color: getColorCodeForHistory(
                    i,
                    'checkOutDate',
                    audit.checkOutDate
                  )
                    ? 'black'
                    : 'red'
                }">
                {{ audit.checkOutDate | date: 'MM/dd/yyyy'}}
              </td>
              <td [ngStyle]="{
                color: getColorCodeForHistory(
                  i,
                  'checkOutBy',
                  audit.checkOutBy
                )
                  ? 'black'
                  : 'red'
              }">
                {{ audit.checkOutBy }}
              </td>
                <td [ngStyle]="{
                    color: getColorCodeForHistory(
                      i,
                      'checkInDate',
                      audit.checkInDate
                    )
                      ? 'black'
                      : 'red'
                  }">
                  {{ audit.checkInDate  | date: 'MM/dd/yyyy'}}
                </td>
                <td [ngStyle]="{
                  color: getColorCodeForHistory(
                    i,
                    'checkInBy',
                    audit.checkInBy
                  )
                    ? 'black'
                    : 'red'
                }">
                  {{ audit.checkInBy }}
                </td>
                <td [ngStyle]="{
                  color: getColorCodeForHistory(
                    i,
                    'notes',
                    audit.notes
                  )
                    ? 'black'
                    : 'red'
                }">
                  <!-- {{ audit.notes }}  -->
                  <p class="p_textEditor" [innerHTML]="audit.notes"></p>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopupmodel('assetHistory')">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Are You Sure Want to Delete?</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <strong>
        Tool Name:
          <span class="new-label">{{currentRow.name}}</span>
      </strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="delete()">Yes</button>
    <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
  </div>
</ng-template>
<ng-template #restoreIdWo let-c="close" let-d="dismiss" data-backdrop="static">

  <div class="modal-header">
      <h4 class="modal-title">Are You Sure Want to Restore?</h4>

      <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <strong>
        WO Number :
          <span class="new-label">{{restorerecord.name}}</span>
      </strong>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="restoreRecord()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
  </div>
</ng-template>
<div class="preloader" *ngIf="isSpinnerVisible">
  <div class="loading">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>