.coustomTable tr th {
    font-weight: 600 !important;
    font-size: 10.5px !important;
    color: #fff !important;
    background-color: #4298ff;
    border: 1px solid #3a7fd2;
    letter-spacing: 0.3px;
    line-height: 25px;
    text-align: center;
}

.coustomTable  tr  td {
    padding: 5px 2px !important;
    white-space: nowrap;
    color: #222;
    background: inherit;
    border: 1px solid #c8c8c8;
    font-size: 11px !important;
}

.workflow-table-material{
    padding-bottom: 50%;
}
.attachments-label{
    float: none !important;width: auto !important;
}
.attachments-label-width{
    float: left !important; width: 30% !important; padding: 0 !important; display: inline-block !important;
}
.fileupload{
    overflow: scroll;
}
input[type=number], input[type=text], input[type=email], select {
    height: 24px!important;
    border-radius: 5px!important;
}
.modal-body p {
    overflow: auto !important;
}
.form-horizontal b {
    top: auto !important;
}
.email-content{
    max-height: 300px;
    overflow: scroll;
    span p{
        overflow: scroll;
    }
}
.downld{
    background: transparent !important;
    border: none !important;
}
.text_c{
    text-align: center;
}