.parttable th {
    background: #fff !important;
    color: #000 !important;
    -webkit-print-color-adjust: exact;
   }
   .border-bottom{
    border-bottom:1px solid black !important;
   }
   .table-margins{
    // margin-top:20px;
    margin-top:-5px;
    margin-left:-3px;
   }