.ms-block {
    padding: 5px;
    box-shadow: 1px 1px 5px #bbb;
    background: #fff;
    width: 300px;
    text-align: center;
}
.atv_cv{
    margin-bottom: 22px;
    margin-left: 4px;
}
.fs12 {
    display: inline-flex !important;
  }