.ms-block {
    padding: 5px;
    box-shadow: 1px 1px 5px #bbb;
    background: #fff;
    width: 300px;
    text-align: center;
}
.atv_cv{
    margin-bottom: 22px;
    margin-left: 4px;
}
.fs12 {
    display: inline-flex !important;
  }
  .container-input-check{
    margin: 0px auto !important; display: block !important;
  }
  .view-active-inactive{
    text-align-last: end !important; padding-right: 2% !important;
  }
  .depreciable-width{
    width: 150px !important;
  }
  .non-depreciable-width{
    width: 120px !important;
  }
  .view-memo-div{
    display: inline-flex !important;width: 100% !important;
  }
  .view-card{
    margin-top: 6px !important;width: 50% !important;
  }
  .view-card-header{
    padding: 0 10px !important;
  }
  .view-p{
    margin-bottom: 0 !important; font-size: 12px !important;
  }
  .view-card-body{
    padding: 8px 12px 6px !important;
  }
  .view-asset-div{
    width: 90% !important;
  }
  .view-asset-class-card{
    margin-top: 20px !important;margin-bottom:4px !important;
  }
  .view-asset-class-header{
    padding: 10px 12px !important;
  }
  .depreciation-div{
    padding-left: 2% !important;
  }
  .depreciation-card-body{
    padding: 12px 12px 4px !important;
  }
  .calibration-body{
    width: 101% !important;background-color: #fff !important;
  }
  .asset-radios-width{
    width: 400px !important; float: right !important; padding-top: 3px !important;
  }