<div class="header">
  <div class="row">
      <div class="col">
          <h4 class="header-name"> {{ isEdit ? 'Edit' : 'Create' }} Sub Work Order</h4>
      </div>
      <div>
        <button type="button" class="btn-sm header-button " (click)="navigateToWo()">
          Redirect to Work Order
        </button>
      </div>
  </div>
</div>
<div class="card">
  <div class="card-body" *ngIf="subWorkOrderHeader">
    <div class="row labels-ctsm-align">
      <div class="col-md-3">
        <label class="fs12">WorkOrderNumber : </label>
        <span>{{ subWorkOrderHeader.workOrderNum }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">MCPN: </label>
        <span>{{ subWorkOrderHeader.mcpn }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">Revised MCPN : </label>
        <span>{{ subWorkOrderHeader.revisedMCPN }}</span>
      </div>

      <div class="col-md-3">
        <label class="fs12">MCPN Description :</label>
        <span>{{ subWorkOrderHeader.mcpnDescription }}</span>
      </div>
    </div>

    <div class="row labels-ctsm-align">
      <div class="col-md-3">
        <label class="fs12" style="text-align: left">MC SerialNum : </label>
        <span>{{ subWorkOrderHeader.mcSerialNum }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">Cust Name :</label>
        <span>{{ subWorkOrderHeader.custName }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">workScope : </label>
        <span>{{ subWorkOrderHeader.workScope }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">stockline : </label>
        <span>{{ subWorkOrderHeader.stockline }}</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="workOrderDetails">
  <div class="card">
    <div class="card-body" *ngIf="subWorkOrderGeneralInformation">
      <form #subWoHeader="ngForm">
        <div class="form-row">
          <div class="col-md-3">
            <div class="form-group ">
              <label> SubWO Num </label> <span class="clr-red">*</span>
              <input class="form-control" data-toggle="tooltip" type="text" name="workOrderNumber"
                #workOrderNumber="ngModel" disabled required
                [(ngModel)]="subWorkOrderGeneralInformation.subWorkOrderNo" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="opendate">Sub WO Open Date </label>
              <span class="clr-red">*</span>
              <p-calendar [showIcon]="true" class="calender-cstm" name="openDate" #openDate="ngModel" required
                [(ngModel)]="subWorkOrderGeneralInformation.openDate"></p-calendar>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-primary pull-right" *ngIf="!isEdit" type="button" [disabled]="!subWoHeader.valid"
            (click)="saveSubWorkOrder()">
            Save
          </button>
          <button class="btn btn-primary pull-right" *ngIf="isEdit" type="button" [disabled]="!subWoHeader.valid"
            (click)="saveSubWorkOrder()">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="subWorkOrderId !=0">
    <form #workOrderForm="ngForm">
      <div class="table-responsive add-wo-grid">
        <table class="table table-bordered table-striped table-fixed table-sorting mpn-list-table sub_wo_list"
          id="mpn-list-table ">
          <thead>
            <tr>
              <th rowspan="2" style="min-width: 80px;">MPN *</th>
              <th rowspan="2">MPN Description *</th>
              <th rowspan="2">Revised MPN</th>
              <th rowspan="2">Item Group</th>
              <th rowspan="2">Qty</th>
              <th rowspan="2">Work Scope *</th>
              <th rowspan="2">NTE</th>
              <th rowspan="2">Condition *</th>
              <th rowspan="2">Stock Line Num </th>
              <th rowspan="2">Serial Num </th>
              <th rowspan="2">Controller No</th>
              <th rowspan="2">Controller Id</th>
              <th rowspan="2">CMM/Pub Ref</th>
              <th rowspan="2">Workflow ID </th>
              <th rowspan="2">Stage *</th>
              <th rowspan="2">Status *</th>
              <th rowspan="2">Priority *</th>
              <th rowspan="2">Customer Request Date *</th>
              <th rowspan="2">Promised Date *</th>
              <th rowspan="2">Est. Comp Date *</th>
              <th rowspan="2">Est. Ship Date *</th>
              <th colspan="2">Restrictions</th>
              <th rowspan="2">Tech Name</th>
              <th rowspan="2">Tech Station</th>
              <th rowspan="2" style="display:none">Tear Down Report</th>
            </tr>
          </thead> 
          <tbody>
            <tr class="mpn-row" style="display: table-row;"
              *ngFor="let workOrderPartNumber of subWorkOrderPartNumbers; let i=index;">
              <td style="min-width: 80px;">
                {{workOrderPartNumber.partNumber}}
              </td>
              <td>
                <input type="text" class="form-control  w150" name="description{{i}}" #description="ngModel"
                  [(ngModel)]="workOrderPartNumber.partDescription" required disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="revisedPartNo{{i}}" #description="ngModel"
                  [(ngModel)]="workOrderPartNumber.revisePartNo" disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="itemGroup{{i}}" #description="ngModel"
                  [(ngModel)]="workOrderPartNumber.itemGroup" disabled>
              </td>
              <td>
                <input type="number" class="form-control w100 text_right" name="quantity{{i}}"
                  [(ngModel)]="workOrderPartNumber.quantity" disabled>
              </td>
              <td>
                <p-dropdown placeholder="Select" name="scope{{i}}" #scope="ngModel" [options]="workScopesList"
                  class="p-dropdown-custom-md p-dropdown-mh120" [(ngModel)]="workOrderPartNumber.subWorkOrderScopeId"
                  (onChange)="getWorkFlowByPNandScope(workOrderPartNumber,i)" required appendTo="body">
                </p-dropdown>
                <!-- dybamicworkFlowList[i] -->
              </td>
              <td>
                <input type="text" class="form-control w50" [(ngModel)]="workOrderPartNumber.nte" name="nte{{i}}"
                  #nte="ngModel" disabled>
              </td>
              <td>
                <p-dropdown placeholder="Select" [options]="conditionList" name="condition{{i}}" #condition="ngModel"
                  (onChange)="selectedCondition($event.value,workOrderPartNumber,i)" class="p-dropdown-custom-md"
                  [(ngModel)]="workOrderPartNumber.conditionId" required [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
              <td>
                <input type="text" class="form-control w100" name="stockLineNumber{{i}}" #serialNumber="ngModel"
                  [(ngModel)]="workOrderPartNumber.stockLineNumber" disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="serialNumber{{i}}" #serialNumber="ngModel"
                  [(ngModel)]="workOrderPartNumber.serialNumber" disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="controlNumber{{i}}" #controlNumber="ngModel"
                  [(ngModel)]="workOrderPartNumber.controlNumber" disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="controlerId{{i}}" #controlerId="ngModel"
                  [(ngModel)]="workOrderPartNumber.controlerId" disabled>
              </td>
              <td>
                <p-dropdown class="min_selct_height" name="cmm{{i}}" #cmm="ngModel" [options]="cmmList"
                  class="p-dropdown-custom-md p-dropdown-mh120" [(ngModel)]="workOrderPartNumber.cmmId"
                  [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
              <td>
                <span class="inline-block">
                  <p-dropdown [options]="dybamicworkFlowList[i]" name="workFlow{{i}}" #workFlow="ngModel"
                    class="p-dropdown-custom-md p-dropdown-mh120" [(ngModel)]="workOrderPartNumber.workflowId"
                    [disabled]="isView" appendTo="body">
                  </p-dropdown>
                </span>
              </td>
              <td>
                <p-dropdown [options]="workOrderStagesList" name="stage{{i}}" #stage="ngModel" placeholder="Select"
                  class="p-dropdown-custom-md p-dropdown-mh120"
                  (onChange)="selectedStage($event.value,workOrderPartNumber,i)"
                  [(ngModel)]="workOrderPartNumber.subWorkOrderStageId" required [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
              <td> 
                <p-dropdown [options]="workOrderStatusList" placeholder="Select" name="status{{i}}" #status="ngModel"
                  class="p-dropdown-custom-md custome_pd-totext p-dropdown-mh120"
                  [(ngModel)]="workOrderPartNumber.subWorkOrderStatusId" disabled required appendTo="body">
                </p-dropdown>
              </td>
              <td>
                <p-dropdown [options]="priorityList" placeholder="Select" name="priority{{i}}" #priority="ngModel"
                  class="p-dropdown-custom-md p-dropdown-mh120" [(ngModel)]="workOrderPartNumber.subWorkOrderPriorityId"
                  required [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
              <td>
                <p-calendar [showIcon]="true" name="customerRequestDate{{i}}" class="calender-cstm"
                  #customerRequestDate="ngModel" [(ngModel)]="workOrderPartNumber.customerRequestDate" required
                  [disabled]="isView" appendTo="body"></p-calendar>
              <td>
                <p-calendar [showIcon]="true" name="promisedDate{{i}}" class="calender-cstm" #promisedDate="ngModel"
                  [(ngModel)]="workOrderPartNumber.promisedDate" required [disabled]="isView" appendTo="body">
                </p-calendar>
              <td>
                <p-calendar [showIcon]="true" name="estimatedCompletionDate{{i}}" class="calender-cstm"
                  #estimatedCompletionDate="ngModel" [(ngModel)]="workOrderPartNumber.estimatedCompletionDate" required
                  [disabled]="isView" appendTo="body">
                </p-calendar>
              </td>
              <td>
                <p-calendar [showIcon]="true" class="calender-cstm" name="estimatedShipDate{{i}}"
                  [(ngModel)]="workOrderPartNumber.estimatedShipDate" [minDate]="workOrderPartNumber.receivedDate"
                  #estimatedShipDate="ngModel" required [disabled]="isView" appendTo="body"></p-calendar>
              </td>
              <td>
                <input type="checkbox" class="form-control w60" name="isPMA{{i}}" #isPMA="ngModel"
                  [(ngModel)]="workOrderPartNumber.isPMA" [disabled]="isView">
              </td>
              <td>
                <input type="checkbox" class="form-control w60" name="isDER{{i}}" #isDER="ngModel"
                  [(ngModel)]="workOrderPartNumber.isDER" [disabled]="isView">

              </td>
              <td>
                <p-autoComplete field="name" required [(ngModel)]="workOrderPartNumber.partTechnicianId" name="technician{{i}}"
                  #technician="ngModel" errorMessage="Records not found" [forceSelection]="true" [dropdown]="true"
                  [suggestions]="technicianList" (onSelect)="onSelectedTechnician($event, workOrderPartNumber);"
                  (completeMethod)="filterTechnician($event)" [size]="30" [minLength]="1"
                  class="p-autoComplete-ctsm custome_automo p-autocomplete-mh120" [disabled]="isView" appendTo="body">

                </p-autoComplete>
              </td>
              <td>
                <p-dropdown placeholder="Select" name="techStation{{i}}" #techStatsion="ngModel"
                  [options]="techStationList" class="p-dropdown-custom-md p-dropdown-mh120"
                  [(ngModel)]="workOrderPartNumber.techStationId" [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
              <td style="display:none">
                <p-dropdown placeholder="Select" name="tearDown{{i}}" #tearDown="ngModel" [options]="tearDownReportList"
                  class="p-dropdown-custom-md" [(ngModel)]="workOrderPartNumber.tearDownReport" [disabled]="isView">
                </p-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button class="btn btn-primary pull-right" *ngIf="!activeGridUpdateButton" type="button"
          [disabled]="!workOrderForm.valid" (click)="saveSubWorkOrderParts()">
          Save
        </button>
        <button class="btn btn-primary pull-right" *ngIf="activeGridUpdateButton" type="button"
          [disabled]="!workOrderForm.valid" (click)="saveSubWorkOrderParts()">
          Update
        </button>
      </div>
    </form>
  </div>
  <div
    *ngIf="subWorkOrderGeneralInformation && subWorkOrderId!=0 && workOrderId  && isSavedPartNumbers && workOrderDetails && mpnGridUpdated && conditionList">
    <app-work-order-smart [isSubWorkOrder]="issubWorkOrderState" [subWoMpnGridUpdated]="mpnGridUpdated"
      [paramsData]="workOrderDetails" [showTabsGrid]="showTabsGrid" [showGridMenu]="showGridMenu"
      [subWorkOrderId]="subWorkOrderId" [workFlowWorkOrderId]="workFlowWorkOrderId"
      [conditionListfromSubWo]="conditionList"></app-work-order-smart>
  </div>
</div>