<div class="header" *ngIf="!isView">
  <div class="row">
      <div class="col">
          <h4 class="header-name"> {{ isEdit ? 'Edit' : 'Create' }} Sub Work Order</h4>
      </div>
      <div>
        <button type="button" class="btn-sm header-button pull-right" (click)="navigateToWo()">
          Redirect to Work Order
        </button>
      </div>
  </div>
</div>
<div class="clear"></div>  
<div class="card card-border">
  <div class="card-body" *ngIf="subWorkOrderHeader" style="padding-top:5px;padding-bottom:5px">
    <div class="row labels-ctsm-align">
      <div class="col-md-3">
        <label class="fs12">WorkOrderNumber : </label>
        <span>{{ subWorkOrderHeader.workOrderNum }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">MCPN: </label>
        <span>{{ subWorkOrderHeader.mcpn }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">Revised MCPN : </label>
        <span>{{ subWorkOrderHeader.revisedMCPN }}</span>
      </div>

      <div class="col-md-3">
        <label class="fs12">MCPN Description :</label>
        <span>{{ subWorkOrderHeader.mcpnDescription }}</span>
      </div>
  
    </div>

    <div class="row labels-ctsm-align">
      <div class="col-md-3">
        <label class="fs12" style="text-align: left">MC SerialNum : </label>
        <span>{{ subWorkOrderHeader.mcSerialNum }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">Cust Name :</label>
        <span>{{ subWorkOrderHeader.custName }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">workScope : </label>
        <span>{{ subWorkOrderHeader.workScope }}</span>
      </div>
      <div class="col-md-3">
        <label class="fs12">stockline : </label>
        <span>{{ subWorkOrderHeader.stockline }}</span>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<div *ngIf="workOrderDetails">
  <div class="card" style="margin-top:5px;margin-bottom: 5px;">
    <div class="card-body sub-buttons-margin" style="padding-bottom:5px" *ngIf="subWorkOrderGeneralInformation">
      <form #subWoHeader="ngForm">
        <div class="form-row">
          <div class="col-md-3">
            <div class="form-group ">
              <label> Sub WO Num </label> <span class="clr-red">*</span>
              <input class="form-control" data-toggle="tooltip" type="text" name="workOrderNumber"
                #workOrderNumber="ngModel" disabled required
                [(ngModel)]="subWorkOrderGeneralInformation.subWorkOrderNo" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="opendate">Sub WO Open Date </label>
              <span class="clr-red">*</span>
              <p-calendar [showIcon]="true" class="calender-cstm sub-wo-calendar" (ngModelChange)="getActive()" name="openDate" #openDate="ngModel" required [disabled]="isView"
                [(ngModel)]="subWorkOrderGeneralInformation.openDate"  [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100"></p-calendar>
            </div>
          </div>
        </div>
        <div *ngIf="!isView" class="sub-wo-buttons">
          <button class="btn btn-primary pull-right" *ngIf="!isEdit" type="button" [disabled]="!subWoHeader.valid"
            (click)="saveSubWorkOrder()">
            Save
          </button>
          <button class="btn btn-primary pull-right" *ngIf="isEdit" type="button" [disabled]="!subWoHeader.valid || disableUpdateButton"
            (click)="saveSubWorkOrder()">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
  <div style="padding:5px" *ngIf="subWorkOrderId !=0">
    <form #workOrderForm="ngForm">
      <div class="table-responsive add-wo-grid">
        <table class="table table-bordered table-striped table-fixed table-sorting mpn-list-table sub_wo_list"
          id="mpn-list-table ">
          <thead> 
            <tr>
              <th rowspan="2" style="min-width: 80px;">MPN <span class="clr-red">*</span></th> 
              <th rowspan="2">MPN Description <span class="clr-red">*</span></th>
              <th rowspan="2">Revised MPN</th>
              <th rowspan="2">Ser Num </th>
              <th rowspan="2" style="min-width: 46px;">Qty</th>
              <th rowspan="2">Cust Rec'd Date <span class="clr-red">*</span></th>
              <th rowspan="2">Promised Date <span class="clr-red">*</span></th>
              <th rowspan="2">Est. Comp Date <span class="clr-red">*</span></th>
              <th rowspan="2">Est. Ship Date <span class="clr-red">*</span></th>
              <th rowspan="2">Stage <span class="clr-red">*</span></th>
              <th rowspan="2">Status <span class="clr-red">*</span></th>
              <th rowspan="2">Tech Name</th>
              <th rowspan="2">Station Id</th>
              <th rowspan="2">Work Scope <span class="clr-red">*</span></th>
              <th rowspan="2">Priority <span class="clr-red">*</span></th>
              <th rowspan="2">Condition <span class="clr-red">*</span></th>
              <th rowspan="2">CMM/Pub Ref</th>
              <th rowspan="2">Workflow ID </th>
              <th rowspan="2">Item Group</th>
              <th rowspan="2">Stk Line </th>
              <th rowspan="2">NTE</th>
              <th rowspan="2">Controller No</th>
              <th rowspan="2">Controller Id</th>
              <th rowspan="2"> PMA</th>
              <th rowspan="2">  DER</th>
              <!-- <th colspan="2">Restrictions</th> -->
         
              <!-- <th rowspan="2" style="display:none">Tear Down Report</th> -->
            </tr>
          </thead> 
          <tbody>
            <tr class="mpn-row" style="display: table-row;"
              *ngFor="let workOrderPartNumber of subWorkOrderPartNumbers; let i=index;">
              <td style="min-width: 80px;">
                {{workOrderPartNumber.partNumber}}
              </td>
              <td>
                <input type="text" class="form-control  w150" name="description{{i}}" #description="ngModel"
                  [(ngModel)]="workOrderPartNumber.partDescription" required disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="revisedPartNo{{i}}" #description="ngModel"
                  [(ngModel)]="workOrderPartNumber.revisePartNo" disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="serialNumber{{i}}" #serialNumber="ngModel"
                  [(ngModel)]="workOrderPartNumber.serialNumber" disabled>
              </td>

              <td>
                <!-- workOrderPartNumber.quantity -->
                <input type="number" class="form-control   text_right" name="quantity{{i}}"
                  [(ngModel)]="quantityValue" disabled>
              </td>
              <!-- <td>
                <p-calendar [showIcon]="true" name="receivedDate{{i}}" class="calender-cstm"
                  #receivedDate="ngModel" [(ngModel)]="workOrderPartNumber.receivedDate" required
                  [disabled]="isView" appendTo="body"></p-calendar>
              <td> -->
              <td>
                <p-calendar [showIcon]="true" name="customerRequestDate{{i}}" class="calender-cstm" (ngModelChange)="getActiveMPN()"
                  #customerRequestDate="ngModel" [(ngModel)]="workOrderPartNumber.customerRequestDate" required
                  [disabled]="isView" [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100" appendTo="body"></p-calendar>
              <td>
                <p-calendar [showIcon]="true" name="promisedDate{{i}}" class="calender-cstm" #promisedDate="ngModel" (ngModelChange)="getActiveMPN()"
                  [(ngModel)]="workOrderPartNumber.promisedDate" required [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100" [disabled]="isView" appendTo="body">
                </p-calendar>
              <td>
                <p-calendar [showIcon]="true" name="estimatedCompletionDate{{i}}" class="calender-cstm" (ngModelChange)="getActiveMPN()"
                  #estimatedCompletionDate="ngModel"  (onSelect)="doSomething(workOrderPartNumber.estimatedCompletionDate,workOrderPartNumber,i)" [(ngModel)]="workOrderPartNumber.estimatedCompletionDate" required
                  [disabled]="isView" appendTo="body" [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100">
                </p-calendar>
              </td> 
              <td>
                <p-calendar [showIcon]="true" class="calender-cstm" name="estimatedShipDate{{i}}" (ngModelChange)="getActiveMPN()"
                  [(ngModel)]="workOrderPartNumber.estimatedShipDate" [minDate]="workOrderPartNumber.customerRequestDate"
                  #estimatedShipDate="ngModel" required [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100" [disabled]="isView" appendTo="body"></p-calendar>
              </td>
              <td>
                <p-dropdown [options]="workOrderStagesList" name="stage{{i}}" #stage="ngModel" placeholder="Select" (ngModelChange)="getActiveMPN()"
                  class="p-dropdown-custom-md p-dropdown-mh120"
                  (onChange)="selectedStage($event.value,workOrderPartNumber,i)"
                  [(ngModel)]="workOrderPartNumber.subWorkOrderStageId" required [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
              <td> 
                <p-dropdown [options]="workOrderStatusList" placeholder="Select" name="status{{i}}" #status="ngModel" (ngModelChange)="getActiveMPN()"
                  class="p-dropdown-custom-md custome_pd-totext p-dropdown-mh120"
                  [(ngModel)]="workOrderPartNumber.subWorkOrderStatusId" disabled required appendTo="body">
                </p-dropdown>
              </td>
              <td> 
                <p-autoComplete field="name" required [(ngModel)]="workOrderPartNumber.partTechnicianId" name="technician{{i}}" (ngModelChange)="getActiveMPN()"
                  #technician="ngModel" errorMessage="Records not found" [forceSelection]="true" [dropdown]="true"
                  [suggestions]="technicianList" (onSelect)="onSelectedTechnician($event, workOrderPartNumber,i);"
                  (completeMethod)="filterTechnician($event)" [size]="30" [minLength]="1"
                  class="p-autoComplete-ctsm custome_automo p-autocomplete-mh120" [disabled]="isView" appendTo="body">

                </p-autoComplete>
              </td>
              <td>
                <p-dropdown placeholder="Select" name="techStation{{i}}" #techStatsion="ngModel" (ngModelChange)="getActiveMPN()"
                  [options]="techStationList" class="p-dropdown-custom-md p-dropdown-mh120"
                  [(ngModel)]="workOrderPartNumber.techStationId" [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
           
              <!-- <td style="display:none">
                <p-dropdown placeholder="Select" name="tearDown{{i}}" #tearDown="ngModel" [options]="tearDownReportList"
                  class="p-dropdown-custom-md" [(ngModel)]="workOrderPartNumber.tearDownReport" [disabled]="isView">
                </p-dropdown>
              </td> -->
              <td>
                <!-- [options]="getDynamicVariableData('workScopesList',i)" -->
                <p-dropdown placeholder="Select" name="scope{{i}}" #scope="ngModel" [options]="workScopesList"   (ngModelChange)="getActiveMPN()"
                  class="p-dropdown-custom-md p-dropdown-mh120" [(ngModel)]="workOrderPartNumber.subWorkOrderScopeId"
                  (onChange)="getWorkFlowByPNandScope(workOrderPartNumber,i,'html')" required appendTo="body">
                </p-dropdown>
              </td>
              <td>
                <p-dropdown [options]="priorityList" placeholder="Select" name="priority{{i}}" #priority="ngModel" (ngModelChange)="getActiveMPN()"
                  class="p-dropdown-custom-md p-dropdown-mh120" [(ngModel)]="workOrderPartNumber.subWorkOrderPriorityId"
                  required [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
              <td>
                <p-dropdown placeholder="Select" [options]="conditionList" name="condition{{i}}" #condition="ngModel" (ngModelChange)="getActiveMPN()"
                  (onChange)="selectedCondition($event.value,workOrderPartNumber,i)" class="p-dropdown-custom-md"
                  [(ngModel)]="workOrderPartNumber.conditionId" required [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
              <td>
                <p-dropdown class="min_selct_height" name="cmm{{i}}" #cmm="ngModel" [options]="cmmList" (ngModelChange)="getActiveMPN()"
                  class="p-dropdown-custom-md p-dropdown-mh120" [(ngModel)]="workOrderPartNumber.cMMId"
                  [disabled]="isView" appendTo="body">
                </p-dropdown>
              </td>
              <td class="lign_flex">
                <span class="inline-block">
                  <p-dropdown [options]="dybamicworkFlowList[i]" name="workFlow{{i}}" #workFlow="ngModel" (ngModelChange)="getActiveMPN()"
                    class="p-dropdown-custom-md p-dropdown-mh120" [(ngModel)]="workOrderPartNumber.workflowId"
                    [disabled]="isView" appendTo="body">
                  </p-dropdown>
                </span>
                <span data-toggle="modal" data-target="#workflowView" [ngClass]="{pointerEvents : workOrderPartNumber.workflowId==0 || workOrderPartNumber.workflowId==null}">
                  <a class="btn nobg btn-view-cstm"   (click)="viewWorkflow(workOrderPartNumber)" matTooltip="View Workflow"
                      matTooltipPosition="above">
                      <i class="fa fa-eye"></i>
                  </a>
              </span> 
              </td> 
              <td>
                <input type="text" class="form-control w100" name="itemGroup{{i}}" #description="ngModel" 
                  [(ngModel)]="workOrderPartNumber.itemGroup" disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="stockLineNumber{{i}}" #serialNumber="ngModel"
                  [(ngModel)]="workOrderPartNumber.stockLineNumber" disabled>
              </td>
              <td>
                <input type="text" class="form-control w50" [(ngModel)]="workOrderPartNumber.nte" name="nte{{i}}"
                  #nte="ngModel" disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="controlNumber{{i}}" #controlNumber="ngModel"
                  [(ngModel)]="workOrderPartNumber.controlNumber" disabled>
              </td>
              <td>
                <input type="text" class="form-control w100" name="controlerId{{i}}" #controlerId="ngModel"
                  [(ngModel)]="workOrderPartNumber.controlerId" disabled>
              </td>
           
             
              
             
              <td>
                <input type="checkbox" class="form-control w60" name="isPMA{{i}}" #isPMA="ngModel"
                  [(ngModel)]="workOrderPartNumber.isPMA" [disabled]="true">
              </td>
              <td>
                <input type="checkbox" class="form-control w60" name="isDER{{i}}" #isDER="ngModel"
                  [(ngModel)]="workOrderPartNumber.isDER" [disabled]="true">

              </td>
             
             
            </tr>
          </tbody>
        </table>
      </div>
      
      <div *ngIf="!isView">
        <button class="btn btn-primary pull-right" *ngIf="!activeGridUpdateButton" type="button"
          [disabled]="!workOrderForm.valid" (click)="saveSubWorkOrderParts()">
          Save
        </button>
        <button class="btn btn-primary pull-right" *ngIf="activeGridUpdateButton" type="button"
          [disabled]="!workOrderForm.valid || disableUpdateMpn" (click)="saveSubWorkOrderParts()">
          Update
        </button>
      </div>
    </form>
  </div>
  <div 
    *ngIf="isGridShow && subWorkOrderGeneralInformation && subWorkOrderId!=0 && workOrderId  && isSavedPartNumbers && workOrderDetails && mpnGridUpdated && conditionList">
    <app-work-order-smart [isSubWorkOrder]="issubWorkOrderState"   [subWoMpnGridUpdated]="mpnGridUpdated"
      [paramsData]="workOrderDetails" [showTabsGrid]="showTabsGrid" [showGridMenu]="showGridMenu" [isView]="isView"
      [subWorkOrderId]="subWorkOrderId" [workFlowWorkOrderId]="workFlowWorkOrderId"
      [conditionListfromSubWo]="conditionList"></app-work-order-smart>
  </div>
</div>  
<!-- </div> -->
<div id="warningForCmmWorkflow" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-xsm">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title warning_color"  >Warning</h4>
            </div>
          <div class="pad_msf">
              <p  class="mar_o warning_color"> workflow is expired </p>
              <!-- <input type="checkbox" name="contract" #contract="ngModel"  (ngModelChange)="getValid()" 
              class="form-control w60 width-100"> -->

           </div>
          <div class="modal-footer footer-padding"> 
              <!-- <button type="button" class="btn btn-primary" data-dismiss="modal"
              (click)="WarnRescticModel()">Yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal"
                (click)="movetoworkorderlist()">No</button> -->
              <button class="btn btn-primary footer-button-padding" data-dismiss="modal" (click)="removeWorkflow()"
                >Ok </button>
          </div>
      </div>
  </div>
</div>
<div id="warningForCmmPublication" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-xsm">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title warning_color">Warning</h4>
            </div>
          <div class="pad_msf">
              <p  class="mar_o warning_color"> Publication is expired </p>
           </div>
          <div class="modal-footer footer-padding">  
              <button class="btn btn-primary footer-button-padding" data-dismiss="modal" (click)="removePublication()"
                >Ok </button>
          </div>
      </div>
  </div>
</div>
<div id="workflowView" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-xlg">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="closeModel()">&times;</button>
              <h4 class="modal-title">Workflow OverView</h4>
         
          </div>
              <div class="modal-body" *ngIf="currentWorkflowId">
                  <app-workflow-list [isWorkOrder]="isWorkOrder" [workFlowType]="subTabWorkFlow"
                  [workFlowId]="currentWorkflowId"></app-workflow-list>
                </div> 
                <div class="modal-footer">
                 <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModel()"
               >Close</button>
              </div>
      </div>
  </div>
</div>
<div class="preloader" *ngIf="isSpinnerVisible">
  <div class="loading">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>
<ng-template #modalWorkScope let-c="close" let-d="dismiss" data-backdrop="static">
  <div class="modal-header">
      <h4 class="modal-title">Warning</h4>
      <button type="button" class="close" aria-label="Close"
          (click)="dismissWorkSocpe()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <p>There is no  <span class="new-label" *ngIf="workOrderScopeName"> {{workOrderScopeName}}</span> capability for MPN
          <span class="new-label" *ngIf="PartNumber"> {{PartNumber}} </span>

          </p>
      <strong>
        Do you still want to  {{activeGridUpdateButton ? 'update' : 'create'}}  Sub Work Order ?
      </strong>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary"
      (click)="allowtoSaveWorkScope()">Yes</button>
      <button type="button" class="btn btn-danger"
          (click)="dismissWorkSocpe()">No</button>
  </div> 
  </ng-template>
