.x_panel {
    padding: 0 10px;
}
.mr-10{
    margin-right: 10px;
}
label {
    text-align: left;
    width: auto; /*140px*/
    margin-right: 0;
    font-weight: normal;
}
.label-cstm {
    width: auto;
    float: left;
    text-align: left;
    margin-right: 0;
    font-weight: normal;
}
.B-bold{
    font-size: 12px;
}
.form-control:disabled {
    background-color: #e9ecef !important;
}
.radio-cstm {
    float: left;
    margin-right: 10px !important;
    padding-left: 21px !important;
}
input[type="text"], input[type="number"], input[type="email"], select {
    height: 24px !important;
    border-radius: 5px !important;
}
textarea {
    border-radius: 5px !important;
}
.checkbox-cstm {
    margin-left: 10px;
}
a.fa.fa-plus-circle {
    color: green !important;
}
.tagNameDiv input {
    width: calc(100% - 20px);
    text-overflow: ellipsis;
}
.tagNameDiv i {
    margin-left: 3px!important;
    cursor: pointer!important;
}
.but_stl{
    height: 23px;
    top: 16px;
    position: relative;
    left: -10px
}
@media (min-width: 768px) {
    .col-md-3 {
        max-width: 22%;
        margin-right: 15px;
    }
    .col-md-6-cstm {
        max-width: 44%;
        margin-right: 15px;
    }
}
.generalinfo-div{
    margin-left: 13px !important;margin-top: 10px !important;
}
.address-label{
    margin-bottom: 11px !important;
}
.phone-position-label{
    margin-bottom: 9px !important;margin-top: 4px !important;
}
.currency-label{
    margin-top: 4px !important;
}
.currency-div{
    margin-top: 23px !important;
}
.tax-label{
    margin-top: 3px !important;
}
.logo-label{
    float: none !important;
}
.attachment-title{
    padding-left: 9px !important;
}
.check-margin{
    margin-left: 0 !important;
}
.last-level-check{
    margin-left: 6px !important;
}
.last-level-padding{
    padding: 0px !important;
}
.tagname-align{
    display: inline-flex !important; padding-left: 5px !important;
}
.add-button-margin{
    margin-left: 10px !important;
}