<div class="col-xs-12">
    <h4 class="page-heading">Batch List</h4>

    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
        <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div><div class="dataTables_scroll">
            <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 1138px; padding-right: 0px;">
                    <table class="table table-bordered table-striped table-sorting dataTable no-footer" role="grid" style="margin-left: 0px; width: 1138px;">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 202px;" aria-label="Old GL Account Code: activate to sort column ascending">Batch Number</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 202px;" aria-label="Old GL Account Code: activate to sort column ascending">Source</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Batch Name</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Description</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 271px;" aria-label="Financial Statement Mapping: activate to sort column ascending">Ledger</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Journel Type</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Period Name</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Curr</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Debit</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Credit</th>

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Curr</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Debit</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Credit</th>

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Reversing</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Recurring</th>

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Updated By</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Updated Date</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 128px;" aria-label="Account Type: activate to sort column ascending">Created Date</th>
                                <th class="events5 sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 246px;" aria-label=": activate to sort column ascending"></th>
                            </tr>
                        </thead>
                        <tbody>
    
                            <tr *ngFor="let batch of batchList">
                                <td>{{batch.journalBatchNumber}}</td>
                                <td>
                                    <select class="form-control w150" [disabled]="true" [(ngModel)]="batch.journalSourceId" [ngModelOptions]="{standalone: true}">
                                        <option value="0">-- Select --</option>
                                        <option value="1" selected="">Manual</option>
                                        <option value="2">AR Sub Ledger</option>
                                    </select>
                                </td>
                                <td>{{batch.journalBatchName}}</td>
                                <td>{{batch.journalBatchDescription}}</td>
                                <td>
                                    <select class="form-control w150" [disabled]="true" [(ngModel)]="batch.glAccountId" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let entity of companyList" [ngValue]="entity.legalEntityId">{{entity.name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control w150" [disabled]="true" [(ngModel)]="batch.journalTypeId">
                                        <option>-- Select --</option>
                                        <option value="1">Standard</option>
                                        <option value="2">Intercompany</option>
                                    </select>
                                </td>
                                <td>{{batch.journalPeriodName}}</td>
                                <td>
                                    <select class="" [ngModelOptions]="{standalone: true}" [disabled]="true" [(ngModel)]="batch.localCurrencyId">
                                        <option *ngFor="let currencyName of allCurrencyInfo" [ngValue]="currencyName.currencyId">{{currencyName.symbol}}</option>
                                    </select>
                                </td>
                                <td>{{batch.localDebitAmount}}</td>
                                <td>{{batch.localCreditAmount}}</td>
                                <td>
                                    <select class="" [ngModelOptions]="{standalone: true}" [disabled]="true" [(ngModel)]="batch.reportingCurrencyId">
                                        <option *ngFor="let currencyName of allCurrencyInfo" [ngValue]="currencyName.currencyId">{{currencyName.symbol}}</option>
                                    </select>
                                </td>
                                <td>{{batch.reportingDebitAmount}}</td>
                                <td>{{batch.reportingCreditAmount}}</td>
                                <td>{{batch.isReversing}}</td>
                                <td>{{batch.isRecurring}}</td>
                                <td>{{batch.updatedBy}}</td>
                                <td>{{batch.updatedDate}}</td>
                                <td>{{batch.createdBy}}</td>
                                <td>
                                    <p-inputSwitch *ngIf="batch['isActive']==true" matTooltip="Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(batch,$event)" [(ngModel)]="batch['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="batch['isActive']==false" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(batch,$event)" [(ngModel)]="batch['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="batch['isActive']==null" matTooltip="In Active" onLabel="on" offLabel="off" (onChange)="toggleIsActive(batch,$event)" [(ngModel)]="batch['isActive']"></p-inputSwitch>
                                    <span data-toggle="modal" data-target="#view"> <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="View" matTooltip="View" (click)="showViewData(contentView,batch)"><i class="fa fa-eye"></i></a> </span>
                                    <a data-toggle="tooltip" title="" class="btn btn-primary boxed-float-btn nobg" data-original-title="Edit"><i class="fa fa-edit" matTooltip="Edit" (click)="updateBatch(batch)"></i></a>
                                    <span data-toggle="modal" data-target="#history"><a href="#" class="btn btn-success nobg" data-toggle="tooltip" matTooltip="History" title="" data-original-title="History"><i class="fa fa-history"></i></a></span>
                                    <!--<span data-toggle="modal" data-target="#delete"> <a href="#" class="btn btn-danger boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a> </span>-->
                                    <span data-toggle="modal"> <a class="btn btn-danger boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="Delete" matTooltip="Delete" (click)="confirmDelete(content,batch.id)"><i class="fa fa-trash"></i></a> </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete Journel List</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="removeManualJournel()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>

</ng-template>
<ng-template #contentView let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" id="" name="" (click)="dismissModel()">×</button>
            <h4 class="modal-title">Journel List</h4>
        </div>
        <div class="modal-body viewform">
            <div class="panel-body">
                <div class="col-sm-6">
                    <p><span class="label"><b>Ledger Name: </b></span><span class="value">{{manualBatchData.glAccountId}}</span></p>
                    <p><span class="label"><b>Batch Number: </b></span><span class="value">{{manualBatchData.journalBatchNumber}}</span></p>
                    <p><span class="label"><b>Batch Name: </b></span><span class="value">{{manualBatchData.journalBatchName}}</span></p>
                    <p><span class="label"><b>Batch Type: </b></span><span class="value">{{manualBatchData.journalTypeId}}</span></p>
                    <p><span class="label"><b>Balance Description: </b></span><span class="value">{{manualBatchData.journalBatchDescription}}</span></p>
                    <p><span class="label"><b>Journal Type: </b></span><span class="value">{{manualBatchData.journalTypeId}}</span></p>
                    <p><span class="label"><b>Period Name: </b></span><span class="value">{{manualBatchData.journalPeriodName}}</span></p>

                </div>
                <div class="col-sm-6">
                    <p><span class="label"><b>Local Curr: </b></span><span class="value">{{manualBatchData.localCurrencyId}}</span></p>
                    <p><span class="label"><b>Reporting Curr: </b></span><span class="value">{{manualBatchData.reportingCurrencyId}}</span></p>
                    <p><span class="label"><b>Recurring: </b></span><span class="value">{{manualBatchData.isRecurring}}</span></p>
                    <p><span class="label"><b>Reversing: </b></span><span class="value">{{manualBatchData.isReversing}}</span></p>
                    <p><span class="label"><b>Created Date: </b></span><span class="value">{{manualBatchData.createdDate}}</span></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" id="" name="" (click)="dismissModel()">Close</button>
        </div>
    </div>
</ng-template>