<form [formGroup]="forgotPasswordForm" novalidate class="app-login-form">
    <label style="padding-right: 16px;width: auto;">Company Name:</label>
    <div class="form-group" style="margin-top:10px">
        <select class="form-control alert alert-danger alert-danger-cstm"
            style="background-color: #fff !important;padding: 5px !important;border-radius: 5px;"
            formControlName="masterCompanyId" required>
            <option *ngFor="let name of masterCompanyList" [ngValue]="name.masterCompanyId">
                {{name.companyName}}
            </option>
        </select>
    </div>
    <label style="padding-right: 16px; text-align: left;">Email Id:</label>
    <mat-form-field class="app-validate">
        <input matInput style="background-color: #fff !important;padding: 5px !important;border-radius: 5px;"
            formControlName="email" required>
        <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
</form>