label {
    text-align: left;
    width: auto;
    margin-right: 0;
    font-weight: 400;
  }
  
  .span-header-red {
    color: red;
    font-weight: bold;
  }
  
  .bg4 {
    background: #dc3545 !important;
}
  input[type='text'],
  input[type='number'],
  input[type='email'],
  select,
  textarea {
    height: 24px !important;
    border-radius: 5px !important;
  }
  
  .po-head {
    font-weight: 700;
    font-size: 16px !important;
    color: #295d92 !important;
  }
  
  .fa-plus-circle.fa-lg {
      color: green !important;
  }
  .view-header {
    padding-top: 2px!important;
    margin: 0;
}
.snumber-block2 {
  margin: 10px 0px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.table-custom tr td{
  text-align: center;
}
.snumber-block2 label input {
    margin-top: 6px;
    margin-right: 10px;
}
.purchaseTable thead tr th {
  font-size: 12px;
  padding: 4px;
  text-align: center;
}
.bg1 {
  background: #ff8080 !important;
}
.bg2 {
  background: #83b028 !important;
}
.bg3 {
  background: #1a7171 !important;
}
#itemMasterView .po-head {
  margin-left: 0 !important;
}
  
  @media (min-width: 768px) {
      .col-md-3 {
          max-width: 22%;
          margin-right: 15px;
      }
  }

  .pandsalesTable  table.table-bordered thead tr th, .pandsHistoryTable table.table-bordered thead tr th{
    padding: 5px !important;
    text-align: center !important;
  }
  .pandsalesTable table.table-bordered thead tr th:last-child{
    position: sticky;
    background: #4298ff;
    right: 0;
    width: 80px;
  
  }
  table.table-bordered tbody tr td {
    padding: 0px 4px;
  }
  .pandsalesTable table.table-bordered tbody tr td:last-child{
    position: sticky;
    background: #eaeaea;
    right: 0;
    width: 80px;
  
  }
  .margin-l-11{
    margin-left:11px !important;
  }
  .margin-l-8{
    margin-left: 8px !important;
  }
  .margin-l-5{
    margin-left: 5px !important;
  }
  .aircraft-table-div{
    overflow: hidden !important;padding-bottom: 60px !important;
  }
  .view-check-height{
    height: 25px !important;

  }
  .font-bold{
    font-weight: bold !important;
  }
  .height-0{
    height: 0px !important;
  }
  .ps-view-check-height{
    height: 35px !important;
  }
  .span-width{
    width: 25% !important;
  }
  .ps-padding{
    padding: 8px !important;
  }

  .view-check-label-width{
    width: 120px !important;
  }
  .view-check-align{
    margin-left: 0 !important; text-align: right !important;
  }
  .shelf-input{
    margin: 4px 10px 0 20px !important;
  }
  .export-info-w p .label, .export-info-w p .value {
    width: 50%;
  }
  .view-active-button{
    text-align-last: end; padding-right: 2%;
  }