button {
  border-radius: 5px;
}

label {
  width: 100%;
}

div.row {
  padding: 10px;
}

.p-radiobutton-cstm .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
  left: 60% !important;
  top: 60% !important;
  width: 7px !important;
  height: 7px !important;
}