<div [@fadeInOut] class="page-content">
    <div class="right_col" role="main">
        <div class="x_panel" style="">
            <div class="x_content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Equipment checkin checkout</li>
                    </ol>
                </nav>
                <div class="pheading">
                    <h4 class="page-heading clr-green">Equipment checkin checkout</h4>
                </div>
                <div class="cdetails-top">
                    <div class="col-sm-12">
                        <label>Company</label>
                        <span>Silverxis</span>
                    </div>
                    <div class="col-sm-12">
                        <label>BU</label>
                        <span>Adso</span>
                    </div>
                    <div class="col-sm-12">
                        <label>Division</label>
                        <span>Development</span>
                    </div>
                    <div class="col-sm-12">
                        <label>Dept</label>
                        <span>Java</span>
                    </div>

                </div>
                <div class="clear"></div><br>
                <form action="#" method="post" id="" name="" class="form-horizontal add-custustomer">
                    <div class="employee-setup">
                        <div class="col-md-12 col-sm-12 col-12 employer-block">
                            <div class="col-sm-2 text-center">
                                <div class="form-group col-sm-12"><label class="control-label">CHECK OUT <input type="radio" id="" name="check-in-out" /></label></div>
                                <div class="form-group col-sm-12"><label class="control-label">CHECK IN <input type="radio" id="" name="check-in-out" /></label></div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-4">Search Equipment Description </label>
                                    <div class="col-sm-7">
                                        <div class="inner-addon right-addon inline-block">
                                            <i class="fa fa-search"></i>
                                            <input type="text" class="form-control" id="" name="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-4">Equipment ID Number</label>
                                    <div class="col-sm-7">
                                        <div class="inner-addon right-addon inline-block">
                                            <i class="fa fa-search"></i>
                                            <input type="text" class="form-control" id="" name="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-4">Checked Out By</label>
                                    <div class="col-sm-7">
                                        <div class="inner-addon right-addon inline-block">
                                            <i class="fa fa-search"></i>
                                            <input type="text" class="form-control" id="" name="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-4">Checked In By</label>
                                    <div class="col-sm-7">
                                        <div class="inner-addon right-addon inline-block">
                                            <i class="fa fa-search"></i>
                                            <input type="text" class="form-control" id="" name="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-4">Date</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control datepicker" id="" name="" />
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <hr class="hr-dark" />

                            <div class="col-2">
                                <ul class="nav nav-pills tabs-left" role="tablist">
                                    <li><a href="#step1" data-toggle="tab" aria-expanded="true" class="active">General Information</a></li>
                                    <li><a href="#step2" data-toggle="tab" aria-expanded="false">Calibrated Tools</a></li>
                                    <li><a href="#step3" data-toggle="tab">Certification</a></li>
                                    <li><a href="#step4" data-toggle="tab">Inspection</a></li>
                                    <li><a href="#step5" data-toggle="tab">Verified Tools</a></li>
                                </ul>
                            </div>
                            <div class="col-10">
                                <div class="tab-content form-bg" id="employee-block">
                                    <div class="tab-pane step-data active" id="step1">
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Equipment Number</label>
                                                <div class="col-sm-7">13</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Equipment Description</label>
                                                <div class="col-sm-7">Description</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Equipment Type</label>
                                                <div class="col-sm-7">Measurement</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Ser Num</label>
                                                <div class="col-sm-7">13</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Date place in Service</label>
                                                <div class="col-sm-7">03/27/2018</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Location</label>
                                                <div class="col-sm-7">Hyderabad</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Last Checked-In by</label>
                                                <div class="col-sm-7">Shabbir</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Date Last checked-In</label>
                                                <div class="col-sm-7">03/27/2018</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Last Check in Notes</label>
                                                <div class="col-sm-7">Notes</div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="tab-pane step-data" id="step2">
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Calibration Required</label>
                                                <div class="col-sm-7">Yes</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Date last Calibrated</label>
                                                <div class="col-sm-7">03/27/2018</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Number of Days to Next Calibration</label>
                                                <div class="col-sm-7">90</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Next Calibration Due Date </label>
                                                <div class="col-sm-7">03/27/2018</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Todays Date</label>
                                                <div class="col-sm-7">03/27/2018</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Days to Next Calibration</label>
                                                <div class="col-sm-7">-113</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Calibrated By</label>
                                                <div class="col-sm-7">Shabbir</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Calibration Results</label>
                                                <div class="col-sm-7">03/27/2018</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Check Out Ready?</label>
                                                <div class="col-sm-7">Yes</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Calibration Notes</label>
                                                <div class="col-sm-7">Calibration Notes</div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="tab-pane step-data" id="step3">
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Date last Certified</label>
                                                <div class="col-sm-7">9/1/2017</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Number of Days to Next Certification</label>
                                                <div class="col-sm-7">90</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Next Certification Due Date </label>
                                                <div class="col-sm-7">11/30/2017</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Todays Date</label>
                                                <div class="col-sm-7">3/27/2018</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Days to Next Certification</label>
                                                <div class="col-sm-7">-117</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Certified By</label>
                                                <div class="col-sm-7">Shabbir</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Certification Results</label>
                                                <div class="col-sm-7">Certification Results</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Check Out Ready?</label>
                                                <div class="col-sm-7">Yes</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Certification Notes</label>
                                                <div class="col-sm-7">Notes</div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="tab-pane step-data" id="step4">
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Inspection Required</label>
                                                <div class="col-sm-7">Yes</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Date last Inspected</label>
                                                <div class="col-sm-7">9/5/2017</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Number of Days to Next Inspection</label>
                                                <div class="col-sm-7">90</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Next Inspection Due Date </label>
                                                <div class="col-sm-7">12/4/2017</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Todays Date</label>
                                                <div class="col-sm-7">3/27/2018</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Days to Next Inspection</label>
                                                <div class="col-sm-7">-113</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Inspected By</label>
                                                <div class="col-sm-7">Shabbir</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Inspection Results</label>
                                                <div class="col-sm-7">Inspection Results</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Check Out Ready?</label>
                                                <div class="col-sm-7">Yes</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Inspection Notes</label>
                                                <div class="col-sm-7">Inspection Notes</div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="tab-pane step-data" id="step5">
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Verification Required</label>
                                                <div class="col-sm-7">Yes</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Date last verified</label>
                                                <div class="col-sm-7">9/5/2017</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Number of Days to Next Verification</label>
                                                <div class="col-sm-7">90</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Next Verification Due Date </label>
                                                <div class="col-sm-7">12/4/2017</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Todays Date</label>
                                                <div class="col-sm-7">3/27/2018</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Days to Next Verification</label>
                                                <div class="col-sm-7">-113</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Verified By</label>
                                                <div class="col-sm-7">Shabbir</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Verification Results</label>
                                                <div class="col-sm-7">Verification Results</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Check Out Ready?</label>
                                                <div class="col-sm-7">Yes</div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label class="control-label col-sm-4">Verification Notes</label>
                                                <div class="col-sm-7">Verification Notes</div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="clear"></div>
                        <hr class="hr-light-grey" />
                        <button type="button" class="btn btn-success pull-right">Submit</button>
                    </div>
                    <div class="clear"></div>
                </form>
                <br /><br />
                <div class="pull-right"> &copy; 2018 <a routerLink="/">PAS</a> </div>
            </div>
        </div>
    </div>
    <div class="modal fade hide-model" id="addJobTitle" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Add Job Title</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="" name="">
                        <p>
                            <span class="col-sm-4"><b>Job Title: </b></span>
                            <span class="col-sm-5 inner-addon right-addon inline-block">
                                <i class="fa fa-search"></i>
                                <input type="text" class="actionattribute form-control ui-autocomplete-input" id="actionattribute" name="" placeholder="Job Title Name" autocomplete="off">
                            </span>
                            <span class="col-sm-1"><button type="button" id="" name="" class="btn btn-success add" data-toggle="modal" data-target="#success-popup"><i data-dismiss="modal">Save</i></button></span>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Add Job Title Modal End-->
    <!-- Add Employee Expertise Modal -->
    <div class="modal fade hide-model" id="addEmpExprt" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Add Employee Expertise</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="" name="">
                        <p>
                            <span class="col-sm-4"><b>Emp Expertise: </b></span>
                            <span class="col-sm-5 inner-addon right-addon w200 inline-block">
                                <i class="fa fa-search"></i>
                                <input type="text" class="actionattribute form-control ui-autocomplete-input" id="actionattribute" name="" placeholder="Employee Expertise" autocomplete="off">
                            </span>
                            <span class="col-sm-1"><button type="button" id="" name="" class="btn btn-success add" data-toggle="modal" data-target="#success-popup"><i data-dismiss="modal">Save</i></button></span>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Add Employee Expertise Modal End-->
    <!---Successs Message Modal -->
    <div class="modal fade success-msg" id="success-popup" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4> <i class="fa fa-check"></i>&nbsp; You Added Successfully !</h4>
                </div>
            </div>
        </div>
    </div>
</div>