
// #footer {
  
//     font-size: 11px !important;
//     font-weight:12px !important;
// }


.text-item {
    width: 100%;
    border-radius: 5px !important;
    margin-left: 0px;
}

.new-label {
    color: cadetblue;
}