textarea{
    border-radius: 3px;
}
.text-area-cstm {
    height: 70px !important;
}
.panel-body {
    background: #ffffff;
    padding: 20px;
}
.panel-title{
    margin-bottom: 0px;
}
.panel-title{
    font-size: 14px;
    position: relative;
}
.set_cds{
    position: absolute;
    top: 6px;
    left: 12px;
}
.ac_cs{
    padding-left: 40px !important;
}