.w250 {
    width: 250px !important;
    display: inline-block;
}
.w400 {
    width: 400px !important;
    display: inline-block;
}
.w180{
    width: 400px !important;
    display: inline-block;
}
.clear {
    clear: both;
}
.modal span {
    font-size: 11px !important;
}