.ui-chkbox-box {
  margin-right: 10px;
  background-color: red !important;
}
.c-wf-bcrumb {
  background-color: transparent;
}
.c-wf-bcrumb li {
  font-family: 'Roboto';
  font-size: medium;
  font-weight: 900;
  color: #295d92;
}
.c-wf-bcrumb .breadcrumb-item.active {
  color: #6c757d !important;
}
.wf-popup-form label {
  width: 52%;
  text-align: left;
  margin-top: 1px;
  font-weight: bold;
  margin-right: 8px;
}
.wfl-table-popup-cstm {
  margin-top: 4px;
}
.wfl-table-popup-cstm tr th {
  padding: 8px 4px !important;
}
.wfl-table-popup-cstm tr td {
  padding: 5px;
}
.po-head-wfl {
  font-weight: bold;
  font-size: 13px !important;
  color: #295d92 !important;
  margin-bottom: 0;
}
.form-horizontal .form-group {
  font-size: 10.5px !important;
}
.p-acc-thright table th {
  text-align: center;
}
.scroll_set{
  max-height: 500px;
  overflow-y: scroll;
}