.ui-chkbox-box {
  margin-right: 10px;
  background-color: red !important;
}
.c-wf-bcrumb {
  background-color: transparent;
}
.c-wf-bcrumb li {
  font-family: 'Roboto';
  font-size: medium;
  font-weight: 900;
  color: #295d92;
}
.c-wf-bcrumb .breadcrumb-item.active {
  color: #6c757d !important;
}
.float-left{
  float: left !important;
}
.view-total-cost{
  padding: 10px !important; font-weight: bold !important;
}
.workflow-radios{
  width: 410px !important; float: right !important; padding-top: 3px !important;
}
.workflow-details-label{
  font-size: 16px !important;margin-top: 3px !important;
}
.workflow-breadcrumb{
  background-color: transparent !important;
}
.workflow-li{
  font-size: 16px !important;margin-top: 3px !important;
}
.m-t-6{
  margin-top: 6px !important;
}
.ber-determination-card{
  padding: 4px 10px !important;
}
.ber-determination-label{
  margin-bottom: 0 !important;font-size: 15px !important;
}
.ber-determination-card-body{
  padding: 10px 20px !important;
}
.float-right{
  float: right !important;
}
.ber-threshold-label{
  margin-top: 5px !important;width: 130px !important;
}
.cost-new-label{
  text-align: left !important;width: 150px !important;
}
.cost-new-div{
  padding-left: 36px !important;margin-top: 8px !important;
}
.cost-new-width{
  width: 80px !important;
}
.percent-width{
  width: 60px !important;
}
.replacement-label{
  text-align: left !important;width: 150px !important;
}
.replacement-div{
  padding-left: 36px !important;margin-top: 8px !important;
}
.padding-notes{
  padding-left: 4px !important;
}
.workflow-cost-label{
  margin-bottom: 0 !important;font-size: 15px !important;
}
.total-workflow-card{
  padding: 4px 10px !important;
}
.total-workflow-card-body{
  padding: 10px 20px 0 !important;
}
.width-130{
  width: 130px !important;
}
.download-button{
  background: #fff !important;
 border: none !important;
}
.wf-popup-form label {
  width: 52%;
  text-align: left;
  margin-top: 1px;
  font-weight: bold;
  margin-right: 8px;
}
.wfl-table-popup-cstm {
  margin-top: 4px;
}
.wfl-table-popup-cstm tr th {
  padding: 8px 4px !important;
}
.wfl-table-popup-cstm tr td {
  padding: 5px;
}
.po-head-wfl {
  font-weight: bold;
  font-size: 13px !important;
  color: #295d92 !important;
  margin-bottom: 0;
}
.form-horizontal .form-group {
  font-size: 10.5px !important;
}
.p-acc-thright table th {
  text-align: center;
}