.text-st{
    text-align: start;
}
.flot-r{
  float: right !important;
  color: grey !important;
  margin: 0px;
  padding: 0px !important;
}
.flt-rt{
    float: right !important;
}
.dwn_st{
    padding: 4px 10px !important;
    margin-right: 0px !important;
    margin-left: 4px !important;
}
.search-align{
    text-align: end !important;
}
.modal-body p .label {
    width: 33%;
    padding: 0;
    display: inline-block;
}

.modal-body p .value {
    width: 54%;
    display: inline-block;
    margin-left: 5%;
}

.loader-position{
    position: absolute;
}

.loader-align{
    margin-top: 17rem;
    margin-left: 30rem;
}

.myclass {
    margin-top: -5px
}
.label{
    margin-right:0px !important;
}

.sales-analysis-header tr th{
    background: #4298ff !important;
    color:#fff !important;
}
.margin-0{
    margin: 0 !important;
}
