<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">General Ledger</li>
        <li class="breadcrumb-item active" aria-current="page">GL Accounts List</li>
    </ol>
</nav>
<div class="col-xs-12">
    <h4 class="page-heading">List of GL Accounts</h4>
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
        <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class=""
                    placeholder="" aria-controls="DataTables_Table_0"></label></div>
        <div class="dataTables_scroll">
            <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                <div class="dataTables_scrollHeadInner"
                    style="box-sizing: content-box; width: 1138px; padding-right: 0px;">
                    <table class="table table-bordered table-striped table-sorting dataTable no-footer" role="grid"
                        style="margin-left: 0px; width: 1138px;">
                        <thead>
                            <tr role="row">

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 202px;"
                                    aria-label="Old GL Account Code: activate to sort column ascending">Old GL Account
                                    Code</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 165px;"
                                    aria-label="GL Account Code: activate to sort column descending"
                                    aria-sort="ascending">GL Account Code</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 128px;"
                                    aria-label="Account Type: activate to sort column ascending">Account Name</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 128px;"
                                    aria-label="Account Type: activate to sort column ascending">Account Description
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 271px;"
                                    aria-label="Financial Statement Mapping: activate to sort column ascending">Active
                                </th>
                                <th class="events5 sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" style="width: 246px;" aria-label=": activate to sort column ascending">
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let glAccount of glAccountList">
                                <td>{{glAccount.oldAccountCode}}</td>
                                <td>{{glAccount.accountCode}}</td>
                                <td>{{glAccount.accountName}}</td>
                                <!--<td>Accounts Payable</td>-->
                                <td>{{glAccount.accountDescription}}</td>
                                <td>
                                    <div *ngIf="glAccount.activeFlag==true">
                                        Yes
                                    </div>
                                    <div *ngIf="glAccount.activeFlag==false || glAccount.activeFlag==null ">
                                        No
                                    </div>
                                </td>
                                <td>

                                    <p-inputSwitch *ngIf="glAccount['isActive']==true" matTooltip="Active" onLabel="on"
                                        offLabel="off" (onChange)="toggleIsActive(glAccount,$event)"
                                        [(ngModel)]="glAccount['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="glAccount['isActive']==false" matTooltip="In Active"
                                        onLabel="on" offLabel="off" (onChange)="toggleIsActive(glAccount,$event)"
                                        [(ngModel)]="glAccount['isActive']"></p-inputSwitch>
                                    <p-inputSwitch *ngIf="glAccount['isActive']==null" matTooltip="In Active"
                                        onLabel="on" offLabel="off" (onChange)="toggleIsActive(glAccount,$event)"
                                        [(ngModel)]="glAccount['isActive']"></p-inputSwitch>
                                    <span data-toggle="modal" data-target="#view"> <a
                                            class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" title=""
                                            data-original-title="View" matTooltip="View"
                                            (click)="showViewData(contentView,glAccount)"><i class="fa fa-eye"></i></a>
                                    </span>
                                    <a data-toggle="tooltip" title="" class="btn btn-primary boxed-float-btn nobg"
                                        data-original-title="Edit"><i class="fa fa-edit" matTooltip="Edit"
                                            (click)="glAccountEdit(glAccount)"></i></a>
                                    <span data-toggle="modal" data-target="#history"><a href="#"
                                            class="btn btn-success nobg" data-toggle="tooltip" matTooltip="History"
                                            title="" data-original-title="History"><i
                                                class="fa fa-history"></i></a></span>
                                    <!--<span data-toggle="modal" data-target="#delete"> <a href="#" class="btn btn-danger boxed-float-btn nobg" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a> </span>-->
                                    <span data-toggle="modal"> <a class="btn btn-danger boxed-float-btn nobg"
                                            data-toggle="tooltip" title="" data-original-title="Delete"
                                            matTooltip="Delete"
                                            (click)="confirmDelete(content,glAccount.glAccountId)"><i
                                                class="fa fa-trash"></i></a> </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 1 of 1
            entries</div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to delete Gl Account List</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="removeAssetType()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
    </div>

</ng-template>
<ng-template #contentView let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" id="" name="" (click)="dismissModel()">×</button>
            <h4 class="modal-title">Details of GL Accounts"</h4>
        </div>
        <div class="modal-body viewform">
            <div class="panel-body">
                <div class="col-sm-6">
                    <p><span class="label"><b>Old Account Code: </b></span><span
                            class="value">{{glAccountViewData.oldAccountCode}}</span></p>
                    <p><span class="label"><b>Account Code: </b></span><span
                            class="value">{{glAccountViewData.accountCode}}</span></p>
                    <p><span class="label"><b>Account Name: </b></span><span
                            class="value">{{glAccountViewData.accountName}}</span></p>
                    <p><span class="label"><b>Account Description: </b></span><span
                            class="value">{{glAccountViewData.accountCode}}_{{glAccountViewData.accountDescription}}</span>
                    </p>

                    <p><span class="label"><b>Allow Manual JE: </b></span><span class="value"><input type="checkbox"
                                [disabled]="true" [checked]="glAccountViewData.allowManualJE" /></span></p>
                    <p><span class="label"><b>Active: </b></span><span class="value">
                            <input type="checkbox" [disabled]="true" [checked]="glAccountViewData.activeFlag" /></span>
                    </p>

                </div>
                <div class="col-sm-6">
                    <p>
                        <span class="label"><b>Balance Type: </b></span><span class="value">
                            <input type="checkbox" [disabled]="true" [checked]="glAccountViewData.balanceTypeActual" />
                            <input type="checkbox" [disabled]="true" [checked]="glAccountViewData.balanceTypeBudget" />
                            <input type="checkbox" [disabled]="true"
                                [checked]="glAccountViewData.balanceTypeForecast" />
                        </span>
                    </p>
                    <p>
                        <span class="label col-sm-6"><b>Account Type: </b></span>
                        <span class="col-sm-6">
                            <select [(ngModel)]="glAccountViewData.glAccountTypeId" [disabled]="true"
                                [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let accounttype of allGLAccountClassInfo"
                                    [ngValue]="accounttype.glAccountClassId">{{accounttype.glAccountClassName}}</option>
                            </select>
                        </span>
                    </p>
                    <p><span class="label"><b class="col-sm-4">C-Flows Classification: </b></span>
                        <span class="col-sm-4">
                            <select [(ngModel)]="glAccountViewData.glClassFlowClassificationId" [disabled]="true"
                                [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let classType of allGLCashFlowClassInfo"
                                    [ngValue]="classType.glClassFlowClassificationId">
                                    {{classType.glClassFlowClassificationName}}</option>
                            </select>
                        </span>
                    </p>

                    <p>
                        <span class="label col-sm-6"><b>PO Category: </b></span>
                        <span class="col-sm-6">
                            <select [(ngModel)]="glAccountViewData.poroCategoryId" [disabled]="true"
                                [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let poCategory of poroCategoryList"
                                    [ngValue]="poCategory.poroCategoryId"> {{poCategory.categoryName}}</option>
                            </select>
                        </span>
                    </p>
                    <p><span class="label"><b>Created By: </b></span><span
                            class="value">{{glAccountViewData.createdBy}}</span></p>
                    <p><span class="label"><b>Created Date: </b></span><span
                            class="value">{{glAccountViewData.createdDate}}</span></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" id="" name=""
                (click)="dismissModel()">Close</button>
        </div>
    </div>
</ng-template>