
input[type='text'],
input[type='number'],
select,
textarea {
  height: 24px !important;
  border-radius: 5px !important;
}
select:disabled{
  background-color: #e9ecef !important;
}
.select-read-only{
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  box-shadow: none !important;
}

// .rro-table-cstm th{
//   width: unset !important;
// }

.footer td{
  background-color: #eaf2fd
}

.p-radiobutton-label-horizontal .ui-radiobutton-label {
  width: unset !important;
  margin-right: 10px;
}
.padding-0{
  padding:0px !important;
}
.padding-10{
  padding: 10px !important;
}
.charge-type{
  width: 130px !important;appearance: auto !important;
}
.show-label{
  width: auto !important;margin-top: 3px !important;
}
.sales-quote-radio-view .ui-radiobutton{
  margin-top:-9px !important;
}