.btn-spaces > button {
  margin-right: 13px !important;
}
/* .ui-radiobutton-label{
  color: #ffffff !important;
} */
input[type='text'],
input[type='number'],
select,
textarea {
  height: 24px !important;
  border-radius: 5px !important;
}
.select-read-only{
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  box-shadow: none !important;
}
.table-overflow th {
  text-align: center;
}

/* p-radiobutton .ui-radiobutton .ui-radiobutton-box{
  border: 3px solid #ffffff !important;
} */
.seve{
  margin-bottom: 20px;
  margin-right: 12px;
}

.ui-table .ui-table-tbody > tr:nth-child(odd) {
  background-color: #ffffff !important;
}

.footer td{
  background-color: #eaf2fd !important;
}
select.select-read-only {
  background-color: #ffffff !important;
}
.p-radiobutton-label-horizontal .ui-radiobutton-label {
  width: unset !important;
  margin-right: 10px;
}
.back-transparent{
  background-color: transparent !important;
}
.table-height{
  height: 300px !important;
}
.pencil-position{
  position: relative !important;top: 6px !important;
}
.memo-div{
  width: 120px !important;display: inline-flex !important; margin-bottom: 0 !important;
}
.freight-button{
  margin-left: 10px !important;
}
.freight-th{
  background: #fff !important; border: 1px solid #fff !important;border-right: 1px solid #e7ecf1 !important;
}
.freight-isview-th{
  background: #fff !important; border: 1px solid #e7ecf1 !important;padding: 0 !important;
}
.freight-isview-div{
  text-align: center !important; display: flex !important;    margin-bottom: 0px !important;
}
.radio-align{
  float: left !important; margin-bottom: 7px !important; margin-left: 4px !important; margin-right: 4px !important;
}
