            
   <div id="woReleaseFromDiv" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content" id="woReleaseFrom">

            <div class="modal-header">
                <button type="button" class="close" (click)="close()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title warning_color"></h4>
            </div>
            <div class="modal-body">
                <div class="clear"></div>
                <form id="" name="" action="#" method="post" onsubmit="return false;">
                  <div class="image" style="min-height:500px;height:auto">
                    <div style="padding: 0; margin: 0;">
                      <div>
            
                        <form id="" class="form-div" name="" action="#" method="post" onsubmit="return false;">
                            <div class="logo-block">
                  <img src="http://design.poweraerosuites.com/image/logo.png" width="130" /> </div>
                            <div class="clear"></div>
                            <hr/>
              
               
              
                           <div class="col-sm-12">
                              <table style="width:99%;margin-left:5px;">
                        <tbody>
                            <tr style="width:100px">
                                <td rowspan="2" style="vertical-align:top;text-align:center">
                                    <b style="text-align:center;vertical-align:top">1.Approving National Aviation Authority/Country:</b><br /><br />
                                    <span style="text-align:center;font-size:18px"> UNITED STATES</span></td>
                                <td rowspan="2" style="vertical-align:top;text-align:center">
                                    <span style="vertical-align:top;margin-right:100%;"><b>2.</b></span><br />
                                    <b style="font-size:30px">AUTHORIZED RELEASE CERTIFICATE</b><br />
                                <b style="font-size:15px;text-align:center">FAA Form 8130-3,AIRWORTHINESS APPROVAL TAG</b></td>
                                <td rowspan="2" style="vertical-align:top"><b>3.Form Traking Number:</b> <span style="text-align:center;font-size:15px"> {{ReleaseData.trackingNo}}</span></td>
                               
                            </tr>
    <tr></tr>
                        <tr>
                                <td rowspan="2" colspan="2" style="width:72px"><b>4.Organization Name and Address: </b> <span style="text-align:center;font-size:15px"> {{ReleaseData.organizationName}}     {{ReleaseData.organizationAddress}}</span></td>
                               
                               <td rowspan="2" ><b>5.Work Order/Contract/Invoice Number: </b> <span style="text-align:center;font-size:15px"> {{ReleaseData.invoiceNo}} </span></td>
                               
                            </tr>
    <tr></tr>
    
    
                        </tbody>
                              </table>
    
                            </div>
                    <div class="col-sm-12">
                    <table style="width:99%;margin-left:5px;margin-top:-5px">
                    <thead>
                       <tr>
                         <th>6.Item:</th>
                         <th>7.Description:</th>
                         <th>8.Part Number:</th>
                         <th>9.Eligibility:<span>*</span></th>
                         <th>10.Quantity</th>
                        <th>11.Serial/Batch Number:</th>
                         <th>12.Status/Work</th>
                       </tr>
    
                    </thead>
                        <tbody>
                            <tr>
                                <td>{{ReleaseData.itemName}}</td>
                                <td>{{ReleaseData.description}}</td>
                                <td>{{ReleaseData.partNumber}}</td>
    
                                <td>{{ReleaseData.eligibility}}</td>
                                <td>{{ReleaseData.quantity}}</td>
                                <td>{{ReleaseData.batchnumber}}</td>
                                <td>{{ReleaseData.status}}</td>
                               
                               
                            </tr>
                       <tr>
                      <td colspan="7" rowspan="4" style="height: 200px;
        vertical-align: top;"><b>13.Remarks</b></td>
                    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    
                        </tbody>
                      </table>
    
                  </div>
       <div class="col-sm-12">
                    <table style="width:99%;margin-left:5px;margin-top:-5px">
                        <tbody>
                            <tr>
                                <td colspan="2" style="width:51%;vertical-align:top">
                                    <b>14.Certifies the items identified above were manufactured in conformity to:<br />
                                  <input type="checkbox"  name="approved" [(ngModel)]="ReleaseData.approved" [ngModelOptions]="{standalone: true}" disabled />
                                  approved design data and are in condition for safe operation <br />
                                  <input type="checkbox"   [(ngModel)]="ReleaseData.nonapproved"  name="nonapproved" [ngModelOptions]="{standalone: true}" disabled />Non-approved design data specified in Block 13.</b> <br />
                               </td>
                                <td colspan="2"><b>19. 
                                    <input type="checkbox" name="cfr" [(ngModel)]="ReleaseData.cfr" [ngModelOptions]="{standalone: true}"  [disabled]="isView" />14 CFR 43.9 Return to Service 
                                    <input type="checkbox" [(ngModel)]="ReleaseData.otherregulation" [ngModelOptions]="{standalone: true}" name="otherregulation"  [disabled]="isView" />Other regulation specified in Block 13. <br />
    
    Certifies that unless otherwise specified in Block 13,the work identified in Block 12 and described in Block 13 was accomplished in accordance with Title 14,
    code of Federal Regulations, Part 43 and respect to that work,the items are approved for return to service.</b> 
                               </td>
                               
                               
                            </tr>
    
                    
    <tr></tr>
     <tr style="height:50px;vertical-align:top">
                                <td><b>15.Authorised Signature: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.authorisedSign}} </span></td>
                                <td><b>16.Approval/Authorization No.: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.authorizationNo}} </span></td>
                                <td><b>20.Authorised Signature: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.authorisedSign2}} </span></td>
                                <td><b>21.Approval Certificate No.: </b><span style="text-align:center;font-size:15px"> {{ReleaseData.approvalCertificate}} </span></td>
                               
                               
                            </tr>
     <tr style="height:50px;vertical-align:top">
                                <td><b>17.Name(Typed/Printed): </b><span style="text-align:center;font-size:15px"> {{ReleaseData.printedName}} </span></td>
                               <td><b>18.Date: </b><span style="text-align:center;font-size:15px"> {{Printeddate1}} </span>
                                <p-calendar *ngIf="Issave && !isView"[showIcon]="true" name ="date" [ngModelOptions]="{standalone: true}"
                                [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100"
                                    [minDate]="currentDate" (ngModelChange)="onDate1($event)"
                                  
                                    [(ngModel)]="ReleaseData.date"></p-calendar>
                                </td>
                                <td><b>22.Name(Typed/Printed): </b><span style="text-align:center;font-size:15px"> {{ReleaseData.printedName2}} </span></td>
                               <td><b>23.Date(m/d/y) : </b><span style="text-align:center;font-size:15px"> {{Printeddate2}} </span>
                                <p-calendar *ngIf="Issave && !isView" [showIcon]="true" name ="date2" [ngModelOptions]="{standalone: true}"
                                [yearNavigator]="true" [monthNavigator]="true" yearRange="1900:2100"
                                    [minDate]="currentDate" (ngModelChange)="onDate($event)" 
                                  
                                    [(ngModel)]="ReleaseData.date2"></p-calendar>
                                </td>
                            </tr>
    <tr>
    <td colspan="4" style="text-align:center"><b style="font-size:15px;">User/Installer Responsibilities</b></td>
    </tr>
    <tr><td colspan="4">
        <b>It is Important to Understand that the existence of document alone does not automatically constitute authority to install the part/component/assembly.<br /><br />
    Where the user/installer performs work in accordance with the national regulations of an airworthiness authority different than the airworthiness authority of the country specified in Block1,
    it is essentialthat the user/installer ensures that his/her airworthiness accepts parts/components/assemblies from the airworthiness authority of the country specified in Block1.<br/><br />
    Statements in Block 14 and 19 do not constitute installation certification . In all cases,aircraft maintenance records must contain an installation certification issued in accordance with the
    national regulations by the user/installer before the aircraft may be flown.</b>
     </td></tr>
    
                        </tbody>
                      </table>
    
                  </div>
    
    
                          <br/>
    
                      
                        
                        <div class="clear"></div>
                        <hr />
                        <div class="clear"></div>
         
                     </form>
    </div>
    </div>
                    </div>
                </form>
            </div>
            <div style="height:100px"> &nbsp;</div>
            <div class="modal-footer">
                <button *ngIf="!isView && Issave" type="button" class="btn btn-primary"  (click)="onsave()">Save</button>
                <button *ngIf="!isView && !Issave" type="button" class="btn btn-primary" data-dismiss="modal" (click)="print()">Print</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
             </div>
          </div>
         
    </div>
</div>

            

