<style>
    body {
        background: #243536 !important;
        font-family: sans-serif;
    }

    .mtop20 {
        margin-top: 20px;
    }

    .header {
        background: #fff;
        padding: 2px 0;
        text-align: center;
    }

    h1 {
        font-weight: bold;
        font-size: 45px;
        margin: 10px 0;
    }

    h2 {
        font-family: tahoma;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 40px;
        color: #eb4654;
        margin: 25px 0;
    }

    h3 {
        line-height: 35px;
        font-size: 25px;
    }

    .content-text {
        padding: 50px 0;
        text-align: center
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        color: #fff;
        font-size: 15px;
        background: #1b283e;
    }

        .footer a {
            color: #fff;
        }
</style>
<div class="content-text">
    <h2>Unauthorized User</h2>
    <h3>
        You are not authorised to access this page. <br />
        Please use valid credentials or contact administrator.
    </h3>
    <a href="#" class="btn btn-success btn-lg mtop20">Go to Home Page</a>
    <div class="footer"> &copy; 2019 <a href="#">PAS</a> </div>
</div>

<!--<div>
    <h4>You are not authorized to access this page, please contact administrator.</h4>
</div>-->
