
.search-align{
  text-align: end !important;
}
.text-st{
  text-align: start;
}
.flot-r{
float: right !important;
color: grey !important;
margin: 0px;
padding: 0px !important;
}
.flt-rt{
  float: right !important;
}
.dwn_st{
  padding: 4px 10px !important;
  margin-right: 0px !important;
  margin-left: 4px !important;
}
.search-align{
  text-align: end !important;
}