.textarea-memo-div{
    width: 200px !important;margin-bottom: 0 !important;display: inline-flex !important;
}
.width-90{
    width:90px;
}
.m-t-5{
    margin-top:5px;
}
.width-130{
    width:130px !important;
}
.excluded-items-label{
    border: 1px solid;
    width: 450px;
    /* padding: 1px; */
    background: #fff;
    text-align: center;
}