.po-head {
    font-weight: 700;
    font-size: 16px !important;
    color: #295d92 !important;
    margin-left: 0 !important;
}

.contact-no-record {
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.history-no-record {
    font-size: 20px;
    text-align: center;
}
.inssuction_tex{
    padding-left: 6px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
.btn-pos {
    color: #259e08;
}

.btn-ros {
    color: #ff5663;
}

.view-header {
    padding-top: 2px !important;
    margin: 0;
}

.table-cstm thead tr th {
    padding: 2px 5px;
}

.table-cstm tr td a {
    padding: 1px !important;
}

.table-cstm thead {
    background: #4298ff !important;
}

.status-radio label {
    text-align: left;
    width: 140px;
    margin-right: 0;
    font-weight: normal;
}

.parent-info {
    box-shadow: 1px 1px 3px 1px #d8d4d4;
    width: 80%;
    padding: 4px;
    display: grid;

    .checkbox-cstm {
        border-bottom: 1px solid #d4d4d4;
        padding: 8px 0;
    }

    .vendor_Name {
        width: 100%;
    }
}
p-multiselect {
    padding: 0px;
    height: 28px !important;
    line-height: 1;
}
.row-margin{
    margin: 0px !important;
}
.view-buttons{
    width: 100% !important;margin-bottom: 32px !important;
}
.view-isactive-button{
    text-align-last: end !important; padding-right: 2% !important;
}
.invoice-div{
    width: 100% !important;display: inline-flex !important;
}
.invoice-address-label{
    width: 35% !important;font-weight: bold !important;
}
.invoice-value-div{
    width: 50% !important;margin-bottom: 5px !important;
}
.check-mark{
    pointer-events: none !important;    font-weight: 100 !important;
}
.phone-label{
    width: 35% !important;font-weight: bold !important;
}
.phone-div{
    margin-top: 30px !important;pointer-events: none !important;
}
.font-weight-100{
    font-weight: 100 !important;
}