<div class="right_col billing-padding" role="main">
  <div>
    <div class="x_content">
      <div class="col-md-12 shadow-box-cstm" *ngIf="isViewMode == false">
        <div class="col-md-4">
          <p class="fs12">
            <label class="control-label labels-font-header wauto">Cust Name:
            </label>
            <span class="span-header-red text-capital">
              {{ customerName }}
            </span>
          </p>
        </div>
        <div class="col-md-4">
          <p class="fs12">
            <label class="control-label labels-font-header wauto">Customer Code:
            </label>
            <span class="span-header-red text-capital">
              {{ customerCode }}
            </span>
          </p>
        </div>
      </div>
      <div class="card new-card">
        <div>
          <div class="card-header header" >
            <div class="row">
              <div class="col">
                <h4 class="header-name"> Billing Information</h4>
              </div>
              <div>
                <a *ngIf="isViewMode == false" 
                 data-toggle="modal" data-target="#addBillingInfo">
                  <button type="button" class="btn-sm header-button"  matTooltip="Add Billing Information" matTooltipPosition="above" (click)="addBillingIfo();">
                    Add Billing Information
                  </button>
                </a>              
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <!-- <hr /> -->
        </div>        
        <div class="card-body header-body">
        <p-table #dt class="rpo-table-cstm rro-table-cstm" 
        [value]="billingInfoList" 
        [rows]="pageSize" 
        [paginator]="true" 
        [pageLinks]="3" 
        [rowsPerPageOptions]="[10, 20, 50, 100]" 
        [columns]="selectedColumns" 
        selectionMode="multiple"
        [metaKeySelection]="true"
        [resizableColumns]="true"         
        (onPage)="pageIndexChange($event)" 
        [reorderableColumns]="true">
          <ng-template pTemplate="caption" *ngIf="isViewMode == false">
            <div class="row">
              <div class="col">
              <p-multiSelect [options]="billingInfoTableHeaders" [(ngModel)]="selectedColumns"
                [ngModelOptions]="{ standalone: true }" optionLabel="header" selectedItemsLabel="{0} columns selected"
                class="multiselect-field"
                 defaultLabel="Choose Columns">
                </p-multiSelect>
              </div>
              <div class="col">
                <div					
						class="global-search-field inner-addon right-addon inline-block"
					  >
                <i class="fa fa-search"></i>
                <input type="text" pInputText size="50" 
                class="form-control"
                  (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Filter"
                />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
              <button type="button" class="btn btn-primary exports-button" matTooltip="Download  Data" matTooltipPosition="above"
                pButton icon="fa-download" iconPos="left" label="Export  Data"
                data-toggle="modal" 
                (click)="selectedOnly = false; targetData = dt;"
                 data-target="#downloadBilling"></button>
              <button type="button" class="btn btn-primary exports-button" matTooltip="Download Selected Data"
                matTooltipPosition="above" pButton icon="fa-download" iconPos="left" label="Export Selection Only"
                (click)="dt.exportCSV({ selectionOnly: true })" 
                ></button>
              <!-- <div class="excel-upload  excel-upload-cstm">
                <button type="button" class="btn btn-primary exports-button" matTooltip="Download Sample File"
                  matTooltipPosition="above" (click)="sampleExcelDownload()" 
                  >
                  Sample File Download
                </button>
                <input type="file" name="upload[]" id="upload" (change)="customExcelUpload($event)"
                  class="uploaddoc upload-file" accept=".xlsx, .xls, .csv" />
                <label for="upload">
                  <span matTooltip="Upload Data (Excel)" matTooltipPosition="above">
                    <i class="fa fa-upload"></i>
                  </span>
                </label>
              </div> -->
              </div>
              <div class="pull-right buttons-div-align">
                <div class="col">
                <div class="col buttons-top-padding">
                  <div class="form-group">
                    <div class="pull-left radio-buttons-align">
                      <p-radioButton class="custom_set" name="EmpStatus" value="Active" label="Active" [(ngModel)]="currentstatus" (click)="geListByStatus('Active')"></p-radioButton>
                  </div>
                  <div class="pull-left radio-buttons-align">
                      <p-radioButton class="custom_set" name="EmpStatus" value="InActive" label="In-active" [(ngModel)]="currentstatus" (click)="geListByStatus('InActive')"></p-radioButton>
                  </div>
                  <div class="pull-left radio-buttons-align">
                      <p-radioButton class="custom_set" name="EmpStatus" value="ALL" label="All" [(ngModel)]="currentstatus" (click)="geListByStatus('ALL')"></p-radioButton>
                  </div>
                  <div class="checkbox-cstm pull-left checkbox-align">
                    <label class="checkbox-label-align">
                          <input type="checkbox" [(ngModel)]="currentDeletedstatus" name="cparent" id="cparent"  (click)="getDeleteListByStatus($event.target.checked)"
                            />
                          <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                            Show Deleted List 
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="caption" *ngIf="isViewMode == true">
            <div class="row">
              <div class="col-sm-8"></div>
              <div class="col-sm-4">
                <div class="checkbox-cstm pull-right checkbox-align">
                  <label class="checkbox-label-align show-deleted-width">
                    <input type="checkbox" [(ngModel)]="currentDeletedstatus" name="cparent" id="cparent"  (click)="getDeleteListByStatus($event.target.checked)"/>
                    <span class="cr"><i class="cr-icon pi pi-check"></i></span>
                      Show Deleted List 
                  </label>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th class="width-50">Flag</th>
              <th class="table-column-width" *ngFor="let col of columns" [hidden]="col.header == 'IsPrimary'" pResizableColumn pReorderableColumn
                [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th  class="table-actions-column">Actions</th>
            </tr>
            <tr>
              <th class="width-50"></th>
              <th class="table-column-width" *ngFor="let col of columns" [hidden]="col.field == 'isPrimary'"
                [ngSwitch]="col.field">
                <input class="table-header-input-width" pInputText type="text" (input)="
                    dt.filter($event.target.value, col.field, 'contains')
                  " />
              </th>
              <th class="table-actions-column"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowDblClick]="rowData" (dblclick)="toggledbldisplay(rowData)">
              <td  class="width-50">
                <span class="flag">
                  <i *ngIf="rowData.isPrimary == true" [ngStyle]="{
                      color: rowData.isPrimary == true ? 'green' : 'none'
                    }" class="fa fa-flag" matTooltip="Primary" matTooltipPosition="above" aria-hidden="true"></i>
                </span>
              </td>

              <td  class="table-column-width" *ngFor="let col of columns" [hidden]="col.field == 'isPrimary'" class="ui-resizable-column"
                pReorderableRowHandle>
                {{
                  col.field == 'createdDate'
                    ? (rowData[col.field] | date: 'MM/dd/yyyy')
                    : rowData[col.field] && col.field == 'updatedDate'
                    ? (rowData[col.field] | date: 'MM/dd/yyyy')
                    : rowData[col.field]
                }}
              </td>

              <td class="action-icons-cstm table-column-width" *ngIf="isViewMode == false">
                <div *ngIf="currentDeletedstatus==false">
                  <p-inputSwitch [(ngModel)]="rowData['isActive']" [disabled]="rowData.isPrimary == true"
                   
                    name="isActive{{ rowIndex }}"   matTooltip="{{rowData['isActive'] ? 'Active': 'In Active'}}"
                  matTooltipPosition="above" (onChange)="updateActiveorInActiveForBilling(rowData)"></p-inputSwitch> 
                <span data-toggle="modal" data-target="#viewBilling">
                  <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openBillingView(rowData)"
                    matTooltip="View" matTooltipPosition="above"><i class="fa fa-eye"></i></a>
                </span>

                <span data-target="#addBillingInfo" data-toggle="modal"><a class="btn nobg" (click)="openEdit(rowData)"
                    matTooltip="Edit" matTooltipPosition="above"><i class="fa fa-pencil"></i></a> </span>

                <span><a class="btn nobg" (click)="deleteBillingInfo(deleteContent, rowData); dt.reset()"
                    matTooltip="Delete" matTooltipPosition="above"><i class="fa fa-trash"></i></a> </span>

                <span><a class="btn nobg" (click)="getCustomerBillingHistory(contentAuditHist, rowData)"
                    matTooltip="History" matTooltipPosition="above"><i class="fa fa-history"></i></a></span>
                </div>
                <div *ngIf="currentDeletedstatus==true">
                  <p-inputSwitch [(ngModel)]="rowData['isActive']" [disabled]="true" name="isActive{{ rowIndex }}"   matTooltip="{{rowData['isActive'] ? 'Active': 'In Active'}}"
                  matTooltipPosition="above" (onChange)="updateActiveorInActiveForBilling(rowData)"></p-inputSwitch> 
                  <span data-toggle="modal" data-target="#viewBilling">
                    <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openBillingView(rowData)"
                      matTooltip="View" matTooltipPosition="above"><i class="fa fa-eye"></i></a>
                  </span>
                  <span><a class="btn nobg" (click)="getCustomerBillingHistory(contentAuditHist, rowData)"
                    matTooltip="History" matTooltipPosition="above"><i class="fa fa-history"></i></a></span>
                  <span ><a class="btn nobg btn-users-cstm" (click)="restore(restoreId,rowData);" matTooltip="Restore Record"  matTooltipPosition="above"><i class="fa fa-undo" aria-hidden="true"></i></a> </span>
                </div>
              </td>
              <td class="action-icons-cstm table-column-width" *ngIf="isViewMode == true">
                <span data-toggle="modal" data-target="#viewBilling">
                  <a class="btn btn-info boxed-float-btn nobg" data-toggle="tooltip" (click)="openBillingView(rowData)"
                    matTooltip="View" matTooltipPosition="above"><i class="fa fa-eye"></i></a>
                </span>
                <span><a class="btn nobg" (click)="getCustomerBillingHistory(contentAuditHist, rowData)"
                  matTooltip="History" matTooltipPosition="above"><i class="fa fa-history"></i></a></span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns *ngIf="billingInfoList.length == 0">
            <tr>
              <td colspan="9" class="no-records-cstm no-records-msg">
                No records found
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary" id="footer">
            <label id="footer" class="footer">Total:</label>
            <input  class="footer-input-width" [(ngModel)]="dt._totalRecords" [disabled]="true" pInputText type="text" />
            &nbsp;&nbsp;
            <label id="footer" class="footer1">Pages Count:</label>

            <input  class="footer-input-width" [ngModel]="getPageCount(dt._totalRecords, pageSize)" [disabled]="true" pInputText
              type="text" />
          </ng-template>
        </p-table>
        <div class="m-t-10" *ngIf="isViewMode == false">
          <button type="button" class="btn btn-primary pull-right submit-btn" (click)="nextClick('Next')">
            Next
          </button>
          <button type="button" class="btn btn-primary pull-right submit-btn" (click)="nextClick('Previous')">
            Previous
          </button>
        </div>
      </div>
      </div>

      <div class="clear"></div>
      <div class="modal fade success-msg" id="success-popup" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm popup-timeout">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <h4>
                <i class="fa fa-check"></i>&nbsp; You Added Successfully !
              </h4>
            </div>
          </div>
        </div>
      </div>
      <ng-template #contentHist let-c="close" let-d="dismiss" class="wauto">
        <div class="modal-header">
          <h4 class="modal-title">History of Action</h4>
          <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive pas-table-cstm poro-table-cstm parts-list-table-align">
            <div class="tableFixHead">  
            <table class="table table-bordered header-table-width">
              <thead>
                <tr>
                  <th>Site Name</th>
                  <th>Address 1</th>
                  <th>Address 2</th>

                  <th>City</th>
                  <th>State/Prov</th>
                  <th>Postal Code</th>
                  <th>Country</th>
                </tr>
              </thead>
              <tr>
                <td>Name</td>
                <td>Address1</td>
                <td>Address2</td>

                <td>City</td>
                <td>State</td>
                <td>Postal Code</td>
                <td>Country</td>
              </tr>
            </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Close</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div class="modal fade" id="addBillingInfo" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeMyModel()">
          &times;
        </button>
        <div class="col-md-12 shadow-box-cstm">
          <div class="col-md-6">
            <p class="fs12">
              <label class="control-label labels-font-header wauto">Cust Name:
              </label>
              <span class="span-header-red text-capital">
                {{ customerName }}
              </span>
            </p>
          </div>
          <div class="col-md-6">
            <p class="fs12">
              <label class="control-label labels-font-header wauto">Customer Code:
              </label>
              <span class="span-header-red text-capital">
                {{ customerCode }}
              </span>
            </p>
          </div>
        </div>
        <h4 class="modal-title">
          {{ isEditMode ? 'Edit' : 'Add' }} Billing Info
        </h4>
      </div>
      <form #addBillingForm="ngForm" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">

            <div class="col-sm-12">
              <div class="col-sm-4">
                  <label> Primary </label>
                  </div>
                  <div class="col-sm-5">
                    <input type="checkbox" name="isPrimary" 
                    [(ngModel)]="billingInfo.isPrimary"  [disabled]="billingInfo.isPrimary && isprimaryData && isEditMode"
                      (ngModelChange)="enableSave()" />
                  </div>
            </div>
            <div class="col-sm-12" *ngIf="!isEditMode"> 
              <div class="col-sm-4">
                  <label> Is Same As Shipping Address </label>
                  </div>
                  <div class="col-sm-5">
                    <input type="checkbox" name="isShipping" 
                    [(ngModel)]="billingInfo.isShipping"  
                       />
                  </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label for="tag">Tag <span class="clr-red"></span></label>
              </div>
              <div class="col-sm-5">
                <p-autoComplete class="autocomp-customer-cstm" [(ngModel)]="billingInfo.tagName"
                  (ngModelChange)="enableSave()" name="tag" field="tagName" [suggestions]="tagNamesList"
                  (completeMethod)="filterTagNames($event)" [size]="30" [minLength]="1" [dropdown]="true"
                  [inputStyle]="{ width: '100%' }" [forceSelection]="true" autocomplete="off">
                </p-autoComplete>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Attention </label>
              </div>
              <div class="col-sm-5">
                <input class="form-control" type="text" name="attention" (ngModelChange)="enableSave()"
                  [(ngModel)]="billingInfo.attention" value="" autocomplete="new-password" />
              </div>               
          </div>

            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Site Name <span class="clr-red">*</span></label>
              </div>
                <div class="col-sm-5">
                  <p-autoComplete                 
                  class="autocomp-customer-cstm" 
                  name="siteName"
                  [(ngModel)]="billingInfo.siteName" 
                  [suggestions]="billingSieList"                     
                  emptyMessage="No Match Found" 
                  field="siteName" 
                  (onSelect)="selectedsiteNameData()"
                  (onKeyUp)="checkSiteNameExist($event.target.value)"
                  (onChange)="checkSiteNameExist($event.target.value)"                  
                  (completeMethod)="filterBillingSite($event);" 
                  (ngModelChange)="enableSave()" 
                  [size]="30" [minLength]="1" [dropdown]="true" required>
                </p-autoComplete>
                <div *ngIf="isSiteNameAlreadyExists" class="clr-red">
                          Entry Already Exists
                </div>
                </div>
           </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Address 1 <span class="clr-red">*</span></label>
                </div>
                <div class="col-sm-5">
                <input class="form-control" id="csaddress1" type="text" name="address1" value="" autocomplete="new-password"
                  [(ngModel)]="billingInfo.address1" (ngModelChange)="enableSave()" required  />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Address 2</label>
                </div>
                <div class="col-sm-5">
                <input class="form-control" id="csaddress2" type="text" name="address2" value="" autocomplete="new-password"
                  [(ngModel)]="billingInfo.address2" (ngModelChange)="enableSave()" />
              </div>
            </div>
              <div class="col-sm-12" style="display:none">
                <div class="col-sm-4">
                <label>Address 3</label>
               </div>
                <div class="col-sm-5">
                <input class="form-control" id="csaddress3" type="text" name="address3" value="" autocomplete="new-password"
                  [(ngModel)]="billingInfo.address3" (ngModelChange)="enableSave()" />
                </div>
              </div>
            
              
              <div class="col-sm-12">
                <div class="col-sm-4">
                <label>City <span class="clr-red">*</span></label>
               </div>
               <div class="col-sm-5">
                <input class="form-control" id="cscity" type="text" name="city" [(ngModel)]="billingInfo.city"
                  (ngModelChange)="enableSave()" required value="" autocomplete="new-password"/>
               </div>
             </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>State / Prov <span class="clr-red">*</span></label>
                </div>
                <div class="col-sm-5">
                <input class="form-control" id="csstate" type="text" name="stateOrProvince" value="" autocomplete="new-password"
                  [(ngModel)]="billingInfo.stateOrProvince" (ngModelChange)="enableSave()" required />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Postal Code <span class="clr-red">*</span></label>
                </div>
                <div class="col-sm-5">
                <input class="form-control" id="cspostal" type="text" name="postalCode" value="" autocomplete="new-password"
                  [(ngModel)]="billingInfo.postalCode" (ngModelChange)="enableSave()" required />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <label>Country <span class="clr-red">*</span></label>
                </div>
                <div class="col-sm-5">
                <div class="inner-addon right-addon inline-block">
                  <p-autoComplete class="autocomp-customer-cstm" name="country1" [(ngModel)]="billingInfo.countryId" 
                    (ngModelChange)="enableSave()" [suggestions]="countryList" field="nice_name"
                    [forceSelection]="true" (completeMethod)="filtercountry($event)" [size]="30" [minLength]="1"
                    [dropdown]="true" required>
                  </p-autoComplete>
                </div>
               </div>
           </div>
             
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-right" [disabled]="!addBillingForm.valid || disableSave || disableSaveSiteName"
            (click)="saveBillingInformation()">
            {{ isEditMode ? 'Update' : 'Save' }}
          </button>
          <button type="button" class="btn btn-danger" (click)="closeMyModel()">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="downloadBilling" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="closeDeleteModal()">&times;</button>
				<h4 class="modal-title">Are You Sure Want to Download?</h4>
			</div>
			<div class="modal-body" *ngIf="targetData">
				<strong>
					<span>
						You are attempting to export {{targetData.totalRecords}} of records. 
					</span> 
				</strong>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="(selectedOnly)?targetData.exportCSV({ selectionOnly: true }):exportCSV(targetData); closeDeleteModal();">Confirm</button>
				<button type="button" class="btn btn-danger" (click)="closeDeleteModal()">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div id="viewBilling" class="modal popup-blur" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Details of Customer Billing Information</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <div class="col-md-12 shadow-box-cstm">
          <div class="col-md-6">
            <p class="fs12">
              <label class="control-label labels-font-header wauto">Cust Name:
              </label>
              <span class="span-header-red text-capital">
                {{ customerName }}
              </span>
            </p>
          </div>
          <div class="col-md-6">
            <p class="fs12">
              <label class="control-label labels-font-header wauto">Customer Code:
              </label>
              <span class="span-header-red text-capital">
                {{ customerCode }}
              </span>
            </p>
          </div>
        </div> 
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="viewData">
        <div class="col-sm-12">          
          <p>
            <span class="label"><b>Is Primary : </b></span>
            <span class="value">
              <label class="wauto">
                  <input type="checkbox" name="isPrimary" [(ngModel)]="viewData.isPrimary" disabled>
              </label>
            </span>
          </p>
          <p>
            <span class="label"><b>Site Name<span class="clr-red">*</span> : </b></span><span
              class="value">{{ viewData.siteName }}</span>
          </p>
          <p>
            <span class="label"><b>Tag Name<span class="clr-red"></span> : </b></span><span
              class="value">{{ viewData.tagName }}</span>
          </p>
          <p>
            <span class="label"><b>Attention<span class="clr-red"></span> : </b></span><span
              class="value">{{ viewData.attention }}</span>
          </p>
          <p>
            <span class="label"><b>Is Active : </b></span>
            <span class="value">
              <label class="wauto">
                  <input type="checkbox" name="isActive" [(ngModel)]="viewData.isActive" disabled>
              </label>
            </span>
          </p>
          <p>
            <span class="label"><b>Address 1<span class="clr-red">*</span> : </b></span><span
              class="value">{{ viewData.address1 }}</span>
          </p>
          <p>
            <span class="label"><b>Address 2: </b></span><span class="value">{{ viewData.address2 }}</span>
          </p>
          <p style="display:none">
            <span class="label"><b>Address 3: </b></span><span class="value">{{ viewData.address3 }}</span>
          </p>
          <p>
            <span class="label"><b>City<span class="clr-red">*</span> : </b></span><span
              class="value">{{ viewData.city }}</span>
          </p>
          <p>
            <span class="label"><b>State / Prov<span class="clr-red">*</span> :
              </b></span><span class="value">{{ viewData.stateOrProvince }}</span>
          </p>
          <p>
            <span class="label"><b>Postal Code<span class="clr-red">*</span> : </b></span><span
              class="value">{{ viewData.postalCode }}</span>
          </p>
          <p>
            <span class="label"><b>Country<span class="clr-red">*</span> : </b></span><span
              class="value">{{ viewData.countryName }}</span>
          </p>

          <div class="clear"></div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #deleteContent let-c="close" let-d="dismiss" data-backdrop="static">
  <div class="modal-header">
    <h4 class="modal-title">Are You Sure Want to Delete?</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="col-md-12 shadow-box-cstm">
      <div class="col-md-6">
        <p class="fs12">
          <label class="control-label labels-font-header wauto">Cust Name:
          </label>
          <span class="span-header-red text-capital">
            {{ customerName }}
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="fs12">
          <label class="control-label labels-font-header wauto">Customer Code:
          </label>
          <span class="span-header-red text-capital">
            {{ customerCode }}
          </span>
        </p>
      </div>
    </div> 
  </div>
  <div class="modal-body">
    <strong>
      Site Name:
      <span class="new-label">{{ selectedRowForDelete.siteName }}</span>
    </strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteItemAndCloseModel()">
      Yes
    </button>
    <button type="button" class="btn btn-danger" (click)="dismissModel()">
      No
    </button>
  </div>
</ng-template>
<ng-template #contentAuditHist let-c="close" let-d="dismiss" class="wauto" data-backdrop="static">
  <div class="modal-header">
    <h4 class="modal-title">History of Billing Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="col-md-12 shadow-box-cstm">
      <div class="col-md-4">
        <p class="fs12">
          <label class="control-label labels-font-header wauto">Cust Name:
          </label>
          <span class="span-header-red text-capital">
            {{ customerName }}
          </span>
        </p>
      </div>
      <div class="col-md-4">
        <p class="fs12">
          <label class="control-label labels-font-header wauto">Customer Code:
          </label>
          <span class="span-header-red text-capital">
            {{ customerCode }}
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="table-responsive pas-table-cstm poro-table-cstm parts-list-table-align">
      <div class="tableFixHead">  
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="min-width-80">Site Name <span class="clr-red">*</span></th>
            <th class="min-width-80">Tag Name</th>
            <th>Attention</th>
            <th class="min-width-80">Address1 <span class="clr-red">*</span></th>
            <th>Address2</th>
            <th>City <span class="clr-red">*</span></th>
            <th class="min-width-80">State <span class="clr-red">*</span></th>
            <th class="min-width-80">Postal Code <span class="clr-red">*</span></th>
            <th class="min-width-80">Country <span class="clr-red">*</span></th>
            <th class="min-width-80">Is Primary</th>
            <th class="min-width-80">Is Active</th>
            <th style="min-width:120px">Created Date</th>
            <th class="min-width-80">Created By</th>    
            <th style="min-width:120px">Updated Date</th>        
            <th class="min-width-80">Updated By</th>
            <th class="min-width-80">Is Deleted</th>        
          </tr>
        </thead>
<tbody>
        <tr *ngFor="let audit of billingauditHisory; let i = index">
          <td [ngStyle]="{
              color: getColorCodeForHistory(i, 'siteName', audit.siteName)
                ? 'black'
                : 'red'
            }">
            {{ audit.siteName }}
          </td>
          <td [ngStyle]="{
            color: getColorCodeForHistory(i, 'tagName', audit.tagName)
              ? 'black'
              : 'red'
          }">
          {{ audit.tagName }}
         </td>
         <td [ngStyle]="{
          color: getColorCodeForHistory(i, 'attention', audit.attention)
            ? 'black'
            : 'red'
          }">
          {{ audit.attention }}
          </td>
          <td [ngStyle]="{
              color: getColorCodeForHistory(i, 'address1', audit.address1)
                ? 'black'
                : 'red'
            }">
            {{ audit.address1 }}
          </td>
          <td [ngStyle]="{
              color: getColorCodeForHistory(i, 'address2', audit.address2)
                ? 'black'
                : 'red'
            }">
            {{ audit.address2 }}
          </td>
          <td [ngStyle]="{
              color: getColorCodeForHistory(i, 'city', audit.city)
                ? 'black'
                : 'red'
            }">
            {{ audit.city }}
          </td>
          <td [ngStyle]="{
              color: getColorCodeForHistory(
                i,
                'stateOrProvince',
                audit.stateOrProvince
              )
                ? 'black'
                : 'red'
            }">
            {{ audit.stateOrProvince }}
          </td>
          <td [ngStyle]="{
              color: getColorCodeForHistory(i, 'postalCode', audit.postalCode)
                ? 'black'
                : 'red'
            }">
            {{ audit.postalCode }}
          </td>

          <td [ngStyle]="{
              color: getColorCodeForHistory(i, 'country', audit.country)
                ? 'black'
                : 'red'
            }">
            {{ audit.country }}
          </td>
          <td class="text-center">
            <span class="value">
              <label class="wauto">
                  <input type="checkbox" name="isPrimary" [(ngModel)]="audit.isPrimary" disabled>
              </label>
            </span>
          </td>
          <td class="text-center">
            <span class="value">
              <label class="wauto">
                  <input type="checkbox" name="isActive" [(ngModel)]="audit.isActive" disabled>
              </label>
            </span>
          </td>
          <td>{{ audit.createdDate | date: 'MM/dd/yyyy h:mm a ' }}</td>  
          <td [ngStyle]="{
              color: getColorCodeForHistory(i, 'createdBy', audit.createdBy)
                ? 'black'
                : 'red'
            }">
            {{ audit.createdBy }}
          </td>
          <td>{{ audit.updatedDate | date: 'MM/dd/yyyy h:mm a ' }}</td>
          <td [ngStyle]="{
              color: getColorCodeForHistory(i, 'updatedBy', audit.updatedBy)
                ? 'black'
                : 'red'
            }">
            {{ audit.updatedBy }}
          </td>
          <td class="text-center">
            <span class="value">
              <label class="wauto">
                  <input type="checkbox" name="isDeleted" [(ngModel)]="audit.isDeleted" disabled>
              </label>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
 
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="dismissModel()">
      Close
    </button>
  </div>
</ng-template>

<div id="deleteoopsBilling" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Alert !</h4>
        <div class="col-md-12 shadow-box-cstm">
          <div class="col-md-6">
            <p class="fs12">
              <label class="control-label labels-font-header wauto">Cust Name:
              </label>
              <span class="span-header-red text-capital">
                {{ customerName }}
              </span>
            </p>
          </div>
          <div class="col-md-6">
            <p class="fs12">
              <label class="control-label labels-font-header wauto">Customer Code:
              </label>
              <span class="span-header-red text-capital">
                {{ customerCode }}
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p>
          Primary Record Cannot be Deleted
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #restoreId let-c="close" let-d="dismiss" data-backdrop="static">
    
  <div class="modal-header">
      <h4 class="modal-title">Are You Sure Want to Restore?</h4>

      <button type="button" class="close" aria-label="Close" (click)="dismissModel()">
          <span aria-hidden="true">&times;</span>
      </button>
      <div class="col-md-12 shadow-box-cstm">
        <div class="col-md-6">
          <p class="fs12">
            <label class="control-label labels-font-header wauto">Cust Name:
            </label>
            <span class="span-header-red text-capital">
              {{ customerName }}
            </span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="fs12">
            <label class="control-label labels-font-header wauto">Customer Code:
            </label>
            <span class="span-header-red text-capital">
              {{ customerCode }}
            </span>
          </p>
        </div>
      </div> 
  </div>
  <div class="modal-body">
      <strong>
          Site Name:
          <span class="new-label">{{restorerecord.siteName}}</span>
      </strong>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="restoreRecord()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="dismissModel()">No</button>
  </div>
</ng-template> 
<div class="preloader" *ngIf="isSpinnerVisible">
  <div class="loading">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<ng-template #tabRedirectConfirmationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="dismissModel()">
            &times;
        </button>
        <h4 class="modal-title">Confirmation</h4>
        <div class="col-md-12 shadow-box-cstm">
            <div class="col-md-6">
                <p class="fs12">
                    <label class="control-label labels-font-header wauto">
                        Cust Name:
                    </label>
                    <span class="span-header-red text-capital">
                        {{ customerName }}
                    </span>
                </p>
            </div>
            <div class="col-md-6">
                <p class="fs12">
                    <label class="control-label labels-font-header wauto">
                        Customer Code:
                    </label>
                    <span class="span-header-red text-capital">
                        {{ customerCode }}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <h6 class="text-center">
            Are you sure you want to go to {{ nextOrPreviousTab }} tab? Unsaved
            changes will be lost.
        </h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="dismissModel()">
            No
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="redirectToTab()">
            Yes
        </button>
    </div>
</ng-template>
