
// #footer{
   
//     font-size: 11px !important;
//     font-weight:12px !important;
// }

.x_panel {
    border: none;
}
.modal-body-cstm p .label {
    width: 40%;
    padding: 0;
    display: inline-block;
}
.shop-employee-checkbox{
    margin: 0px auto !important; display: block !important;
}
.modal-body-cstm p .value {
    width: 60%;
    display: inline-block;
}
.modal-body h5 {
    color: #000 !important;
}