<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
</div>
<div class="modal-content" id="soPickTicket">
    <div class="modal-body">
        <div class="clear"></div>
        <form id="" name="" action="#" method="post" onsubmit="return false;">
            <div class="image">
                <div style="padding: 0; margin: 0;">
                    <div>
                        <form id="" class="form-div" name="" action="#" method="post" onsubmit="return false;">
                            <div class="pick-ticket-header" style="margin-bottom: 15px;">
                                <h4>SALES ORDER PICK TICKET</h4>
                            </div>
                            <div class="very-first-block">
                                <div class="col-sm-12 address-block">
                                    <div class="col-sm-12 first-block-name"><img class="logo"
                                            src="{{this.endPointURL + this.management.logo}}" height="30px"
                                            width="100px" /></div>
                                    <div class="col-sm-12 first-block-name">
                                        <!-- <label class="col-sm-3 first-block-label"><b>Tagline :</b></label> -->
                                        <label class="col-sm-12 first-block-label"
                                            disabled>{{this.management.companyName}}</label>
                                    </div>
                                    <br /><br />
                                    <div class="col-sm-12 first-block-name">
                                        <!-- <label class="col-sm-3 first-block-label"><b>Address-1 :</b></label> -->
                                        <label class="col-sm-12 first-block-label"
                                            disabled>{{this.management.address1}}</label>
                                    </div>
                                    <div class="col-sm-12 first-block-name">
                                        <!-- <label class="col-sm-3 first-block-label"><b>Address-2 :</b></label> -->
                                        <label class="col-sm-12 first-block-label"
                                            disabled>{{this.management.address2}}</label>
                                    </div>
                                    <div class="col-sm-12 first-block-name">
                                        <!-- <label class="col-sm-3 first-block-label"><b>City :</b></label> -->
                                        <label class="col-sm-12 first-block-label"
                                            disabled>{{this.management.city}}</label>
                                    </div>
                                    <div class="col-sm-12 first-block-name">
                                        <!-- <label class="col-sm-3 first-block-label"><b>State :</b></label> -->
                                        <label class="col-sm-12 first-block-label"
                                            disabled>{{this.management.stateOrProvince}}</label>
                                    </div>
                                    <div class="col-sm-12 first-block-name">
                                        <!-- <label class="col-sm-3 first-block-label"><b>Postal Code :</b></label> -->
                                        <label class="col-sm-12 first-block-label"
                                            disabled>{{this.management.postalCode}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="second-block">
                                <div class="second-block-div">
                                    <label class="col-sm-4 second-block-label"><b>Pick Ticket Num</b></label>
                                    <label class="col-sm-4 second-block-label" style="width:30%"
                                        disabled>{{this.salesOrder.soPickTicketNumber}}</label>
                                </div>
                                <div class="second-block-div">
                                    <label class="col-sm-4 second-block-label"> Date & time</label>
                                    <label class="col-sm-6 second-block-label"
                                        disabled>{{this.salesOrder.ptCreatedDate | date:'medium' }}</label>
                                </div>
                                <div class="second-block-div">
                                    <label class="col-sm-4 second-block-label">SO Num</label>
                                    <label class="col-sm-4 second-block-label" style="width:60%"
                                        disabled>{{this.salesOrder.salesOrderNumber}}</label>
                                </div>
                                <div class="second-block-div">
                                    <label class="col-sm-4 second-block-label">Ship Via</label>
                                    <label class="col-sm-4 second-block-label" style="width:60%"
                                        disabled>{{this.salesOrder.shipViaName}}</label>
                                </div>
                                <div class="second-block-div">
                                    <label class="col-sm-4 second-block-label">Date/Time Printed</label>
                                    <label class="col-sm-6 second-block-label"
                                        disabled>{{todayDate| date:'medium' }}</label>
                                </div>
                                <div class="second-block-div">
                                    <label class="col-sm-4 second-block-label">Page</label>
                                    <label class="col-sm-4 second-block-label" style="width:30%" disabled>1 of 1</label>
                                </div>
                            </div>
                            <div class="col-sm-12" style="margin-top:2%">
                                <div class="first-block-sold col-sm-6">
                                    <label><b>Sold To:</b></label>
                                    <div class="first-block-sold-to">
                                        <div class="sold-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Name :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.customerName}}</label>
                                        </div>
                                        <div class="sold-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Address 1 :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.custToAddress1}}</label>
                                        </div>
                                        <div class="sold-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Address 2 :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.custToAddress2}}</label>
                                        </div>
                                        <div class="sold-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>City :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.custToCity}}</label>
                                        </div>
                                        <div class="sold-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>State :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.custToState}}</label>
                                        </div>
                                        <div class="sold-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Postal Code :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.custToState}}</label>
                                        </div>
                                        <div class="sold-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Country :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.custToCountry}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="first-block-ship col-sm-6">
                                    <label><b> Ship To:</b></label>
                                    <div class="first-block-ship-to">
                                        <div class="ship-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Name :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.shipToContactName}}</label>
                                        </div>
                                        <div class="ship-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Address 1 :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.shipToAddress1}}</label>
                                        </div>
                                        <div class="ship-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Address 2 :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.shipToAddress2}}</label>
                                        </div>
                                        <div class="ship-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>City :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.shipToCity}}</label>
                                        </div>
                                        <div class="ship-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>State :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.shipToState}}</label>
                                        </div>
                                        <div class="ship-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Postal Code :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.shipToPostalCode}}</label>
                                        </div>
                                        <div class="ship-block-div">
                                            <!-- <label class="col-sm-5 first-block-label"><b>Country :</b></label> -->
                                            <label class="col-sm-6 first-block-label" disabled>
                                                {{this.salesOrder.shipToCountry}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <hr />
                            <div class="clear"></div>
                            <div class="col-sm-12">
                                <table rules=none class="parttable" style="width:99%;margin-left:5px;">
                                    <thead>
                                        <tr>
                                            <th>Line Num</th>
                                            <th>PN Information</th>
                                            <th colspan="2">Cust PO:</th>
                                            <th colspan="3">Consignment:</th>
                                            <th colspan="2">Lot Num:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let part of this.parts let i=index">
                                            <tr>
                                                <td style="border-left:1px solid white"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="border:1px solid white"></td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid black">{{i+1}}</td>
                                                <td> PN: {{part.partNumber}}</td>
                                                <td>UOM: {{part.uom}}</td>
                                                <td>Cond: {{part.conditionDescription}}</td>
                                                <td> Priority: {{part.priorityName}} </td>
                                                <td>Qty OH: {{part.quantityOnHand}}</td>
                                                <td>Qty Avl: {{part.qtyAvailable}}</td>
                                                <td>Qty to Pick: {{part.qtyToPick}}</td>
                                                <td style="border:1px solid white">Qty Picked: {{part.qtyShipped}}</td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid black">
                                                    <!-- <img src="C:\Users\DELL\Desktop\so\barcode.png" alt="barcode"
                                                    class="image" /> -->
                                                    <img src="{{part.partBarcode}}" alt="barcode" width="98%" />
                                                </td>
                                                <td> PN Description: {{part.partDescription}}</td>
                                                <td>Site: {{part.siteName}}</td>
                                                <td></td>
                                                <td> Warehouse: {{part.warehouseName}} </td>
                                                <td>Location: {{part.locationName}}</td>
                                                <td></td>
                                                <td>Shelf: {{part.shelfName}}</td>
                                                <td style="border:1px solid white"> Bin: {{part.binName}} </td>
                                            </tr>
                                            <tr>
                                                <td style="border-left:1px solid white"></td>
                                                <td> Serial Num: {{part.serialNumber}}</td>
                                                <td>SL Num: {{part.stockLineNumber}}</td>
                                                <td>Cntrl #: {{part.controlNumber}}</td>
                                                <td> </td>
                                                <td>ID #: {{part.idNumber}}</td>
                                                <td></td>
                                                <td></td>
                                                <td style="border-right:1px solid white"></td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid black" rowspan="2" colspan="9">
                                                    <b>
                                                        Notes: {{part.notes}}
                                                    </b>
                                                </td>
                                            </tr>
                                            <tr>
                                            </tr>
                                            <tr></tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div class="clear"></div>
                            <div class="clear"></div>
                            <div class="col-sm-12">

                                <div class="picked-by col-sm-6">
                                    <p>
                                        <span class="label">
                                            <b>Picked By:</b>
                                        </span><span class="value">
                                            {{this.salesOrder.pickedByName}}
                                        </span>
                                    </p>
                                    <p>
                                        <span class="label">
                                            <b>Date: </b>
                                        </span><span class="value">
                                            {{this.salesOrder.pickedDate | date : "MM/dd/yyyy"}}
                                        </span>
                                    </p>
                                </div>
                                <div class="confirmed-by col-sm-6">
                                    <p>
                                        <span class="label">
                                            <b>Confirmed By: </b>
                                        </span><span class="value">
                                            {{this.salesOrder.confirmedByName}}
                                        </span>
                                    </p>
                                    <p>
                                        <span class="label">
                                            <b>Date: </b>
                                        </span><span class="value">
                                            {{this.salesOrder.confirmedDate | date : "MM/dd/yyyy"}}
                                        </span>
                                    </p>
                                </div>

                            </div>
                            <div class="clear"></div>
                            <hr />
                            <div class="clear"></div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="height:100px"> &nbsp;</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="print()">Print</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
</div>