.table-overflow {
  overflow: auto !important;
}
.table > thead > tr > th {
  font-size: 10px !important;
  padding: 5px !important;
}
.mr-0{
  margin:0px;
  color: #fff !important;
}
//  work flow css
.dtHorizontalExampleWrapper {
  max-width: 150px;
  margin: 0 auto;
}
.width-160{
  width: 160px !important;
}
.min-width-70{
  min-width:70px !important;
}
.min-width-60{
  min-width:60px !important;
}
.min-width-80{
  min-width:80px !important;
}
.width-170{
  width:170px !important;
}
.width-80{
  width:80px !important;
}
.history-close-button{
  width:50px;font-size:10.5px !important
}
.create_po_crl{
  color: #36c6d3 !important;
}
.min-width-250{
  min-width:250px !important;
}
.mr-top5{
  margin-top: 5px;
}
.grn_clr{
  color:green !important;
}
.font-size-10{
font-size: 10px !important;
}
.mar-left-5{
  margin-left: 5px !important;
}
.mar-left-15{
  margin-left: 15px !important;
}
.plus-success{
  padding: 3px 8px !important;
}
.plus-danger{
  padding: 7px 8px !important;
}
.btn-height{
  height: 30px !important;
}
.select-all{
  width:65px !important;
}
.defered-check{
  pointer-events: none !important;
  margin-left: 39% !important;
}
.defered-check2{
  pointer-events: none !important;
}
.defered-check3{
  pointer-events: none !important;
  margin-left: 3% !important;
}
.roleUpd{
  width: 24px !important;
  height: 20px !important;
  color: #fff !important;
  text-align: center;
  padding: 3px;
}
table {
  display: block;
  overflow: scroll;
  overflow: auto;
}
.ptable-wo-btns{
  background-color: transparent !important;
  border: none !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
}

:host ::ng-deep button {
  margin-right: 0.25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: #fc466b;
  background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
  background: linear-gradient(to right, #3f5efb, #fc466b);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
  color: #ffffff;
}

.add-charges {
  background-color: #295d92;
}

.clr-red {
  color: red;
}
.mr_o{
  margin: 0px;
  color: #fff !important;
}

.text-align {
  width: 93%;
  margin-left: 6px;
}

.dropdown-select {
  background: none;
  background-color: none !important;
}

.dropdown-select select:disabled {
  background-color: none !important;
}

.workflow-table-material {
  height: 250px;
}
.workflow-table-material .material-tr td {
  padding: 4px;
}
.workflow-table-material tr th:first-child {
  padding: 0 10px !important;
}
.fixed-column-table {
  max-width: 100%;
  max-height: 500px;
  overflow: scroll;
  position: relative;
  padding: 0;
}
.fixed-column-table table {
  position: relative;
  border-collapse: collapse;
}
.fixed-column-table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: #0d57b0;
}
.column-r1-fixed thead th:last-child {
  right: 0;
  z-index: 1;
  text-align: center;
  margin: auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.column-r1-fixed tbody td:last-child,
.column-r1-fixed tfoot td:last-child {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  background: #fff;
  border-right: 1px solid #ccc;
  padding-left: 5px;
  text-align: center;
}

.btn-spaces > button {
  margin-right: 13px !important;
}
.materiallist-action .btn {
  font-size: 13px !important;
}

.width-50{
  width: 50px;
}

.rro-table-cstm th {
  width: 110px ;
  padding: 5px 5px !important;
  //padding: 8px 5px !important;
}
.ex-gray{
  background: #b7b7b7;
}
.align_centd{
  color: red !important;
  font-weight: bold;
  // text-align: start !important;
  padding-left: 11% !important;
}
.toggel_td{
  width: 40px !important;
  text-align: center;
}
.Materials_wo tr ,td {
  padding: 0px 2px !important;
}







// new css for wo material list table

button {
  border-radius: 5px;
}
// p-table tr td {
//   text-align: left !important;
// }

button:disabled {
  opacity: 0.5;
}

.footer-t-rec {
  margin-left: 65%;
}
.footer--count {
  margin-right: 0px;
}

.zui-table {
  border: none;
  border-right: solid 1px #DDEFEF;
  border-collapse: separate;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.zui-table tr th {
  background-color: #DDEFEF;
  border: none;
  color: #336B6B;
  width:100px;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
}
.zui-table tr td {
  border-bottom: solid 1px #DDEFEF;
  width:100px;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
}
.zui-wrapper {
  position: relative;
}
.zui-scroller {
  overflow-y: hidden;
  padding-bottom: 5px;
  width: 1279px;
  border: 1px solid rgba(0,0,0,.125);
}

.zui-scroller-view {
  overflow-y: hidden;
  padding-bottom: 5px;
  width: 1097px;
  border: 1px solid rgba(0,0,0,.125);
}
.zui-table .zui-sticky-col {
  border-left: solid 1px #DDEFEF;
  border-right: solid 1px #DDEFEF;
  left: 0;
  position: absolute;
  top: auto;
  width: 120px;
}

.ui-table-scrollable-body {
  margin-right: 17px !important;
}

.ui-table-scrollable-body {
  margin-right: 17px !important;
}
///// this code below is for width of the scroll bar
::-webkit-scrollbar {
  width: 10px;
}
.ui-table-scrollable-header {
  overflow-y: scroll;
}
.alternate-part-label{
  color: #ff5663 !important;
}
.row-bg1 {
  background-color: #ffe4e2 !important;
}
.sales-quote-part-search-data tr td:first-child {
   background: #4298ff;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.sales-quote-part-search-data tr td:last-child {
  background: #FFF;
  position: -webkit-sticky;
  position: sticky ;
  right: 0;
  width:80px !important;
}
.sales-quote-part-search-data tr th:first-child {
   background: #4298ff;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.sales-quote-part-search-data tr th:last-child {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
}
.font-size-10{
  font-size: 10px !important;
}
.summary-column{
  width:auto !important; background-color: #EAF2C5 !important;
}
.part-number-button{
  width:55px !important;height:20px !important;
}
.part-buttons{
  text-align:right ; width:100% !important; padding-top:5px !important;
}
.save-close-button{
  padding: 6px 12px !important;margin-top: 10px !important;
}
.width-120{
  width:120px !important
}
.width-107{
  width:107px !important
}
.color-white{
  color: #fff !important;
}
.no-recordscusMsg{
  color: red !important;
  font-size: 10px !important;
  text-transform: capitalize;
  padding: 6px !important;
  padding-left: 13% !important;
}
.close_export{
  float: right !important;
    color: #595959 !important;
    margin-right: 0px !important;
}
.text_st{
  text-align: start !important;
}
.exp_btn{
  width: 108px !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  margin-right: 4px !important;
  padding: 4px;
  height: 24px;
}