<!-- <app-page-header title="Settings" icon="settings"></app-page-header> -->

<!-- <div [@fadeInOut] class="page-content"style="padding:10px !important">

    <mat-accordion class="example-headers-align">
        <mat-expansion-panel class="card new-card" style="background:#fff !important;border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;" #profile hideToggle="true" (opened)="navigateToFragment('profile')">
            <mat-expansion-panel-header style="padding: 0.35rem 1.25rem 0.15rem 1.25rem" class="card-header header">
                <mat-panel-title class="header-name" style="font-size:15px">
                  {{'settings.tab.Profile' | translate}}
                </mat-panel-title >
                <mat-panel-description class="header-name" style="font-size: 15px;">
                    {{'settings.description.UserProfile' | translate}}
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <user-editor #userProfile></user-editor>

            <mat-action-row style="background: #fff !important;" >
                <button  class="btn btn-primary" *ngIf="!userProfile.isEditMode" (click)="userProfile.beginEdit()" >Update</button>
                <button  class="btn btn-primary" *ngIf="userProfile.isEditMode" (click)="userProfile.save()"  style="margin-right: 1em;">Save</button>
                <button class="btn btn-danger" *ngIf="userProfile.isEditMode" (click)="userProfile.cancel()" >Cancel</button>
            </mat-action-row>

        </mat-expansion-panel>

        
    </mat-accordion>

</div> -->


<div class="card new-card">
    <div class="card-header header">
      <div class="row">
        <div class="col">         
          <h4 class="header-name"><mat-icon>account_circle</mat-icon> {{'settings.description.UserProfile' | translate}}</h4>
        </div>
      </div>
    </div>
    <div class="card-body new-card-body">
        <user-editor #userProfile></user-editor>
        <mat-action-row style="background: #fff !important;" >
            <button style="margin-left: 21px" class="btn btn-primary" *ngIf="!userProfile.isEditMode" (click)="userProfile.beginEdit()" >Update</button>
            <button  class="btn btn-primary" *ngIf="userProfile.isEditMode" (click)="userProfile.save()"  style="margin-right: 1em;">Save</button>
            <button class="btn btn-danger" *ngIf="userProfile.isEditMode" (click)="userProfile.cancel()" >Cancel</button>
        </mat-action-row>
    </div>
  </div>